{"openapi":"3.1.0","info":{"title":"Google Search Console API","version":"v1","description":"The Search Console API provides access to both Search Console data (verified users only) and to public information on an URL basis (anyone)"},"servers":[{"url":"https://www.googleapis.com/"}],"paths":{"/webmasters/v3/sites/{siteUrl}/sitemaps/{feedpath}":{"delete":{"operationId":"webmasters.sitemaps.delete","x-executor-toolPath":"webmasters.sitemaps.delete","x-executor-pathTemplate":"/webmasters/v3/sites/{siteUrl}/sitemaps/{feedpath}","tags":["Google Search Console API"],"description":"Deletes a sitemap from the Sitemaps report. Does not stop Google from crawling this sitemap or the URLs that were previously crawled in the deleted sitemap.","servers":[{"url":"https://searchconsole.googleapis.com/"}],"parameters":[{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"siteUrl","in":"path","required":true,"description":"The site's URL, including protocol. For example: `http://www.example.com/`.","schema":{"description":"The site's URL, including protocol. For example: `http://www.example.com/`.","type":"string"}},{"name":"feedpath","in":"path","required":true,"description":"The URL of the actual sitemap. For example: `http://www.example.com/sitemap.xml`.","schema":{"description":"The URL of the actual sitemap. For example: `http://www.example.com/sitemap.xml`.","type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/webmasters"]}],"x-google-scopes":["https://www.googleapis.com/auth/webmasters"]},"get":{"operationId":"webmasters.sitemaps.get","x-executor-toolPath":"webmasters.sitemaps.get","x-executor-pathTemplate":"/webmasters/v3/sites/{siteUrl}/sitemaps/{feedpath}","tags":["Google Search Console API"],"description":"Retrieves information about a specific sitemap.","servers":[{"url":"https://searchconsole.googleapis.com/"}],"parameters":[{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"feedpath","in":"path","required":true,"description":"The URL of the actual sitemap. For example: `http://www.example.com/sitemap.xml`.","schema":{"description":"The URL of the actual sitemap. For example: `http://www.example.com/sitemap.xml`.","type":"string"}},{"name":"siteUrl","in":"path","required":true,"description":"The site's URL, including protocol. For example: `http://www.example.com/`.","schema":{"description":"The site's URL, including protocol. For example: `http://www.example.com/`.","type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/searchconsole_v1_WmxSitemap"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/webmasters"]}],"x-google-scopes":["https://www.googleapis.com/auth/webmasters"]},"put":{"operationId":"webmasters.sitemaps.submit","x-executor-toolPath":"webmasters.sitemaps.submit","x-executor-pathTemplate":"/webmasters/v3/sites/{siteUrl}/sitemaps/{feedpath}","tags":["Google Search Console API"],"description":"Submits a sitemap for a site.","servers":[{"url":"https://searchconsole.googleapis.com/"}],"parameters":[{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"feedpath","in":"path","required":true,"description":"The URL of the actual sitemap. For example: `http://www.example.com/sitemap.xml`.","schema":{"description":"The URL of the actual sitemap. For example: `http://www.example.com/sitemap.xml`.","type":"string"}},{"name":"siteUrl","in":"path","required":true,"description":"The site's URL, including protocol. For example: `http://www.example.com/`.","schema":{"description":"The site's URL, including protocol. For example: `http://www.example.com/`.","type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/webmasters"]}],"x-google-scopes":["https://www.googleapis.com/auth/webmasters"]}},"/webmasters/v3/sites/{siteUrl}/sitemaps":{"get":{"operationId":"webmasters.sitemaps.list","x-executor-toolPath":"webmasters.sitemaps.list","x-executor-pathTemplate":"/webmasters/v3/sites/{siteUrl}/sitemaps","tags":["Google Search Console API"],"description":"Lists the [sitemaps-entries](/webmaster-tools/v3/sitemaps) submitted for this site, or included in the sitemap index file (if `sitemapIndex` is specified in the request).","servers":[{"url":"https://searchconsole.googleapis.com/"}],"parameters":[{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"sitemapIndex","in":"query","required":false,"description":"A URL of a site's sitemap index. For example: `http://www.example.com/sitemapindex.xml`.","schema":{"description":"A URL of a site's sitemap index. For example: `http://www.example.com/sitemapindex.xml`.","type":"string"},"style":"form","explode":false},{"name":"siteUrl","in":"path","required":true,"description":"The site's URL, including protocol. For example: `http://www.example.com/`.","schema":{"description":"The site's URL, including protocol. For example: `http://www.example.com/`.","type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/searchconsole_v1_SitemapsListResponse"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/webmasters"]}],"x-google-scopes":["https://www.googleapis.com/auth/webmasters"]}},"/v1/urlInspection/index:inspect":{"post":{"operationId":"searchconsole.urlInspection.index.inspect","x-executor-toolPath":"searchconsole.urlInspection.index.inspect","x-executor-pathTemplate":"/v1/urlInspection/index:inspect","tags":["Google Search Console API"],"description":"Index inspection.","servers":[{"url":"https://searchconsole.googleapis.com/"}],"parameters":[{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/searchconsole_v1_InspectUrlIndexRequest"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/searchconsole_v1_InspectUrlIndexResponse"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/webmasters"]}],"x-google-scopes":["https://www.googleapis.com/auth/webmasters"]}},"/webmasters/v3/sites/{siteUrl}":{"get":{"operationId":"webmasters.sites.get","x-executor-toolPath":"webmasters.sites.get","x-executor-pathTemplate":"/webmasters/v3/sites/{siteUrl}","tags":["Google Search Console API"],"description":"Retrieves information about specific site.","servers":[{"url":"https://searchconsole.googleapis.com/"}],"parameters":[{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"siteUrl","in":"path","required":true,"description":"The URI of the property as defined in Search Console. **Examples:** `http://www.example.com/` or `sc-domain:example.com`.","schema":{"description":"The URI of the property as defined in Search Console. **Examples:** `http://www.example.com/` or `sc-domain:example.com`.","type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/searchconsole_v1_WmxSite"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/webmasters"]}],"x-google-scopes":["https://www.googleapis.com/auth/webmasters"]},"put":{"operationId":"webmasters.sites.add","x-executor-toolPath":"webmasters.sites.add","x-executor-pathTemplate":"/webmasters/v3/sites/{siteUrl}","tags":["Google Search Console API"],"description":"Adds a site to the set of the user's sites in Search Console.","servers":[{"url":"https://searchconsole.googleapis.com/"}],"parameters":[{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"siteUrl","in":"path","required":true,"description":"The URL of the site to add.","schema":{"description":"The URL of the site to add.","type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/webmasters"]}],"x-google-scopes":["https://www.googleapis.com/auth/webmasters"]},"delete":{"operationId":"webmasters.sites.delete","x-executor-toolPath":"webmasters.sites.delete","x-executor-pathTemplate":"/webmasters/v3/sites/{siteUrl}","tags":["Google Search Console API"],"description":"Removes a site from the set of the user's Search Console sites.","servers":[{"url":"https://searchconsole.googleapis.com/"}],"parameters":[{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"siteUrl","in":"path","required":true,"description":"The URI of the property as defined in Search Console. **Examples:** `http://www.example.com/` or `sc-domain:example.com`.","schema":{"description":"The URI of the property as defined in Search Console. **Examples:** `http://www.example.com/` or `sc-domain:example.com`.","type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/webmasters"]}],"x-google-scopes":["https://www.googleapis.com/auth/webmasters"]}},"/webmasters/v3/sites":{"get":{"operationId":"webmasters.sites.list","x-executor-toolPath":"webmasters.sites.list","x-executor-pathTemplate":"/webmasters/v3/sites","tags":["Google Search Console API"],"description":"Lists the user's Search Console sites.","servers":[{"url":"https://searchconsole.googleapis.com/"}],"parameters":[{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/searchconsole_v1_SitesListResponse"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/webmasters"]}],"x-google-scopes":["https://www.googleapis.com/auth/webmasters"]}},"/webmasters/v3/sites/{siteUrl}/searchAnalytics/query":{"post":{"operationId":"webmasters.searchanalytics.query","x-executor-toolPath":"webmasters.searchanalytics.query","x-executor-pathTemplate":"/webmasters/v3/sites/{siteUrl}/searchAnalytics/query","tags":["Google Search Console API"],"description":"Query your data with filters and parameters that you define. Returns zero or more rows grouped by the row keys that you define. You must define a date range of one or more days. When date is one of the group by values, any days without data are omitted from the result list. If you need to know which days have data, issue a broad date range query grouped by date for any metric, and see which day rows are returned.","servers":[{"url":"https://searchconsole.googleapis.com/"}],"parameters":[{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"siteUrl","in":"path","required":true,"description":"The site's URL, including protocol. For example: `http://www.example.com/`.","schema":{"description":"The site's URL, including protocol. For example: `http://www.example.com/`.","type":"string"}}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/searchconsole_v1_SearchAnalyticsQueryRequest"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/searchconsole_v1_SearchAnalyticsQueryResponse"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/webmasters"]}],"x-google-scopes":["https://www.googleapis.com/auth/webmasters"]}},"/v1/urlTestingTools/mobileFriendlyTest:run":{"post":{"operationId":"searchconsole.urlTestingTools.mobileFriendlyTest.run","x-executor-toolPath":"searchconsole.urlTestingTools.mobileFriendlyTest.run","x-executor-pathTemplate":"/v1/urlTestingTools/mobileFriendlyTest:run","tags":["Google Search Console API"],"description":"Runs Mobile-Friendly Test for a given URL.","servers":[{"url":"https://searchconsole.googleapis.com/"}],"parameters":[{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/searchconsole_v1_RunMobileFriendlyTestRequest"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/searchconsole_v1_RunMobileFriendlyTestResponse"}}}}},"x-google-scopes":[]}}},"components":{"schemas":{"searchconsole_v1_DetectedItems":{"description":"Rich Results items grouped by type.","type":"object","properties":{"items":{"description":"List of Rich Results items.","type":"array","items":{"$ref":"#/components/schemas/searchconsole_v1_Item"}},"richResultType":{"description":"Rich Results type","type":"string"}}},"searchconsole_v1_RichResultsIssue":{"description":"Severity and status of a single issue affecting a single rich result instance on a page.","type":"object","properties":{"issueMessage":{"description":"Rich Results issue type.","type":"string"},"severity":{"description":"Severity of this issue: WARNING, or ERROR. Items with an issue of status ERROR cannot appear with rich result features in Google Search results.","enum":["SEVERITY_UNSPECIFIED","WARNING","ERROR"],"type":"string"}}},"searchconsole_v1_ResourceIssue":{"description":"Information about a resource with issue.","type":"object","properties":{"blockedResource":{"$ref":"#/components/schemas/searchconsole_v1_BlockedResource"}}},"searchconsole_v1_SitemapsListResponse":{"description":"List of sitemaps.","type":"object","properties":{"sitemap":{"description":"Contains detailed information about a specific URL submitted as a [sitemap](https://support.google.com/webmasters/answer/156184).","type":"array","items":{"$ref":"#/components/schemas/searchconsole_v1_WmxSitemap"}}}},"searchconsole_v1_BlockedResource":{"description":"Blocked resource.","type":"object","properties":{"url":{"description":"URL of the blocked resource.","type":"string"}}},"searchconsole_v1_Image":{"description":"Describe image data.","type":"object","properties":{"mimeType":{"description":"The mime-type of the image data.","type":"string"},"data":{"description":"Image data in format determined by the mime type. Currently, the format will always be \"image/png\", but this might change in the future.","format":"byte","type":"string"}}},"searchconsole_v1_MobileUsabilityIssue":{"description":"Mobile-usability issue.","type":"object","properties":{"severity":{"description":"Not returned; reserved for future use.","enum":["SEVERITY_UNSPECIFIED","WARNING","ERROR"],"type":"string"},"message":{"description":"Additional information regarding the issue.","type":"string"},"issueType":{"description":"Mobile-usability issue type.","enum":["MOBILE_USABILITY_ISSUE_TYPE_UNSPECIFIED","USES_INCOMPATIBLE_PLUGINS","CONFIGURE_VIEWPORT","FIXED_WIDTH_VIEWPORT","SIZE_CONTENT_TO_VIEWPORT","USE_LEGIBLE_FONT_SIZES","TAP_TARGETS_TOO_CLOSE"],"type":"string"}}},"searchconsole_v1_WmxSitemap":{"description":"Contains detailed information about a specific URL submitted as a [sitemap](https://support.google.com/webmasters/answer/156184).","type":"object","properties":{"type":{"description":"The type of the sitemap. For example: `rssFeed`.","enum":["NOT_SITEMAP","URL_LIST","SITEMAP","RSS_FEED","ATOM_FEED","PATTERN_SITEMAP","OCEANFRONT"],"type":"string"},"path":{"description":"The url of the sitemap.","type":"string"},"contents":{"description":"The various content types in the sitemap.","type":"array","items":{"$ref":"#/components/schemas/searchconsole_v1_WmxSitemapContent"}},"lastDownloaded":{"description":"Date & time in which this sitemap was last downloaded. Date format is in RFC 3339 format (yyyy-mm-dd).","format":"google-datetime","type":"string"},"warnings":{"description":"Number of warnings for the sitemap. These are generally non-critical issues with URLs in the sitemaps.","format":"int64","type":"string"},"isPending":{"description":"If true, the sitemap has not been processed.","type":"boolean"},"lastSubmitted":{"description":"Date & time in which this sitemap was submitted. Date format is in RFC 3339 format (yyyy-mm-dd).","format":"google-datetime","type":"string"},"errors":{"description":"Number of errors in the sitemap. These are issues with the sitemap itself that need to be fixed before it can be processed correctly.","format":"int64","type":"string"},"isSitemapsIndex":{"description":"If true, the sitemap is a collection of sitemaps.","type":"boolean"}}},"searchconsole_v1_AmpInspectionResult":{"description":"AMP inspection result of the live page or the current information from Google's index, depending on whether you requested a live inspection or not.","type":"object","properties":{"lastCrawlTime":{"description":"Last time this AMP version was crawled by Google. Absent if the URL was never crawled successfully.","format":"google-datetime","type":"string"},"robotsTxtState":{"description":"Whether or not the page is blocked to Google by a robots.txt rule.","enum":["ROBOTS_TXT_STATE_UNSPECIFIED","ALLOWED","DISALLOWED"],"type":"string"},"pageFetchState":{"description":"Whether or not Google could fetch the AMP.","enum":["PAGE_FETCH_STATE_UNSPECIFIED","SUCCESSFUL","SOFT_404","BLOCKED_ROBOTS_TXT","NOT_FOUND","ACCESS_DENIED","SERVER_ERROR","REDIRECT_ERROR","ACCESS_FORBIDDEN","BLOCKED_4XX","INTERNAL_CRAWL_ERROR","INVALID_URL"],"type":"string"},"indexingState":{"description":"Whether or not the page blocks indexing through a noindex rule.","enum":["AMP_INDEXING_STATE_UNSPECIFIED","AMP_INDEXING_ALLOWED","BLOCKED_DUE_TO_NOINDEX","BLOCKED_DUE_TO_EXPIRED_UNAVAILABLE_AFTER"],"type":"string"},"ampUrl":{"description":"URL of the AMP that was inspected. If the submitted URL is a desktop page that refers to an AMP version, the AMP version will be inspected.","type":"string"},"verdict":{"description":"The status of the most severe error on the page. If a page has both warnings and errors, the page status is error. Error status means the page cannot be shown in Search results.","enum":["VERDICT_UNSPECIFIED","PASS","PARTIAL","FAIL","NEUTRAL"],"type":"string"},"issues":{"description":"A list of zero or more AMP issues found for the inspected URL.","type":"array","items":{"$ref":"#/components/schemas/searchconsole_v1_AmpIssue"}},"ampIndexStatusVerdict":{"description":"Index status of the AMP URL.","enum":["VERDICT_UNSPECIFIED","PASS","PARTIAL","FAIL","NEUTRAL"],"type":"string"}}},"searchconsole_v1_ApiDataRow":{"type":"object","properties":{"ctr":{"format":"double","type":"number"},"clicks":{"format":"double","type":"number"},"position":{"format":"double","type":"number"},"impressions":{"format":"double","type":"number"},"keys":{"type":"array","items":{"type":"string"}}}},"searchconsole_v1_MobileFriendlyIssue":{"description":"Mobile-friendly issue.","type":"object","properties":{"rule":{"description":"Rule violated.","enum":["MOBILE_FRIENDLY_RULE_UNSPECIFIED","USES_INCOMPATIBLE_PLUGINS","CONFIGURE_VIEWPORT","FIXED_WIDTH_VIEWPORT","SIZE_CONTENT_TO_VIEWPORT","USE_LEGIBLE_FONT_SIZES","TAP_TARGETS_TOO_CLOSE"],"type":"string"}}},"searchconsole_v1_SearchAnalyticsQueryRequest":{"type":"object","properties":{"aggregationType":{"description":"[Optional; Default is \\\"auto\\\"] How data is aggregated. If aggregated by property, all data for the same property is aggregated; if aggregated by page, all data is aggregated by canonical URI. If you filter or group by page, choose AUTO; otherwise you can aggregate either by property or by page, depending on how you want your data calculated; see the help documentation to learn how data is calculated differently by site versus by page. **Note:** If you group or filter by page, you cannot aggregate by property. If you specify any value other than AUTO, the aggregation type in the result will match the requested type, or if you request an invalid type, you will get an error. The API will never change your aggregation type if the requested type is invalid.","enum":["AUTO","BY_PROPERTY","BY_PAGE","BY_NEWS_SHOWCASE_PANEL"],"type":"string"},"type":{"description":"Optional. [Optional; Default is \\\"web\\\"] Type of report: search type, or either Discover or Gnews.","enum":["WEB","IMAGE","VIDEO","NEWS","DISCOVER","GOOGLE_NEWS"],"type":"string"},"endDate":{"description":"[Required] End date of the requested date range, in YYYY-MM-DD format, in PST (UTC - 8:00). Must be greater than or equal to the start date. This value is included in the range.","type":"string"},"dimensions":{"description":"[Optional] Zero or more dimensions to group results by. Dimensions are the group-by values in the Search Analytics page. Dimensions are combined to create a unique row key for each row. Results are grouped in the order that you supply these dimensions.","type":"array","items":{"enum":["DATE","QUERY","PAGE","COUNTRY","DEVICE","SEARCH_APPEARANCE","HOUR"],"type":"string"}},"startRow":{"description":"[Optional; Default is 0] Zero-based index of the first row in the response. Must be a non-negative number.","format":"int32","type":"integer"},"searchType":{"description":"[Optional; Default is \\\"web\\\"] The search type to filter for.","enum":["WEB","IMAGE","VIDEO","NEWS","DISCOVER","GOOGLE_NEWS"],"type":"string"},"startDate":{"description":" [Required] Start date of the requested date range, in YYYY-MM-DD format, in PST time (UTC - 8:00). Must be less than or equal to the end date. This value is included in the range.","type":"string"},"dimensionFilterGroups":{"description":"[Optional] Zero or more filters to apply to the dimension grouping values; for example, 'query contains \\\"buy\\\"' to see only data where the query string contains the substring \\\"buy\\\" (not case-sensitive). You can filter by a dimension without grouping by it.","type":"array","items":{"$ref":"#/components/schemas/searchconsole_v1_ApiDimensionFilterGroup"}},"rowLimit":{"description":"[Optional; Default is 1000] The maximum number of rows to return. Must be a number from 1 to 25,000 (inclusive).","format":"int32","type":"integer"},"dataState":{"description":"The data state to be fetched, can be full or all, the latter including full and partial data.","enum":["DATA_STATE_UNSPECIFIED","FINAL","ALL","HOURLY_ALL"],"type":"string"}}},"searchconsole_v1_InspectUrlIndexResponse":{"description":"Index-Status inspection response.","type":"object","properties":{"inspectionResult":{"$ref":"#/components/schemas/searchconsole_v1_UrlInspectionResult"}}},"searchconsole_v1_WmxSitemapContent":{"description":"Information about the various content types in the sitemap.","type":"object","properties":{"type":{"description":"The specific type of content in this sitemap. For example: `web`.","enum":["WEB","IMAGE","VIDEO","NEWS","MOBILE","ANDROID_APP","PATTERN","IOS_APP","DATA_FEED_ELEMENT"],"type":"string"},"submitted":{"description":"The number of URLs in the sitemap (of the content type).","format":"int64","type":"string"},"indexed":{"description":"*Deprecated; do not use.*","format":"int64","type":"string"}}},"searchconsole_v1_IndexStatusInspectionResult":{"description":"Results of index status inspection for either the live page or the version in Google's index, depending on whether you requested a live inspection or not. For more information, see the [Index coverage report documentation](https://support.google.com/webmasters/answer/7440203).","type":"object","properties":{"robotsTxtState":{"description":"Whether or not the page is blocked to Google by a robots.txt rule.","enum":["ROBOTS_TXT_STATE_UNSPECIFIED","ALLOWED","DISALLOWED"],"type":"string"},"pageFetchState":{"description":"Whether or not Google could retrieve the page from your server. Equivalent to [\"page fetch\"](https://support.google.com/webmasters/answer/9012289#index_coverage) in the URL inspection report.","enum":["PAGE_FETCH_STATE_UNSPECIFIED","SUCCESSFUL","SOFT_404","BLOCKED_ROBOTS_TXT","NOT_FOUND","ACCESS_DENIED","SERVER_ERROR","REDIRECT_ERROR","ACCESS_FORBIDDEN","BLOCKED_4XX","INTERNAL_CRAWL_ERROR","INVALID_URL"],"type":"string"},"googleCanonical":{"description":"The URL of the page that Google selected as canonical. If the page was not indexed, this field is absent.","type":"string"},"crawledAs":{"description":"Primary crawler that was used by Google to crawl your site.","enum":["CRAWLING_USER_AGENT_UNSPECIFIED","DESKTOP","MOBILE"],"type":"string"},"lastCrawlTime":{"description":"Last time this URL was crawled by Google using the [primary crawler](https://support.google.com/webmasters/answer/7440203#primary_crawler). Absent if the URL was never crawled successfully.","format":"google-datetime","type":"string"},"userCanonical":{"description":"The URL that your page or site [declares as canonical](https://developers.google.com/search/docs/advanced/crawling/consolidate-duplicate-urls?#define-canonical). If you did not declare a canonical URL, this field is absent.","type":"string"},"verdict":{"description":"High level verdict about whether the URL *is* indexed (indexed status), or *can be* indexed (live inspection).","enum":["VERDICT_UNSPECIFIED","PASS","PARTIAL","FAIL","NEUTRAL"],"type":"string"},"coverageState":{"description":"Could Google find and index the page. More details about page indexing appear in 'indexing_state'.","type":"string"},"indexingState":{"description":"Whether or not the page blocks indexing through a noindex rule.","enum":["INDEXING_STATE_UNSPECIFIED","INDEXING_ALLOWED","BLOCKED_BY_META_TAG","BLOCKED_BY_HTTP_HEADER","BLOCKED_BY_ROBOTS_TXT"],"type":"string"},"referringUrls":{"description":"URLs that link to the inspected URL, directly and indirectly.","type":"array","items":{"type":"string"}},"sitemap":{"description":"Any sitemaps that this URL was listed in, as known by Google. Not guaranteed to be an exhaustive list, especially if Google did not discover this URL through a sitemap. Absent if no sitemaps were found.","type":"array","items":{"type":"string"}}}},"searchconsole_v1_MobileUsabilityInspectionResult":{"description":"Mobile-usability inspection results.","type":"object","properties":{"verdict":{"description":"High-level mobile-usability inspection result for this URL.","enum":["VERDICT_UNSPECIFIED","PASS","PARTIAL","FAIL","NEUTRAL"],"type":"string"},"issues":{"description":"A list of zero or more mobile-usability issues detected for this URL.","type":"array","items":{"$ref":"#/components/schemas/searchconsole_v1_MobileUsabilityIssue"}}}},"searchconsole_v1_WmxSite":{"description":"Contains permission level information about a Search Console site. For more information, see [Permissions in Search Console](https://support.google.com/webmasters/answer/2451999).","type":"object","properties":{"siteUrl":{"description":"The URL of the site.","type":"string"},"permissionLevel":{"description":"The user's permission level for the site.","enum":["SITE_PERMISSION_LEVEL_UNSPECIFIED","SITE_OWNER","SITE_FULL_USER","SITE_RESTRICTED_USER","SITE_UNVERIFIED_USER"],"type":"string"}}},"searchconsole_v1_ApiDimensionFilter":{"description":"A filter test to be applied to each row in the data set, where a match can return the row. Filters are string comparisons, and values and dimension names are not case-sensitive. Individual filters are either AND'ed or OR'ed within their parent filter group, according to the group's group type. You do not need to group by a specified dimension to filter against it.","type":"object","properties":{"dimension":{"enum":["QUERY","PAGE","COUNTRY","DEVICE","SEARCH_APPEARANCE"],"type":"string"},"operator":{"enum":["EQUALS","NOT_EQUALS","CONTAINS","NOT_CONTAINS","INCLUDING_REGEX","EXCLUDING_REGEX"],"type":"string"},"expression":{"type":"string"}}},"searchconsole_v1_AmpIssue":{"description":"AMP issue.","type":"object","properties":{"severity":{"description":"Severity of this issue: WARNING or ERROR.","enum":["SEVERITY_UNSPECIFIED","WARNING","ERROR"],"type":"string"},"issueMessage":{"description":"Brief description of this issue.","type":"string"}}},"searchconsole_v1_TestStatus":{"description":"Final state of the test, including error details if necessary.","type":"object","properties":{"details":{"description":"Error details if applicable.","type":"string"},"status":{"description":"Status of the test.","enum":["TEST_STATUS_UNSPECIFIED","COMPLETE","INTERNAL_ERROR","PAGE_UNREACHABLE"],"type":"string"}}},"searchconsole_v1_Metadata":{"description":"An object that may be returned with your query results, providing context about the state of the data. When you request recent data (using `all` or `hourly_all` for `dataState`), some of the rows returned may represent data that is incomplete, which means that the data is still being collected and processed. This metadata object helps you identify exactly when this starts and ends. All dates and times provided in this object are in the `America/Los_Angeles` time zone. The specific field returned within this object depends on how you've grouped your data in the request. See details in inner fields.","type":"object","properties":{"firstIncompleteHour":{"description":"The first hour for which the data is still being collected and processed, presented in `YYYY-MM-DDThh:mm:ss[+|-]hh:mm` format (ISO-8601 extended offset date-time format). This field is populated only when the request's `dataState` is \"`hourly_all`\", data is grouped by \"`HOUR`\" and the requested date range contains incomplete data points. All values after the `first_incomplete_hour` may still change noticeably.","type":"string"},"firstIncompleteDate":{"description":"The first date for which the data is still being collected and processed, presented in `YYYY-MM-DD` format (ISO-8601 extended local date format). This field is populated only when the request's `dataState` is \"`all`\", data is grouped by \"`DATE`\", and the requested date range contains incomplete data points. All values after the `first_incomplete_date` may still change noticeably.","type":"string"}}},"searchconsole_v1_RunMobileFriendlyTestResponse":{"description":"Mobile-friendly test response, including mobile-friendly issues and resource issues.","type":"object","properties":{"resourceIssues":{"description":"Information about embedded resources issues.","type":"array","items":{"$ref":"#/components/schemas/searchconsole_v1_ResourceIssue"}},"testStatus":{"$ref":"#/components/schemas/searchconsole_v1_TestStatus"},"mobileFriendlyIssues":{"description":"List of mobile-usability issues.","type":"array","items":{"$ref":"#/components/schemas/searchconsole_v1_MobileFriendlyIssue"}},"screenshot":{"$ref":"#/components/schemas/searchconsole_v1_Image"},"mobileFriendliness":{"description":"Test verdict, whether the page is mobile friendly or not.","enum":["MOBILE_FRIENDLY_TEST_RESULT_UNSPECIFIED","MOBILE_FRIENDLY","NOT_MOBILE_FRIENDLY"],"type":"string"}}},"searchconsole_v1_RunMobileFriendlyTestRequest":{"description":"Mobile-friendly test request.","type":"object","properties":{"url":{"description":"URL for inspection.","type":"string"},"requestScreenshot":{"description":"Whether or not screenshot is requested. Default is false.","type":"boolean"}}},"searchconsole_v1_ApiDimensionFilterGroup":{"description":"A set of `dimension` value filters to test against each row. Only rows that pass all filter groups will be returned. All results within a filter group are either AND'ed or OR'ed together, depending on the group type selected. All filter groups are AND'ed together.","type":"object","properties":{"groupType":{"description":"Optional. The logic operator between filters of the same group.","enum":["AND"],"type":"string"},"filters":{"description":"Optional. A list of single-value filters in this group.","type":"array","items":{"$ref":"#/components/schemas/searchconsole_v1_ApiDimensionFilter"}}}},"searchconsole_v1_RichResultsInspectionResult":{"description":"Rich-Results inspection result, including any rich results found at this URL.","type":"object","properties":{"verdict":{"description":"High-level rich results inspection result for this URL.","enum":["VERDICT_UNSPECIFIED","PASS","PARTIAL","FAIL","NEUTRAL"],"type":"string"},"detectedItems":{"description":"A list of zero or more rich results detected on this page. Rich results that cannot even be parsed due to syntactic issues will not be listed here.","type":"array","items":{"$ref":"#/components/schemas/searchconsole_v1_DetectedItems"}}}},"searchconsole_v1_UrlInspectionResult":{"description":"URL inspection result, including all inspection results.","type":"object","properties":{"richResultsResult":{"$ref":"#/components/schemas/searchconsole_v1_RichResultsInspectionResult"},"inspectionResultLink":{"description":"Link to Search Console URL inspection.","type":"string"},"mobileUsabilityResult":{"$ref":"#/components/schemas/searchconsole_v1_MobileUsabilityInspectionResult"},"ampResult":{"$ref":"#/components/schemas/searchconsole_v1_AmpInspectionResult"},"indexStatusResult":{"$ref":"#/components/schemas/searchconsole_v1_IndexStatusInspectionResult"}}},"searchconsole_v1_SitesListResponse":{"description":"List of sites with access level information.","type":"object","properties":{"siteEntry":{"description":"Contains permission level information about a Search Console site. For more information, see [Permissions in Search Console](https://support.google.com/webmasters/answer/2451999).","type":"array","items":{"$ref":"#/components/schemas/searchconsole_v1_WmxSite"}}}},"searchconsole_v1_InspectUrlIndexRequest":{"description":"Index inspection request.","type":"object","properties":{"languageCode":{"description":"Optional. An [IETF BCP-47](https://en.wikipedia.org/wiki/IETF_language_tag) language code representing the requested language for translated issue messages, e.g. \"en-US\", \"or \"de-CH\". Default value is \"en-US\".","type":"string"},"inspectionUrl":{"description":"Required. URL to inspect. Must be under the property specified in \"site_url\".","type":"string"},"siteUrl":{"description":"Required. The URL of the property as defined in Search Console. **Examples:** `http://www.example.com/` for a URL-prefix property, or `sc-domain:example.com` for a Domain property.","type":"string"}}},"searchconsole_v1_SearchAnalyticsQueryResponse":{"description":"A list of rows, one per result, grouped by key. Metrics in each row are aggregated for all data grouped by that key either by page or property, as specified by the aggregation type parameter.","type":"object","properties":{"metadata":{"$ref":"#/components/schemas/searchconsole_v1_Metadata"},"rows":{"description":"A list of rows grouped by the key values in the order given in the query.","type":"array","items":{"$ref":"#/components/schemas/searchconsole_v1_ApiDataRow"}},"responseAggregationType":{"description":"How the results were aggregated.","enum":["AUTO","BY_PROPERTY","BY_PAGE","BY_NEWS_SHOWCASE_PANEL"],"type":"string"}}},"searchconsole_v1_Item":{"description":"A specific rich result found on the page.","type":"object","properties":{"name":{"description":"The user-provided name of this item.","type":"string"},"issues":{"description":"A list of zero or more rich result issues found for this instance.","type":"array","items":{"$ref":"#/components/schemas/searchconsole_v1_RichResultsIssue"}}}}},"securitySchemes":{"googleOAuth2":{"type":"oauth2","flows":{"authorizationCode":{"authorizationUrl":"https://accounts.google.com/o/oauth2/v2/auth","tokenUrl":"https://oauth2.googleapis.com/token","scopes":{"openid":"","email":"","profile":"","https://www.googleapis.com/auth/webmasters":""}}}}}},"security":[{"googleOAuth2":["openid","email","profile","https://www.googleapis.com/auth/webmasters"]}],"x-executor-origin":{"kind":"googleDiscoveryBundle","services":[{"discoveryUrl":"https://www.googleapis.com/discovery/v1/apis/searchconsole/v1/rest","service":"searchconsole","version":"v1"}]}}