{"openapi":"3.1.0","info":{"title":"Cloud Resource Manager API","version":"v3","description":"Creates, reads, and updates metadata for Google Cloud Platform resource containers."},"servers":[{"url":"https://www.googleapis.com/"}],"paths":{"/v3:fetchResourceSemantics":{"get":{"operationId":"cloudresourcemanager.fetchResourceSemantics","x-executor-toolPath":"cloudresourcemanager.fetchResourceSemantics","x-executor-pathTemplate":"/v3:fetchResourceSemantics","tags":["Cloud Resource Manager API"],"description":"Returns the semantics associated with the specified resource.","servers":[{"url":"https://cloudresourcemanager.googleapis.com/"}],"parameters":[{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"fullResourceName","in":"query","required":false,"description":"Required. The full resource name of the GCP resource to retrieve semantics for. Examples: \"//compute.googleapis.com/projects/123/zones/us-central1-a/instances/my-instance\" \"//storage.googleapis.com/projects/_/buckets/my_bucket\"","schema":{"description":"Required. The full resource name of the GCP resource to retrieve semantics for. Examples: \"//compute.googleapis.com/projects/123/zones/us-central1-a/instances/my-instance\" \"//storage.googleapis.com/projects/_/buckets/my_bucket\"","type":"string"},"style":"form","explode":false}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/cloudresourcemanager_v3_FetchResourceSemanticsResponse"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/cloud-platform"]}],"x-google-scopes":["https://www.googleapis.com/auth/cloud-platform"]}},"/v3/{name}:undelete":{"post":{"operationId":"cloudresourcemanager.projects.undelete","x-executor-toolPath":"cloudresourcemanager.projects.undelete","x-executor-pathTemplate":"/v3/{+name}:undelete","tags":["Cloud Resource Manager API"],"description":"Restores the project identified by the specified `name` (for example, `projects/415104041262`). You can only use this method for a project that has a lifecycle state of DELETE_REQUESTED. After deletion starts, the project cannot be restored. The caller must have `resourcemanager.projects.undelete` permission for this project.","servers":[{"url":"https://cloudresourcemanager.googleapis.com/"}],"parameters":[{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"name","in":"path","required":true,"description":"Required. The name of the project (for example, `projects/415104041262`). Required.","schema":{"description":"Required. The name of the project (for example, `projects/415104041262`). Required.","type":"string"},"allowReserved":true}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/cloudresourcemanager_v3_UndeleteProjectRequest"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/cloudresourcemanager_v3_Operation"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/cloud-platform"]}],"x-google-scopes":["https://www.googleapis.com/auth/cloud-platform"]}},"/v3/projects:search":{"get":{"operationId":"cloudresourcemanager.projects.search","x-executor-toolPath":"cloudresourcemanager.projects.search","x-executor-pathTemplate":"/v3/projects:search","tags":["Cloud Resource Manager API"],"description":"Search for projects that the caller has the `resourcemanager.projects.get` permission on, and also satisfy the specified query. This method returns projects in an unspecified order. This method is eventually consistent with project mutations; this means that a newly created project may not appear in the results or recent updates to an existing project may not be reflected in the results. To retrieve the latest state of a project, use the GetProject method.","servers":[{"url":"https://cloudresourcemanager.googleapis.com/"}],"parameters":[{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"query","in":"query","required":false,"description":"Optional. A query string for searching for projects that the caller has `resourcemanager.projects.get` permission to. If multiple fields are included in the query, then it will return results that match any of the fields. Some eligible fields are: ``` | Field | Description | |-------------------------|----------------------------------------------| | displayName, name | Filters by displayName. | | parent | Project's parent (for example: folders/123, organizations/*). Prefer parent field over parent.type and parent.id.| | parent.type | Parent's type: `folder` or `organization`. | | parent.id | Parent's id number (for example: 123) | | id, projectId | Filters by projectId. | | state, lifecycleState | Filters by state. | | labels | Filters by label name or value. | | labels.\\ (where *key* is the name of a label) | Filters by label name.| ``` Search expressions are case insensitive. Some examples queries: ``` | Query | Description | |------------------|-----------------------------------------------------| | name:how* | The project's name starts with \"how\". | | name:Howl | The project's name is `Howl` or `howl`. | | name:HOWL | Equivalent to above. | | NAME:howl | Equivalent to above. | | labels.color:* | The project has the label `color`. | | labels.color:red | The project's label `color` has the value `red`. | | labels.color:red labels.size:big | The project's label `color` has the value `red` or its label `size` has the value `big`. | ``` If no query is specified, the call will return projects for which the user has the `resourcemanager.projects.get` permission.","schema":{"description":"Optional. A query string for searching for projects that the caller has `resourcemanager.projects.get` permission to. If multiple fields are included in the query, then it will return results that match any of the fields. Some eligible fields are: ``` | Field | Description | |-------------------------|----------------------------------------------| | displayName, name | Filters by displayName. | | parent | Project's parent (for example: folders/123, organizations/*). Prefer parent field over parent.type and parent.id.| | parent.type | Parent's type: `folder` or `organization`. | | parent.id | Parent's id number (for example: 123) | | id, projectId | Filters by projectId. | | state, lifecycleState | Filters by state. | | labels | Filters by label name or value. | | labels.\\ (where *key* is the name of a label) | Filters by label name.| ``` Search expressions are case insensitive. Some examples queries: ``` | Query | Description | |------------------|-----------------------------------------------------| | name:how* | The project's name starts with \"how\". | | name:Howl | The project's name is `Howl` or `howl`. | | name:HOWL | Equivalent to above. | | NAME:howl | Equivalent to above. | | labels.color:* | The project has the label `color`. | | labels.color:red | The project's label `color` has the value `red`. | | labels.color:red labels.size:big | The project's label `color` has the value `red` or its label `size` has the value `big`. | ``` If no query is specified, the call will return projects for which the user has the `resourcemanager.projects.get` permission.","type":"string"},"style":"form","explode":false},{"name":"pageSize","in":"query","required":false,"description":"Optional. The maximum number of projects to return in the response. The server can return fewer projects than requested. If unspecified, server picks an appropriate default.","schema":{"description":"Optional. The maximum number of projects to return in the response. The server can return fewer projects than requested. If unspecified, server picks an appropriate default.","format":"int32","type":"integer"},"style":"form","explode":false},{"name":"pageToken","in":"query","required":false,"description":"Optional. A pagination token returned from a previous call to ListProjects that indicates from where listing should continue.","schema":{"description":"Optional. A pagination token returned from a previous call to ListProjects that indicates from where listing should continue.","type":"string"},"style":"form","explode":false}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/cloudresourcemanager_v3_SearchProjectsResponse"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/cloud-platform"]}],"x-google-scopes":["https://www.googleapis.com/auth/cloud-platform"]}},"/v3/{name}:move":{"post":{"operationId":"cloudresourcemanager.projects.move","x-executor-toolPath":"cloudresourcemanager.projects.move","x-executor-pathTemplate":"/v3/{+name}:move","tags":["Cloud Resource Manager API"],"description":"Move a project to another place in your resource hierarchy, under a new resource parent. Returns an operation which can be used to track the process of the project move workflow. Upon success, the `Operation.response` field will be populated with the moved project. The caller must have `resourcemanager.projects.move` permission on the project, on the project's current and proposed new parent. If project has no current parent, or it currently does not have an associated organization resource, you will also need the `resourcemanager.projects.setIamPolicy` permission in the project.","servers":[{"url":"https://cloudresourcemanager.googleapis.com/"}],"parameters":[{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"name","in":"path","required":true,"description":"Required. The name of the project to move.","schema":{"description":"Required. The name of the project to move.","type":"string"},"allowReserved":true}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/cloudresourcemanager_v3_MoveProjectRequest"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/cloudresourcemanager_v3_Operation"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/cloud-platform"]}],"x-google-scopes":["https://www.googleapis.com/auth/cloud-platform"]}},"/v3/{name}":{"patch":{"operationId":"cloudresourcemanager.projects.patch","x-executor-toolPath":"cloudresourcemanager.projects.patch","x-executor-pathTemplate":"/v3/{+name}","tags":["Cloud Resource Manager API"],"description":"Updates the `display_name` and labels of the project identified by the specified `name` (for example, `projects/415104041262`). Deleting all labels requires an update mask for labels field. The caller must have `resourcemanager.projects.update` permission for this project.","servers":[{"url":"https://cloudresourcemanager.googleapis.com/"}],"parameters":[{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"updateMask","in":"query","required":false,"description":"Optional. An update mask to selectively update fields.","schema":{"description":"Optional. An update mask to selectively update fields.","format":"google-fieldmask","type":"string"},"style":"form","explode":false},{"name":"name","in":"path","required":true,"description":"Output only. The unique resource name of the project. It is an int64 generated number prefixed by \"projects/\". Example: `projects/415104041262`","schema":{"description":"Output only. The unique resource name of the project. It is an int64 generated number prefixed by \"projects/\". Example: `projects/415104041262`","type":"string"},"allowReserved":true}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/cloudresourcemanager_v3_Project"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/cloudresourcemanager_v3_Operation"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/cloud-platform"]}],"x-google-scopes":["https://www.googleapis.com/auth/cloud-platform"]},"delete":{"operationId":"cloudresourcemanager.projects.delete","x-executor-toolPath":"cloudresourcemanager.projects.delete","x-executor-pathTemplate":"/v3/{+name}","tags":["Cloud Resource Manager API"],"description":"Marks the project identified by the specified `name` (for example, `projects/415104041262`) for deletion. This method will only affect the project if it has a lifecycle state of ACTIVE. This method changes the Project's lifecycle state from ACTIVE to DELETE_REQUESTED. The deletion starts at an unspecified time, at which point the Project is no longer accessible. Until the deletion completes, you can check the lifecycle state checked by retrieving the project with GetProject, and the project remains visible to ListProjects. However, you cannot update the project. After the deletion completes, the project is not retrievable by the GetProject, ListProjects, and SearchProjects methods. The caller must have `resourcemanager.projects.delete` permissions for this project.","servers":[{"url":"https://cloudresourcemanager.googleapis.com/"}],"parameters":[{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"name","in":"path","required":true,"description":"Required. The name of the Project (for example, `projects/415104041262`).","schema":{"description":"Required. The name of the Project (for example, `projects/415104041262`).","type":"string"},"allowReserved":true}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/cloudresourcemanager_v3_Operation"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/cloud-platform"]}],"x-google-scopes":["https://www.googleapis.com/auth/cloud-platform"]},"get":{"operationId":"cloudresourcemanager.projects.get","x-executor-toolPath":"cloudresourcemanager.projects.get","x-executor-pathTemplate":"/v3/{+name}","tags":["Cloud Resource Manager API"],"description":"Retrieves the project identified by the specified `name` (for example, `projects/415104041262`). The caller must have `resourcemanager.projects.get` permission for this project.","servers":[{"url":"https://cloudresourcemanager.googleapis.com/"}],"parameters":[{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"name","in":"path","required":true,"description":"Required. The name of the project (for example, `projects/415104041262`).","schema":{"description":"Required. The name of the project (for example, `projects/415104041262`).","type":"string"},"allowReserved":true}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/cloudresourcemanager_v3_Project"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/cloud-platform"]}],"x-google-scopes":["https://www.googleapis.com/auth/cloud-platform"]}},"/v3/{resource}:setIamPolicy":{"post":{"operationId":"cloudresourcemanager.projects.setIamPolicy","x-executor-toolPath":"cloudresourcemanager.projects.setIamPolicy","x-executor-pathTemplate":"/v3/{+resource}:setIamPolicy","tags":["Cloud Resource Manager API"],"description":"Sets the IAM access control policy for the specified project, in the format `projects/{ProjectIdOrNumber}` e.g. projects/123. CAUTION: This method will replace the existing policy, and cannot be used to append additional IAM settings. Note: Removing service accounts from policies or changing their roles can render services completely inoperable. It is important to understand how the service account is being used before removing or updating its roles. The following constraints apply when using `setIamPolicy()`: + Project does not support `allUsers` and `allAuthenticatedUsers` as `members` in a `Binding` of a `Policy`. + The owner role can be granted to a `user`, `serviceAccount`, or a group that is part of an organization. For example, group@myownpersonaldomain.com could be added as an owner to a project in the myownpersonaldomain.com organization, but not the examplepetstore.com organization. + Service accounts can be made owners of a project directly without any restrictions. However, to be added as an owner, a user must be invited using the Cloud Platform console and must accept the invitation. + A user cannot be granted the owner role using `setIamPolicy()`. The user must be granted the owner role using the Cloud Platform Console and must explicitly accept the invitation. + Invitations to grant the owner role cannot be sent using `setIamPolicy()`; they must be sent only using the Cloud Platform Console. + If the project is not part of an organization, there must be at least one owner who has accepted the Terms of Service (ToS) agreement in the policy. Calling `setIamPolicy()` to remove the last ToS-accepted owner from the policy will fail. This restriction also applies to legacy projects that no longer have owners who have accepted the ToS. Edits to IAM policies will be rejected until the lack of a ToS-accepting owner is rectified. If the project is part of an organization, you can remove all owners, potentially making the organization inaccessible.","servers":[{"url":"https://cloudresourcemanager.googleapis.com/"}],"parameters":[{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"resource","in":"path","required":true,"description":"REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.","schema":{"description":"REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.","type":"string"},"allowReserved":true}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/cloudresourcemanager_v3_SetIamPolicyRequest"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/cloudresourcemanager_v3_Policy"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/cloud-platform"]}],"x-google-scopes":["https://www.googleapis.com/auth/cloud-platform"]}},"/v3/projects":{"get":{"operationId":"cloudresourcemanager.projects.list","x-executor-toolPath":"cloudresourcemanager.projects.list","x-executor-pathTemplate":"/v3/projects","tags":["Cloud Resource Manager API"],"description":"Lists projects that are direct children of the specified folder or organization resource. `list()` provides a strongly consistent view of the projects underneath the specified parent resource. `list()` returns projects sorted based upon the (ascending) lexical ordering of their `display_name`. The caller must have `resourcemanager.projects.list` permission on the identified parent.","servers":[{"url":"https://cloudresourcemanager.googleapis.com/"}],"parameters":[{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"parent","in":"query","required":false,"description":"Required. The name of the parent resource whose projects are being listed. Only children of this parent resource are listed; descendants are not listed. If the parent is a folder, use the value `folders/{folder_id}`. If the parent is an organization, use the value `organizations/{org_id}`.","schema":{"description":"Required. The name of the parent resource whose projects are being listed. Only children of this parent resource are listed; descendants are not listed. If the parent is a folder, use the value `folders/{folder_id}`. If the parent is an organization, use the value `organizations/{org_id}`.","type":"string"},"style":"form","explode":false},{"name":"pageToken","in":"query","required":false,"description":"Optional. A pagination token returned from a previous call to ListProjects that indicates from where listing should continue.","schema":{"description":"Optional. A pagination token returned from a previous call to ListProjects that indicates from where listing should continue.","type":"string"},"style":"form","explode":false},{"name":"pageSize","in":"query","required":false,"description":"Optional. The maximum number of projects to return in the response. The server can return fewer projects than requested. If unspecified, server picks an appropriate default.","schema":{"description":"Optional. The maximum number of projects to return in the response. The server can return fewer projects than requested. If unspecified, server picks an appropriate default.","format":"int32","type":"integer"},"style":"form","explode":false},{"name":"showDeleted","in":"query","required":false,"description":"Optional. Indicate that projects in the `DELETE_REQUESTED` state should also be returned. Normally only `ACTIVE` projects are returned.","schema":{"description":"Optional. Indicate that projects in the `DELETE_REQUESTED` state should also be returned. Normally only `ACTIVE` projects are returned.","type":"boolean"},"style":"form","explode":false}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/cloudresourcemanager_v3_ListProjectsResponse"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/cloud-platform"]}],"x-google-scopes":["https://www.googleapis.com/auth/cloud-platform"]},"post":{"operationId":"cloudresourcemanager.projects.create","x-executor-toolPath":"cloudresourcemanager.projects.create","x-executor-pathTemplate":"/v3/projects","tags":["Cloud Resource Manager API"],"description":"Request that a new project be created. The result is an `Operation` which can be used to track the creation process. This process usually takes a few seconds, but can sometimes take much longer. The tracking `Operation` is automatically deleted after a few hours, so there is no need to call `DeleteOperation`.","servers":[{"url":"https://cloudresourcemanager.googleapis.com/"}],"parameters":[{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/cloudresourcemanager_v3_Project"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/cloudresourcemanager_v3_Operation"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/cloud-platform"]}],"x-google-scopes":["https://www.googleapis.com/auth/cloud-platform"]}},"/v3/{resource}:getIamPolicy":{"post":{"operationId":"cloudresourcemanager.projects.getIamPolicy","x-executor-toolPath":"cloudresourcemanager.projects.getIamPolicy","x-executor-pathTemplate":"/v3/{+resource}:getIamPolicy","tags":["Cloud Resource Manager API"],"description":"Returns the IAM access control policy for the specified project, in the format `projects/{ProjectIdOrNumber}` e.g. projects/123. Permission is denied if the policy or the resource do not exist.","servers":[{"url":"https://cloudresourcemanager.googleapis.com/"}],"parameters":[{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"resource","in":"path","required":true,"description":"REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.","schema":{"description":"REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.","type":"string"},"allowReserved":true}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/cloudresourcemanager_v3_GetIamPolicyRequest"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/cloudresourcemanager_v3_Policy"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/cloud-platform"]}],"x-google-scopes":["https://www.googleapis.com/auth/cloud-platform"]}},"/v3/{resource}:testIamPermissions":{"post":{"operationId":"cloudresourcemanager.projects.testIamPermissions","x-executor-toolPath":"cloudresourcemanager.projects.testIamPermissions","x-executor-pathTemplate":"/v3/{+resource}:testIamPermissions","tags":["Cloud Resource Manager API"],"description":"Returns permissions that a caller has on the specified project, in the format `projects/{ProjectIdOrNumber}` e.g. projects/123..","servers":[{"url":"https://cloudresourcemanager.googleapis.com/"}],"parameters":[{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"resource","in":"path","required":true,"description":"REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.","schema":{"description":"REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.","type":"string"},"allowReserved":true}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/cloudresourcemanager_v3_TestIamPermissionsRequest"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/cloudresourcemanager_v3_TestIamPermissionsResponse"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/cloud-platform"]}],"x-google-scopes":["https://www.googleapis.com/auth/cloud-platform"]}},"/cloudresourcemanager.organizations.setIamPolicy":{"post":{"operationId":"cloudresourcemanager.organizations.setIamPolicy","x-executor-toolPath":"cloudresourcemanager.organizations.setIamPolicy","x-executor-pathTemplate":"/v3/{+resource}:setIamPolicy","tags":["Cloud Resource Manager API"],"description":"Sets the access control policy on an organization resource. Replaces any existing policy. The `resource` field should be the organization's resource name, for example: \"organizations/123\". Authorization requires the IAM permission `resourcemanager.organizations.setIamPolicy` on the specified organization.","servers":[{"url":"https://cloudresourcemanager.googleapis.com/"}],"parameters":[{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"resource","in":"path","required":true,"description":"REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.","schema":{"description":"REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.","type":"string"},"allowReserved":true}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/cloudresourcemanager_v3_SetIamPolicyRequest"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/cloudresourcemanager_v3_Policy"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/cloud-platform"]}],"x-google-scopes":["https://www.googleapis.com/auth/cloud-platform"]}},"/v3/organizations:search":{"get":{"operationId":"cloudresourcemanager.organizations.search","x-executor-toolPath":"cloudresourcemanager.organizations.search","x-executor-pathTemplate":"/v3/organizations:search","tags":["Cloud Resource Manager API"],"description":"Searches organization resources that are visible to the user and satisfy the specified filter. This method returns organizations in an unspecified order. New organizations do not necessarily appear at the end of the results, and may take a small amount of time to appear. Search will only return organizations on which the user has the permission `resourcemanager.organizations.get` or has super admin privileges.","servers":[{"url":"https://cloudresourcemanager.googleapis.com/"}],"parameters":[{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"pageToken","in":"query","required":false,"description":"Optional. A pagination token returned from a previous call to `SearchOrganizations` that indicates from where listing should continue.","schema":{"description":"Optional. A pagination token returned from a previous call to `SearchOrganizations` that indicates from where listing should continue.","type":"string"},"style":"form","explode":false},{"name":"pageSize","in":"query","required":false,"description":"Optional. The maximum number of organizations to return in the response. The server can return fewer organizations than requested. If unspecified, server picks an appropriate default.","schema":{"description":"Optional. The maximum number of organizations to return in the response. The server can return fewer organizations than requested. If unspecified, server picks an appropriate default.","format":"int32","type":"integer"},"style":"form","explode":false},{"name":"query","in":"query","required":false,"description":"Optional. An optional query string used to filter the Organizations to return in the response. Query rules are case-insensitive. ``` | Field | Description | |------------------|--------------------------------------------| | directoryCustomerId, owner.directoryCustomerId | Filters by directory customer id. | | domain | Filters by domain. | ``` Organizations may be queried by `directoryCustomerId` or by `domain`, where the domain is a G Suite domain, for example: * Query `directorycustomerid:123456789` returns Organization resources with `owner.directory_customer_id` equal to `123456789`. * Query `domain:google.com` returns Organization resources corresponding to the domain `google.com`.","schema":{"description":"Optional. An optional query string used to filter the Organizations to return in the response. Query rules are case-insensitive. ``` | Field | Description | |------------------|--------------------------------------------| | directoryCustomerId, owner.directoryCustomerId | Filters by directory customer id. | | domain | Filters by domain. | ``` Organizations may be queried by `directoryCustomerId` or by `domain`, where the domain is a G Suite domain, for example: * Query `directorycustomerid:123456789` returns Organization resources with `owner.directory_customer_id` equal to `123456789`. * Query `domain:google.com` returns Organization resources corresponding to the domain `google.com`.","type":"string"},"style":"form","explode":false}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/cloudresourcemanager_v3_SearchOrganizationsResponse"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/cloud-platform"]}],"x-google-scopes":["https://www.googleapis.com/auth/cloud-platform"]}},"/cloudresourcemanager.organizations.get":{"get":{"operationId":"cloudresourcemanager.organizations.get","x-executor-toolPath":"cloudresourcemanager.organizations.get","x-executor-pathTemplate":"/v3/{+name}","tags":["Cloud Resource Manager API"],"description":"Fetches an organization resource identified by the specified resource name.","servers":[{"url":"https://cloudresourcemanager.googleapis.com/"}],"parameters":[{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"name","in":"path","required":true,"description":"Required. The resource name of the Organization to fetch. This is the organization's relative path in the API, formatted as \"organizations/[organizationId]\". For example, \"organizations/1234\".","schema":{"description":"Required. The resource name of the Organization to fetch. This is the organization's relative path in the API, formatted as \"organizations/[organizationId]\". For example, \"organizations/1234\".","type":"string"},"allowReserved":true}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/cloudresourcemanager_v3_Organization"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/cloud-platform"]}],"x-google-scopes":["https://www.googleapis.com/auth/cloud-platform"]}},"/cloudresourcemanager.organizations.testIamPermissions":{"post":{"operationId":"cloudresourcemanager.organizations.testIamPermissions","x-executor-toolPath":"cloudresourcemanager.organizations.testIamPermissions","x-executor-pathTemplate":"/v3/{+resource}:testIamPermissions","tags":["Cloud Resource Manager API"],"description":"Returns the permissions that a caller has on the specified organization. The `resource` field should be the organization's resource name, for example: \"organizations/123\". There are no permissions required for making this API call.","servers":[{"url":"https://cloudresourcemanager.googleapis.com/"}],"parameters":[{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"resource","in":"path","required":true,"description":"REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.","schema":{"description":"REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.","type":"string"},"allowReserved":true}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/cloudresourcemanager_v3_TestIamPermissionsRequest"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/cloudresourcemanager_v3_TestIamPermissionsResponse"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/cloud-platform"]}],"x-google-scopes":["https://www.googleapis.com/auth/cloud-platform"]}},"/cloudresourcemanager.organizations.getIamPolicy":{"post":{"operationId":"cloudresourcemanager.organizations.getIamPolicy","x-executor-toolPath":"cloudresourcemanager.organizations.getIamPolicy","x-executor-pathTemplate":"/v3/{+resource}:getIamPolicy","tags":["Cloud Resource Manager API"],"description":"Gets the access control policy for an organization resource. The policy may be empty if no such policy or resource exists. The `resource` field should be the organization's resource name, for example: \"organizations/123\". Authorization requires the IAM permission `resourcemanager.organizations.getIamPolicy` on the specified organization.","servers":[{"url":"https://cloudresourcemanager.googleapis.com/"}],"parameters":[{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"resource","in":"path","required":true,"description":"REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.","schema":{"description":"REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.","type":"string"},"allowReserved":true}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/cloudresourcemanager_v3_GetIamPolicyRequest"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/cloudresourcemanager_v3_Policy"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/cloud-platform"]}],"x-google-scopes":["https://www.googleapis.com/auth/cloud-platform"]}},"/cloudresourcemanager.folders.get":{"get":{"operationId":"cloudresourcemanager.folders.get","x-executor-toolPath":"cloudresourcemanager.folders.get","x-executor-pathTemplate":"/v3/{+name}","tags":["Cloud Resource Manager API"],"description":"Retrieves a folder identified by the supplied resource name. Valid folder resource names have the format `folders/{folder_id}` (for example, `folders/1234`). The caller must have `resourcemanager.folders.get` permission on the identified folder.","servers":[{"url":"https://cloudresourcemanager.googleapis.com/"}],"parameters":[{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"name","in":"path","required":true,"description":"Required. The resource name of the folder to retrieve. Must be of the form `folders/{folder_id}`.","schema":{"description":"Required. The resource name of the folder to retrieve. Must be of the form `folders/{folder_id}`.","type":"string"},"allowReserved":true}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/cloudresourcemanager_v3_Folder"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/cloud-platform"]}],"x-google-scopes":["https://www.googleapis.com/auth/cloud-platform"]}},"/v3/folders":{"post":{"operationId":"cloudresourcemanager.folders.create","x-executor-toolPath":"cloudresourcemanager.folders.create","x-executor-pathTemplate":"/v3/folders","tags":["Cloud Resource Manager API"],"description":"Creates a folder in the resource hierarchy. Returns an `Operation` which can be used to track the progress of the folder creation workflow. Upon success, the `Operation.response` field will be populated with the created Folder. In order to succeed, the addition of this new folder must not violate the folder naming, height, or fanout constraints. + The folder's `display_name` must be distinct from all other folders that share its parent. + The addition of the folder must not cause the active folder hierarchy to exceed a height of 10. Note, the full active + deleted folder hierarchy is allowed to reach a height of 20; this provides additional headroom when moving folders that contain deleted folders. + The addition of the folder must not cause the total number of folders under its parent to exceed 300. If the operation fails due to a folder constraint violation, some errors may be returned by the `CreateFolder` request, with status code `FAILED_PRECONDITION` and an error description. Other folder constraint violations will be communicated in the `Operation`, with the specific `PreconditionFailure` returned in the details list in the `Operation.error` field. The caller must have `resourcemanager.folders.create` permission on the identified parent.","servers":[{"url":"https://cloudresourcemanager.googleapis.com/"}],"parameters":[{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/cloudresourcemanager_v3_Folder"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/cloudresourcemanager_v3_Operation"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/cloud-platform"]}],"x-google-scopes":["https://www.googleapis.com/auth/cloud-platform"]},"get":{"operationId":"cloudresourcemanager.folders.list","x-executor-toolPath":"cloudresourcemanager.folders.list","x-executor-pathTemplate":"/v3/folders","tags":["Cloud Resource Manager API"],"description":"Lists the folders that are direct descendants of supplied parent resource. `list()` provides a strongly consistent view of the folders underneath the specified parent resource. `list()` returns folders sorted based upon the (ascending) lexical ordering of their display_name. The caller must have `resourcemanager.folders.list` permission on the identified parent.","servers":[{"url":"https://cloudresourcemanager.googleapis.com/"}],"parameters":[{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"parent","in":"query","required":false,"description":"Required. The name of the parent resource whose folders are being listed. Only children of this parent resource are listed; descendants are not listed. If the parent is a folder, use the value `folders/{folder_id}`. If the parent is an organization, use the value `organizations/{org_id}`. Access to this method is controlled by checking the `resourcemanager.folders.list` permission on the `parent`.","schema":{"description":"Required. The name of the parent resource whose folders are being listed. Only children of this parent resource are listed; descendants are not listed. If the parent is a folder, use the value `folders/{folder_id}`. If the parent is an organization, use the value `organizations/{org_id}`. Access to this method is controlled by checking the `resourcemanager.folders.list` permission on the `parent`.","type":"string"},"style":"form","explode":false},{"name":"pageToken","in":"query","required":false,"description":"Optional. A pagination token returned from a previous call to `ListFolders` that indicates where this listing should continue from.","schema":{"description":"Optional. A pagination token returned from a previous call to `ListFolders` that indicates where this listing should continue from.","type":"string"},"style":"form","explode":false},{"name":"pageSize","in":"query","required":false,"description":"Optional. The maximum number of folders to return in the response. The server can return fewer folders than requested. If unspecified, server picks an appropriate default.","schema":{"description":"Optional. The maximum number of folders to return in the response. The server can return fewer folders than requested. If unspecified, server picks an appropriate default.","format":"int32","type":"integer"},"style":"form","explode":false},{"name":"showDeleted","in":"query","required":false,"description":"Optional. Controls whether folders in the DELETE_REQUESTED state should be returned. Defaults to false.","schema":{"description":"Optional. Controls whether folders in the DELETE_REQUESTED state should be returned. Defaults to false.","type":"boolean"},"style":"form","explode":false}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/cloudresourcemanager_v3_ListFoldersResponse"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/cloud-platform"]}],"x-google-scopes":["https://www.googleapis.com/auth/cloud-platform"]}},"/cloudresourcemanager.folders.testIamPermissions":{"post":{"operationId":"cloudresourcemanager.folders.testIamPermissions","x-executor-toolPath":"cloudresourcemanager.folders.testIamPermissions","x-executor-pathTemplate":"/v3/{+resource}:testIamPermissions","tags":["Cloud Resource Manager API"],"description":"Returns permissions that a caller has on the specified folder. The `resource`
[...]
