{"openapi":"3.1.0","info":{"title":"Apps Script API","version":"v1","description":"Manages and executes Google Apps Script projects. "},"servers":[{"url":"https://www.googleapis.com/"}],"paths":{"/v1/projects/{scriptId}/metrics":{"get":{"operationId":"script.projects.getMetrics","x-executor-toolPath":"script.projects.getMetrics","x-executor-pathTemplate":"/v1/projects/{scriptId}/metrics","tags":["Apps Script API"],"description":"Get metrics data for scripts, such as number of executions and active users.","servers":[{"url":"https://script.googleapis.com/"}],"parameters":[{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"metricsFilter.deploymentId","in":"query","required":false,"description":"Optional field indicating a specific deployment to retrieve metrics from.","schema":{"description":"Optional field indicating a specific deployment to retrieve metrics from.","type":"string"},"style":"form","explode":false},{"name":"scriptId","in":"path","required":true,"description":"Required field indicating the script to get metrics for.","schema":{"description":"Required field indicating the script to get metrics for.","type":"string"}},{"name":"metricsGranularity","in":"query","required":false,"description":"Required field indicating what granularity of metrics are returned.","schema":{"description":"Required field indicating what granularity of metrics are returned.","enum":["UNSPECIFIED_GRANULARITY","WEEKLY","DAILY"],"type":"string"},"style":"form","explode":false}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/script_v1_Metrics"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/script.metrics"]}],"x-google-scopes":["https://www.googleapis.com/auth/script.metrics"]}},"/v1/projects":{"post":{"operationId":"script.projects.create","x-executor-toolPath":"script.projects.create","x-executor-pathTemplate":"/v1/projects","tags":["Apps Script API"],"description":"Creates a new, empty script project with no script files and a base manifest file.","servers":[{"url":"https://script.googleapis.com/"}],"parameters":[{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/script_v1_CreateProjectRequest"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/script_v1_Project"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/script.projects"]}],"x-google-scopes":["https://www.googleapis.com/auth/script.projects"]}},"/v1/projects/{scriptId}":{"get":{"operationId":"script.projects.get","x-executor-toolPath":"script.projects.get","x-executor-pathTemplate":"/v1/projects/{scriptId}","tags":["Apps Script API"],"description":"Gets a script project's metadata.","servers":[{"url":"https://script.googleapis.com/"}],"parameters":[{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"scriptId","in":"path","required":true,"description":"The script project's Drive ID.","schema":{"description":"The script project's Drive ID.","type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/script_v1_Project"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/script.projects"]}],"x-google-scopes":["https://www.googleapis.com/auth/script.projects"]}},"/v1/projects/{scriptId}/content":{"put":{"operationId":"script.projects.updateContent","x-executor-toolPath":"script.projects.updateContent","x-executor-pathTemplate":"/v1/projects/{scriptId}/content","tags":["Apps Script API"],"description":"Updates the content of the specified script project. This content is stored as the HEAD version, and is used when the script is executed as a trigger, in the script editor, in add-on preview mode, or as a web app or Apps Script API in development mode. This clears all the existing files in the project.","servers":[{"url":"https://script.googleapis.com/"}],"parameters":[{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"scriptId","in":"path","required":true,"description":"The script project's Drive ID.","schema":{"description":"The script project's Drive ID.","type":"string"}}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/script_v1_Content"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/script_v1_Content"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/script.projects"]}],"x-google-scopes":["https://www.googleapis.com/auth/script.projects"]},"get":{"operationId":"script.projects.getContent","x-executor-toolPath":"script.projects.getContent","x-executor-pathTemplate":"/v1/projects/{scriptId}/content","tags":["Apps Script API"],"description":"Gets the content of the script project, including the code source and metadata for each script file.","servers":[{"url":"https://script.googleapis.com/"}],"parameters":[{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"versionNumber","in":"query","required":false,"description":"The version number of the project to retrieve. If not provided, the project's HEAD version is returned.","schema":{"description":"The version number of the project to retrieve. If not provided, the project's HEAD version is returned.","format":"int32","type":"integer"},"style":"form","explode":false},{"name":"scriptId","in":"path","required":true,"description":"The script project's Drive ID.","schema":{"description":"The script project's Drive ID.","type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/script_v1_Content"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/script.projects"]}],"x-google-scopes":["https://www.googleapis.com/auth/script.projects"]}},"/v1/projects/{scriptId}/deployments/{deploymentId}":{"put":{"operationId":"script.projects.deployments.update","x-executor-toolPath":"script.projects.deployments.update","x-executor-pathTemplate":"/v1/projects/{scriptId}/deployments/{deploymentId}","tags":["Apps Script API"],"description":"Updates a deployment of an Apps Script project.","servers":[{"url":"https://script.googleapis.com/"}],"parameters":[{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"deploymentId","in":"path","required":true,"description":"The deployment ID for this deployment.","schema":{"description":"The deployment ID for this deployment.","type":"string"}},{"name":"scriptId","in":"path","required":true,"description":"The script project's Drive ID.","schema":{"description":"The script project's Drive ID.","type":"string"}}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/script_v1_UpdateDeploymentRequest"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/script_v1_Deployment"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/script.deployments"]}],"x-google-scopes":["https://www.googleapis.com/auth/script.deployments"]},"delete":{"operationId":"script.projects.deployments.delete","x-executor-toolPath":"script.projects.deployments.delete","x-executor-pathTemplate":"/v1/projects/{scriptId}/deployments/{deploymentId}","tags":["Apps Script API"],"description":"Deletes a deployment of an Apps Script project.","servers":[{"url":"https://script.googleapis.com/"}],"parameters":[{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"deploymentId","in":"path","required":true,"description":"The deployment ID to be undeployed.","schema":{"description":"The deployment ID to be undeployed.","type":"string"}},{"name":"scriptId","in":"path","required":true,"description":"The script project's Drive ID.","schema":{"description":"The script project's Drive ID.","type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/script_v1_Empty"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/script.deployments"]}],"x-google-scopes":["https://www.googleapis.com/auth/script.deployments"]},"get":{"operationId":"script.projects.deployments.get","x-executor-toolPath":"script.projects.deployments.get","x-executor-pathTemplate":"/v1/projects/{scriptId}/deployments/{deploymentId}","tags":["Apps Script API"],"description":"Gets a deployment of an Apps Script project.","servers":[{"url":"https://script.googleapis.com/"}],"parameters":[{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"scriptId","in":"path","required":true,"description":"The script project's Drive ID.","schema":{"description":"The script project's Drive ID.","type":"string"}},{"name":"deploymentId","in":"path","required":true,"description":"The deployment ID.","schema":{"description":"The deployment ID.","type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/script_v1_Deployment"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/script.deployments"]}],"x-google-scopes":["https://www.googleapis.com/auth/script.deployments"]}},"/v1/projects/{scriptId}/deployments":{"get":{"operationId":"script.projects.deployments.list","x-executor-toolPath":"script.projects.deployments.list","x-executor-pathTemplate":"/v1/projects/{scriptId}/deployments","tags":["Apps Script API"],"description":"Lists the deployments of an Apps Script project.","servers":[{"url":"https://script.googleapis.com/"}],"parameters":[{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"pageToken","in":"query","required":false,"description":"The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response.","schema":{"description":"The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response.","type":"string"},"style":"form","explode":false},{"name":"scriptId","in":"path","required":true,"description":"The script project's Drive ID.","schema":{"description":"The script project's Drive ID.","type":"string"}},{"name":"pageSize","in":"query","required":false,"description":"The maximum number of deployments on each returned page. Defaults to 50.","schema":{"description":"The maximum number of deployments on each returned page. Defaults to 50.","format":"int32","type":"integer"},"style":"form","explode":false}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/script_v1_ListDeploymentsResponse"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/script.deployments"]}],"x-google-scopes":["https://www.googleapis.com/auth/script.deployments"]},"post":{"operationId":"script.projects.deployments.create","x-executor-toolPath":"script.projects.deployments.create","x-executor-pathTemplate":"/v1/projects/{scriptId}/deployments","tags":["Apps Script API"],"description":"Creates a deployment of an Apps Script project.","servers":[{"url":"https://script.googleapis.com/"}],"parameters":[{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"scriptId","in":"path","required":true,"description":"The script project's Drive ID.","schema":{"description":"The script project's Drive ID.","type":"string"}}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/script_v1_DeploymentConfig"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/script_v1_Deployment"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/script.deployments"]}],"x-google-scopes":["https://www.googleapis.com/auth/script.deployments"]}},"/v1/projects/{scriptId}/versions":{"post":{"operationId":"script.projects.versions.create","x-executor-toolPath":"script.projects.versions.create","x-executor-pathTemplate":"/v1/projects/{scriptId}/versions","tags":["Apps Script API"],"description":"Creates a new immutable version using the current code, with a unique version number.","servers":[{"url":"https://script.googleapis.com/"}],"parameters":[{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"scriptId","in":"path","required":true,"description":"The script project's Drive ID.","schema":{"description":"The script project's Drive ID.","type":"string"}}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/script_v1_Version"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/script_v1_Version"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/script.projects"]}],"x-google-scopes":["https://www.googleapis.com/auth/script.projects"]},"get":{"operationId":"script.projects.versions.list","x-executor-toolPath":"script.projects.versions.list","x-executor-pathTemplate":"/v1/projects/{scriptId}/versions","tags":["Apps Script API"],"description":"List the versions of a script project.","servers":[{"url":"https://script.googleapis.com/"}],"parameters":[{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"scriptId","in":"path","required":true,"description":"The script project's Drive ID.","schema":{"description":"The script project's Drive ID.","type":"string"}},{"name":"pageToken","in":"query","required":false,"description":"The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response.","schema":{"description":"The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response.","type":"string"},"style":"form","explode":false},{"name":"pageSize","in":"query","required":false,"description":"The maximum number of versions on each returned page. Defaults to 50.","schema":{"description":"The maximum number of versions on each returned page. Defaults to 50.","format":"int32","type":"integer"},"style":"form","explode":false}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/script_v1_ListVersionsResponse"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/script.projects"]}],"x-google-scopes":["https://www.googleapis.com/auth/script.projects"]}},"/v1/projects/{scriptId}/versions/{versionNumber}":{"get":{"operationId":"script.projects.versions.get","x-executor-toolPath":"script.projects.versions.get","x-executor-pathTemplate":"/v1/projects/{scriptId}/versions/{versionNumber}","tags":["Apps Script API"],"description":"Gets a version of a script project.","servers":[{"url":"https://script.googleapis.com/"}],"parameters":[{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"scriptId","in":"path","required":true,"description":"The script project's Drive ID.","schema":{"description":"The script project's Drive ID.","type":"string"}},{"name":"versionNumber","in":"path","required":true,"description":"The version number.","schema":{"description":"The version number.","format":"int32","type":"integer"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/script_v1_Version"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/script.projects"]}],"x-google-scopes":["https://www.googleapis.com/auth/script.projects"]}},"/v1/processes:listScriptProcesses":{"get":{"operationId":"script.processes.listScriptProcesses","x-executor-toolPath":"script.processes.listScriptProcesses","x-executor-pathTemplate":"/v1/processes:listScriptProcesses","tags":["Apps Script API"],"description":"List information about a script's executed processes, such as process type and current status.","servers":[{"url":"https://script.googleapis.com/"}],"parameters":[{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"scriptProcessFilter.deploymentId","in":"query","required":false,"description":"Optional field used to limit returned processes to those originating from projects with a specific deployment ID.","schema":{"description":"Optional field used to limit returned processes to those originating from projects with a specific deployment ID.","type":"string"},"style":"form","explode":false},{"name":"scriptProcessFilter.statuses","in":"query","required":false,"description":"Optional field used to limit returned processes to those having one of the specified process statuses.","schema":{"type":"array","items":{"description":"Optional field used to limit returned processes to those having one of the specified process statuses.","enum":["PROCESS_STATUS_UNSPECIFIED","RUNNING","PAUSED","COMPLETED","CANCELED","FAILED","TIMED_OUT","UNKNOWN","DELAYED","EXECUTION_DISABLED"],"type":"string"}},"style":"form","explode":true},{"name":"pageSize","in":"query","required":false,"description":"The maximum number of returned processes per page of results. Defaults to 50.","schema":{"description":"The maximum number of returned processes per page of results. Defaults to 50.","format":"int32","type":"integer"},"style":"form","explode":false},{"name":"scriptProcessFilter.types","in":"query","required":false,"description":"Optional field used to limit returned processes to those having one of the specified process types.","schema":{"type":"array","items":{"description":"Optional field used to limit returned processes to those having one of the specified process types.","enum":["PROCESS_TYPE_UNSPECIFIED","ADD_ON","EXECUTION_API","TIME_DRIVEN","TRIGGER","WEBAPP","EDITOR","SIMPLE_TRIGGER","MENU","BATCH_TASK"],"type":"string"}},"style":"form","explode":true},{"name":"pageToken","in":"query","required":false,"description":"The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response.","schema":{"description":"The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response.","type":"string"},"style":"form","explode":false},{"name":"scriptId","in":"query","required":false,"description":"The script ID of the project whose processes are listed.","schema":{"description":"The script ID of the project whose processes are listed.","type":"string"},"style":"form","explode":false},{"name":"scriptProcessFilter.endTime","in":"query","required":false,"description":"Optional field used to limit returned processes to those that completed on or before the given timestamp.","schema":{"description":"Optional field used to limit returned processes to those that completed on or before the given timestamp.","format":"google-datetime","type":"string"},"style":"form","explode":false},{"name":"scriptProcessFilter.functionName","in":"query","required":false,"description":"Optional field used to limit returned processes to those originating from a script function with the given function name.","schema":{"description":"Optional field used to limit returned processes to those originating from a script function with the given function name.","type":"string"},"style":"form","explode":false},{"name":"scriptProcessFilter.userAccessLevels","in":"query","required":false,"description":"Optional field used to limit returned processes to those having one of the specified user access levels.","schema":{"type":"array","items":{"description":"Optional field used to limit returned processes to those having one of the specified user access levels.","enum":["USER_ACCESS_LEVEL_UNSPECIFIED","NONE","READ","WRITE","OWNER"],"type":"string"}},"style":"form","explode":true},{"name":"scriptProcessFilter.startTime","in":"query","required":false,"description":"Optional field used to limit returned processes to those that were started on or after the given timestamp.","schema":{"description":"Optional field used to limit returned processes to those that were started on or after the given timestamp.","format":"google-datetime","type":"string"},"style":"form","explode":false}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/script_v1_ListScriptProcessesResponse"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/script.processes"]}],"x-google-scopes":["https://www.googleapis.com/auth/script.processes"]}},"/v1/processes":{"get":{"operationId":"script.processes.list","x-executor-toolPath":"script.processes.list","x-executor-pathTemplate":"/v1/processes","tags":["Apps Script API"],"description":"List information about processes made by or on behalf of a user, such as process type and current status.","servers":[{"url":"https://script.googleapis.com/"}],"parameters":[{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"userProcessFilter.statuses","in":"query","required":false,"description":"Optional field used to limit returned processes to those having one of the specified process statuses.","schema":{"type":"array","items":{"description":"Optional field used to limit returned processes to those having one of the specified process statuses.","enum":["PROCESS_STATUS_UNSPECIFIED","RUNNING","PAUSED","COMPLETED","CANCELED","FAILED","TIMED_OUT","UNKNOWN","DELAYED","EXECUTION_DISABLED"],"type":"string"}},"style":"form","explode":true},{"name":"pageToken","in":"query","required":false,"description":"The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response.","schema":{"description":"The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response.","type":"string"},"style":"form","explode":false},{"name":"userProcessFilter.functionName","in":"query","required":false,"description":"Optional field used to limit returned processes to those originating from a script function with the given function name.","schema":{"description":"Optional field used to limit returned processes to those originating from a script function with the given function name.","type":"string"},"style":"form","explode":false},{"name":"userProcessFilter.types","in":"query","required":false,"description":"Optional field used to limit returned processes to those having one of the specified process types.","schema":{"type":"array","items":{"description":"Optional field used to limit returned processes to those having one of the specified process types.","enum":["PROCESS_TYPE_UNSPECIFIED","ADD_ON","EXECUTION_API","TIME_DRIVEN","TRIGGER","WEBAPP","EDITOR","SIMPLE_TRIGGER","MENU","BATCH_TASK"],"type":"string"}},"style":"form","explode":true},{"name":"userProcessFilter.userAccessLevels","in":"query","required":false,"description":"Optional field used to limit returned processes to those having one of the specified user access levels.","schema":{"type":"array","items":{"description":"Optional field used to limit returned processes to those having one of the specified user access levels.","enum":["USER_ACCESS_LEVEL_UNSPECIFIED","NONE","READ","WRITE","OWNER"],"type":"string"}},"style":"form","explode":true},{"name":"userProcessFilter.projectName","in":"query","required":false,"description":"Optional field used to limit returned processes to those originating from projects with project names containing a specific string.","schema":{"description":"Optional field used to limit returned processes to those originating from projects with project names containing a specific string.","type":"string"},"style":"form","explode":false},{"name":"userProcessFilter.startTime","in":"query","required":false,"description":"Optional field used to limit returned processes to those that were started on or after the given timestamp.","schema":{"description":"Optional field used to limit returned processes to those that were started on or after the given timestamp.","format":"google-datetime","type":"string"},"style":"form","explode":false},{"name":"userProcessFilter.endTime","in":"query","required":false,"description":"Optional field used to limit returned processes to those that completed on or before the given timestamp.","schema":{"description":"Optional field used to limit returned processes to those that completed on or before the given timestamp.","format":"google-datetime","type":"string"},"style":"form","explode":false},{"name":"userProcessFilter.deploymentId","in":"query","required":false,"description":"Optional field used to limit returned processes to those originating from projects with a specific deployment ID.","schema":{"description":"Optional field used to limit returned processes to those originating from projects with a specific deployment ID.","type":"string"},"style":"form","explode":false},{"name":"pageSize","in":"query","required":false,"description":"The maximum number of returned processes per page of results. Defaults to 50.","schema":{"description":"The maximum number of returned processes per page of results. Defaults to 50.","format":"int32","type":"integer"},"style":"form","explode":false},{"name":"userProcessFilter.scriptId","in":"query","required":false,"description":"Optional field used to limit returned processes to those originating from projects with a specific script ID.","schema":{"description":"Optional field used to limit returned processes to those originating from projects with a specific script ID.","type":"string"},"style":"form","explode":false}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/script_v1_ListUserProcessesResponse"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/script.processes"]}],"x-google-scopes":["https://www.googleapis.com/auth/script.processes"]}}},"components":{"schemas":{"script_v1_Version":{"description":"A resource representing a script project version. A version is a \"snapshot\" of a script project and is similar to a read-only branched release. When creating deployments, the version to use must be specified.","type":"object","properties":{"versionNumber":{"description":"The incremental ID that is created by Apps Script when a version is created. This is system assigned number and is immutable once created.","format":"int32","type":"integer"},"createTime":{"description":"When the version was created.","format":"google-datetime","type":"string"},"scriptId":{"description":"The script project's Drive ID.","type":"string"},"description":{"description":"The description for this version.","type":"string"}}},"script_v1_Operation":{"description":"A representation of an execution of an Apps Script function started with run. The execution response does not arrive until the function finishes executing. The maximum execution runtime is listed in the [Apps Script quotas guide](/apps-script/guides/services/quotas#current_limitations). After execution has started, it can have one of four outcomes: - If the script function returns successfully, the response field contains an ExecutionResponse object with the function's return value in the object's `result` field. - If the script function (or Apps Script itself) throws an exception, the error field contains a Status object. The `Status` object's `details` field contains an array with a single ExecutionError object that provides information about the nature of the error. - If the execution has not yet completed, the done field is `false` and the neither the `response` nor `error` fields are present. - If the `run` call itself fails (for example, because of a malformed request or an authorization error), the method returns an HTTP response code in the 4XX range with a different format for the response body. Client libraries automatically convert a 4XX response into an exception class. ","type":"object","properties":{"done":{"description":"This field indicates whether the script execution has completed. A completed execution has a populated `response` field containing the ExecutionResponse from function that was executed.","type":"boolean"},"response":{"description":"If the script function returns successfully, this field contains an ExecutionResponse object with the function's return value.","type":"object","additionalProperties":{"description":"Properties of the object. Contains field @type with type URL."}},"error":{"$ref":"#/components/schemas/script_v1_Status"}}},"script_v1_ListScriptProcessesResponse":{"description":"Response with the list of Process resources.","type":"object","properties":{"nextPageToken":{"description":"Token for the next page of results. If empty, there are no more pages remaining.","type":"string"},"processes":{"description":"List of processes matching request parameters.","type":"array","items":{"$ref":"#/components/schemas/script_v1_GoogleAppsScriptTypeProcess"}}}},"script_v1_Project":{"description":"The script project resource.","type":"object","properties":{"scriptId":{"description":"The script project's Drive ID.","type":"string"},"parentId":{"description":"The parent's Drive ID that the script will be attached to. This is usually the ID of a Google Document or Google Sheet. This field is optional, and if not set, a stand-alone script will be created.","type":"string"},"title":{"description":"The title for the project.","type":"string"},"lastModifyUser":{"$ref":"#/components/schemas/script_v1_GoogleAppsScriptTypeUser"},"updateTime":{"description":"When the script was last updated.","format":"google-datetime","type":"string"},"creator":{"$ref":"#/components/schemas/script_v1_GoogleAppsScriptTypeUser"},"createTime":{"description":"When the script was created.","format":"google-datetime","type":"string"}}},"script_v1_GoogleAppsScriptTypeExecutionApiConfig":{"description":"API executable entry point configuration.","type":"object","properties":{"access":{"description":"Who has permission to run the API executable.","enum":["UNKNOWN_ACCESS","MYSELF","DOMAIN","ANYONE","ANYONE_ANONYMOUS"],"type":"string"}}},"script_v1_ExecutionResponse":{"description":"An object that provides the return value of a function executed using the Apps Script API. If the script function returns successfully, the response body's response field contains this `ExecutionResponse` object.","type":"object","properties":{"result":{"description":"The return value of the script function. The type matches the object type returned in Apps Script. Functions called using the Apps Script API cannot return Apps Script-specific objects (such as a `Document` or a `Calendar`); they can only return primitive types such as a `string`, `number`, `array`, `object`, or `boolean`."}}},"script_v1_GoogleAppsScriptTypeUser":{"description":"A simple user profile resource.","type":"object","properties":{"name":{"description":"The user's display name.","type":"string"},"photoUrl":{"description":"The user's photo.","type":"string"},"domain":{"description":"The user's domain.","type":"string"},"email":{"description":"The user's identifying email address.","type":"string"}}},"script_v1_Status":{"description":"If a `run` call succeeds but the script function (or Apps Script itself) throws an exception, the response body's error field contains this `Status` object.","type":"object","properties":{"message":{"description":"A developer-facing error message, which is in English. Any user-facing error message is localized and sent in the details field, or localized by the client.","type":"string"},"details":{"description":"An array that contains a single ExecutionError object that provides information about the nature of the error.","type":"array","items":{"type":"object","additionalProperties":{"description":"Properties of the object. Contains field @type with type URL."}}},"code":{"description":"The status code. For this API, this value either: - 10, indicating a `SCRIPT_TIMEOUT` error, - 3, indicating an `INVALID_ARGUMENT` error, or - 1, indicating a `CANCELLED` execution. ","format":"int32","type":"integer"}}},"script_v1_Metrics":{"description":"Resource containing usage stats for a given script, based on the supplied filter and mask present in the request.","type":"object","properties":{"failedExecutions":{"description":"Number of failed executions.","type":"array","items":{"$ref":"#/components/schemas/script_v1_MetricsValue"}},"activeUsers":{"description":"Number of active users.","type":"array","items":{"$ref":"#/components/schemas/script_v1_MetricsValue"}},"totalExecutions":{"description":"Number of total executions.","type":"array","items":{"$ref":"#/components/schemas/script_v1_MetricsValue"}}}},"script_v1_CreateProjectRequest":{"description":"Request to create a script project.","type":"object","properties":{"title":{"description":"The title for the project.","type":"string"},"parentId":{"description":"The Drive ID of a parent file that the created script project is bound to. This is usually the ID of a Google Doc, Google Sheet, Google Form, or Google Slides file. If not set, a standalone script project is created.","type":"string"}}},"script_v1_ExecutionRequest":{"description":"A request to run the function in a script. The script is identified by the specified `script_id`. Executing a function on a script returns results based on the implementation of the script.","type":"object","properties":{"function":{"description":"The name of the function to execute in the given script. The name does not include parentheses or parameters. It can reference a function in an included library such as `Library.libFunction1`.","type":"string"},"sessionState":{"description":"*Deprecated*. For use with Android add-ons only. An ID that represents the user's current session in the Android app for Google Docs or Sheets, included as extra data in the [Intent](https://developer.android.com/guide/components/intents-filters.html) that launches the add-on. When an Android add-on is run with a session state, it gains the privileges of a [bound](https://developers.google.com/apps-script/guides/bound) script—that is, it can access information like the user's current cursor position (in Docs) or selected cell (in Sheets). To retrieve the state, call `Intent.getStringExtra(\"com.google.android.apps.docs.addons.SessionState\")`. Optional.","type":"string"},"parameters":{"description":"The parameters to be passed to the function being executed. The object type for each parameter should match the expected type in Apps Script. Parameters cannot be Apps Script-specific object types (such as a `Document` or a `Calendar`); they can only be primitive types such as `string`, `number`, `array`, `object`, or `boolean`. Optional.","type":"array","items":{}},"devMode":{"description":"If `true` and the user is an owner of the script, the script runs at the most recently saved version rather than the version deployed for use with the Apps Script API. Optional; default is `false`.","type":"boolean"}}},"script_v1_ExecutionError":{"description":"An object that provides information about the nature of an error resulting from an attempted execution of a script function using the Apps Script API. If a run call succeeds but the script function (or Apps Script itself) throws an exception, the response body's error field contains a Status object. The `Status` object's `details` field contains an array with a single one of these `ExecutionError` objects.","type":"object","properties":{"scriptStackTraceElements":{"description":"An array of objects that provide a stack trace through the script to show where the execution failed, with the deepest call first.","type":"array","items":{"$ref":"#/components/schemas/script_v1_ScriptStackTraceElement"}},"errorMessage":{"description":"The error message thrown by Apps Script, usually localized into the user's language.","type":"string"},"errorType":{"description":"The error type, for example `TypeError` or `ReferenceError`. If the error type is unavailable, this field is not included.","type":"string"}}},"script_v1_GoogleAppsScriptTypeWebAppEntryPoint":{"description":"A web application entry point.","type":"object","properties":{"url":{"description":"The URL for the web application.","type":"string"},"entryPointConfig":{"$ref":"#/components/schemas/script_v1_GoogleAppsScriptTypeWebAppConfig"}}},"script_v1_UpdateDeploymentRequest":{"description":"Request with deployment information to update an existing deployment.","type":"object","properties":{"deploymentConfig":{"$ref":"#/components/schemas/script_v1_DeploymentConfig"}}},"script_v1_ListVersionsResponse":{"description":"Response with the list of the versions for the specified script project.","type":"object","properties":{"versions":{"description":"The list of versions.","type":"array","items":{"$ref":"#/components/schemas/script_v1_Version"}},"nextPageToken":{"description":"The token use to fetch the next page of records. if not exist in the response, that means no more versions to list.","type":"string"}}},"script_v1_GoogleAppsScriptTypeAddOnEntryPoint":{"description":"An add-on entry point.","type":"object","properties":{"postInstallTipUrl":{"description":"The add-on's required post install tip URL.","type":"string"},"title":{"description":"The add-on's required title.","type":"string"},"helpUrl":{"description":"The add-on's optional help URL.","type":"string"},"addOnType":{"description":"The add-on's required list of supported container types.","enum":["UNKNOWN_ADDON_TYPE","GMAIL","DATA_STUDIO"],"type":"string"},"description":{"description":"The add-on's optional description.","type":"string"},"reportIssueUrl":{"description":"The add-on's optional report issue URL.","type":"string"}}},"script_v1_DeploymentConfig":{"description":"Metadata the defines how a deployment is configured.","type":"object","properties":{"versionNumber":{"description":"The version number on which this deployment is based.","format":"int32","type":"integer"},"description":{"description":"The description for this deployment.","type":"string"},"scriptId":{"description":"The script project's Drive ID.","type":"string"},"manifestFileName":{"description":"The manifest file name for this deployment.","type":"string"}}},"script_v1_GoogleAppsScriptTypeWebAppConfig":{"description":"Web app entry point configuration.","type":"object","properties":{"access":{"description":"Who has permission to run the web app.","enum":["UNKNOWN_ACCESS","MYSELF","DOMAIN","ANYONE","ANYONE_ANONYMOUS"],"type":"string"},"executeAs":{"description":"Who to execute the web app as.","enum":["UNKNOWN_EXECUTE_AS","USER_ACCESSING","USER_DEPLOYING"],"type":"string"}}},"script_v1_EntryPoint":{"description":"A configuration that defines how a deployment is accessed externally.","type":"object","properties":{"webApp":{"$ref":"#/components/schemas/script_v1_GoogleAppsScriptTypeWebAppEntryPoint"},"entryPointType":{"description":"The type of the entry point.","enum":["ENTRY_POINT_TYPE_UNSPECIFIED","WEB_APP","EXECUTION_API","ADD_ON"],"type":"string"},"executionApi":{"$ref":"#/components/schemas/script_v1_GoogleAppsScriptTypeExecutionApiEntryPoint"},"addOn":{"$ref":"#/components/schemas/script_v1_GoogleAppsScriptTypeAddOnEntryPoint"}}},"script_v1_GoogleAppsScriptTypeFunction":{"description":"Represents a function in a script project.","type":"object","properties":{"name":{"description":"The function name in the script project.","type":"string"},"parameters":{"description":"The ordered list of parameter names of the function in the script project.","type":"array","items":{"type":"string"}}}},"script_v1_File":{"description":"An individual file within a script project. A file is a third-party source code created by one or more developers. It can be a server-side JS code, HTML, or a configuration file. Each script project can contain multiple files.","type":"object","properties":{"createTime":{"description":"Creation date timestamp.","format":"google-datetime","type":"string"},"lastModifyUser":{"$ref":"#/components/schemas/script_v1_GoogleAppsScriptTypeUser"},"name":{"description":"The name of the file. The file extension is not part of the file name, which can be identified from the type field.","type":"string"},"updateTime":{"description":"Last modified date timestamp.","format":"google-datetime","type":"string"},"type":{"description":"The type of the file.","enum":["ENUM_TYPE_UNSPECIFIED","SERVER_JS","HTML","JSON"],"type":"string"},"functionSet":{"$ref":"#/components/schemas/script_v1_GoogleAppsScriptTypeFunctionSet"},"source":{"description":"The file content.","type":"string"}}},"script_v1_Empty":{"description":"A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }","type":"object"},"script_v1_MetricsValue":{"description":"Metrics value that holds number of executions counted.","type":"object","properties":{"startTime":{"description":"Required field indicating the start time of the interval.","format":"google-datetime","type":"string"},"endTime":{"description":"Required field indicating the end time of the interval.","format":"google-datetime","type":"string"},"value":{"description":"Indicates the number of executions counted.","format":"uint64","type":"string"}}},"script_v1_ScriptStackTraceElement":{"description":"A stack trace through the script that shows where the execution failed.","type":"object","properties":{"function":{"description":"The name of the function that failed.","type":"string"},"lineNumber":{"description":"The line number where the script failed.","format":"int32","type":"integer"}}},"script_v1_GoogleAppsScriptTypeFunctionSet":{"description":"A set of functions. No duplicates are permitted.","type":"object","properties":{"values":{"description":"A list of functions composing the set.","type":"array","items":{"$ref":"#/components/schemas/script_v1_GoogleAppsScriptTypeFunction"}}}},"script_v1_ListDeploymentsResponse":{"description":"Response with the list of deployments for the specified Apps Script project.","type":"object","properties":{"deployments":{"description":"The list of deployments.","type":"array","items":{"$ref":"#/components/schemas/script_v1_Deployment"}},"nextPageToken":{"description":"The token that can be used in the next call to get the next page of results.","type":"string"}}},"script_v1_GoogleAppsScriptTypeExecutionApiEntryPoint":{"description":"An API executable entry point.","type":"object","properties":{"entryPointConfig":{"$ref":"#/components/schemas/script_v1_GoogleAppsScriptTypeExecutionApiConfig"}}},"script_v1_Deployment":{"description":"Representation of a single script deployment.","type":"object","properties":{"deploymentId":{"description":"The deployment ID for this deployment.","type":"string"},"deploymentConfig":{"$ref":"#/components/schemas/script_v1_DeploymentConfig"},"updateTime":{"description":"Last modified date time stamp.","format":"google-datetime","type":"string"},"entryPoints":{"description":"The deployment's entry points.","type":"array","items":{"$ref":"#/components/schemas/script_v1_EntryPoint"}}}},"script_v1_Content":{"description":"The Content resource.","type":"object","properties":{"files":{"description":"The list of script project files. One of the files is a script manifest; it must be named \"appsscript\", must have type of JSON, and include the manifest configurations for the project.","type":"array","items":{"$ref":"#/components/schemas/script_v1_File"}},"scriptId":{"description":"The script project's Drive ID.","type":"string"}}},"script_v1_GoogleAppsScriptTypeProcess":{"description":"Representation of a single script process execution that was started from the script editor, a trigger, an application, or using the Apps Script API. This is distinct from the `Operation` resource, which only represents executions started via the Apps Script API.","type":"object","properties":{"processType":{"description":"The executions type.","enum":["PROCESS_TYPE_UNSPECIFIED","ADD_ON","EXECUTION_API","TIME_DRIVEN","TRIGGER","WEBAPP","EDITOR","SIMPLE_TRIGGER","MENU","BATCH_TASK"],"type":"string"},"projectName":{"description":"Name of the script being executed.","type":"string"},"processStatus":{"description":"The executions status.","enum":["PROCESS_STATUS_UNSPECIFIED","RUNNING","PAUSED","COMPLETED","CANCELED","FAILED","TIMED_OUT","UNKNOWN","DELAYED","EXECUTION_DISABLED"],"type":"string"},"startTime":{"description":"Time the execution started.","format":"google-datetime","type":"string"},"duration":{"description":"Duration the execution spent executing.","format":"google-duration","type":"string"},"runtimeVersion":{"description":"Which version of maestro to use to execute the script.","enum":["RUNTIME_VERSION_UNSPECIFIED","DEPRECATED_ES5","V8"],"type":"string"},"functionName":{"description":"Name of the function the started the execution.","type":"string"},"userAccessLevel":{"description":"The executing users access level to the script.","enum":["USER_ACCESS_LEVEL_UNSPECIFIED","NONE","READ","WRITE","OWNER"],"type":"string"}}},"script_v1_ListUserProcessesResponse":{"description":"Response with the list of Process resources.","type":"object","properties":{"processes":{"description":"List of processes matching request parameters.","type":"array","items":{"$ref":"#/components/schemas/script_v1_GoogleAppsScriptTypeProcess"}},"nextPageToken":{"description":"Token for the next page of results. If empty, there are no more pages remaining.","type":"string"}}}},"securitySchemes":{"googleOAuth2":{"type":"oauth2","flows":{"authorizationCode":{"authorizationUrl":"https://accounts.google.com/o/oauth2/v2/auth","tokenUrl":"https://oauth2.googleapis.com/token","scopes":{"openid":"","email":"","profile":"","https://www.googleapis.com/auth/script.projects":"","https://www.googleapis.com/auth/script.deployments":"","https://www.googleapis.com/auth/script.processes":"","https://www.googleapis.com/auth/script.metrics":""}}}}}},"security":[{"googleOAuth2":["openid","email","profile","https://www.googleapis.com/auth/script.projects","https://www.googleapis.com/auth/script.deployments","https://www.googleapis.com/auth/script.processes","https://www.googleapis.com/auth/script.metrics"]}],"x-executor-origin":{"kind":"googleDiscoveryBundle","services":[{"discoveryUrl":"https://www.googleapis.com/discovery/v1/apis/script/v1/rest","service":"script","version":"v1"}]}}