{"openapi":"3.1.0","info":{"title":"Calendar API","version":"v3","description":"Manipulates events and other calendar data."},"servers":[{"url":"https://www.googleapis.com/"}],"paths":{"/channels/stop":{"post":{"operationId":"calendar.channels.stop","x-executor-toolPath":"calendar.channels.stop","x-executor-pathTemplate":"/channels/stop","tags":["Calendar API"],"description":"Stop watching resources through this channel","servers":[{"url":"https://www.googleapis.com/calendar/v3/"}],"parameters":[{"name":"alt","in":"query","required":false,"description":"Data format for the response.","schema":{"description":"Data format for the response.","default":"json","enum":["json"],"type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"An opaque string that represents a user for quota purposes. Must not exceed 40 characters.","schema":{"description":"An opaque string that represents a user for quota purposes. Must not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"userIp","in":"query","required":false,"description":"Deprecated. Please use quotaUser instead.","schema":{"description":"Deprecated. Please use quotaUser instead.","type":"string"},"style":"form","explode":false}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/calendar_v3_Channel"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/calendar"]}],"x-google-scopes":["https://www.googleapis.com/auth/calendar"]}},"/colors":{"get":{"operationId":"calendar.colors.get","x-executor-toolPath":"calendar.colors.get","x-executor-pathTemplate":"/colors","tags":["Calendar API"],"description":"Returns the color definitions for calendars and events.","servers":[{"url":"https://www.googleapis.com/calendar/v3/"}],"parameters":[{"name":"alt","in":"query","required":false,"description":"Data format for the response.","schema":{"description":"Data format for the response.","default":"json","enum":["json"],"type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"An opaque string that represents a user for quota purposes. Must not exceed 40 characters.","schema":{"description":"An opaque string that represents a user for quota purposes. Must not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"userIp","in":"query","required":false,"description":"Deprecated. Please use quotaUser instead.","schema":{"description":"Deprecated. Please use quotaUser instead.","type":"string"},"style":"form","explode":false}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/calendar_v3_Colors"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/calendar"]}],"x-google-scopes":["https://www.googleapis.com/auth/calendar"]}},"/calendars/{calendarId}/acl/{ruleId}":{"patch":{"operationId":"calendar.acl.patch","x-executor-toolPath":"calendar.acl.patch","x-executor-pathTemplate":"/calendars/{calendarId}/acl/{ruleId}","tags":["Calendar API"],"description":"Updates an access control rule. This method supports patch semantics.","servers":[{"url":"https://www.googleapis.com/calendar/v3/"}],"parameters":[{"name":"alt","in":"query","required":false,"description":"Data format for the response.","schema":{"description":"Data format for the response.","default":"json","enum":["json"],"type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"An opaque string that represents a user for quota purposes. Must not exceed 40 characters.","schema":{"description":"An opaque string that represents a user for quota purposes. Must not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"userIp","in":"query","required":false,"description":"Deprecated. Please use quotaUser instead.","schema":{"description":"Deprecated. Please use quotaUser instead.","type":"string"},"style":"form","explode":false},{"name":"ruleId","in":"path","required":true,"description":"ACL rule identifier.","schema":{"description":"ACL rule identifier.","type":"string"}},{"name":"calendarId","in":"path","required":true,"description":"Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.","schema":{"description":"Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.","type":"string"}},{"name":"sendNotifications","in":"query","required":false,"description":"Whether to send notifications about the calendar sharing change. Note that there are no notifications on access removal. Optional. The default is True.","schema":{"description":"Whether to send notifications about the calendar sharing change. Note that there are no notifications on access removal. Optional. The default is True.","type":"boolean"},"style":"form","explode":false}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/calendar_v3_AclRule"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/calendar_v3_AclRule"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/calendar"]}],"x-google-scopes":["https://www.googleapis.com/auth/calendar"]},"delete":{"operationId":"calendar.acl.delete","x-executor-toolPath":"calendar.acl.delete","x-executor-pathTemplate":"/calendars/{calendarId}/acl/{ruleId}","tags":["Calendar API"],"description":"Deletes an access control rule.","servers":[{"url":"https://www.googleapis.com/calendar/v3/"}],"parameters":[{"name":"alt","in":"query","required":false,"description":"Data format for the response.","schema":{"description":"Data format for the response.","default":"json","enum":["json"],"type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"An opaque string that represents a user for quota purposes. Must not exceed 40 characters.","schema":{"description":"An opaque string that represents a user for quota purposes. Must not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"userIp","in":"query","required":false,"description":"Deprecated. Please use quotaUser instead.","schema":{"description":"Deprecated. Please use quotaUser instead.","type":"string"},"style":"form","explode":false},{"name":"calendarId","in":"path","required":true,"description":"Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.","schema":{"description":"Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.","type":"string"}},{"name":"ruleId","in":"path","required":true,"description":"ACL rule identifier.","schema":{"description":"ACL rule identifier.","type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/calendar"]}],"x-google-scopes":["https://www.googleapis.com/auth/calendar"]},"put":{"operationId":"calendar.acl.update","x-executor-toolPath":"calendar.acl.update","x-executor-pathTemplate":"/calendars/{calendarId}/acl/{ruleId}","tags":["Calendar API"],"description":"Updates an access control rule.","servers":[{"url":"https://www.googleapis.com/calendar/v3/"}],"parameters":[{"name":"alt","in":"query","required":false,"description":"Data format for the response.","schema":{"description":"Data format for the response.","default":"json","enum":["json"],"type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"An opaque string that represents a user for quota purposes. Must not exceed 40 characters.","schema":{"description":"An opaque string that represents a user for quota purposes. Must not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"userIp","in":"query","required":false,"description":"Deprecated. Please use quotaUser instead.","schema":{"description":"Deprecated. Please use quotaUser instead.","type":"string"},"style":"form","explode":false},{"name":"sendNotifications","in":"query","required":false,"description":"Whether to send notifications about the calendar sharing change. Note that there are no notifications on access removal. Optional. The default is True.","schema":{"description":"Whether to send notifications about the calendar sharing change. Note that there are no notifications on access removal. Optional. The default is True.","type":"boolean"},"style":"form","explode":false},{"name":"calendarId","in":"path","required":true,"description":"Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.","schema":{"description":"Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.","type":"string"}},{"name":"ruleId","in":"path","required":true,"description":"ACL rule identifier.","schema":{"description":"ACL rule identifier.","type":"string"}}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/calendar_v3_AclRule"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/calendar_v3_AclRule"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/calendar"]}],"x-google-scopes":["https://www.googleapis.com/auth/calendar"]},"get":{"operationId":"calendar.acl.get","x-executor-toolPath":"calendar.acl.get","x-executor-pathTemplate":"/calendars/{calendarId}/acl/{ruleId}","tags":["Calendar API"],"description":"Returns an access control rule.","servers":[{"url":"https://www.googleapis.com/calendar/v3/"}],"parameters":[{"name":"alt","in":"query","required":false,"description":"Data format for the response.","schema":{"description":"Data format for the response.","default":"json","enum":["json"],"type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"An opaque string that represents a user for quota purposes. Must not exceed 40 characters.","schema":{"description":"An opaque string that represents a user for quota purposes. Must not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"userIp","in":"query","required":false,"description":"Deprecated. Please use quotaUser instead.","schema":{"description":"Deprecated. Please use quotaUser instead.","type":"string"},"style":"form","explode":false},{"name":"calendarId","in":"path","required":true,"description":"Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.","schema":{"description":"Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.","type":"string"}},{"name":"ruleId","in":"path","required":true,"description":"ACL rule identifier.","schema":{"description":"ACL rule identifier.","type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/calendar_v3_AclRule"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/calendar"]}],"x-google-scopes":["https://www.googleapis.com/auth/calendar"]}},"/calendars/{calendarId}/acl":{"post":{"operationId":"calendar.acl.insert","x-executor-toolPath":"calendar.acl.insert","x-executor-pathTemplate":"/calendars/{calendarId}/acl","tags":["Calendar API"],"description":"Creates an access control rule.","servers":[{"url":"https://www.googleapis.com/calendar/v3/"}],"parameters":[{"name":"alt","in":"query","required":false,"description":"Data format for the response.","schema":{"description":"Data format for the response.","default":"json","enum":["json"],"type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"An opaque string that represents a user for quota purposes. Must not exceed 40 characters.","schema":{"description":"An opaque string that represents a user for quota purposes. Must not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"userIp","in":"query","required":false,"description":"Deprecated. Please use quotaUser instead.","schema":{"description":"Deprecated. Please use quotaUser instead.","type":"string"},"style":"form","explode":false},{"name":"calendarId","in":"path","required":true,"description":"Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.","schema":{"description":"Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.","type":"string"}},{"name":"sendNotifications","in":"query","required":false,"description":"Whether to send notifications about the calendar sharing change. Optional. The default is True.","schema":{"description":"Whether to send notifications about the calendar sharing change. Optional. The default is True.","type":"boolean"},"style":"form","explode":false}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/calendar_v3_AclRule"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/calendar_v3_AclRule"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/calendar"]}],"x-google-scopes":["https://www.googleapis.com/auth/calendar"]},"get":{"operationId":"calendar.acl.list","x-executor-toolPath":"calendar.acl.list","x-executor-pathTemplate":"/calendars/{calendarId}/acl","tags":["Calendar API"],"description":"Returns the rules in the access control list for the calendar.","servers":[{"url":"https://www.googleapis.com/calendar/v3/"}],"parameters":[{"name":"alt","in":"query","required":false,"description":"Data format for the response.","schema":{"description":"Data format for the response.","default":"json","enum":["json"],"type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"An opaque string that represents a user for quota purposes. Must not exceed 40 characters.","schema":{"description":"An opaque string that represents a user for quota purposes. Must not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"userIp","in":"query","required":false,"description":"Deprecated. Please use quotaUser instead.","schema":{"description":"Deprecated. Please use quotaUser instead.","type":"string"},"style":"form","explode":false},{"name":"pageToken","in":"query","required":false,"description":"Token specifying which result page to return. Optional.","schema":{"description":"Token specifying which result page to return. Optional.","type":"string"},"style":"form","explode":false},{"name":"maxResults","in":"query","required":false,"description":"Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.","schema":{"description":"Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.","format":"int32","type":"integer"},"style":"form","explode":false},{"name":"showDeleted","in":"query","required":false,"description":"Whether to include deleted ACLs in the result. Deleted ACLs are represented by role equal to \"none\". Deleted ACLs will always be included if syncToken is provided. Optional. The default is False.","schema":{"description":"Whether to include deleted ACLs in the result. Deleted ACLs are represented by role equal to \"none\". Deleted ACLs will always be included if syncToken is provided. Optional. The default is False.","type":"boolean"},"style":"form","explode":false},{"name":"calendarId","in":"path","required":true,"description":"Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.","schema":{"description":"Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.","type":"string"}},{"name":"syncToken","in":"query","required":false,"description":"Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. All entries deleted since the previous list request will always be in the result set and it is not allowed to set showDeleted to False.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.","schema":{"description":"Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. All entries deleted since the previous list request will always be in the result set and it is not allowed to set showDeleted to False.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.","type":"string"},"style":"form","explode":false}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/calendar_v3_Acl"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/calendar"]}],"x-google-scopes":["https://www.googleapis.com/auth/calendar"]}},"/calendars/{calendarId}/acl/watch":{"post":{"operationId":"calendar.acl.watch","x-executor-toolPath":"calendar.acl.watch","x-executor-pathTemplate":"/calendars/{calendarId}/acl/watch","tags":["Calendar API"],"description":"Watch for changes to ACL resources.","servers":[{"url":"https://www.googleapis.com/calendar/v3/"}],"parameters":[{"name":"alt","in":"query","required":false,"description":"Data format for the response.","schema":{"description":"Data format for the response.","default":"json","enum":["json"],"type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"An opaque string that represents a user for quota purposes. Must not exceed 40 characters.","schema":{"description":"An opaque string that represents a user for quota purposes. Must not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"userIp","in":"query","required":false,"description":"Deprecated. Please use quotaUser instead.","schema":{"description":"Deprecated. Please use quotaUser instead.","type":"string"},"style":"form","explode":false},{"name":"showDeleted","in":"query","required":false,"description":"Whether to include deleted ACLs in the result. Deleted ACLs are represented by role equal to \"none\". Deleted ACLs will always be included if syncToken is provided. Optional. The default is False.","schema":{"description":"Whether to include deleted ACLs in the result. Deleted ACLs are represented by role equal to \"none\". Deleted ACLs will always be included if syncToken is provided. Optional. The default is False.","type":"boolean"},"style":"form","explode":false},{"name":"syncToken","in":"query","required":false,"description":"Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. All entries deleted since the previous list request will always be in the result set and it is not allowed to set showDeleted to False.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.","schema":{"description":"Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. All entries deleted since the previous list request will always be in the result set and it is not allowed to set showDeleted to False.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.","type":"string"},"style":"form","explode":false},{"name":"maxResults","in":"query","required":false,"description":"Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.","schema":{"description":"Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.","format":"int32","type":"integer"},"style":"form","explode":false},{"name":"calendarId","in":"path","required":true,"description":"Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.","schema":{"description":"Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.","type":"string"}},{"name":"pageToken","in":"query","required":false,"description":"Token specifying which result page to return. Optional.","schema":{"description":"Token specifying which result page to return. Optional.","type":"string"},"style":"form","explode":false}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/calendar_v3_Channel"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/calendar_v3_Channel"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/calendar"]}],"x-google-scopes":["https://www.googleapis.com/auth/calendar"]}},"/calendars/{calendarId}/clear":{"post":{"operationId":"calendar.calendars.clear","x-executor-toolPath":"calendar.calendars.clear","x-executor-pathTemplate":"/calendars/{calendarId}/clear","tags":["Calendar API"],"description":"Clears a primary calendar. This operation deletes all events associated with the primary calendar of an account.","servers":[{"url":"https://www.googleapis.com/calendar/v3/"}],"parameters":[{"name":"alt","in":"query","required":false,"description":"Data format for the response.","schema":{"description":"Data format for the response.","default":"json","enum":["json"],"type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"An opaque string that represents a user for quota purposes. Must not exceed 40 characters.","schema":{"description":"An opaque string that represents a user for quota purposes. Must not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"userIp","in":"query","required":false,"description":"Deprecated. Please use quotaUser instead.","schema":{"description":"Deprecated. Please use quotaUser instead.","type":"string"},"style":"form","explode":false},{"name":"calendarId","in":"path","required":true,"description":"Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.","schema":{"description":"Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.","type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/calendar"]}],"x-google-scopes":["https://www.googleapis.com/auth/calendar"]}},"/calendars/{calendarId}":{"put":{"operationId":"calendar.calendars.update","x-executor-toolPath":"calendar.calendars.update","x-executor-pathTemplate":"/calendars/{calendarId}","tags":["Calendar API"],"description":"Updates metadata for a calendar.","servers":[{"url":"https://www.googleapis.com/calendar/v3/"}],"parameters":[{"name":"alt","in":"query","required":false,"description":"Data format for the response.","schema":{"description":"Data format for the response.","default":"json","enum":["json"],"type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"An opaque string that represents a user for quota purposes. Must not exceed 40 characters.","schema":{"description":"An opaque string that represents a user for quota purposes. Must not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"userIp","in":"query","required":false,"description":"Deprecated. Please use quotaUser instead.","schema":{"description":"Deprecated. Please use quotaUser instead.","type":"string"},"style":"form","explode":false},{"name":"calendarId","in":"path","required":true,"description":"Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.","schema":{"description":"Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.","type":"string"}}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/calendar_v3_Calendar"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/calendar_v3_Calendar"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/calendar"]}],"x-google-scopes":["https://www.googleapis.com/auth/calendar"]},"patch":{"operationId":"calendar.calendars.patch","x-executor-toolPath":"calendar.calendars.patch","x-executor-pathTemplate":"/calendars/{calendarId}","tags":["Calendar API"],"description":"Updates metadata for a calendar. This method supports patch semantics.","servers":[{"url":"https://www.googleapis.com/calendar/v3/"}],"parameters":[{"name":"alt","in":"query","required":false,"description":"Data format for the response.","schema":{"description":"Data format for the response.","default":"json","enum":["json"],"type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"An opaque string that represents a user for quota purposes. Must not exceed 40 characters.","schema":{"description":"An opaque string that represents a user for quota purposes. Must not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"userIp","in":"query","required":false,"description":"Deprecated. Please use quotaUser instead.","schema":{"description":"Deprecated. Please use quotaUser instead.","type":"string"},"style":"form","explode":false},{"name":"calendarId","in":"path","required":true,"description":"Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.","schema":{"description":"Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.","type":"string"}}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/calendar_v3_Calendar"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/calendar_v3_Calendar"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/calendar"]}],"x-google-scopes":["https://www.googleapis.com/auth/calendar"]},"delete":{"operationId":"calendar.calendars.delete","x-executor-toolPath":"calendar.calendars.delete","x-executor-pathTemplate":"/calendars/{calendarId}","tags":["Calendar API"],"description":"Deletes a secondary calendar. Use calendars.clear for clearing all events on primary calendars.","servers":[{"url":"https://www.googleapis.com/calendar/v3/"}],"parameters":[{"name":"alt","in":"query","required":false,"description":"Data format for the response.","schema":{"description":"Data format for the response.","default":"json","enum":["json"],"type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"An opaque string that represents a user for quota purposes. Must not exceed 40 characters.","schema":{"description":"An opaque string that represents a user for quota purposes. Must not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"userIp","in":"query","required":false,"description":"Deprecated. Please use quotaUser instead.","schema":{"description":"Deprecated. Please use quotaUser instead.","type":"string"},"style":"form","explode":false},{"name":"calendarId","in":"path","required":true,"description":"Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.","schema":{"description":"Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.","type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/calendar"]}],"x-google-scopes":["https://www.googleapis.com/auth/calendar"]},"get":{"operationId":"calendar.calendars.get","x-executor-toolPath":"calendar.calendars.get","x-executor-pathTemplate":"/calendars/{calendarId}","tags":["Calendar API"],"description":"Returns metadata for a calendar.","servers":[{"url":"https://www.googleapis.com/calendar/v3/"}],"parameters":[{"name":"alt","in":"query","required":false,"description":"Data format for the response.","schema":{"description":"Data format for the response.","default":"json","enum":["json"],"type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"An opaque string that represents a user for quota purposes. Must not exceed 40 characters.","schema":{"description":"An opaque string that represents a user for quota purposes. Must not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"userIp","in":"query","required":false,"description":"Deprecated. Please use quotaUser instead.","schema":{"description":"Deprecated. Please use quotaUser instead.","type":"string"},"style":"form","explode":false},{"name":"calendarId","in":"path","required":true,"description":"Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.","schema":{"description":"Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.","type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/calendar_v3_Calendar"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/calendar"]}],"x-google-scopes":["https://www.googleapis.com/auth/calendar"]}},"/calendars":{"post":{"operationId":"calendar.calendars.insert","x-executor-toolPath":"calendar.calendars.insert","x-executor-pathTemplate":"/calendars","tags":["Calendar API"],"description":"Creates a secondary calendar.\nThe authenticated user for the request is made the data owner of the new calendar.\n\nNote: We recommend to authenticate as the intended data owner of the calendar. You can use domain-wide delegation of authority to allow applications to act on behalf of a specific user. Don't use a service account for authentication. If you use a service account for authentication, the service account is the data owner, which can lead to unexpected behavior. For example, if a service account is the data owner, data ownership cannot be transferred.","servers":[{"url":"https://www.googleapis.com/calendar/v3/"}],"parameters":[{"name":"alt","in":"query","required":false,"description":"Data format for the response.","schema":{"description":"Data format for the response.","default":"json","enum":["json"],"type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"An opaque string that represents a user for quota purposes. Must not exceed 40 characters.","schema":{"description":"An opaque string that represents a user for quota purposes. Must not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"userIp","in":"query","required":false,"description":"Deprecated. Please use quotaUser instead.","schema":{"description":"Deprecated. Please use quotaUser instead.","type":"string"},"style":"form","explode":false}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/calendar_v3_Calendar"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/calendar_v3_Calendar"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/calendar"]}],"x-google-scopes":["https://www.googleapis.com/auth/calendar"]}},"/users/me/settings/{setting}":{"get":{"operationId":"calendar.settings.get","x-executor-toolPath":"calendar.settings.get","x-executor-pathTemplate":"/users/me/settings/{setting}","tags":["Calendar API"],"description":"Returns a single user setting.","servers":[{"url":"https://www.googleapis.com/calendar/v3/"}],"parameters":[{"name":"alt","in":"query","required":false,"description":"Data format for the response.","schema":{"description":"Data format for the response.","default":"json","enum":["json"],"type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"An opaque string that represents a user for quota purposes. Must not exceed 40 characters.","schema":{"description":"An opaque string that represents a user for quota purposes. Must not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"userIp","in":"query","required":false,"description":"Deprecated. Please use quotaUser instead.","schema":{"description":"Deprecated. Please use quotaUser instead.","type":"string"},"style":"form","explode":false},{"name":"setting","in":"path","required":true,"description":"The id of the user setting.","schema":{"description":"The id of the user setting.","type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/calendar_v3_Setting"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/calendar"]}],"x-google-scopes":["https://www.googleapis.com/auth/calendar"]}},"/users/me/settings/watch":{"post":{"operationId":"calendar.settings.watch","x-executor-toolPath":"calendar.settings.watch","x-executor-pathTemplate":"/users/me/settings/watch","tags":["Calendar API"],"description":"Watch for changes to Settings resources.","servers":[{"url":"https://www.googleapis.com/calendar/v3/"}],"parameters":[{"name":"alt","in":"query","required":false,"description":"Data format for the response.","schema":{"description":"Data format for the response.","default":"json","enum":["json"],"type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"An opaque string that represents a user for quota purposes. Must not exceed 40 characters.","schema":{"description":"An opaque string that represents a user for quota purposes. Must not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"userIp","in":"query","required":false,"description":"Deprecated. Please use quotaUser instead.","schema":{"description":"Deprecated. Please use quotaUser instead.","type":"string"},"style":"form","explode":false},{"name":"syncToken","in":"query","required":false,"description":"Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.","schema":{"description":"Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.","type":"string"},"style":"form","explode":false},{"name":"maxResults","in":"query","required":false,"description":"Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.","schema":{"description":"Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.","format":"int32","type":"integer"},"style":"form","explode":false},{"name":"pageToken","in":"query","required":false,"description":"Token specifying which result page to return. Optional.","schema":{"description":"Token specifying which result page to return. Optional.","type":"string"},"style":"form","explode":false}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/calendar_v3_Channel"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/calendar_v3_Channel"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/calendar"]}],"x-google-scopes":["https://www.googleapis.com/auth/calendar"]}},"/users/me/settings":{"get":{"operationId":"calendar.settings.list","x-executor-toolPath":"calendar.settings.list","x-executor-pathTemplate":"/users/me/settings","tags":["Calendar API"],"description":"Returns all user settings for the authenticated user.","servers":[{"url":"https://www.googleapis.com/calendar/v3/"}],"parameters":[{"name":"alt","in":"query","required":false,"description":"Data format for the response.","schema":{"description":"Data format for the response.","default":"json","enum":["json"],"type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"An opaque string that represents a user for quota purposes. Must not exceed 40 characters.","schema":{"description":"An opaque string that represents a user for quota purposes. Must not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"userIp","in":"query","required":false,"description":"Deprecated. Please use quotaUser instead.","schema":{"description":"Deprecated. Please use quotaUser instead.","type":"string"},"style":"form","explode":false},{"name":"maxResults","in":"query","required":false,"description":"Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.","schema":{"description":"Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.","format":"int32","type":"integer"},"style":"form","explode":false},{"name":"pageToken","in":"query","required":false,"description":"Token specifying which result page to return. Optional.","schema":{"description":"Token specifying which result page to return. Optional.","type":"string"},"style":"form","explode":false},{"name":"syncToken","in":"query","required":false,"description":"Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.","schema":{"description":"Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.","type":"string"},"style":"form","explode":false}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/calendar_v3_Settings"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/calendar"]}],"x-google-scopes":["https://www.googleapis.com/auth/calendar"]}},"/freeBusy":{"post":{"operationId":"calendar.freebusy.query","x-executor-toolPath":"calendar.freebusy.query","x-executor-pathTemplate":"/freeBusy","tags":["Calendar API"],"description":"Returns free/busy information for a set of calendars.","servers":[{"url":"https://www.googleapis.com/calendar/v3/"}],"parameters":[{"name":"alt","in":"query","required":false,"description":"Data format for the response.","schema":{"description":"Data format for the response.","default":"json","enum":["json"],"type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"An opaque string that represents a user for quota purposes. Must not exceed 40 characters.","schema":{"description":"An opaque string that represents a user for quota purposes. Must not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"userIp","in":"query","required":false,"description":"Deprecated. Please use quotaUser instead.","schema":{"description":"Deprecated. Please use quotaUser instead.","type":"string"},"style":"form","explode":false}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/calendar_v3_FreeBusyRequest"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/calendar_v3_FreeBusyResponse"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/calendar"]}],"x-google-scopes":["https://www.googleapis.com/auth/calendar"]}},"/users/me/calendarList/{calendarId}":{"delete":{"operationId":"calendar.calendarList.delete","x-executor-toolPath":"calendar.calendarList.delete","x-executor-pathTemplate":"/users/me/calendarList/{calendarId}","tags":["Calendar API"],"description":"Removes a calendar from the user's calendar list.","servers":[{"url":"https://www.googleapis.com/calendar/v3/"}],"parameters":[{"name":"alt","in":"query","required":false,"description":"Data format for the response.","schema":{"description":"Data format for the response.","default":"json","enum":["json"],"type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"An opaque string that represents a user for quota purposes. Must not exceed 40 characters.","schema":{"description":"An opaque string that represents a user for quota purposes. Must not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"userIp","in":"query","required":false,"description":"Deprecated. Please use quotaUser instead.","schema":{"description":"Deprecated. Please use quotaUser instead.","type":"string"},"style":"form","explode":false},{"name":"calendarId","in":"path","required":true,"description":"Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.","schema":{"description":"Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.","type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/calendar"]}],"x-google-scopes":["https://www.googleapis.com/auth/calendar"]},"get":{"operationId":"calendar.calendarList.get","x-executor-toolPath":"calendar.calendarList.get","x-executor-pathTemplate":"/users/me/calendarList/{calendarId}","tags":["Calendar API"],"description":"Returns a calendar from the user's calendar list.","servers":[{"url":"https://www.googleapis.com/calendar/v3/"}],"parameters":[{"name":"alt","in":"query","required":false,"description":"Data format for the response.","schema":{"description":"Data format for the response.","default":"json","enum":["json"],"type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"An opaque string that represents a user for quota purposes. Must not exceed 40 characters.","schema":{"description":"An opaque string that represents a user for quota purposes. Must not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"userIp","in":"query","required":false,"description":"Deprecated. Please use quotaUser instead.","schema":{"description":"Deprecated. Please use quotaUser instead.","type":"string"},"style":"form","explode":false},{"name":"calendarId","in":"path","required":true,"description":"Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.","schema":{"description":"Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.","type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/calendar_v3_CalendarListEntry"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/calendar"]}],"x-google-scopes":["https://www.googleapis.com/auth/calendar"]},"patch":{"operationId":"calendar.calendarList.patch","x-executor-toolPath":"calendar.calendarList.patch","x-executor-pathTemplate":"/users/me/calendarList/{calendarId}","tags":["Calendar API"],"description":"Updates an existing calendar on the user's calendar list. This method supports patch semantics.","servers":[{"url":"https://www.googleapis.com/calendar/v3/"}],"parameters":[{"name":"alt","in":"query","required":false,"description":"Data format for the response.","schema":{"description":"Data format for the response.","default":"json","enum":["json"],"type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"An opaque string that represents a user for quota purposes. Must not exceed 40 characters.","schema":{"description":"An opaque string that represents a user for quota purposes. Must not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"userIp","in":"query","required":false,"description":"Deprecated. Please use quotaUser instead.","schema":{"description":"Deprecated. Please use quotaUser instead.","type":"string"},"style":"form","explode":false},{"name":"colorRgbFormat","in":"query","required":false,"description":"Whether to use the foregroundColor and backgroundColor fields to write the calendar colors (RGB). If this feature is used, the index-based colorId field will be set to the best matching option automatically. Optional. The default is False.","schema":{"description":"Whether to use the foregroundColor and backgroundColor fields to write the calendar colors (RGB). If this feature is used, the index-based colorId field will be set to the best matching option automatically. Optional. The default is False.","type":"boolean"},"style":"form","explode":false},{"name":"calendarId","in":"path","required":true,"description":"Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.","schema":{"description":"Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.","type":"string"}}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/calendar_v3_CalendarListEntry"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/calendar_v3_CalendarListEntry"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/calendar"]}],"x-google-scopes":["https://www.googleapis.com/auth/calendar"]},"put":{"operationId":"calendar.calendarList.update","x-executor-toolPath":"calendar.calendarList.update","x-executor-pathTemplate":"/users/me/calendarList/{calendarId}","tags":["Calendar API"],"description":"Updates an existing calendar on the user's calendar list.","servers":[{"url":"https://www.googleapis.com/calendar/v3/"}],"parameters":[{"name":"alt","in":"query","required":false,"description":"Data format for the response.","schema":{"description":"Data format for the response.","default":"json","enum":["json"],"type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"An opaque string that represents a user for quota purposes. Must not exceed 40 characters.","schema":{"description":"An opaque string that represents a user for quota purposes. Must not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"userIp","in":"query","required":false,"description":"Deprecated. Please use quotaUser instead.","schema":{"description":"Deprecated. Please use quotaUser instead.","type":"string"},"style":"form","explode":false},{"name":"calendarId","in":"path","required":true,"description":"Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.","schema":{"description":"Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.","type":"string"}},{"name":"colorRgbFormat","in":"query","required":false,"description":"Whether to use the foregroundColor and backgroundColor fields to write the calendar colors (RGB). If this feature is used, the index-based colorId field will be set to the best matching option automatically. Optional. The default is False.","schema":{"description":"Whether to use the foregroundColor and backgroundColor fields to write the calendar colors (RGB). If this feature is used, the index-based colorId field will be set to the best matching option automatically. Optional. The default is False.","type":"boolean"},"style":"form","explode":false}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/calendar_v3_CalendarListEntry"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/calendar_v3_CalendarListEntry"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/calendar"]}],"x-google-scopes":["https://www.googleapis.com/auth/calendar"]}},"/users/me/calendarList":{"post":{"operationId":"calendar.calendarList.insert","x-executor-toolPath":"calendar.calendarList.insert","x-executor-pathTemplate":"/users/me/calendarList","tags":["Calendar API"],"description":"Inserts an existing calendar into the user's calendar list.","servers":[{"url":"https://www.googleapis.com/calendar/v3/"}],"parameters":[{"name":"alt","in":"query","required":false,"description":"Data format for the response.","schema":{"description":"Data format for the response.","default":"json","enum":["json"],"type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"An opaque string that represents a user for quota purposes. Must not exceed 40 characters.","schema":{"description":"An opaque string that represents a user for quota purposes. Must not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"userIp","in":"query","required":false,"description":"Deprecated. Please use quotaUser instead.","schema":{"description":"Deprecated. Please use quotaUser instead.","type":"string"},"style":"form","explode":false},{"name":"colorRgbFormat","in":"query","required":false,"description":"Whether to use the foregroundColor and backgroundColor fields to write the calendar colors (RGB). If this feature is used, the index-based colorId field will be set to the best matching option automatically. Optional. The default is False.","schema":{"description":"Whether to use the foregroundColor and backgroundColor fields to write the calendar colors (RGB). If this feature is used, the index-based colorId field will be set to the best matching option automatically. Optional. The default is False.","type":"boolean"},"style":"form","explode":false}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/calendar_v3_CalendarListEntry"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/calendar_v3_CalendarListEntry"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/calendar"]}],"x-google-scopes":["https://www.googleapis.com/auth/calendar"]},"get":{"operationId":"calendar.calendarList.list","x-executor-toolPath":"calendar.calendarList.list","x-executor-pathTemplate":"/users/me/calendarList","tags":["Calendar API"],"description":"Returns the calendars on the user's calendar list.","servers":[{"url":"https://www.googleapis.com/calendar/v3/"}],"parameters":[{"name":"alt","in":"query","required":false,"description":"Data format for the response.","schema":{"description":"Data format for the response.","default":"json","enum":["json"],"type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"An opaque string that represents a user for quota purposes. Must not exceed 40 characters.","schema":{"description":"An opaque string that represents a user for quota purposes. Must not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"userIp","in":"query","required":false,"description":"Deprecated. Please use quotaUser instead.","schema":{"description":"Deprecated. Please use quotaUser instead.","type":"string"},"style":"form","explode":false},{"name":"maxResults","in":"query","required":false,"description":"Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.","schema":{"description":"Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.","format":"int32","type":"integer"},"style":"form","explode":false},{"name":"showHidden","in":"query","required":false,"description":"Whether to show hidden entries. Optional. The default is False.","schema":{"description":"Whether to show hidden entries. Optional. The default is False.","type":"boolean"},"style":"form","explode":false},{"name":"pageToken","in":"query","required":false,"description":"Token specifying which result page to return. Optional.","schema":{"description":"Token specifying which result page to return. Optional.","type":"string"},"style":"form","explode":false},{"name":"minAccessRole","in":"query","required":false,"description":"The minimum access role for the user in the returned entries. Optional. The default is no restriction.","schema":{"description":"The minimum access role for the user in the returned entries. Optional. The default is no restriction.","enum":["freeBusyReader","owner","reader","writer","writerWithoutPrivateAccess"],"type":"string"},"style":"form","explode":false},{"name":"syncToken","in":"query","required":false,"description":"Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. If only read-only fields such as calendar properties or ACLs have changed, the entry won't be returned. All entries deleted and hidden since the previous list request will always be in the result set and it is not allowed to set showDeleted neither showHidden to False.\nTo ensure client state consistency minAccessRole and showOwnOrganizationOnly query parameters cannot be specified together with nextSyncToken.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.","schema":{"description":"Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. If only read-only fields such as calendar properties or ACLs have changed, the entry won't be returned. All entries deleted and hidden since the previous list request will always be in the result set and it is not allowed to set showDeleted neither showHidden to False.\nTo ensure client state consistency minAccessRole and showOwnOrganizationOnly query parameters cannot be specified together with nextSyncToken.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.","type":"string"},"style":"form","explode":false},{"name":"showDeleted","in":"query","required":false,"description":"Whether to include deleted calendar list entries in the result. Optional. The default is False.","schema":{"description":"Whether to include deleted calendar list entries in the result. Optional. The default is False.","type":"boolean"},"style":"form","explode":false},{"name":"showOwnOrganizationOnly","in":"query","required":false,"description":"Whether to show only entries for calendars from the organization. This parameter is only applicable to Google Workspace users. Optional. The default is False.","schema":{"description":"Whether to show only entries for calendars from the organization. This parameter is only applicable to Google Workspace users. Optional. The default is False.","type":"boolean"},"style":"form","explode":false}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/calendar_v3_CalendarList"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/calendar"]}],"x-google-scopes":["https://www.googleapis.com/auth/calendar"]}},"/users/me/calendarList/watch":{"post":{"operationId":"calendar.calendarList.watch","x-executor-toolPath":"calendar.calendarList.watch","x-executor-pathTemplate":"/users/me/calendarList/watch","tags":["Calendar API"],"description":"Watch for changes to CalendarList resources.","servers":[{"url":"https://www.googleapis.com/calendar/v3/"}],"parameters":[{"name":"alt","in":"query","required":false,"description":"Data format for the response.","schema":{"description":"Data format for the response.","default":"json","enum":["json"],"type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"An opaque string that represents a user for quota purposes. Must not exceed 40 characters.","schema":{"description":"An opaque string that represents a user for quota purposes. Must not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"userIp","in":"query","required":false,"description":"Deprecated. Please use quotaUser instead.","schema":{"description":"Deprecated. Please use quotaUser instead.","type":"string"},"style":"form","explode":false},{"name":"pageToken","in":"query","required":false,"description":"Token specifying which result page to return. Optional.","schema":{"description":"Token specifying which result page to return. Optional.","type":"string"},"style":"form","explode":false},{"name":"minAccessRole","in":"query","required":false,"description":"The minimum access role for the user in the returned entries. Optional. The default is no restriction.","schema":{"description":"The minimum access role for the user in the returned entries. Optional. The default is no restriction.","enum":["freeBusyReader","owner","reader","writer","writerWithoutPrivateAccess"],"type":"string"},"style":"form","explode":false},{"name":"maxResults","in":"query","required":false,"description":"Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.","schema":{"description":"Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.","format":"int32","type":"integer"},"style":"form","explode":false},{"name":"showHidden","in":"query","required":false,"description":"Whether to show hidden entries. Optional. The default is False.","schema":{"description":"Whether to show hidden entries. Optional. The default is False.","type":"boolean"},"style":"form","explode":false},{"name":"syncToken","in":"query","required":false,"description":"Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. If only read-only fields such as calendar properties or ACLs have changed, the entry won't be returned. All entries deleted and hidden since the previous list request will always be in the result set and it is not allowed to set showDeleted neither showHidden to False.\nTo ensure client state consistency minAccessRole and showOwnOrganizationOnly query parameters cannot be specified together with nextSyncToken.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.","schema":{"description":"Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. If only read-only fields such as calendar properties or ACLs have changed, the entry won't be returned. All entries deleted and hidden since the previous list request will always be in the result set and it is not allowed to set showDeleted neither showHidden to False.\nTo ensure client state consistency minAccessRole and showOwnOrganizationOnly query parameters cannot be specified together with nextSyncToken.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.","type":"string"},"style":"form","explode":false},{"name":"showOwnOrganizationOnly","in":"query","required":false,"description":"Whether to show only entries for calendars from the organization. This parameter is only applicable to Google Workspace users. Optional. The default is False.","schema":{"description":"Whether to show only entries for calendars from the organization. This parameter is only applicable to Google Workspace users. Optional. The default is False.","type":"boolean"},"style":"form","explode":false},{"name":"showDeleted","in":"query","required":false,"description":"Whether to include deleted calendar list entries in the result. Optional. The default is False.","schema":{"description":"Whether to include deleted calendar list entries in the result. Optional. The default is False.","type":"boolean"},"style":"form","explode":false}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/calendar_v3_Channel"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/calendar_v3_Channel"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/calendar"]}],"x-google-scopes":["https://www.googleapis.com/auth/calendar"]}},"/calendars/{calendarId}/events/{eventId}":{"put":{"operationId":"calendar.events.update","x-executor-toolPath":"calendar.events.update","x-executor-pathTemplate":"/calendars/{calendarId}/events/{eventId}","tags":["Calendar API"],"description":"Updates an event.","servers":[{"url":"https://www.googleapis.com/calendar/v3/"}],"parameters":[{"name":"alt","in":"query","required":false,"description":"Data format for the response.","schema":{"description":"Data format for the response.","default":"json","enum":["json"],"type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","requi
[...]
