{"openapi":"3.1.0","info":{"title":"Google Slides API","version":"v1","description":"Reads and writes Google Slides presentations."},"servers":[{"url":"https://slides.googleapis.com/"}],"paths":{"/v1/presentations":{"post":{"operationId":"slides.presentations.create","x-executor-toolPath":"slides.presentations.create","tags":["Google Slides API"],"description":"Creates a blank presentation using the title given in the request. If a `presentationId` is provided, it is used as the ID of the new presentation. Otherwise, a new ID is generated. Other fields in the request, including any provided content, are ignored. Returns the created presentation.","parameters":[{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":true,"type":"boolean"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/slides_v1_Presentation"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/slides_v1_Presentation"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/presentations"]}],"x-google-scopes":["https://www.googleapis.com/auth/presentations"]}},"/v1/presentations/{presentationId}":{"get":{"operationId":"slides.presentations.get","x-executor-toolPath":"slides.presentations.get","tags":["Google Slides API"],"description":"Gets the latest version of the specified presentation.","parameters":[{"name":"presentationId","in":"path","required":true,"description":"The ID of the presentation to retrieve.","schema":{"description":"The ID of the presentation to retrieve.","type":"string"},"allowReserved":true},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"commentsViewMode","in":"query","required":false,"description":"The comments view mode to apply to the presentation. This allows viewing the presentation with comments omitted or included. If one is not specified, COMMENTS_VIEW_MODE_OMITTED is used. [Developer Preview](https://developers.google.com/workspace/preview).","schema":{"description":"The comments view mode to apply to the presentation. This allows viewing the presentation with comments omitted or included. If one is not specified, COMMENTS_VIEW_MODE_OMITTED is used. [Developer Preview](https://developers.google.com/workspace/preview).","enum":["COMMENTS_VIEW_MODE_UNSPECIFIED","COMMENTS_VIEW_MODE_DEFAULT_FOR_CURRENT_ACCESS","COMMENTS_VIEW_MODE_OMITTED","COMMENTS_VIEW_MODE_INCLUDED"],"type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":true,"type":"boolean"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/slides_v1_Presentation"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/presentations"]}],"x-google-scopes":["https://www.googleapis.com/auth/presentations"]}},"/v1/presentations/{presentationId}/pages/{pageObjectId}":{"get":{"operationId":"slides.presentations.pages.get","x-executor-toolPath":"slides.presentations.pages.get","tags":["Google Slides API"],"description":"Gets the latest version of the specified page in the presentation.","parameters":[{"name":"presentationId","in":"path","required":true,"description":"The ID of the presentation to retrieve.","schema":{"description":"The ID of the presentation to retrieve.","type":"string"}},{"name":"pageObjectId","in":"path","required":true,"description":"The object ID of the page to retrieve.","schema":{"description":"The object ID of the page to retrieve.","type":"string"}},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"commentsViewMode","in":"query","required":false,"description":"The comments view mode to apply to the page. This allows viewing the page with comments omitted or included. If one is not specified, COMMENTS_VIEW_MODE_OMITTED is used. [Developer Preview](https://developers.google.com/workspace/preview).","schema":{"description":"The comments view mode to apply to the page. This allows viewing the page with comments omitted or included. If one is not specified, COMMENTS_VIEW_MODE_OMITTED is used. [Developer Preview](https://developers.google.com/workspace/preview).","enum":["COMMENTS_VIEW_MODE_UNSPECIFIED","COMMENTS_VIEW_MODE_DEFAULT_FOR_CURRENT_ACCESS","COMMENTS_VIEW_MODE_OMITTED","COMMENTS_VIEW_MODE_INCLUDED"],"type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":true,"type":"boolean"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/slides_v1_Page"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/presentations"]}],"x-google-scopes":["https://www.googleapis.com/auth/presentations"]}},"/v1/presentations/{presentationId}/pages/{pageObjectId}/thumbnail":{"get":{"operationId":"slides.presentations.pages.getThumbnail","x-executor-toolPath":"slides.presentations.pages.getThumbnail","tags":["Google Slides API"],"description":"Generates a thumbnail of the latest version of the specified page in the presentation and returns a URL to the thumbnail image. This request counts as an [expensive read request](https://developers.google.com/workspace/slides/limits) for quota purposes.","parameters":[{"name":"presentationId","in":"path","required":true,"description":"The ID of the presentation to retrieve.","schema":{"description":"The ID of the presentation to retrieve.","type":"string"}},{"name":"pageObjectId","in":"path","required":true,"description":"The object ID of the page whose thumbnail to retrieve.","schema":{"description":"The object ID of the page whose thumbnail to retrieve.","type":"string"}},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":true,"type":"boolean"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"thumbnailProperties.mimeType","in":"query","required":false,"description":"The optional mime type of the thumbnail image. If you don't specify the mime type, the mime type defaults to PNG.","schema":{"description":"The optional mime type of the thumbnail image. If you don't specify the mime type, the mime type defaults to PNG.","enum":["PNG"],"type":"string"},"style":"form","explode":false},{"name":"thumbnailProperties.thumbnailSize","in":"query","required":false,"description":"The optional thumbnail image size. If you don't specify the size, the server chooses a default size of the image.","schema":{"description":"The optional thumbnail image size. If you don't specify the size, the server chooses a default size of the image.","enum":["THUMBNAIL_SIZE_UNSPECIFIED","LARGE","MEDIUM","SMALL","WIDTH2000_PX"],"type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/slides_v1_Thumbnail"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/presentations"]}],"x-google-scopes":["https://www.googleapis.com/auth/presentations"]}},"/v1/presentations/{presentationId}:batchUpdate":{"post":{"operationId":"slides.presentations.batchUpdate","x-executor-toolPath":"slides.presentations.batchUpdate","tags":["Google Slides API"],"description":"Applies one or more updates to the presentation. Each request is validated before being applied. If any request is not valid, then the entire request will fail and nothing will be applied. Some requests have replies to give you some information about how they are applied. Other requests do not need to return information; these each return an empty reply. The order of replies matches that of the requests. For example, suppose you call batchUpdate with four updates, and only the third one returns information. The response would have two empty replies: the reply to the third request, and another empty reply, in that order. Because other users may be editing the presentation, the presentation might not exactly reflect your changes: your changes may be altered with respect to collaborator changes. If there are no collaborators, the presentation should reflect your changes. In any case, the updates in your request are guaranteed to be applied together atomically.","parameters":[{"name":"presentationId","in":"path","required":true,"description":"The presentation to apply the updates to.","schema":{"description":"The presentation to apply the updates to.","type":"string"}},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":true,"type":"boolean"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/slides_v1_BatchUpdatePresentationRequest"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/slides_v1_BatchUpdatePresentationResponse"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/presentations"]}],"x-google-scopes":["https://www.googleapis.com/auth/presentations"]}}},"components":{"schemas":{"slides_v1_AddCommentReplyRequest":{"description":"Inserts a reply Post into a CommentThread. [Developer Preview](https://developers.google.com/workspace/preview).","type":"object","properties":{"commentId":{"description":"The ID of the CommentThread to add the reply to.","type":"string"},"post":{"$ref":"#/components/schemas/slides_v1_Post"}}},"slides_v1_AddCommentReplyResponse":{"description":"The result of creating a reply. [Developer Preview](https://developers.google.com/workspace/preview).","type":"object","properties":{"post":{"$ref":"#/components/schemas/slides_v1_Post"}}},"slides_v1_AffineTransform":{"description":"AffineTransform uses a 3x3 matrix with an implied last row of [ 0 0 1 ] to transform source coordinates (x,y) into destination coordinates (x', y') according to: x' x = shear_y scale_y translate_y 1 [ 1 ] After transformation, x' = scale_x * x + shear_x * y + translate_x; y' = scale_y * y + shear_y * x + translate_y; This message is therefore composed of these six matrix elements.","type":"object","properties":{"scaleX":{"description":"The X coordinate scaling element.","format":"double","type":"number"},"scaleY":{"description":"The Y coordinate scaling element.","format":"double","type":"number"},"shearX":{"description":"The X coordinate shearing element.","format":"double","type":"number"},"shearY":{"description":"The Y coordinate shearing element.","format":"double","type":"number"},"translateX":{"description":"The X coordinate translation element.","format":"double","type":"number"},"translateY":{"description":"The Y coordinate translation element.","format":"double","type":"number"},"unit":{"description":"The units for translate elements.","enum":["UNIT_UNSPECIFIED","EMU","PT"],"type":"string"}}},"slides_v1_AutoText":{"description":"A TextElement kind that represents auto text.","type":"object","properties":{"content":{"description":"The rendered content of this auto text, if available.","type":"string"},"style":{"$ref":"#/components/schemas/slides_v1_TextStyle"},"type":{"description":"The type of this auto text.","enum":["TYPE_UNSPECIFIED","SLIDE_NUMBER"],"type":"string"}}},"slides_v1_Autofit":{"description":"The autofit properties of a Shape. This property is only set for shapes that allow text.","type":"object","properties":{"autofitType":{"description":"The autofit type of the shape. If the autofit type is AUTOFIT_TYPE_UNSPECIFIED, the autofit type is inherited from a parent placeholder if it exists. The field is automatically set to NONE if a request is made that might affect text fitting within its bounding text box. In this case, the font_scale is applied to the font_size and the line_spacing_reduction is applied to the line_spacing. Both properties are also reset to default values.","enum":["AUTOFIT_TYPE_UNSPECIFIED","NONE","TEXT_AUTOFIT","SHAPE_AUTOFIT"],"type":"string"},"fontScale":{"description":"The font scale applied to the shape. For shapes with autofit_type NONE or SHAPE_AUTOFIT, this value is the default value of 1. For TEXT_AUTOFIT, this value multiplied by the font_size gives the font size that's rendered in the editor. This property is read-only.","format":"float","type":"number"},"lineSpacingReduction":{"description":"The line spacing reduction applied to the shape. For shapes with autofit_type NONE or SHAPE_AUTOFIT, this value is the default value of 0. For TEXT_AUTOFIT, this value subtracted from the line_spacing gives the line spacing that's rendered in the editor. This property is read-only.","format":"float","type":"number"}}},"slides_v1_BatchUpdatePresentationRequest":{"description":"Request message for PresentationsService.BatchUpdatePresentation.","type":"object","properties":{"requests":{"description":"A list of updates to apply to the presentation.","type":"array","items":{"$ref":"#/components/schemas/slides_v1_Request"}},"writeControl":{"$ref":"#/components/schemas/slides_v1_WriteControl"}}},"slides_v1_BatchUpdatePresentationResponse":{"description":"Response message from a batch update.","type":"object","properties":{"commentUpdateState":{"description":"Whether comment updates were applied in the batch request. [Developer Preview](https://developers.google.com/workspace/preview).","enum":["COMMENT_UPDATE_STATE_UNSPECIFIED","NO_UPDATES_REQUESTED","ALL_SAVED","ALL_FAILED_UNKNOWN_REASON"],"type":"string"},"presentationId":{"description":"The presentation the updates were applied to.","type":"string"},"replies":{"description":"The reply of the updates. This maps 1:1 with the updates, although replies to some requests may be empty.","type":"array","items":{"$ref":"#/components/schemas/slides_v1_Response"}},"writeControl":{"$ref":"#/components/schemas/slides_v1_WriteControl"}}},"slides_v1_Bullet":{"description":"Describes the bullet of a paragraph.","type":"object","properties":{"bulletStyle":{"$ref":"#/components/schemas/slides_v1_TextStyle"},"glyph":{"description":"The rendered bullet glyph for this paragraph.","type":"string"},"listId":{"description":"The ID of the list this paragraph belongs to.","type":"string"},"nestingLevel":{"description":"The nesting level of this paragraph in the list.","format":"int32","type":"integer"}}},"slides_v1_ColorScheme":{"description":"The palette of predefined colors for a page.","type":"object","properties":{"colors":{"description":"The ThemeColorType and corresponding concrete color pairs.","type":"array","items":{"$ref":"#/components/schemas/slides_v1_ThemeColorPair"}}}},"slides_v1_ColorStop":{"description":"A color and position in a gradient band.","type":"object","properties":{"alpha":{"description":"The alpha value of this color in the gradient band. Defaults to 1.0, fully opaque.","format":"float","type":"number"},"color":{"$ref":"#/components/schemas/slides_v1_OpaqueColor"},"position":{"description":"The relative position of the color stop in the gradient band measured in percentage. The value should be in the interval [0.0, 1.0].","format":"float","type":"number"}}},"slides_v1_CommentAnchor":{"description":"Contains a list of all locations in a `Page` that are anchored to a CommentThread via the same anchorId. Multiple separate anchors may refer to the same location, either within a `Page` or across different pages, [Developer Preview](https://developers.google.com/workspace/preview).","type":"object","properties":{"anchorId":{"description":"Output only. The unique ID of the comment anchor.","type":"string"},"objectAnchors":{"description":"Output only. All object ID-based locations within a page that refer to the anchor ID.","type":"array","items":{"$ref":"#/components/schemas/slides_v1_ObjectAnchor"}}}},"slides_v1_CommentThread":{"description":"Represents a single comment thread inside a presentation. [Developer Preview](https://developers.google.com/workspace/preview).","type":"object","properties":{"anchorId":{"description":"The ID of the CommentAnchor in the presentation that this thread is tied to.","type":"string"},"commentId":{"description":"The unique ID of the comment thread.","type":"string"},"headPost":{"$ref":"#/components/schemas/slides_v1_Post"},"plainTextQuote":{"description":"The quoted text from the page element when the comment was created, formatted as plain-text.","type":"string"},"replies":{"description":"Replies to the head post.","type":"array","items":{"$ref":"#/components/schemas/slides_v1_Post"}},"status":{"description":"Whether the thread is open or resolved.","enum":["STATUS_UNSPECIFIED","OPEN","RESOLVED"],"type":"string"}}},"slides_v1_CreateImageRequest":{"description":"Creates an image.","type":"object","properties":{"elementProperties":{"$ref":"#/components/schemas/slides_v1_PageElementProperties"},"objectId":{"description":"A user-supplied object ID. If you specify an ID, it must be unique among all pages and page elements in the presentation. The ID must start with an alphanumeric character or an underscore (matches regex `[a-zA-Z0-9_]`); remaining characters may include those as well as a hyphen or colon (matches regex `[a-zA-Z0-9_-:]`). The length of the ID must not be less than 5 or greater than 50. If you don't specify an ID, a unique one is generated.","type":"string"},"url":{"description":"The image URL. The image is fetched once at insertion time and a copy is stored for display inside the presentation. Images must be less than 50 MB in size, can't exceed 25 megapixels, and must be in one of PNG, JPEG, or GIF formats. The provided URL must be publicly accessible and up to 2 KB in length. The URL is saved with the image, and exposed through the Image.source_url field.","type":"string"}}},"slides_v1_CreateImageResponse":{"description":"The result of creating an image.","type":"object","properties":{"objectId":{"description":"The object ID of the created image.","type":"string"}}},"slides_v1_CreateLineRequest":{"description":"Creates a line.","type":"object","properties":{"category":{"description":"The category of the line to be created. The exact line type created is determined based on the category and how it's routed to connect to other page elements. If you specify both a `category` and a `line_category`, the `category` takes precedence. If you do not specify a value for `category`, but specify a value for `line_category`, then the specified `line_category` value is used. If you do not specify either, then STRAIGHT is used.","enum":["LINE_CATEGORY_UNSPECIFIED","STRAIGHT","BENT","CURVED"],"type":"string"},"elementProperties":{"$ref":"#/components/schemas/slides_v1_PageElementProperties"},"lineCategory":{"description":"The category of the line to be created. *Deprecated*: use `category` instead. The exact line type created is determined based on the category and how it's routed to connect to other page elements. If you specify both a `category` and a `line_category`, the `category` takes precedence.","enum":["STRAIGHT","BENT","CURVED"],"type":"string"},"objectId":{"description":"A user-supplied object ID. If you specify an ID, it must be unique among all pages and page elements in the presentation. The ID must start with an alphanumeric character or an underscore (matches regex `[a-zA-Z0-9_]`); remaining characters may include those as well as a hyphen or colon (matches regex `[a-zA-Z0-9_-:]`). The length of the ID must not be less than 5 or greater than 50. If you don't specify an ID, a unique one is generated.","type":"string"}}},"slides_v1_CreateLineResponse":{"description":"The result of creating a line.","type":"object","properties":{"objectId":{"description":"The object ID of the created line.","type":"string"}}},"slides_v1_CreateParagraphBulletsRequest":{"description":"Creates bullets for all of the paragraphs that overlap with the given text index range. The nesting level of each paragraph will be determined by counting leading tabs in front of each paragraph. To avoid excess space between the bullet and the corresponding paragraph, these leading tabs are removed by this request. This may change the indices of parts of the text. If the paragraph immediately before paragraphs being updated is in a list with a matching preset, the paragraphs being updated are added to that preceding list.","type":"object","properties":{"bulletPreset":{"description":"The kinds of bullet glyphs to be used. Defaults to the `BULLET_DISC_CIRCLE_SQUARE` preset.","enum":["BULLET_DISC_CIRCLE_SQUARE","BULLET_DIAMONDX_ARROW3D_SQUARE","BULLET_CHECKBOX","BULLET_ARROW_DIAMOND_DISC","BULLET_STAR_CIRCLE_SQUARE","BULLET_ARROW3D_CIRCLE_SQUARE","BULLET_LEFTTRIANGLE_DIAMOND_DISC","BULLET_DIAMONDX_HOLLOWDIAMOND_SQUARE","BULLET_DIAMOND_CIRCLE_SQUARE","NUMBERED_DIGIT_ALPHA_ROMAN","NUMBERED_DIGIT_ALPHA_ROMAN_PARENS","NUMBERED_DIGIT_NESTED","NUMBERED_UPPERALPHA_ALPHA_ROMAN","NUMBERED_UPPERROMAN_UPPERALPHA_DIGIT","NUMBERED_ZERODIGIT_ALPHA_ROMAN"],"type":"string"},"cellLocation":{"$ref":"#/components/schemas/slides_v1_TableCellLocation"},"objectId":{"description":"The object ID of the shape or table containing the text to add bullets to.","type":"string"},"textRange":{"$ref":"#/components/schemas/slides_v1_Range"}}},"slides_v1_CreateShapeRequest":{"description":"Creates a new shape.","type":"object","properties":{"elementProperties":{"$ref":"#/components/schemas/slides_v1_PageElementProperties"},"objectId":{"description":"A user-supplied object ID. If you specify an ID, it must be unique among all pages and page elements in the presentation. The ID must start with an alphanumeric character or an underscore (matches regex `[a-zA-Z0-9_]`); remaining characters may include those as well as a hyphen or colon (matches regex `[a-zA-Z0-9_-:]`). The length of the ID must not be less than 5 or greater than 50. If empty, a unique identifier will be generated.","type":"string"},"shapeType":{"description":"The shape type.","enum":["TYPE_UNSPECIFIED","TEXT_BOX","RECTANGLE","ROUND_RECTANGLE","ELLIPSE","ARC","BENT_ARROW","BENT_UP_ARROW","BEVEL","BLOCK_ARC","BRACE_PAIR","BRACKET_PAIR","CAN","CHEVRON","CHORD","CLOUD","CORNER","CUBE","CURVED_DOWN_ARROW","CURVED_LEFT_ARROW","CURVED_RIGHT_ARROW","CURVED_UP_ARROW","DECAGON","DIAGONAL_STRIPE","DIAMOND","DODECAGON","DONUT","DOUBLE_WAVE","DOWN_ARROW","DOWN_ARROW_CALLOUT","FOLDED_CORNER","FRAME","HALF_FRAME","HEART","HEPTAGON","HEXAGON","HOME_PLATE","HORIZONTAL_SCROLL","IRREGULAR_SEAL_1","IRREGULAR_SEAL_2","LEFT_ARROW","LEFT_ARROW_CALLOUT","LEFT_BRACE","LEFT_BRACKET","LEFT_RIGHT_ARROW","LEFT_RIGHT_ARROW_CALLOUT","LEFT_RIGHT_UP_ARROW","LEFT_UP_ARROW","LIGHTNING_BOLT","MATH_DIVIDE","MATH_EQUAL","MATH_MINUS","MATH_MULTIPLY","MATH_NOT_EQUAL","MATH_PLUS","MOON","NO_SMOKING","NOTCHED_RIGHT_ARROW","OCTAGON","PARALLELOGRAM","PENTAGON","PIE","PLAQUE","PLUS","QUAD_ARROW","QUAD_ARROW_CALLOUT","RIBBON","RIBBON_2","RIGHT_ARROW","RIGHT_ARROW_CALLOUT","RIGHT_BRACE","RIGHT_BRACKET","ROUND_1_RECTANGLE","ROUND_2_DIAGONAL_RECTANGLE","ROUND_2_SAME_RECTANGLE","RIGHT_TRIANGLE","SMILEY_FACE","SNIP_1_RECTANGLE","SNIP_2_DIAGONAL_RECTANGLE","SNIP_2_SAME_RECTANGLE","SNIP_ROUND_RECTANGLE","STAR_10","STAR_12","STAR_16","STAR_24","STAR_32","STAR_4","STAR_5","STAR_6","STAR_7","STAR_8","STRIPED_RIGHT_ARROW","SUN","TRAPEZOID","TRIANGLE","UP_ARROW","UP_ARROW_CALLOUT","UP_DOWN_ARROW","UTURN_ARROW","VERTICAL_SCROLL","WAVE","WEDGE_ELLIPSE_CALLOUT","WEDGE_RECTANGLE_CALLOUT","WEDGE_ROUND_RECTANGLE_CALLOUT","FLOW_CHART_ALTERNATE_PROCESS","FLOW_CHART_COLLATE","FLOW_CHART_CONNECTOR","FLOW_CHART_DECISION","FLOW_CHART_DELAY","FLOW_CHART_DISPLAY","FLOW_CHART_DOCUMENT","FLOW_CHART_EXTRACT","FLOW_CHART_INPUT_OUTPUT","FLOW_CHART_INTERNAL_STORAGE","FLOW_CHART_MAGNETIC_DISK","FLOW_CHART_MAGNETIC_DRUM","FLOW_CHART_MAGNETIC_TAPE","FLOW_CHART_MANUAL_INPUT","FLOW_CHART_MANUAL_OPERATION","FLOW_CHART_MERGE","FLOW_CHART_MULTIDOCUMENT","FLOW_CHART_OFFLINE_STORAGE","FLOW_CHART_OFFPAGE_CONNECTOR","FLOW_CHART_ONLINE_STORAGE","FLOW_CHART_OR","FLOW_CHART_PREDEFINED_PROCESS","FLOW_CHART_PREPARATION","FLOW_CHART_PROCESS","FLOW_CHART_PUNCHED_CARD","FLOW_CHART_PUNCHED_TAPE","FLOW_CHART_SORT","FLOW_CHART_SUMMING_JUNCTION","FLOW_CHART_TERMINATOR","ARROW_EAST","ARROW_NORTH_EAST","ARROW_NORTH","SPEECH","STARBURST","TEARDROP","ELLIPSE_RIBBON","ELLIPSE_RIBBON_2","CLOUD_CALLOUT","CUSTOM"],"type":"string"}}},"slides_v1_CreateShapeResponse":{"description":"The result of creating a shape.","type":"object","properties":{"objectId":{"description":"The object ID of the created shape.","type":"string"}}},"slides_v1_CreateSheetsChartRequest":{"description":"Creates an embedded Google Sheets chart. NOTE: Chart creation requires at least one of the spreadsheets.readonly, spreadsheets, drive.readonly, drive.file, or drive OAuth scopes.","type":"object","properties":{"chartId":{"description":"The ID of the specific chart in the Google Sheets spreadsheet.","format":"int32","type":"integer"},"elementProperties":{"$ref":"#/components/schemas/slides_v1_PageElementProperties"},"linkingMode":{"description":"The mode with which the chart is linked to the source spreadsheet. When not specified, the chart will be an image that is not linked.","enum":["NOT_LINKED_IMAGE","LINKED"],"type":"string"},"objectId":{"description":"A user-supplied object ID. If specified, the ID must be unique among all pages and page elements in the presentation. The ID should start with a word character [a-zA-Z0-9_] and then followed by any number of the following characters [a-zA-Z0-9_-:]. The length of the ID should not be less than 5 or greater than 50. If empty, a unique identifier will be generated.","type":"string"},"spreadsheetId":{"description":"The ID of the Google Sheets spreadsheet that contains the chart. You might need to add a resource key to the HTTP header for a subset of old files. For more information, see [Access link-shared files using resource keys](https://developers.google.com/drive/api/v3/resource-keys).","type":"string"}}},"slides_v1_CreateSheetsChartResponse":{"description":"The result of creating an embedded Google Sheets chart.","type":"object","properties":{"objectId":{"description":"The object ID of the created chart.","type":"string"}}},"slides_v1_CreateSlideRequest":{"description":"Creates a slide.","type":"object","properties":{"insertionIndex":{"description":"The optional zero-based index indicating where to insert the slides. If you don't specify an index, the slide is created at the end.","format":"int32","type":"integer"},"objectId":{"description":"A user-supplied object ID. If you specify an ID, it must be unique among all pages and page elements in the presentation. The ID must start with an alphanumeric character or an underscore (matches regex `[a-zA-Z0-9_]`); remaining characters may include those as well as a hyphen or colon (matches regex `[a-zA-Z0-9_-:]`). The ID length must be between 5 and 50 characters, inclusive. If you don't specify an ID, a unique one is generated.","type":"string"},"placeholderIdMappings":{"description":"An optional list of object ID mappings from the placeholder(s) on the layout to the placeholders that are created on the slide from the specified layout. Can only be used when `slide_layout_reference` is specified.","type":"array","items":{"$ref":"#/components/schemas/slides_v1_LayoutPlaceholderIdMapping"}},"slideLayoutReference":{"$ref":"#/components/schemas/slides_v1_LayoutReference"}}},"slides_v1_CreateSlideResponse":{"description":"The result of creating a slide.","type":"object","properties":{"objectId":{"description":"The object ID of the created slide.","type":"string"}}},"slides_v1_CreateTableRequest":{"description":"Creates a new table.","type":"object","properties":{"columns":{"description":"Number of columns in the table.","format":"int32","type":"integer"},"elementProperties":{"$ref":"#/components/schemas/slides_v1_PageElementProperties"},"objectId":{"description":"A user-supplied object ID. If you specify an ID, it must be unique among all pages and page elements in the presentation. The ID must start with an alphanumeric character or an underscore (matches regex `[a-zA-Z0-9_]`); remaining characters may include those as well as a hyphen or colon (matches regex `[a-zA-Z0-9_-:]`). The length of the ID must not be less than 5 or greater than 50. If you don't specify an ID, a unique one is generated.","type":"string"},"rows":{"description":"Number of rows in the table.","format":"int32","type":"integer"}}},"slides_v1_CreateTableResponse":{"description":"The result of creating a table.","type":"object","properties":{"objectId":{"description":"The object ID of the created table.","type":"string"}}},"slides_v1_CreateVideoRequest":{"description":"Creates a video. NOTE: Creating a video from Google Drive requires that the requesting app have at least one of the drive, drive.readonly, or drive.file OAuth scopes.","type":"object","properties":{"elementProperties":{"$ref":"#/components/schemas/slides_v1_PageElementProperties"},"id":{"description":"The video source's unique identifier for this video. e.g. For YouTube video https://www.youtube.com/watch?v=7U3axjORYZ0, the ID is 7U3axjORYZ0. For a Google Drive video https://drive.google.com/file/d/1xCgQLFTJi5_Xl8DgW_lcUYq5e-q6Hi5Q the ID is 1xCgQLFTJi5_Xl8DgW_lcUYq5e-q6Hi5Q. To access a Google Drive video file, you might need to add a resource key to the HTTP header for a subset of old files. For more information, see [Access link-shared files using resource keys](https://developers.google.com/drive/api/v3/resource-keys).","type":"string"},"objectId":{"description":"A user-supplied object ID. If you specify an ID, it must be unique among all pages and page elements in the presentation. The ID must start with an alphanumeric character or an underscore (matches regex `[a-zA-Z0-9_]`); remaining characters may include those as well as a hyphen or colon (matches regex `[a-zA-Z0-9_-:]`). The length of the ID must not be less than 5 or greater than 50. If you don't specify an ID, a unique one is generated.","type":"string"},"source":{"description":"The video source.","enum":["SOURCE_UNSPECIFIED","YOUTUBE","DRIVE"],"type":"string"}}},"slides_v1_CreateVideoResponse":{"description":"The result of creating a video.","type":"object","properties":{"objectId":{"description":"The object ID of the created video.","type":"string"}}},"slides_v1_CropProperties":{"description":"The crop properties of an object enclosed in a container. For example, an Image. The crop properties is represented by the offsets of four edges which define a crop rectangle. The offsets are measured in percentage from the corresponding edges of the object's original bounding rectangle towards inside, relative to the object's original dimensions. - If the offset is in the interval (0, 1), the corresponding edge of crop rectangle is positioned inside of the object's original bounding rectangle. - If the offset is negative or greater than 1, the corresponding edge of crop rectangle is positioned outside of the object's original bounding rectangle. - If the left edge of the crop rectangle is on the right side of its right edge, the object will be flipped horizontally. - If the top edge of the crop rectangle is below its bottom edge, the object will be flipped vertically. - If all offsets and rotation angle is 0, the object is not cropped. After cropping, the content in the crop rectangle will be stretched to fit its container.","type":"object","properties":{"angle":{"description":"The rotation angle of the crop window around its center, in radians. Rotation angle is applied after the offset.","format":"float","type":"number"},"bottomOffset":{"description":"The offset specifies the bottom edge of the crop rectangle that is located above the original bounding rectangle bottom edge, relative to the object's original height.","format":"float","type":"number"},"leftOffset":{"description":"The offset specifies the left edge of the crop rectangle that is located to the right of the original bounding rectangle left edge, relative to the object's original width.","format":"float","type":"number"},"rightOffset":{"description":"The offset specifies the right edge of the crop rectangle that is located to the left of the original bounding rectangle right edge, relative to the object's original width.","format":"float","type":"number"},"topOffset":{"description":"The offset specifies the top edge of the crop rectangle that is located below the original bounding rectangle top edge, relative to the object's original height.","format":"float","type":"number"}}},"slides_v1_DeleteCommentReplyRequest":{"description":"Deletes a reply Post from a CommentThread. Returns a 400 bad request error if: - The requesting user is not the author of the post. - The reply post contains a comment action. - The reply post contains an assignee. [Developer Preview](https://developers.google.com/workspace/preview).","type":"object","properties":{"commentId":{"description":"The ID of the CommentThread which the post belongs to.","type":"string"},"postId":{"description":"The ID of the reply Post being deleted.","type":"string"}}},"slides_v1_DeleteCommentRequest":{"description":"Deletes a CommentThread. Returns a 400 bad request error if the requesting user is not the author of the headPost. [Developer Preview](https://developers.google.com/workspace/preview).","type":"object","properties":{"commentId":{"description":"The ID of the CommentThread that is being deleted.","type":"string"}}},"slides_v1_DeleteObjectRequest":{"description":"Deletes an object, either pages or page elements, from the presentation.","type":"object","properties":{"objectId":{"description":"The object ID of the page or page element to delete. If after a delete operation a group contains only 1 or no page elements, the group is also deleted. If a placeholder is deleted on a layout, any empty inheriting placeholders are also deleted.","type":"string"}}},"slides_v1_DeleteParagraphBulletsRequest":{"description":"Deletes bullets from all of the paragraphs that overlap with the given text index range. The nesting level of each paragraph will be visually preserved by adding indent to the start of the corresponding paragraph.","type":"object","properties":{"cellLocation":{"$ref":"#/components/schemas/slides_v1_TableCellLocation"},"objectId":{"description":"The object ID of the shape or table containing the text to delete bullets from.","type":"string"},"textRange":{"$ref":"#/components/schemas/slides_v1_Range"}}},"slides_v1_DeleteTableColumnRequest":{"description":"Deletes a column from a table.","type":"object","properties":{"cellLocation":{"$ref":"#/components/schemas/slides_v1_TableCellLocation"},"tableObjectId":{"description":"The table to delete columns from.","type":"string"}}},"slides_v1_DeleteTableRowRequest":{"description":"Deletes a row from a table.","type":"object","properties":{"cellLocation":{"$ref":"#/components/schemas/slides_v1_TableCellLocation"},"tableObjectId":{"description":"The table to delete rows from.","type":"string"}}},"slides_v1_DeleteTextRequest":{"description":"Deletes text from a shape or a table cell.","type":"object","properties":{"cellLocation":{"$ref":"#/components/schemas/slides_v1_TableCellLocation"},"objectId":{"description":"The object ID of the shape or table from which the text will be deleted.","type":"string"},"textRange":{"$ref":"#/components/schemas/slides_v1_Range"}}},"slides_v1_Dimension":{"description":"A magnitude in a single direction in the specified units.","type":"object","properties":{"magnitude":{"description":"The magnitude.","format":"double","type":"number"},"unit":{"description":"The units for magnitude.","enum":["UNIT_UNSPECIFIED","EMU","PT"],"type":"string"}}},"slides_v1_DuplicateObjectRequest":{"description":"Duplicates a slide or page element. When duplicating a slide, the duplicate slide will be created immediately following the specified slide. When duplicating a page element, the duplicate will be placed on the same page at the same position as the original.","type":"object","properties":{"objectId":{"description":"The ID of the object to duplicate.","type":"string"},"objectIds":{"description":"The object being duplicated may contain other objects, for example when duplicating a slide or a group page element. This map defines how the IDs of duplicated objects are generated: the keys are the IDs of the original objects and its values are the IDs that will be assigned to the corresponding duplicate object. The ID of the source object's duplicate may be specified in this map as well, using the same value of the `object_id` field as a key and the newly desired ID as the value. All keys must correspond to existing IDs in the presentation. All values must be unique in the presentation and must start with an alphanumeric character or an underscore (matches regex `[a-zA-Z0-9_]`); remaining characters may include those as well as a hyphen or colon (matches regex `[a-zA-Z0-9_-:]`). The length of the new ID must not be less than 5 or greater than 50. If any IDs of source objects are omitted from the map, a new random ID will be assigned. If the map is empty or unset, all duplicate objects will receive a new random ID.","type":"object","additionalProperties":{"type":"string"}}}},"slides_v1_DuplicateObjectResponse":{"description":"The response of duplicating an object.","type":"object","properties":{"objectId":{"description":"The ID of the new duplicate object.","type":"string"}}},"slides_v1_Group":{"description":"A PageElement kind representing a joined collection of PageElements.","type":"object","properties":{"children":{"description":"The collection of elements in the group. The minimum size of a group is 2.","type":"array","items":{"$ref":"#/components/schemas/slides_v1_PageElement"}}}},"slides_v1_GroupObjectsRequest":{"description":"Groups objects to create an object group. For example, groups PageElements to create a Group on the same page as all the children.","type":"object","properties":{"childrenObjectIds":{"description":"The object IDs of the objects to group. Only page elements can be grouped. There should be at least two page elements on the same page that are not already in another group. Some page elements, such as videos, tables and placeholders cannot be grouped.","type":"array","items":{"type":"string"}},"groupObjectId":{"description":"A user-supplied object ID for the group to be created. If you specify an ID, it must be unique among all pages and page elements in the presentation. The ID must start with an alphanumeric character or an underscore (matches regex `[a-zA-Z0-9_]`); remaining characters may include those as well as a hyphen or colon (matches regex `[a-zA-Z0-9_-:]`). The length of the ID must not be less than 5 or greater than 50. If you don't specify an ID, a unique one is generated.","type":"string"}}},"slides_v1_GroupObjectsResponse":{"description":"The result of grouping objects.","type":"object","properties":{"objectId":{"description":"The object ID of the created group.","type":"string"}}},"slides_v1_Image":{"description":"A PageElement kind representing an image.","type":"object","properties":{"contentUrl":{"description":"An URL to an image with a default lifetime of 30 minutes. This URL is tagged with the account of the requester. Anyone with the URL effectively accesses the image as the original requester. Access to the image may be lost if the presentation's sharing settings change.","type":"string"},"imageProperties":{"$ref":"#/components/schemas/slides_v1_ImageProperties"},"placeholder":{"$ref":"#/components/schemas/slides_v1_Placeholder"},"sourceUrl":{"description":"The source URL is the URL used to insert the image. The source URL can be empty.","type":"string"}}},"slides_v1_ImageProperties":{"description":"The properties of the Image.","type":"object","properties":{"brightness":{"description":"The brightness effect of the image. The value should be in the interval [-1.0, 1.0], where 0 means no effect. This property is read-only.","format":"float","type":"number"},"contrast":{"description":"The contrast effect of the image. The value should be in the interval [-1.0, 1.0], where 0 means no effect. This property is read-only.","format":"float","type":"number"},"cropProperties":{"$ref":"#/components/schemas/slides_v1_CropProperties"},"link":{"$ref":"#/components/schemas/slides_v1_Link"},"outline":{"$ref":"#/components/schemas/slides_v1_Outline"},"recolor":{"$ref":"#/components/schemas/slides_v1_Recolor"},"shadow":{"$ref":"#/components/schemas/slides_v1_Shadow"},"transparency":{"description":"The transparency effect of the image. The value should be in the interval [0.0, 1.0], where 0 means no effect and 1 means completely transparent. This property is read-only.","format":"float","type":"number"}}},"slides_v1_InsertCommentRequest":{"description":"Inserts a CommentThread into the presentation. [Developer Preview](https://developers.google.com/workspace/preview).","type":"object","properties":{"assigneeEmailAddress":{"description":"Optional. The email address of the assignee of the comment. Leave empty for a non-assigned comment. May not exceed 2048 UTF-8 code units.","type":"string"},"content":{"description":"The text of the comment, as plain text. This text content will be handled similarly to comments created in the Slides editor. It will have similar behaviors for formatting, notifications, etc. This field cannot be empty, and must not exceed 2048 UTF-8 code units.","type":"string"},"objectId":{"description":"The object ID of the Page or PageElement that is tied to this comment. If the specified object_id is a Group, the comment will be anchored to at most 100 of the group's non-group descendants.","type":"string"},"shapeTextAnchor":{"$ref":"#/components/schemas/slides_v1_ShapeTextAnchor"},"tableAnchor":{"$ref":"#/components/schemas/slides_v1_TableAnchor"},"tableCellTextAnchor":{"$ref":"#/components/schemas/slides_v1_TableCellTextAnchor"}}},"slides_v1_InsertCommentResponse":{"description":"The result of creating a comment. [Developer Preview](https://developers.google.com/workspace/preview).","type":"object","properties":{"commentThread":{"$ref":"#/components/schemas/slides_v1_CommentThread"}}},"slides_v1_InsertTableColumnsRequest":{"description":"Inserts columns into a table. Other columns in the table will be resized to fit the new column.","type":"object","properties":{"cellLocation":{"$ref":"#/components/schemas/slides_v1_TableCellLocation"},"insertRight":{"description":"Whether to insert new columns to the right of the reference cell location. - `True`: insert to the right. - `False`: insert to the left.","type":"boolean"},"number":{"description":"The number of columns to be inserted. Maximum 20 per request.","format":"int32","type":"integer"},"tableObjectId":{"description":"The table to insert columns into.","type":"string"}}},"slides_v1_InsertTableRowsRequest":{"description":"Inserts rows into a table.","type":"object","properties":{"cellLocation":{"$ref":"#/components/schemas/slides_v1_TableCellLocation"},"insertBelow":{"description":"Whether to insert new rows below the reference cell location. - `True`: insert below the cell. - `False`: insert above the cell.","type":"boolean"},"number":{"description":"The number of rows to be inserted. Maximum 20 per request.","format":"int32","type":"integer"},"tableObjectId":{"description":"The table to insert rows into.","type":"string"}}},"slides_v1_InsertTextRequest":{"description":"Inserts text into a shape or a table cell.","type":"object","properties":{"cellLocation":{"$ref":"#/components/schemas/slides_v1_TableCellLocation"},"insertionIndex":{"description":"The index where the text will be inserted, in Unicode code units, based on TextElement indexes. The index is zero-based and is computed from the start of the string. The index may be adjusted to prevent insertions inside Unicode grapheme clusters. In these cases, the text will be inserted immediately after the grapheme cluster.","format":"int32","type":"integer"},"objectId":{"description":"The object ID of the shape or table where the text will be inserted.","type":"string"},"text":{"description":"The text to be inserted. Inserting a newline character will implicitly create a new ParagraphMarker at that index. The paragraph style of the new paragraph will be copied from the paragraph at the current insertion index, including lists and bullets. Text styles for inserted text will be determined automatically, generally preserving the styling of neighboring text. In most cases, the text will be added to the TextRun that exists at the insertion index. Some control characters (U+0000-U+0008, U+000C-U+001F) and characters from the Unicode Basic Multilingual Plane Private Use Area (U+E000-U+F8FF) will be stripped out of the inserted text.","type":"string"}}},"slides_v1_LayoutPlaceholderIdMapping":{"description":"The user-specified ID mapping for a placeholder that will be created on a slide from a specified layout.","type":"object","properties":{"layoutPlaceholder":{"$ref":"#/components/schemas/slides_v1_Placeholder"},"layoutPlaceholderObjectId":{"description":"The object ID of the placeholder on a layout that will be applied to a slide.","type":"string"},"objectId":{"description":"A user-supplied object ID for the placeholder identified above that to be created onto a slide. If you specify an ID, it must be unique among all pages and page elements in the presentation. The ID must start with an alphanumeric character or an underscore (matches regex `[a-zA-Z0-9_]`); remaining characters may include those as well as a hyphen or colon (matches regex `[a-zA-Z0-9_-:]`). The length of the ID must not be less than 5 or greater than 50. If you don't specify an ID, a unique one is generated.","type":"string"}}},"slides_v1_LayoutProperties":{"description":"The properties of Page are only relevant for pages with page_type LAYOUT.","type":"object","properties":{"displayName":{"description":"The human-readable name of the layout.","type":"string"},"masterObjectId":{"description":"The object ID of the master that this layout is based on.","type":"string"},"name":{"description":"The name of the layout.","type":"string"}}},"slides_v1_LayoutReference":{"description":"Slide layout reference. This may reference either: - A predefined layout - One of the layouts in the presentation.","type":"object","properties":{"layoutId":{"description":"Layout ID: the object ID of one of the layouts in the presentation.","type":"string"},"predefinedLayout":{"description":"Predefined layout.","enum":["PREDEFINED_LAYOUT_UNSPECIFIED","BLANK","CAPTION_ONLY","TITLE","TITLE_AND_BODY","TITLE_AND_TWO_COLUMNS","TITLE_ONLY","SECTION_HEADER","SECTION_TITLE_AND_DESCRIPTION","ONE_COLUMN_TEXT","MAIN_POINT","BIG_NUMBER"],"type":"string"}}},"slides_v1_Line":{"description":"A PageElement kind representing a non-connector line, straight connector, curved connector, or bent connector.","type":"object","properties":{"lineCategory":{"description":"The category of the line. It matches the `category` specified in CreateLineRequest, and can be updated with UpdateLineCategoryRequest.","enum":["LINE_CATEGORY_UNSPECIFIED","STRAIGHT","BENT","CURVED"],"type":"string"},"lineProperties":{"$ref":"#/components/schemas/slides_v1_LineProperties"},"lineType":{"description":"The type of the line.","enum":["TYPE_UNSPECIFIED","STRAIGHT_CONNECTOR_1","BENT_CONNECTOR_2","BENT_CONNECTOR_3","BENT_CONNECTOR_4","BENT_CONNECTOR_5","CURVED_CONNECTOR_2","CURVED_CONNECTOR_3","CURVED_CONNECTOR_4","CURVED_CONNECTOR_5","STRAIGHT_LINE"],"type":"string"}}},"slides_v1_LineConnection":{"description":"The properties for one end of a Line connection.","type":"object","properties":{"connectedObjectId":{"description":"The object ID of the connected page element. Some page elements, such as groups, tables, and lines do not have connection sites and therefore cannot be connected to a connector line.","type":"string"},"connectionSiteIndex":{"description":"The index of the connection site on the connected page element. In most cases, it corresponds to the predefined connection site index from the ECMA-376 standard. More information on those connection sites can be found in both the description of the \"cxn\" attribute in section 20.1.9.9 and \"Annex H. Example Predefined DrawingML Shape and Text Geometries\" of \"Office Open XML File Formats - Fundamentals and Markup Language Reference\", part 1 of [ECMA-376 5th edition](https://ecma-international.org/publications-and-standards/standards/ecma-376/). The position of each connection site can also be viewed from Slides editor.","format":"int32","type":"integer"}}},"slides_v1_LineFill":{"description":"The fill of the line.","type":"object","properties":{"solidFill":{"$ref":"#/components/schemas/slides_v1_SolidFill"}}},"slides_v1_LineProperties":{"description":"The properties of the Line. When unset, these fields default to values that match the appearance of new lines created in the Slides editor.","type":"object","properties":{"dashStyle":{"description":"The dash style of the line.","enum":["DASH_STYLE_UNSPECIFIED","SOLID","DOT","DASH","DASH_DOT","LONG_DASH","LONG_DASH_DOT"],"type":"string"},"endArrow":{"description":"The style of the arrow at the end of the line.","enum":["ARROW_STYLE_UNSPECIFIED","NONE","STEALTH_ARROW","FILL_ARROW","FILL_CIRCLE","FILL_SQUARE","FILL_DIAMOND","OPEN_ARROW","OPEN_CIRCLE","OPEN_SQUARE","OPEN_DIAMOND"],"type":"string"},"endConnection":{"$ref":"#/components/schemas/slides_v1_LineConnection"},"lineFill":{"$ref":"#/components/schemas/slides_v1_LineFill"},"link":{"$ref":"#/components/schemas/slides_v1_Link"},"startArrow":{"description":"The style of the arrow at the beginning of the line.","enum":["ARROW_STYLE_UNSPECIFIED","NONE","STEALTH_ARROW","FILL_ARROW","FILL_CIRCLE","FILL_SQUARE","FILL_DIAMOND","OPEN_ARROW","OPEN_CIRCLE","OPEN_SQUARE","OPEN_DIAMOND"],"type":"string"},"startConnection":{"$ref":"#/components/schemas/slides_v1_LineConnection"},"weight":{"$ref":"#/components/schemas/slides_v1_Dimension"}}},"slides_v1_Link":{"description":"A hypertext link.","type":"object","properties":{"pageObjectId":{"description":"If set, indicates this is a link to the specific page in this presentation with this ID. A page with this ID may not exist.","type":"string"},"relativeLink":{"description":"If set, indicates this is a link to a slide in this presentation, addressed by its position.","enum":["RELATIVE_SLIDE_LINK_UNSPECIFIED","NEXT_SLIDE","PREVIOUS_SLIDE","FIRST_SLIDE","LAST_SLIDE"],"type":"string"},"slideIndex":{"description":"If set, indicates this is a link to the slide at this zero-based index in the presentation. There may not be a slide at this index.","format":"int32","type":"integer"},"url":{"description":"If set, indicates this is a link to the external web page at this URL.","type":"string"}}},"slides_v1_List":{"description":"A List describes the look and feel of bullets belonging to paragraphs associated with a list. A paragraph that is part of a list has an implicit reference to that list's ID.","type":"object","properties":{"listId":{"description":"The ID of the list.","type":"string"},"nestingLevel":{"description":"A map of nesting levels to the properties of bullets at the associated level. A list has at most nine levels of nesting, so the possible values for the keys of this map are 0 through 8, inclusive.","type":"object","additionalProperties":{"$ref":"#/components/schemas/slides_v1_NestingLevel"}}}},"slides_v1_MasterProperties":{"description":"The properties of Page that are only relevant for pages with page_type MASTER.","type":"object","properties":{"displayName":{"description":"The human-readable name of the master.","type":"string"}}},"slides_v1_MergeTableCellsRequest":{"description":"Merges cells in a Table.","type":"object","properties":{"objectId":{"description":"The object ID of the table.","type":"string"},"tableRange":{"$ref":"#/components/schemas/slides_v1_TableRange"}}},"slides_v1_NestingLevel":{"description":"Contains properties describing the look and feel of a list bullet at a given level of nesting.","type":"object","properties":{"bulletStyle":{"$ref":"#/components/schemas/slides_v1_TextStyle"}}},"slides_v1_NotesProperties":{"description":"The properties of Page that are only relevant for pages with page_type NOTES.","type":"object","properties":{"speakerNotesObjectId":{"description":"The object ID of the shape on this notes page that contains the speaker notes for the corresponding slide. The actual shape may not always exist on the notes page. Inserting text using this object ID will automatically create the shape. In this case, the actual shape may have different object ID. The `GetPresentation` or `GetPage` action will always return the latest object ID.","type":"string"}}},"slides_v1_ObjectAnchor":{"description":"Represents comment anchor data tied to a Slides object, for example a `Page` or PageElement. [Developer Preview](https://developers.google.com/workspace/preview).","type":"object","properties":{"objectId":{"description":"Output only. The page or page element that the comment thread is anchored to.","type":"string"},"shapeTextAnchors":{"$ref":"#/components/schemas/slides_v1_ShapeTextAnchors"},"tableCellAnchors":{"$ref":"#/components/schemas/slides_v1_TableCellAnchors"}}},"slides_v1_OpaqueColor":{"description":"A themeable solid color value.","type":"object","properties":{"rgbColor":{"$ref":"#/components/schemas/slides_v1_RgbColor"},"themeColor":{"description":"An opaque theme color.","enum":["THEME_COLOR_TYPE_UNSPECIFIED","DARK1","LIGHT1","DARK2","LIGHT2","ACCENT1","ACCENT2","ACCENT3","ACCENT4","ACCENT5","ACCENT6","HYPERLINK","FOLLOWED_HYPERLINK","TEXT1","BACKGROUND1","TEXT2","BACKGROUND2"],"type":"string"}}},"slides_v1_OptionalColor":{"description":"A color that can either be fully opaque or fully transparent.","type":"object","properties":{"opaqueColor":{"$ref":"#/components/schemas/slides_v1_OpaqueColor"}}},"slides_v1_Outline":{"description":"The outline of a PageElement. If these fields are unset, they may be inherited from a parent placeholder if it exists. If there is no parent, the fields will default to the value used for new page elements created in the Slides editor, which may depend on the page element kind.","type":"object","properties":{"dashStyle":{"description":"The dash style of the outline.","enum":["DASH_STYLE_UNSPECIFIED","SOLID","DOT","DASH","DASH_DOT","LONG_DASH","LONG_DASH_DOT"],"type":"string"},"outlineFill":{"$ref":"#/components/schemas/slides_v1_OutlineFill"},"propertyState":{"description":"The outline property state. Updating the outline on a page element will implicitly update this field to `RENDERED`, unless another value is specified in the same request. To have no outline on a page element, set this field to `NOT_RENDERED`. In this case, any other outline fields set in the same request will be ignored.","enum":["RENDERED","NOT_RENDERED","INHERIT"],"type":"string"},"weight":{"$ref":"#/components/schemas/slides_v1_Dimension"}}},"slides_v1_OutlineFill":{"description":"The fill of the outline.","type":"object","properties":{"solidFill":{"$ref":"#/components/schemas/slides_v1_SolidFill"}}},"slides_v1_Page":{"description":"A page in a presentation.","type":"object","properties":{"commentAnchors":{"description":"Output only. The comment anchors present on the page. [Developer Preview](https://developers.google.com/workspace/preview).","type":"array","items":{"$ref":"#/components/schemas/slides_v1_CommentAnchor"}},"comments":{"description":"Output only. The comment threads associated with the page. Only populated if the page was fetched via a GetPageRequest with a populated comments_view_mode. Otherwise, comments are returned in the Presentation via the GetPresentationRequest. [Developer Preview](https://developers.google.com/workspace/preview).","type":"array","items":{"$ref":"#/components/schemas/slides_v1_CommentThread"}},"commentsViewMode":{"description":"Output only. The comments view mode applied to the page. Only populated if the page was fetched via a GetPageRequest with a populated comments_view_mode. [Developer Preview](https://developers.google.com/workspace/preview).","enum":["COMMENTS_VIEW_MODE_UNSPECIFIED","COMMENTS_VIEW_MODE_DEFAULT_FOR_CURRENT_ACCESS","COMMENTS_VIEW_MODE_OMITTED","COMMENTS_VIEW_MODE_INCLUDED"],"type":"string"},"layoutProperties":{"$ref":"#/components/schemas/slides_v1_LayoutProperties"},"masterProperties":{"$ref":"#/components/schemas/slides_v1_MasterProperties"},"notesProperties":{"$ref":"#/components/schemas/slides_v1_NotesProperties"},"objectId":{"description":"The object ID for this page. Object IDs used by Page and PageElement share the same namespace.","type":"string"},"pageElements":{"description":"The page elements rendered on the page.","type":"array","items":{"$ref":"#/components/schemas/slides_v1_PageElement"}},"pageProperties":{"$ref":"#/components/schemas/slides_v1_PageProperties"},"pageType":{"description":"The type of the page.","enum":["SLIDE","MASTER","LAYOUT","NOTES","NOTES_MASTER"],"type":"string"},"revisionId":{"description":"Output only. The revision ID of the presentation. Can be used in update requests to assert the presentation revision hasn't changed since the last read operation. Only populated if the user has edit access to the presentation. The revision ID is not a sequential number but an opaque string. The format of the revision ID might change over time. A returned revision ID is only guaranteed to be valid for 24 hours after it has been returned and cannot be shared across users. If the revision ID is unchanged between calls, then the presentation has not changed. Conversely, a changed ID (for the same presentation and user) usually means the presentation has been updated. However, a changed ID can also be due to internal factors such as ID format changes.","type":"string"},"slideProperties":{"$ref":"#/components/schemas/slides_v1_SlideProperties"}}},"slides_v1_PageBackgroundFill":{"description":"The page background fill.","type":"object","properties":{"propertyState":{"description":"The background fill property state. Updating the fill on a page will implicitly update this field to `RENDERED`, unless another value is specified in the same request. To have no fill on a page, set this field to `NOT_RENDERED`. In this case, any other fill fields set in the same request will be ignored.","enum":["RENDERED","NOT_RENDERED","INHERIT"],"type":"string"},"solidFill":{"$ref":"#/components/schemas/slides_v1_SolidFill"},"stretchedPictureFill":{"$ref":"#/components/schemas/slides_v1_StretchedPictureFill"}}},"slides_v1_PageElement":{"description":"A visual element rendered on a page.","type":"object","properties":{"description":{"description":"The description of the page element. Combined with title to display alt text. The field is not supported for Group elements.","type":"string"},"elementGroup":{"$ref":"#/components/schemas/slides_v1_Group"},"image":{"$ref":"#/components/schemas/slides_v1_Image"},"line":{"$ref":"#/components/schemas/slides_v1_Line"},"objectId":{"description":"The object ID for this page element. Object IDs used by google.apps.slides.v1.Page and google.apps.slides.v1.PageElement share the same namespace.","type":"string"},"shape":{"$ref":"#/components/schemas/slides_v1_Shape"},"sheetsChart":{"$ref":"#/components/schemas/slides_v1_SheetsChart"},"size":{"$ref":"#/components/schemas/slides_v1_Size"},"speakerSpotlight":{"$ref":"#/components/schemas/slides_v1_SpeakerSpotlight"},"table":{"$ref":"#/components/schemas/slides_v1_Table"},"title":{"description":"The title of the page element. Combined with description to display alt text. The field is not supported for Group elements.","type":"string"},"transform":{"$ref":"#/components/schemas/slides_v1_AffineTransform"},"video":{"$ref":"#/components/schemas/slides_v1_Video"},"wordArt":{"$ref":"#/components/schemas/slides_v1_WordArt"}}},"slides_v1_PageElementProperties":{"description":"Common properties for a page element. Note: When you initially create a PageElement, the API may modify the values of both `size` and `transform`, but the visual size will be unchanged.","type":"object","properties":{"pageObjectId":{"description":"The object ID of the page where the element is located.","type":"string"},"size":{"$ref":"#/components/schemas/slides_v1_Size"},"transform":{"$ref":"#/components/schemas/slides_v1_AffineTransform"}}},"slides_v1_PageProperties":{"description":"The properties of the Page. The page will inherit properties from the parent page. Depending on the page type the hierarchy is defined in either SlideProperties or LayoutProperties.","type":"object","properties":{"colorScheme":{"$ref":"#/components/schemas/slides_v1_ColorScheme"},"pageBackgroundFill":{"$ref":"#/components/schemas/slides_v1_PageBackgroundFill"}}},"slides_v1_ParagraphMarker":{"description":"A TextElement kind that represents the beginning of a new paragraph.","type":"object","properties":{"bullet":{"$ref":"#/components/schemas/slides_v1_Bullet"},"style":{"$ref":"#/components/schemas/slides_v1_ParagraphStyle"}}},"slides_v1_ParagraphStyle":{"description":"Styles that apply to a whole paragraph. If this text is contained in a shape with a parent placeholder, then these paragraph styles may be inherited from the parent. Which paragraph styles are inherited depend on the nesting level of lists: * A paragraph not in a list will inherit its paragraph style from the paragraph at the 0 nesting level of the list inside the parent placeholder. * A paragraph in a list will inherit its paragraph style from the paragraph at its corresponding nesting level of the list inside the parent placeholder. Inherited paragraph styles are represented as unset fields in this message.","type":"object","properties":{"alignment":{"description":"The text alignment for this paragraph.","enum":["ALIGNMENT_UNSPECIFIED","START","CENTER","END","JUSTIFIED"],"type":"string"},"direction":{"description":"The text direction of this paragraph. If unset, the value defaults to LEFT_TO_RIGHT since text direction is not inherited.","enum":["TEXT_DIRECTION_UNSPECIFIED","LEFT_TO_RIGHT","RIGHT_TO_LEFT"],"type":"string"},"indentEnd":{"$ref":"#/components/schemas/slides_v1_Dimension"},"indentFirstLine":{"$ref":"#/components/schemas/slides_v1_Dimension"},"indentStart":{"$ref":"#/components/schemas/slides_v1_Dimension"},"lineSpacing":{"description":"The amount of space between lines, as a percentage of normal, where normal is represented as 100.0. If unset, the value is inherited from the parent.","format":"float","type":"number"},"spaceAbove":{"$ref":"#/components/schemas/slides_v1_Dimension"},"spaceBelow":{"$ref":"#/components/schemas/slides_v1_Dimension"},"spacingMode":{"description":"The spacing mode for the paragraph.","enum":["SPACING_MODE_UNSPECIFIED","NEVER_COLLAPSE","COLLAPSE_LISTS"],"type":"string"}}},"slides_v1_Placeholder":{"description":"The placeholder information that uniquely identifies a placeholder shape.","type":"object","properties":{"index":{"description":"The index of the placeholder. If the same placeholder types are present in the same page, they would have different index values.","format":"int32","type":"integer"},"parentObjectId":{"description":"The object ID of this shape's parent placeholder. If unset, the parent placeholder shape does not exist, so the shape does not inherit properties from any other shape.","type":"string"},"type":{"description":"The type of the placeholder.","enum":["NONE","BODY","CHART","CLIP_ART","CENTERED_TITLE","DIAGRAM","DATE_AND_TIME","FOOTER","HEADER","MEDIA","OBJECT","PICTURE","SLIDE_NUMBER","SUBTITLE","TABLE","TITLE","SLIDE_IMAGE"],"type":"string"}}},"slides_v1_Post":{"description":"Represents a single post in a comment thread. [Developer Preview](https://developers.google.com/workspace/preview).","type":"object","properties":{"assigneeEmail":{"description":"Optional. The email of the user who is being newly assigned to the thread as part of this post. Returns a 400 bad request error if: - The parent thread is a CommentThread whose headPost does not have an assignee. - commentAction is specified as `RESOLVE` or `REOPEN`. - `assignee_email` exceeds 2048 UTF-8 code units.","type":"string"},"author":{"$ref":"#/components/schemas/slides_v1_PostAuthor"},"commentAction":{"description":"Action taken as part of creating the post.","enum":["COMMENT_ACTION_TYPE_UNSPECIFIED","NO_COMMENT_ACTION_CHANGE","RESOLVE","REOPEN"],"type":"string"},"content":{"description":"The content of the post. Required to be non-empty if comment_action is not `RESOLVE` or `REOPEN`. This text content will be handled similarly to comments created in the Slides editor. It will have similar behaviors for formatting, notifications, etc. May not exceed 2048 UTF-8 code units.","type":"string"},"contentHtml":{"description":"Output only. The content of the post as HTML.","type":"string"},"createTime":{"description":"Output only. The time the post was created.","format":"google-datetime","type":"string"},"deleted":{"description":"Output only. Whether the post is deleted. If `true`, content and author fields will be empty.","type":"boolean"},"fromCopiedPresentation":{"description":"Output only. Whether the post is from a copied presentation. This field cannot be set directly by callers.","type":"boolean"},"fromImportedPresentation":{"description":"Output only. Whether the post is from an imported presentation. This field cannot be set directly by callers.","type":"boolean"},"postId":{"description":"Output only. The unique ID of the post.","type":"string"},"updateTime":{"description":"Output only. The time the post was last updated.","format":"google-datetime","type":"string"}}},"slides_v1_PostAuthor":{"description":"Represents a user who authored a comment post. [Developer Preview](https://developers.google.com/workspace/preview).","type":"object","properties":{"anonymous":{"description":"Whether the user is anonymous.","type":"boolean"},"displayName":{"description":"The display name of the user. May be absent if the author is anonymous.","type":"string"},"me":{"description":"Whether the user is the authenticated user making the request.","type":"boolean"},"user":{"description":"The resource name of the post author user, which can also be used to identify the user in the [Google People API](https://developers.google.com/people/api/rest/v1/people). Format: `users/{user}`. Will not be populated if the anonymous field is `true` or if the post is from an imported presentation.","type":"string"}}},"slides_v1_Presentation":{"description":"A Google Slides presentation.","type":"object","properties":{"comments":{"description":"Output only. The comment threads associated with the presentation. [Developer Preview](https://developers.google.com/workspace/preview).","type":"array","items":{"$ref":"#/components/schemas/slides_v1_CommentThread"}},"commentsViewMode":{"description":"Output only. The comments view mode applied to the presentation. [Developer Preview](https://developers.google.com/workspace/preview).","enum":["COMMENTS_VIEW_MODE_UNSPECIFIED","COMMENTS_VIEW_MODE_DEFAULT_FOR_CURRENT_ACCESS","COMMENTS_VIEW_MODE_OMITTED","COMMENTS_VIEW_MODE_INCLUDED"],"type":"string"},"layouts":{"description":"The layouts in the presentation. A layout is a template that determines how content is arranged and styled on the slides that inherit from that layout.","type":"array","items":{"$ref":"#/components/schemas/slides_v1_Page"}},"locale":{"description":"The locale of the presentation, as an IETF BCP 47 language tag.","type":"string"},"masters":{"description":"The slide masters in the presentation. A slide master contains all common page elements and the common properties for a set of layouts. They serve three purposes: - Placeholder shapes on a master contain the default text styles and shape properties of all placeholder shapes on pages that use that master. - The master page properties define the common page properties inherited by its layouts. - Any other shapes on the master slide appear on all slides using that master, regardless of their layout.","type":"array","items":{"$ref":"#/components/schemas/slides_v1_Page"}},"notesMaster":{"$ref":"#/components/schemas/slides_v1_Page"},"pageSize":{"$ref":"#/components/schemas/slides_v1_Size"},"presentationId":{"description":"The ID of the presentation.","type":"string"},"revisionId":{"description":"Output only. The revision ID of the presentation. Can be used in update requests to assert the presentation revision hasn't changed since the last read operation. Only populated if the user has edit access to the presentation. The revision ID is not a sequential number but a nebulous string. The format of the revision ID may change over time, so it should be treated opaquely. A returned revision ID is only guaranteed to be valid for 24 hours after it has been returned and cannot be shared across users. If the revision ID is unchanged between calls, then the presentation has not changed. Conversely, a changed ID (for the same presentation and user) usually means the presentation has been updated. However, a changed ID can also be due to internal factors such as ID format changes.","type":"string"},"slides":{"description":"The slides in the presentation. A slide inherits properties from a slide layout.","type":"array","items":{"$ref":"#/components/schemas/slides_v1_Page"}},"title":{"description":"The title of the presentation.","type":"string"}}},"slides_v1_Range":{"description":"Specifies a contiguous range of an indexed collection, such as characters in text.","type":"object","properties":{"endIndex":{"description":"The optional zero-based index of the end of the collection. Required for `FIXED_RANGE` ranges.","format":"int32","type":"integer"},"startIndex":{"description":"The optional zero-based index of the beginning of the collection. Required for `FIXED_RANGE` and `FROM_START_INDEX` ranges.","format":"int32","type":"integer"},"type":{"description":"The type of range.","enum":["RANGE_TYPE_UNSPECIFIED","FIXED_RANGE","FROM_START_INDEX","ALL"],"type":"string"}}},"slides_v1_Recolor":{"description":"A recolor effect applied on an image.","type":"object","properties":{"name":{"description":"The name of the recolor effect. The name is determined from the `recolor_stops` by matching the gradient against the colors in the page's current color scheme. This property is read-only.","enum":["NONE","LIGHT1","LIGHT2","LIGHT3","LIGHT4","LIGHT5","LIGHT6","LIGHT7","LIGHT8","LIGHT9","LIGHT10","DARK1","DARK2","DARK3","DARK4","DARK5","DARK6","DARK7","DARK8","DARK9","DARK10","GRAYSCALE","NEGATIVE","SEPIA","CUSTOM"],"type":"string"},"recolorStops":{"description":"The recolor effect is represented by a gradient, which is a list of color stops. The colors in the gradient will replace the corresponding colors at the same position in the color palette and apply to the image. This property is read-only.","type":"array","items":{"$ref":"#/components/schemas/slides_v1_ColorStop"}}}},"slides_v1_RefreshSheetsChartRequest":{"description":"Refreshes an embedded Google Sheets chart by replacing it with the latest version of the chart from Google Sheets. NOTE: Refreshing charts requires at least one of the spreadsheets.readonly, spreadsheets, drive.readonly, or drive OAuth scopes.","type":"object","properties":{"objectId":{"description":"The object ID of the chart to refresh.","type":"string"}}},"slides_v1_ReplaceAllShapesWithImageRequest":{"description":"Replaces all shapes that match the given criteria with the provided image. The images replacing the shapes are rectangular after being inserted into the presentation and do not take on the forms of the shapes.","type":"object","properties":{"containsText":{"$ref":"#/components/schemas/slides_v1_SubstringMatchCriteria"},"imageReplaceMethod":{"description":"The image replace method. If you specify both a `replace_method` and an `image_replace_method`, the `image_replace_method` takes precedence. If you do not specify a value for `image_replace_method`, but specify a value for `replace_method`, then the specified `replace_method` value is used. If you do not specify either, then CENTER_INSIDE is used.","enum":["IMAGE_REPLACE_METHOD_UNSPECIFIED","CENTER_INSIDE","CENTER_CROP"],"type":"string"},"imageUrl":{"description":"The image URL. The image is fetched once at insertion time and a copy is stored for display inside the presentation. Images must be less than 50MB in size, cannot exceed 25 megapixels, and must be in one of PNG, JPEG, or GIF format. The provided URL can be at most 2 kB in length. The URL itself is saved with the image, and exposed via the Image.source_url field.","type":"string"},"pageObjectIds":{"description":"If non-empty, limits the matches to page elements only on the given pages. Returns a 400 bad request error if given the page object ID of a notes page or a notes master, or if a page with that object ID doesn't exist in the presentation.","type":"array","items":{"type":"string"}},"replaceMethod":{"description":"The replace method. *Deprecated*: use `image_replace_method` instead. If you specify both a `replace_method` and an `image_replace_method`, the `image_replace_method` takes precedence.","enum":["CENTER_INSIDE","CENTER_CROP"],"type":"string"}}},"slides_v1_ReplaceAllShapesWithImageResponse":{"description":"The result of replacing shapes with an image.","type":"object","properties":{"occurrencesChanged":{"description":"The number of shapes replaced with images.","format":"int32","type":"integer"}}},"slides_v1_ReplaceAllShapesWithSheetsChartRequest":{"description":"Replaces all shapes that match the given criteria with the provided Google Sheets chart. The chart will be scaled and centered to fit within the bounds of the original shape. NOTE: Replacing shapes with a chart requires at least one of the spreadsheets.readonly, spreadsheets, drive.readonly, or drive OAuth scopes.","type":"object","properties":{"chartId":{"description":"The ID of the specific chart in the Google Sheets spreadsheet.","format":"int32","type":"integer"},"containsText":{"$ref":"#/components/schemas/slides_v1_SubstringMatchCriteria"},"linkingMode":{"description":"The mode with which the chart is linked to the source spreadsheet. When not specified, the chart will be an image that is not linked.","enum":["NOT_LINKED_IMAGE","LINKED"],"type":"string"},"pageObjectIds":{"description":"If non-empty, limits the matches to page elements only on the given pages. Returns a 400 bad request error if given the page object ID of a notes page or a notes master, or if a page with that object ID doesn't exist in the presentation.","type":"array","items":{"type":"string"}},"spreadsheetId":{"description":"The ID of the Google Sheets spreadsheet that contains the chart.","type":"string"}}},"slides_v1_ReplaceAllShapesWithSheetsChartResponse":{"description":"The result of replacing shapes with a Google Sheets chart.","type":"object","properties":{"occurrencesChanged":{"description":"The number of shapes replaced with charts.","format":"int32","type":"integer"}}},"slides_v1_ReplaceAllTextRequest":{"description":"Replaces all instances of text matching a criteria with replace text.","type":"object","properties":{"containsText":{"$ref":"#/components/schemas/slides_v1_SubstringMatchCriteria"},"pageObjectIds":{"description":"If non-empty, limits the matches to page elements only on the given pages. Returns a 400 bad request error if given the page object ID of a notes master, or if a page with that object ID doesn't exist in the presentation.","type":"array","items":{"type":"string"}},"replaceText":{"description":"The text that will replace the matched text.","type":"string"}}},"slides_v1_ReplaceAllTextResponse":{"description":"The result of replacing text.","type":"object","properties":{"occurrencesChanged":{"description":"The number of occurrences changed by replacing all text.","format":"int32","type":"integer"}}},"slides_v1_ReplaceImageRequest":{"description":"Replaces an existing image with a new image. Replacing an image removes some image effects from the existing image.","type":"object","properties":{"imageObjectId":{"description":"The ID of the existing image that will be replaced. The ID can be retrieved from the response of a get request.","type":"string"},"imageReplaceMethod":{"description":"The replacement method.","enum":["IMAGE_REPLACE_METHOD_UNSPECIFIED","CENTER_INSIDE","CENTER_CROP"],"type":"string"},"url":{"description":"The image URL. The image is fetched once at insertion time and a copy is stored for display inside the presentation. Images must be less than 50MB, cannot exceed 25 megapixels, and must be in PNG, JPEG, or GIF format. The provided URL can't surpass 2 KB in length. The URL is saved with the image, and exposed through the Image.source_url field.","type":"string"}}},"slides_v1_Request":{"description":"A single kind of update to apply to a presentation.","type":"object","properties":{"addCommentReply":{"$ref":"#/components/schemas/slides_v1_AddCommentReplyRequest"},"createImage":{"$ref":"#/components/schemas/slides_v1_CreateImageRequest"},"createLine":{"$ref":"#/components/schemas/slides_v1_CreateLineRequest"},"createParagraphBullets":{"$ref":"#/components/schemas/slides_v1_CreateParagraphBulletsRequest"},"createShape":{"$ref":"#/components/schemas/slides_v1_CreateShapeRequest"},"createSheetsChart":{"$ref":"#/components/schemas/slides_v1_CreateSheetsChartRequest"},"createSlide":{"$ref":"#/components/schemas/slides_v1_CreateSlideRequest"},"createTable":{"$ref":"#/components/schemas/slides_v1_CreateTableRequest"},"createVideo":{"$ref":"#/components/schemas/slides_v1_CreateVideoRequest"},"deleteComment":{"$ref":"#/components/schemas/slides_v1_DeleteCommentRequest"},"deleteCommentReply":{"$ref":"#/components/schemas/slides_v1_DeleteCommentReplyRequest"},"deleteObject":{"$ref":"#/components/schemas/slides_v1_DeleteObjectRequest"},"deleteParagraphBullets":{"$ref":"#/components/schemas/slides_v1_DeleteParagraphBulletsRequest"},"deleteTableColumn":{"$ref":"#/components/schemas/slides_v1_DeleteTableColumnRequest"},"deleteTableRow":{"$ref":"#/components/schemas/slides_v1_DeleteTableRowRequest"},"deleteText":{"$ref":"#/components/schemas/slides_v1_DeleteTextRequest"},"duplicateObject":{"$ref":"#/components/schemas/slides_v1_DuplicateObjectRequest"},"groupObjects":{"$ref":"#/components/schemas/slides_v1_GroupObjectsRequest"},"insertComment":{"$ref":"#/components/schemas/slides_v1_InsertCommentRequest"},"insertTableColumns":{"$ref":"#/components/schemas/slides_v1_InsertTableColumnsRequest"},"insertTableRows":{"$ref":"#/components/schemas/slides_v1_InsertTableRowsRequest"},"insertText":{"$ref":"#/components/schemas/slides_v1_InsertTextRequest"},"mergeTableCells":{"$ref":"#/components/schemas/slides_v1_MergeTableCellsRequest"},"refreshSheetsChart":{"$ref":"#/components/schemas/slides_v1_RefreshSheetsChartRequest"},"replaceAllShapesWithImage":{"$ref":"#/components/schemas/slides_v1_ReplaceAllShapesWithImageRequest"},"replaceAllShapesWithSheetsChart":{"$ref":"#/components/schemas/slides_v1_ReplaceAllShapesWithSheetsChartRequest"},"replaceAllText":{"$ref":"#/components/schemas/slides_v1_ReplaceAllTextRequest"},"replaceImage":{"$ref":"#/components/schemas/slides_v1_ReplaceImageRequest"},"rerouteLine":{"$ref":"#/components/schemas/slides_v1_RerouteLineRequest"},"ungroupObjects":{"$ref":"#/components/schemas/slides_v1_UngroupObjectsRequest"},"unmergeTableCells":{"$ref":"#/components/schemas/slides_v1_UnmergeTableCellsRequest"},"updateCommentPost":{"$ref":"#/components/schemas/slides_v1_UpdateCommentPostRequest"},"updateImageProperties":{"$ref":"#/components/schemas/slides_v1_UpdateImagePropertiesRequest"},"updateLineCategory":{"$ref":"#/components/schemas/slides_v1_UpdateLineCategoryRequest"},"updateLineProperties":{"$ref":"#/components/schemas/slides_v1_UpdateLinePropertiesRequest"},"updatePageElementAltText":{"$ref":"#/components/schemas/slides_v1_UpdatePageElementAltTextRequest"},"updatePageElementTransform":{"$ref":"#/components/schemas/slides_v1_UpdatePageElementTransformRequest"},"updatePageElementsZOrder":{"$ref":"#/components/schemas/slides_v1_UpdatePageElementsZOrderRequest"},"updatePageProperties":{"$ref":"#/components/schemas/slides_v1_UpdatePagePropertiesRequest"},"updateParagraphStyle":{"$ref":"#/components/schemas/slides_v1_UpdateParagraphStyleRequest"},"updateShapeProperties":{"$ref":"#/components/schemas/slides_v1_UpdateShapePropertiesRequest"},"updateSlideProperties":{"$ref":"#/components/schemas/slides_v1_UpdateSlidePropertiesRequest"},"updateSlidesPosition":{"$ref":"#/components/schemas/slides_v1_UpdateSlidesPositionRequest"},"updateTableBorderProperties":{"$ref":"#/components/schemas/slides_v1_UpdateTableBorderPropertiesRequest"},"updateTableCellProperties":{"$ref":"#/components/schemas/slides_v1_UpdateTableCellPropertiesRequest"},"updateTableColumnProperties":{"$ref":"#/components/schemas/slides_v1_UpdateTableColumnPropertiesRequest"},"updateTableRowProperties":{"$ref":"#/components/schemas/slides_v1_UpdateTableRowPropertiesRequest"},"updateTextStyle":{"$ref":"#/components/schemas/slides_v1_UpdateTextStyleRequest"},"updateVideoProperties":{"$ref":"#/components/schemas/slides_v1_UpdateVideoPropertiesRequest"}}},"slides_v1_RerouteLineRequest":{"description":"Reroutes a line such that it's connected at the two closest connection sites on the connected page elements.","type":"object","properties":{"objectId":{"description":"The object ID of the line to reroute. Only a line with a category indicating it is a \"connector\" can be rerouted. The start and end connections of the line must be on different page elements.","type":"string"}}},"slides_v1_Response":{"description":"A single response from an update.","type":"object","properties":{"addCommentReply":{"$ref":"#/components/schemas/slides_v1_AddCommentReplyResponse"},"createImage":{"$ref":"#/components/schemas/slides_v1_CreateImageResponse"},"createLine":{"$ref":"#/components/schemas/slides_v1_CreateLineResponse"},"createShape":{"$ref":"#/components/schemas/slides_v1_CreateShapeResponse"},"createSheetsChart":{"$ref":"#/components/schemas/slides_v1_CreateSheetsChartResponse"},"createSlide":{"$ref":"#/components/schemas/slides_v1_CreateSlideResponse"},"createTable":{"$ref":"#/components/schemas/slides_v1_CreateTableResponse"},"createVideo":{"$ref":"#/components/schemas/slides_v1_CreateVideoResponse"},"duplicateObject":{"$ref":"#/components/schemas/slides_v1_DuplicateObjectResponse"},"groupObjects":{"$ref":"#/components/schemas/slides_v1_GroupObjectsResponse"},"insertComment":{"$ref":"#/components/schemas/slides_v1_InsertCommentResponse"},"replaceAllShapesWithImage":{"$ref":"#/components/schemas/slides_v1_ReplaceAllShapesWithImageResponse"},"replaceAllShapesWithSheetsChart":{"$ref":"#/components/schemas/slides_v1_ReplaceAllShapesWithSheetsChartResponse"},"replaceAllText":{"$ref":"#/components/schemas/slides_v1_ReplaceAllTextResponse"}}},"slides_v1_RgbColor":{"description":"An RGB color.","type":"object","properties":{"blue":{"description":"The blue component of the color, from 0.0 to 1.0.","format":"float","type":"number"},"green":{"description":"The green component of the color, from 0.0 to 1.0.","format":"float","type":"number"},"red":{"description":"The red component of the color, from 0.0 to 1.0.","format":"float","type":"number"}}},"slides_v1_Shadow":{"description":"The shadow properties of a page element. If these fields are unset, they may be inherited from a parent placeholder if it exists. If there is no parent, the fields will default to the value used for new page elements created in the Slides editor, which may depend on the page element kind.","type":"object","properties":{"alignment":{"description":"The alignment point of the shadow, that sets the origin for translate, scale and skew of the shadow. This property is read-only.","enum":["RECTANGLE_POSITION_UNSPECIFIED","TOP_LEFT","TOP_CENTER","TOP_RIGHT","LEFT_CENTER","CENTER","RIGHT_CENTER","BOTTOM_LEFT","BOTTOM_CENTER","BOTTOM_RIGHT"],"type":"string"},"alpha":{"description":"The alpha of the shadow's color, from 0.0 to 1.0.","format":"float","type":"number"},"blurRadius":{"$ref":"#/components/schemas/slides_v1_Dimension"},"color":{"$ref":"#/components/schemas/slides_v1_OpaqueColor"},"propertyState":{"description":"The shadow property state. Updating the shadow on a page element will implicitly update this field to `RENDERED`, unless another value is specified in the same request. To have no shadow on a page element, set this field to `NOT_RENDERED`. In this case, any other shadow fields set in the same request will be ignored.","enum":["RENDERED","NOT_RENDERED","INHERIT"],"type":"string"},"rotateWithShape":{"description":"Whether the shadow should rotate with the shape. This property is read-only.","type":"boolean"},"transform":{"$ref":"#/components/schemas/slides_v1_AffineTransform"},"type":{"description":"The type of the shadow. This property is read-only.","enum":["SHADOW_TYPE_UNSPECIFIED","OUTER"],"type":"string"}}},"slides_v1_Shape":{"description":"A PageElement kind representing a generic shape that doesn't have a more specific classification. For more information, see [Size and position page elements](https://developers.google.com/workspace/slides/api/guides/transform).","type":"object","properties":{"placeholder":{"$ref":"#/components/schemas/slides_v1_Placeholder"},"shapeProperties":{"$ref":"#/components/schemas/slides_v1_ShapeProperties"},"shapeType":{"description":"The type of the shape.","enum":["TYPE_UNSPECIFIED","TEXT_BOX","RECTANGLE","ROUND_RECTANGLE","ELLIPSE","ARC","BENT_ARROW","BENT_UP_ARROW","BEVEL","BLOCK_ARC","BRACE_PAIR","BRACKET_PAIR","CAN","CHEVRON","CHORD","CLOUD","CORNER","CUBE","CURVED_DOWN_ARROW","CURVED_LEFT_ARROW","CURVED_RIGHT_ARROW","CURVED_UP_ARROW","DECAGON","DIAGONAL_STRIPE","DIAMOND","DODECAGON","DONUT","DOUBLE_WAVE","DOWN_ARROW","DOWN_ARROW_CALLOUT","FOLDED_CORNER","FRAME","HALF_FRAME","HEART","HEPTAGON","HEXAGON","HOME_PLATE","HORIZONTAL_SCROLL","IRREGULAR_SEAL_1","IRREGULAR_SEAL_2","LEFT_
[...]
