{"openapi":"3.1.0","info":{"title":"Google Docs API","version":"v1","description":"Reads and writes Google Docs documents."},"servers":[{"url":"https://docs.googleapis.com/"}],"paths":{"/v1/documents":{"post":{"operationId":"docs.documents.create","x-executor-toolPath":"docs.documents.create","tags":["Google Docs API"],"description":"Creates a blank document using the title given in the request. Other fields in the request, including any provided content, are ignored. Returns the created document.","parameters":[{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":true,"type":"boolean"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/docs_v1_Document"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/docs_v1_Document"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/documents"]}],"x-google-scopes":["https://www.googleapis.com/auth/documents"]}},"/v1/documents/{documentId}":{"get":{"operationId":"docs.documents.get","x-executor-toolPath":"docs.documents.get","tags":["Google Docs API"],"description":"Gets the latest version of the specified document.","parameters":[{"name":"documentId","in":"path","required":true,"description":"The ID of the document to retrieve.","schema":{"description":"The ID of the document to retrieve.","type":"string"}},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"commentsViewMode","in":"query","required":false,"description":"The comments view mode to apply to the document. This allows viewing the document with comments omitted or included. If one is not specified, COMMENTS_VIEW_MODE_OMITTED is used. If you set comments_view_mode to any value, you must also set include_tabs_content to `true` or use a field mask that references the Document.tabs field (or any subfield). If you set comments_view_mode to COMMENTS_VIEW_MODE_INCLUDED, you must also explicitly set suggestions_view_mode to SUGGESTIONS_INLINE. If you set comments_view_mode to COMMENTS_VIEW_MODE_INCLUDED or COMMENTS_VIEW_MODE_DEFAULT_FOR_CURRENT_ACCESS, you may not set suggestions_view_mode to PREVIEW_WITHOUT_SUGGESTIONS or PREVIEW_SUGGESTIONS_ACCEPTED. [Developer Preview](https://developers.google.com/workspace/preview).","schema":{"description":"The comments view mode to apply to the document. This allows viewing the document with comments omitted or included. If one is not specified, COMMENTS_VIEW_MODE_OMITTED is used. If you set comments_view_mode to any value, you must also set include_tabs_content to `true` or use a field mask that references the Document.tabs field (or any subfield). If you set comments_view_mode to COMMENTS_VIEW_MODE_INCLUDED, you must also explicitly set suggestions_view_mode to SUGGESTIONS_INLINE. If you set comments_view_mode to COMMENTS_VIEW_MODE_INCLUDED or COMMENTS_VIEW_MODE_DEFAULT_FOR_CURRENT_ACCESS, you may not set suggestions_view_mode to PREVIEW_WITHOUT_SUGGESTIONS or PREVIEW_SUGGESTIONS_ACCEPTED. [Developer Preview](https://developers.google.com/workspace/preview).","enum":["COMMENTS_VIEW_MODE_UNSPECIFIED","COMMENTS_VIEW_MODE_DEFAULT_FOR_CURRENT_ACCESS","COMMENTS_VIEW_MODE_OMITTED","COMMENTS_VIEW_MODE_INCLUDED"],"type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"includeTabsContent","in":"query","required":false,"description":"Whether to populate the `Document.tabs` field instead of the text content fields like `body` and `documentStyle` on `Document`. - When `true`: Document content populates in the `Document.tabs` field instead of the text content fields in `Document`. - When `false`: The content of the document's first tab populates the content fields in `Document` excluding `Document.tabs`. If a document has only one tab, then that tab is used to populate the document content. `Document.tabs` will be empty. If you use a field mask that references the `Document.tabs` field (or any subfield), the API implicitly treats the request as if you set `include_tabs_content` to `true`.","schema":{"description":"Whether to populate the `Document.tabs` field instead of the text content fields like `body` and `documentStyle` on `Document`. - When `true`: Document content populates in the `Document.tabs` field instead of the text content fields in `Document`. - When `false`: The content of the document's first tab populates the content fields in `Document` excluding `Document.tabs`. If a document has only one tab, then that tab is used to populate the document content. `Document.tabs` will be empty. If you use a field mask that references the `Document.tabs` field (or any subfield), the API implicitly treats the request as if you set `include_tabs_content` to `true`.","type":"boolean"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":true,"type":"boolean"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"suggestionsViewMode","in":"query","required":false,"description":"The suggestions view mode to apply to the document. This allows viewing the document with all suggestions inline, accepted or rejected. If one is not specified, DEFAULT_FOR_CURRENT_ACCESS is used.","schema":{"description":"The suggestions view mode to apply to the document. This allows viewing the document with all suggestions inline, accepted or rejected. If one is not specified, DEFAULT_FOR_CURRENT_ACCESS is used.","enum":["DEFAULT_FOR_CURRENT_ACCESS","SUGGESTIONS_INLINE","PREVIEW_SUGGESTIONS_ACCEPTED","PREVIEW_WITHOUT_SUGGESTIONS"],"type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/docs_v1_Document"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/documents"]}],"x-google-scopes":["https://www.googleapis.com/auth/documents"]}},"/v1/documents/{documentId}:batchUpdate":{"post":{"operationId":"docs.documents.batchUpdate","x-executor-toolPath":"docs.documents.batchUpdate","tags":["Google Docs API"],"description":"Applies one or more updates to the document. Each request is validated before being applied. If any request is not valid, then the entire request will fail and nothing will be applied. Some requests have replies to give you some information about how they are applied. Other requests do not need to return information; these each return an empty reply. The order of replies matches that of the requests. For example, suppose you call batchUpdate with four updates, and only the third one returns information. The response would have two empty replies, the reply to the third request, and another empty reply, in that order. Because other users may be editing the document, the document might not exactly reflect your changes: your changes may be altered with respect to collaborator changes. If there are no collaborators, the document should reflect your changes. In any case, the updates in your request are guaranteed to be applied together atomically.","parameters":[{"name":"documentId","in":"path","required":true,"description":"The ID of the document to update.","schema":{"description":"The ID of the document to update.","type":"string"}},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":true,"type":"boolean"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/docs_v1_BatchUpdateDocumentRequest"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/docs_v1_BatchUpdateDocumentResponse"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/documents"]}],"x-google-scopes":["https://www.googleapis.com/auth/documents"]}}},"components":{"schemas":{"docs_v1_AcceptSuggestionRequest":{"description":"Accepts a suggestion. Returns a 403 forbidden error if the requesting user does not have edit access to the document. [Developer Preview](https://developers.google.com/workspace/preview).","type":"object","properties":{"suggestionId":{"description":"The ID of the suggestion.","type":"string"}}},"docs_v1_AddCommentReplyRequest":{"description":"Inserts a reply Post into a CommentThread or SuggestionThread. [Developer Preview](https://developers.google.com/workspace/preview).","type":"object","properties":{"commentId":{"description":"The ID of the CommentThread to add the reply to.","type":"string"},"post":{"$ref":"#/components/schemas/docs_v1_Post"},"suggestionId":{"description":"The ID of the SuggestionThread to add the reply to.","type":"string"}}},"docs_v1_AddCommentReplyResponse":{"description":"Response message for adding a reply. [Developer Preview](https://developers.google.com/workspace/preview).","type":"object","properties":{"post":{"$ref":"#/components/schemas/docs_v1_Post"}}},"docs_v1_AddDocumentTabRequest":{"description":"Adds a document tab. When a tab is added at a given index, all subsequent tabs' indexes are incremented.","type":"object","properties":{"tabProperties":{"$ref":"#/components/schemas/docs_v1_TabProperties"}}},"docs_v1_AddDocumentTabResponse":{"description":"The result of adding a document tab.","type":"object","properties":{"tabProperties":{"$ref":"#/components/schemas/docs_v1_TabProperties"}}},"docs_v1_AutoText":{"description":"A ParagraphElement representing a spot in the text that's dynamically replaced with content that can change over time, like a page number.","type":"object","properties":{"suggestedDeletionIds":{"description":"The suggested deletion IDs. If empty, then there are no suggested deletions of this content.","type":"array","items":{"type":"string"}},"suggestedInsertionIds":{"description":"The suggested insertion IDs. An AutoText may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion.","type":"array","items":{"type":"string"}},"suggestedTextStyleChanges":{"description":"The suggested text style changes to this AutoText, keyed by suggestion ID.","type":"object","additionalProperties":{"$ref":"#/components/schemas/docs_v1_SuggestedTextStyle"}},"textStyle":{"$ref":"#/components/schemas/docs_v1_TextStyle"},"type":{"description":"The type of this auto text.","enum":["TYPE_UNSPECIFIED","PAGE_NUMBER","PAGE_COUNT"],"type":"string"}}},"docs_v1_Background":{"description":"Represents the background of a document.","type":"object","properties":{"color":{"$ref":"#/components/schemas/docs_v1_OptionalColor"}}},"docs_v1_BackgroundSuggestionState":{"description":"A mask that indicates which of the fields on the base Background have been changed in this suggestion. For any field set to true, the Backgound has a new suggested value.","type":"object","properties":{"backgroundColorSuggested":{"description":"Indicates whether the current background color has been modified in this suggestion.","type":"boolean"}}},"docs_v1_BatchUpdateDocumentRequest":{"description":"Request message for BatchUpdateDocument.","type":"object","properties":{"requests":{"description":"A list of updates to apply to the document.","type":"array","items":{"$ref":"#/components/schemas/docs_v1_Request"}},"writeControl":{"$ref":"#/components/schemas/docs_v1_WriteControl"}}},"docs_v1_BatchUpdateDocumentResponse":{"description":"Response message from a BatchUpdateDocument request.","type":"object","properties":{"commentUpdateState":{"description":"Whether comment updates were applied in the batch request. [Developer Preview](https://developers.google.com/workspace/preview).","enum":["COMMENT_UPDATE_STATE_UNSPECIFIED","NO_UPDATES_REQUESTED","ALL_SAVED","ALL_FAILED_UNKNOWN_REASON"],"type":"string"},"documentId":{"description":"The ID of the document to which the updates were applied to.","type":"string"},"replies":{"description":"The reply of the updates. This maps 1:1 with the updates, although replies to some requests may be empty.","type":"array","items":{"$ref":"#/components/schemas/docs_v1_Response"}},"suggestionResponses":{"description":"The suggestions which were affected by each update. This maps 1:1 with the updates. [Developer Preview](https://developers.google.com/workspace/preview).","type":"array","items":{"$ref":"#/components/schemas/docs_v1_SuggestionResponse"}},"writeControl":{"$ref":"#/components/schemas/docs_v1_WriteControl"}}},"docs_v1_Body":{"description":"The document body. The body typically contains the full document contents except for headers, footers, and footnotes.","type":"object","properties":{"content":{"description":"The contents of the body. The indexes for the body's content begin at zero.","type":"array","items":{"$ref":"#/components/schemas/docs_v1_StructuralElement"}}}},"docs_v1_BookmarkLink":{"description":"A reference to a bookmark in this document.","type":"object","properties":{"id":{"description":"The ID of a bookmark in this document.","type":"string"},"tabId":{"description":"The ID of the tab containing this bookmark.","type":"string"}}},"docs_v1_Bullet":{"description":"Describes the bullet of a paragraph.","type":"object","properties":{"listId":{"description":"The ID of the list this paragraph belongs to.","type":"string"},"nestingLevel":{"description":"The nesting level of this paragraph in the list.","format":"int32","type":"integer"},"textStyle":{"$ref":"#/components/schemas/docs_v1_TextStyle"}}},"docs_v1_BulletSuggestionState":{"description":"A mask that indicates which of the fields on the base Bullet have been changed in this suggestion. For any field set to true, there's a new suggested value.","type":"object","properties":{"listIdSuggested":{"description":"Indicates if there was a suggested change to the list_id.","type":"boolean"},"nestingLevelSuggested":{"description":"Indicates if there was a suggested change to the nesting_level.","type":"boolean"},"textStyleSuggestionState":{"$ref":"#/components/schemas/docs_v1_TextStyleSuggestionState"}}},"docs_v1_Color":{"description":"A solid color.","type":"object","properties":{"rgbColor":{"$ref":"#/components/schemas/docs_v1_RgbColor"}}},"docs_v1_ColumnBreak":{"description":"A ParagraphElement representing a column break. A column break makes the subsequent text start at the top of the next column.","type":"object","properties":{"suggestedDeletionIds":{"description":"The suggested deletion IDs. If empty, then there are no suggested deletions of this content.","type":"array","items":{"type":"string"}},"suggestedInsertionIds":{"description":"The suggested insertion IDs. A ColumnBreak may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion.","type":"array","items":{"type":"string"}},"suggestedTextStyleChanges":{"description":"The suggested text style changes to this ColumnBreak, keyed by suggestion ID.","type":"object","additionalProperties":{"$ref":"#/components/schemas/docs_v1_SuggestedTextStyle"}},"textStyle":{"$ref":"#/components/schemas/docs_v1_TextStyle"}}},"docs_v1_CommentAnchor":{"description":"One or more locations in the document that are tied to CommentThreads with the same anchorId. Note: Multiple anchors may refer to the same location. [Developer Preview](https://developers.google.com/workspace/preview).","type":"object","properties":{"anchorId":{"description":"The ID of the comment anchor.","type":"string"},"ranges":{"description":"A collection of Ranges in the document which are tied to this anchor.","type":"array","items":{"$ref":"#/components/schemas/docs_v1_Range"}}}},"docs_v1_CommentThread":{"description":"Represents a single comment thread. [Developer Preview](https://developers.google.com/workspace/preview).","type":"object","properties":{"anchorId":{"description":"The ID of the CommentAnchor in the document that this thread is tied to. Multiple comment threads may be anchored to the same CommentAnchor.","type":"string"},"commentId":{"description":"The unique ID of the comment thread.","type":"string"},"headPost":{"$ref":"#/components/schemas/docs_v1_Post"},"plainTextQuote":{"description":"The quoted text from the document when the comment was created, formatted as plain-text.","type":"string"},"replies":{"description":"Replies to the head post.","type":"array","items":{"$ref":"#/components/schemas/docs_v1_Post"}},"status":{"description":"Whether the thread is open or resolved.","enum":["STATUS_UNSPECIFIED","OPEN","RESOLVED"],"type":"string"}}},"docs_v1_CreateDropdownDefinitionRequest":{"description":"Creates a new DropdownDefinition in the document.","type":"object","properties":{"dropdownDefinition":{"$ref":"#/components/schemas/docs_v1_DropdownDefinition"},"tabId":{"description":"The ID of the tab to create the dropdown definition in. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document.","type":"string"}}},"docs_v1_CreateDropdownDefinitionResponse":{"description":"Response message for creating a dropdown definition.","type":"object","properties":{"dropdownDefinition":{"$ref":"#/components/schemas/docs_v1_DropdownDefinition"}}},"docs_v1_CreateFooterRequest":{"description":"Creates a Footer. The new footer is applied to the SectionStyle at the location of the SectionBreak if specified, otherwise it is applied to the DocumentStyle. If a footer of the specified type already exists, a 400 bad request error is returned.","type":"object","properties":{"sectionBreakLocation":{"$ref":"#/components/schemas/docs_v1_Location"},"type":{"description":"The type of footer to create.","enum":["HEADER_FOOTER_TYPE_UNSPECIFIED","DEFAULT"],"type":"string"}}},"docs_v1_CreateFooterResponse":{"description":"The result of creating a footer.","type":"object","properties":{"footerId":{"description":"The ID of the created footer.","type":"string"}}},"docs_v1_CreateFootnoteRequest":{"description":"Creates a Footnote segment and inserts a new FootnoteReference to it at the given location. The new Footnote segment will contain a space followed by a newline character.","type":"object","properties":{"endOfSegmentLocation":{"$ref":"#/components/schemas/docs_v1_EndOfSegmentLocation"},"location":{"$ref":"#/components/schemas/docs_v1_Location"}}},"docs_v1_CreateFootnoteResponse":{"description":"The result of creating a footnote.","type":"object","properties":{"footnoteId":{"description":"The ID of the created footnote.","type":"string"}}},"docs_v1_CreateHeaderRequest":{"description":"Creates a Header. The new header is applied to the SectionStyle at the location of the SectionBreak if specified, otherwise it is applied to the DocumentStyle. If a header of the specified type already exists, a 400 bad request error is returned.","type":"object","properties":{"sectionBreakLocation":{"$ref":"#/components/schemas/docs_v1_Location"},"type":{"description":"The type of header to create.","enum":["HEADER_FOOTER_TYPE_UNSPECIFIED","DEFAULT"],"type":"string"}}},"docs_v1_CreateHeaderResponse":{"description":"The result of creating a header.","type":"object","properties":{"headerId":{"description":"The ID of the created header.","type":"string"}}},"docs_v1_CreateNamedRangeRequest":{"description":"Creates a NamedRange referencing the given range.","type":"object","properties":{"name":{"description":"The name of the NamedRange. Names do not need to be unique. Names must be at least 1 character and no more than 256 characters, measured in UTF-16 code units.","type":"string"},"range":{"$ref":"#/components/schemas/docs_v1_Range"}}},"docs_v1_CreateNamedRangeResponse":{"description":"The result of creating a named range.","type":"object","properties":{"namedRangeId":{"description":"The ID of the created named range.","type":"string"}}},"docs_v1_CreateParagraphBulletsRequest":{"description":"Creates bullets for all of the paragraphs that overlap with the given range. The nesting level of each paragraph will be determined by counting leading tabs in front of each paragraph. To avoid excess space between the bullet and the corresponding paragraph, these leading tabs are removed by this request. This may change the indices of parts of the text. If the paragraph immediately before paragraphs being updated is in a list with a matching preset, the paragraphs being updated are added to that preceding list.","type":"object","properties":{"bulletPreset":{"description":"The kinds of bullet glyphs to be used.","enum":["BULLET_GLYPH_PRESET_UNSPECIFIED","BULLET_DISC_CIRCLE_SQUARE","BULLET_DIAMONDX_ARROW3D_SQUARE","BULLET_CHECKBOX","BULLET_ARROW_DIAMOND_DISC","BULLET_STAR_CIRCLE_SQUARE","BULLET_ARROW3D_CIRCLE_SQUARE","BULLET_LEFTTRIANGLE_DIAMOND_DISC","BULLET_DIAMONDX_HOLLOWDIAMOND_SQUARE","BULLET_DIAMOND_CIRCLE_SQUARE","NUMBERED_DECIMAL_ALPHA_ROMAN","NUMBERED_DECIMAL_ALPHA_ROMAN_PARENS","NUMBERED_DECIMAL_NESTED","NUMBERED_UPPERALPHA_ALPHA_ROMAN","NUMBERED_UPPERROMAN_UPPERALPHA_DECIMAL","NUMBERED_ZERODECIMAL_ALPHA_ROMAN"],"type":"string"},"range":{"$ref":"#/components/schemas/docs_v1_Range"}}},"docs_v1_CropProperties":{"description":"The crop properties of an image. The crop rectangle is represented using fractional offsets from the original content's 4 edges. - If the offset is in the interval (0, 1), the corresponding edge of crop rectangle is positioned inside of the image's original bounding rectangle. - If the offset is negative or greater than 1, the corresponding edge of crop rectangle is positioned outside of the image's original bounding rectangle. - If all offsets and rotation angles are 0, the image is not cropped.","type":"object","properties":{"angle":{"description":"The clockwise rotation angle of the crop rectangle around its center, in radians. Rotation is applied after the offsets.","format":"float","type":"number"},"offsetBottom":{"description":"The offset specifies how far inwards the bottom edge of the crop rectangle is from the bottom edge of the original content as a fraction of the original content's height.","format":"float","type":"number"},"offsetLeft":{"description":"The offset specifies how far inwards the left edge of the crop rectangle is from the left edge of the original content as a fraction of the original content's width.","format":"float","type":"number"},"offsetRight":{"description":"The offset specifies how far inwards the right edge of the crop rectangle is from the right edge of the original content as a fraction of the original content's width.","format":"float","type":"number"},"offsetTop":{"description":"The offset specifies how far inwards the top edge of the crop rectangle is from the top edge of the original content as a fraction of the original content's height.","format":"float","type":"number"}}},"docs_v1_CropPropertiesSuggestionState":{"description":"A mask that indicates which of the fields on the base CropProperties have been changed in this suggestion. For any field set to true, there's a new suggested value.","type":"object","properties":{"angleSuggested":{"description":"Indicates if there was a suggested change to angle.","type":"boolean"},"offsetBottomSuggested":{"description":"Indicates if there was a suggested change to offset_bottom.","type":"boolean"},"offsetLeftSuggested":{"description":"Indicates if there was a suggested change to offset_left.","type":"boolean"},"offsetRightSuggested":{"description":"Indicates if there was a suggested change to offset_right.","type":"boolean"},"offsetTopSuggested":{"description":"Indicates if there was a suggested change to offset_top.","type":"boolean"}}},"docs_v1_DateElement":{"description":"A date instance mentioned in a document.","type":"object","properties":{"dateElementProperties":{"$ref":"#/components/schemas/docs_v1_DateElementProperties"},"dateId":{"description":"Output only. The unique ID of this date.","readOnly":true,"type":"string"},"suggestedDateElementPropertiesChanges":{"description":"The suggested changes to the date element properties, keyed by suggestion ID.","type":"object","additionalProperties":{"$ref":"#/components/schemas/docs_v1_SuggestedDateElementProperties"}},"suggestedDeletionIds":{"description":"IDs for suggestions that remove this date from the document. A DateElement might have multiple deletion IDs if, for example, multiple users suggest deleting it. If empty, then this date isn't suggested for deletion.","type":"array","items":{"type":"string"}},"suggestedInsertionIds":{"description":"IDs for suggestions that insert this date into the document. A DateElement might have multiple insertion IDs if it's a nested suggested change (a suggestion within a suggestion made by a different user, for example). If empty, then this date isn't a suggested insertion.","type":"array","items":{"type":"string"}},"suggestedTextStyleChanges":{"description":"The suggested text style changes to this DateElement, keyed by suggestion ID.","type":"object","additionalProperties":{"$ref":"#/components/schemas/docs_v1_SuggestedTextStyle"}},"textStyle":{"$ref":"#/components/schemas/docs_v1_TextStyle"}}},"docs_v1_DateElementProperties":{"description":"Properties of a DateElement.","type":"object","properties":{"dateFormat":{"description":"Determines how the date part of the DateElement will be displayed in the document. If unset, the default value is DATE_FORMAT_MONTH_DAY_YEAR_ABBREVIATED, indicating the DateElement will be formatted as `MMM d, y` in `en`, or locale specific equivalent.","enum":["DATE_FORMAT_UNSPECIFIED","DATE_FORMAT_CUSTOM","DATE_FORMAT_MONTH_DAY_ABBREVIATED","DATE_FORMAT_MONTH_DAY_FULL","DATE_FORMAT_MONTH_DAY_YEAR_ABBREVIATED","DATE_FORMAT_ISO8601"],"type":"string"},"displayText":{"description":"Output only. Indicates how the DateElement is displayed in the document.","type":"string"},"locale":{"description":"The language code of the DateElement. For example, `en`. If unset, the default locale is `en`. Limited to the following locales: `af`, `am`, `ar`, `as`, `az`, `be`, `bg`, `bn`, `ca`, `cs`, `da`, `de`, `el`, `en`, `en-CA`, `en-GB`, `es`, `es-419`, `et`, `eu`, `fa`, `fi`, `fil`, `fr`, `fr-CA`, `gl`, `gu`, `hi`, `hr`, `hu`, `hy`, `id`, `is`, `it`, `iw`, `ja`, `ka`, `kk`, `km`, `kn`, `ko`, `lo`, `lt`, `lv`, `mk`, `ml`, `mn`, `mr`, `ms`, `ne`, `nl`, `no`, `or`, `pa`, `pl`, `pt-BR`, `pt-PT`, `ro`, `ru`, `si`, `sk`, `sl`, `sq`, `sr`, `sv`, `sw`, `ta`, `te`, `th`, `tr`, `uk`, `ur`, `uz`, `vi`, `zh-CN`, `zh-HK`, `zh-TW`, `zu`, `cy`, `my`.","type":"string"},"timeFormat":{"description":"Determines how the time part of the DateElement will be displayed in the document. If unset, the default value is TIME_FORMAT_DISABLED, indicating no time should be shown.","enum":["TIME_FORMAT_UNSPECIFIED","TIME_FORMAT_DISABLED","TIME_FORMAT_HOUR_MINUTE","TIME_FORMAT_HOUR_MINUTE_TIMEZONE"],"type":"string"},"timeZoneId":{"description":"The time zone of the DateElement, as defined by the Unicode Common Locale Data Repository (CLDR) project. For example, `America/New_York`. If unset, the default time zone is `etc/UTC`.","type":"string"},"timestamp":{"description":"The point in time to represent, in seconds and nanoseconds since Unix epoch: January 1, 1970 at midnight UTC. Timestamp is expected to be in UTC. If time_zone_id is set, the timestamp is adjusted according to the time zone. For example, a timestamp of `18000` with a date format of `DATE_FORMAT_ISO8601` and time format of `TIME_FORMAT_HOUR_MINUTE` would be displayed as `1970-01-01 5:00 AM`. A timestamp of `18000` with date format of `DATE_FORMAT_ISO8601`, time format of `TIME_FORMAT_HOUR_MINUTE`, and time zone set to `America/New_York` will instead be `1970-01-01 12:00 AM`.","format":"google-datetime","type":"string"}}},"docs_v1_DateElementPropertiesSuggestionState":{"description":"A mask that indicates which of the fields on the base DateElementProperties have been changed in this suggestion. For any field set to true, there's a new suggested value.","type":"object","properties":{"dateFormatSuggested":{"description":"Indicates if there was a suggested change to date_format.","type":"boolean"},"localeSuggested":{"description":"Indicates if there was a suggested change to locale.","type":"boolean"},"timeFormatSuggested":{"description":"Indicates if there was a suggested change to time_format.","type":"boolean"},"timeZoneIdSuggested":{"description":"Indicates if there was a suggested change to time_zone_id.","type":"boolean"},"timestampSuggested":{"description":"Indicates if there was a suggested change to timestamp.","type":"boolean"}}},"docs_v1_DeleteCommentReplyRequest":{"description":"Deletes a reply Post from a CommentThread or SuggestionThread. Returns a 400 bad request error if: - The requesting user is not the author of the post. - The reply post contains an action. - The reply post contains an assignee. [Developer Preview](https://developers.google.com/workspace/preview).","type":"object","properties":{"commentId":{"description":"The ID of the CommentThread which the post belongs to.","type":"string"},"postId":{"description":"The ID of the reply Post being deleted.","type":"string"},"suggestionId":{"description":"The ID of the SuggestionThread which the post belongs to.","type":"string"}}},"docs_v1_DeleteCommentRequest":{"description":"Deletes a CommentThread. Returns a 400 bad request error if the requesting user is not the author of the headPost. [Developer Preview](https://developers.google.com/workspace/preview).","type":"object","properties":{"commentId":{"description":"The ID of the CommentThread that is being deleted.","type":"string"}}},"docs_v1_DeleteContentRangeRequest":{"description":"Deletes content from the document.","type":"object","properties":{"range":{"$ref":"#/components/schemas/docs_v1_Range"}}},"docs_v1_DeleteDropdownDefinitionRequest":{"description":"Deletes a DropdownDefinition. If the dropdown definition is referenced by any dropdown instances (chips) in the document, a 400 bad request error is returned.","type":"object","properties":{"dropdownDefinitionId":{"description":"The ID of the DropdownDefinition to delete.","type":"string"},"tabId":{"description":"The ID of the tab that contains the dropdown definition to delete. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document.","type":"string"}}},"docs_v1_DeleteFooterRequest":{"description":"Deletes a Footer from the document.","type":"object","properties":{"footerId":{"description":"The id of the footer to delete. If this footer is defined on DocumentStyle, the reference to this footer is removed, resulting in no footer of that type for the first section of the document. If this footer is defined on a SectionStyle, the reference to this footer is removed and the footer of that type is now continued from the previous section.","type":"string"},"tabId":{"description":"The tab that contains the footer to delete. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document.","type":"string"}}},"docs_v1_DeleteHeaderRequest":{"description":"Deletes a Header from the document.","type":"object","properties":{"headerId":{"description":"The id of the header to delete. If this header is defined on DocumentStyle, the reference to this header is removed, resulting in no header of that type for the first section of the document. If this header is defined on a SectionStyle, the reference to this header is removed and the header of that type is now continued from the previous section.","type":"string"},"tabId":{"description":"The tab containing the header to delete. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document.","type":"string"}}},"docs_v1_DeleteNamedRangeRequest":{"description":"Deletes a NamedRange.","type":"object","properties":{"name":{"description":"The name of the range(s) to delete. All named ranges with the given name will be deleted.","type":"string"},"namedRangeId":{"description":"The ID of the named range to delete.","type":"string"},"tabsCriteria":{"$ref":"#/components/schemas/docs_v1_TabsCriteria"}}},"docs_v1_DeleteParagraphBulletsRequest":{"description":"Deletes bullets from all of the paragraphs that overlap with the given range. The nesting level of each paragraph will be visually preserved by adding indent to the start of the corresponding paragraph.","type":"object","properties":{"range":{"$ref":"#/components/schemas/docs_v1_Range"}}},"docs_v1_DeletePositionedObjectRequest":{"description":"Deletes a PositionedObject from the document.","type":"object","properties":{"objectId":{"description":"The ID of the positioned object to delete.","type":"string"},"tabId":{"description":"The tab that the positioned object to delete is in. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document.","type":"string"}}},"docs_v1_DeleteSuggestionRequest":{"description":"Deletes a suggestion. Returns a 403 forbidden error if the requesting user is not the author of the suggestion. [Developer Preview](https://developers.google.com/workspace/preview).","type":"object","properties":{"suggestionId":{"description":"The ID of the suggestion.","type":"string"}}},"docs_v1_DeleteTabRequest":{"description":"Deletes a tab. If the tab has child tabs, they are deleted as well.","type":"object","properties":{"tabId":{"description":"The ID of the tab to delete.","type":"string"}}},"docs_v1_DeleteTableColumnRequest":{"description":"Deletes a column from a table.","type":"object","properties":{"tableCellLocation":{"$ref":"#/components/schemas/docs_v1_TableCellLocation"}}},"docs_v1_DeleteTableRowRequest":{"description":"Deletes a row from a table.","type":"object","properties":{"tableCellLocation":{"$ref":"#/components/schemas/docs_v1_TableCellLocation"}}},"docs_v1_Dimension":{"description":"A magnitude in a single direction in the specified units.","type":"object","properties":{"magnitude":{"description":"The magnitude.","format":"double","type":"number"},"unit":{"description":"The units for magnitude.","enum":["UNIT_UNSPECIFIED","PT"],"type":"string"}}},"docs_v1_Document":{"description":"A Google Docs document.","type":"object","properties":{"body":{"$ref":"#/components/schemas/docs_v1_Body"},"comments":{"description":"Output only. The comments associated with the document. Only populated if the commentsViewMode parameter is set to require comments (such as `COMMENTS_VIEW_MODE_INCLUDED`). [Developer Preview](https://developers.google.com/workspace/preview).","type":"array","items":{"$ref":"#/components/schemas/docs_v1_CommentThread"}},"commentsViewMode":{"description":"Output only. The comments view mode applied to the document. [Developer Preview](https://developers.google.com/workspace/preview).","enum":["COMMENTS_VIEW_MODE_UNSPECIFIED","COMMENTS_VIEW_MODE_DEFAULT_FOR_CURRENT_ACCESS","COMMENTS_VIEW_MODE_OMITTED","COMMENTS_VIEW_MODE_INCLUDED"],"type":"string"},"documentId":{"description":"Output only. The ID of the document.","type":"string"},"documentStyle":{"$ref":"#/components/schemas/docs_v1_DocumentStyle"},"footers":{"description":"Output only. The footers in the document, keyed by footer ID. Legacy field: Instead, use Document.tabs.documentTab.footers, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.","type":"object","additionalProperties":{"$ref":"#/components/schemas/docs_v1_Footer"}},"footnotes":{"description":"Output only. The footnotes in the document, keyed by footnote ID. Legacy field: Instead, use Document.tabs.documentTab.footnotes, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.","type":"object","additionalProperties":{"$ref":"#/components/schemas/docs_v1_Footnote"}},"headers":{"description":"Output only. The headers in the document, keyed by header ID. Legacy field: Instead, use Document.tabs.documentTab.headers, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.","type":"object","additionalProperties":{"$ref":"#/components/schemas/docs_v1_Header"}},"inlineObjects":{"description":"Output only. The inline objects in the document, keyed by object ID. Legacy field: Instead, use Document.tabs.documentTab.inlineObjects, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.","type":"object","additionalProperties":{"$ref":"#/components/schemas/docs_v1_InlineObject"}},"lists":{"description":"Output only. The lists in the document, keyed by list ID. Legacy field: Instead, use Document.tabs.documentTab.lists, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.","type":"object","additionalProperties":{"$ref":"#/components/schemas/docs_v1_List"}},"namedRanges":{"description":"Output only. The named ranges in the document, keyed by name. Legacy field: Instead, use Document.tabs.documentTab.namedRanges, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.","type":"object","additionalProperties":{"$ref":"#/components/schemas/docs_v1_NamedRanges"}},"namedStyles":{"$ref":"#/components/schemas/docs_v1_NamedStyles"},"positionedObjects":{"description":"Output only. The positioned objects in the document, keyed by object ID. Legacy field: Instead, use Document.tabs.documentTab.positionedObjects, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.","type":"object","additionalProperties":{"$ref":"#/components/schemas/docs_v1_PositionedObject"}},"revisionId":{"description":"Output only. The revision ID of the document. Can be used in update requests to specify which revision of a document to apply updates to and how the request should behave if the document has been edited since that revision. Only populated if the user has edit access to the document. The revision ID is not a sequential number but an opaque string. The format of the revision ID might change over time. A returned revision ID is only guaranteed to be valid for 24 hours after it has been returned and cannot be shared across users. If the revision ID is unchanged between calls, then the document has not changed. Conversely, a changed ID (for the same document and user) usually means the document has been updated. However, a changed ID can also be due to internal factors such as ID format changes.","type":"string"},"suggestedDocumentStyleChanges":{"description":"Output only. The suggested changes to the style of the document, keyed by suggestion ID. Legacy field: Instead, use Document.tabs.documentTab.suggestedDocumentStyleChanges, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.","type":"object","additionalProperties":{"$ref":"#/components/schemas/docs_v1_SuggestedDocumentStyle"}},"suggestedNamedStylesChanges":{"description":"Output only. The suggested changes to the named styles of the document, keyed by suggestion ID. Legacy field: Instead, use Document.tabs.documentTab.suggestedNamedStylesChanges, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.","type":"object","additionalProperties":{"$ref":"#/components/schemas/docs_v1_SuggestedNamedStyles"}},"suggestions":{"description":"Output only. The suggestions associated with the document. Only populated if the commentsViewMode parameter is set to require comments (such as `COMMENTS_VIEW_MODE_INCLUDED`). [Developer Preview](https://developers.google.com/workspace/preview).","type":"array","items":{"$ref":"#/components/schemas/docs_v1_SuggestionThread"}},"suggestionsViewMode":{"description":"Output only. The suggestions view mode applied to the document. Note: When editing a document, changes must be based on a document with SUGGESTIONS_INLINE.","enum":["DEFAULT_FOR_CURRENT_ACCESS","SUGGESTIONS_INLINE","PREVIEW_SUGGESTIONS_ACCEPTED","PREVIEW_WITHOUT_SUGGESTIONS"],"type":"string"},"tabs":{"description":"Output only. Tabs that are part of a document. Tabs can contain child tabs, a tab nested within another tab. Child tabs are represented by the Tab.childTabs field.","type":"array","items":{"$ref":"#/components/schemas/docs_v1_Tab"}},"title":{"description":"The title of the document.","type":"string"}}},"docs_v1_DocumentFormat":{"description":"Represents document-level format settings.","type":"object","properties":{"documentMode":{"description":"Whether the document has pages or is pageless.","enum":["DOCUMENT_MODE_UNSPECIFIED","PAGES","PAGELESS"],"type":"string"}}},"docs_v1_DocumentStyle":{"description":"The style of the document.","type":"object","properties":{"background":{"$ref":"#/components/schemas/docs_v1_Background"},"defaultFooterId":{"description":"The ID of the default footer. If not set, there's no default footer. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only.","type":"string"},"defaultHeaderId":{"description":"The ID of the default header. If not set, there's no default header. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only.","type":"string"},"documentFormat":{"$ref":"#/components/schemas/docs_v1_DocumentFormat"},"evenPageFooterId":{"description":"The ID of the footer used only for even pages. The value of use_even_page_header_footer determines whether to use the default_footer_id or this value for the footer on even pages. If not set, there's no even page footer. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only.","type":"string"},"evenPageHeaderId":{"description":"The ID of the header used only for even pages. The value of use_even_page_header_footer determines whether to use the default_header_id or this value for the header on even pages. If not set, there's no even page header. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only.","type":"string"},"firstPageFooterId":{"description":"The ID of the footer used only for the first page. If not set then a unique footer for the first page does not exist. The value of use_first_page_header_footer determines whether to use the default_footer_id or this value for the footer on the first page. If not set, there's no first page footer. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only.","type":"string"},"firstPageHeaderId":{"description":"The ID of the header used only for the first page. If not set then a unique header for the first page does not exist. The value of use_first_page_header_footer determines whether to use the default_header_id or this value for the header on the first page. If not set, there's no first page header. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only.","type":"string"},"flipPageOrientation":{"description":"Optional. Indicates whether to flip the dimensions of the page_size, which allows changing the page orientation between portrait and landscape. If DocumentMode is PAGELESS, this property will not be rendered.","type":"boolean"},"marginBottom":{"$ref":"#/components/schemas/docs_v1_Dimension"},"marginFooter":{"$ref":"#/components/schemas/docs_v1_Dimension"},"marginHeader":{"$ref":"#/components/schemas/docs_v1_Dimension"},"marginLeft":{"$ref":"#/components/schemas/docs_v1_Dimension"},"marginRight":{"$ref":"#/components/schemas/docs_v1_Dimension"},"marginTop":{"$ref":"#/components/schemas/docs_v1_Dimension"},"pageNumberStart":{"description":"The page number from which to start counting the number of pages. If DocumentMode is PAGELESS, this property will not be rendered.","format":"int32","type":"integer"},"pageSize":{"$ref":"#/components/schemas/docs_v1_Size"},"useCustomHeaderFooterMargins":{"description":"Indicates whether DocumentStyle margin_header, SectionStyle margin_header and DocumentStyle margin_footer, SectionStyle margin_footer are respected. When false, the default values in the Docs editor for header and footer margin is used. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only.","type":"boolean"},"useEvenPageHeaderFooter":{"description":"Indicates whether to use the even page header / footer IDs for the even pages. If DocumentMode is PAGELESS, this property will not be rendered.","type":"boolean"},"useFirstPageHeaderFooter":{"description":"Indicates whether to use the first page header / footer IDs for the first page. If DocumentMode is PAGELESS, this property will not be rendered.","type":"boolean"}}},"docs_v1_DocumentStyleSuggestionState":{"description":"A mask that indicates which of the fields on the base DocumentStyle have been changed in this suggestion. For any field set to true, there's a new suggested value.","type":"object","properties":{"backgroundSuggestionState":{"$ref":"#/components/schemas/docs_v1_BackgroundSuggestionState"},"defaultFooterIdSuggested":{"description":"Indicates if there was a suggested change to default_footer_id.","type":"boolean"},"defaultHeaderIdSuggested":{"description":"Indicates if there was a suggested change to default_header_id.","type":"boolean"},"evenPageFooterIdSuggested":{"description":"Indicates if there was a suggested change to even_page_footer_id.","type":"boolean"},"evenPageHeaderIdSuggested":{"description":"Indicates if there was a suggested change to even_page_header_id.","type":"boolean"},"firstPageFooterIdSuggested":{"description":"Indicates if there was a suggested change to first_page_footer_id.","type":"boolean"},"firstPageHeaderIdSuggested":{"description":"Indicates if there was a suggested change to first_page_header_id.","type":"boolean"},"flipPageOrientationSuggested":{"description":"Optional. Indicates if there was a suggested change to flip_page_orientation.","type":"boolean"},"marginBottomSuggested":{"description":"Indicates if there was a suggested change to margin_bottom.","type":"boolean"},"marginFooterSuggested":{"description":"Indicates if there was a suggested change to margin_footer.","type":"boolean"},"marginHeaderSuggested":{"description":"Indicates if there was a suggested change to margin_header.","type":"boolean"},"marginLeftSuggested":{"description":"Indicates if there was a suggested change to margin_left.","type":"boolean"},"marginRightSuggested":{"description":"Indicates if there was a suggested change to margin_right.","type":"boolean"},"marginTopSuggested":{"description":"Indicates if there was a suggested change to margin_top.","type":"boolean"},"pageNumberStartSuggested":{"description":"Indicates if there was a suggested change to page_number_start.","type":"boolean"},"pageSizeSuggestionState":{"$ref":"#/components/schemas/docs_v1_SizeSuggestionState"},"useCustomHeaderFooterMarginsSuggested":{"description":"Indicates if there was a suggested change to use_custom_header_footer_margins.","type":"boolean"},"useEvenPageHeaderFooterSuggested":{"description":"Indicates if there was a suggested change to use_even_page_header_footer.","type":"boolean"},"useFirstPageHeaderFooterSuggested":{"description":"Indicates if there was a suggested change to use_first_page_header_footer.","type":"boolean"}}},"docs_v1_DocumentTab":{"description":"A tab with document contents.","type":"object","properties":{"body":{"$ref":"#/components/schemas/docs_v1_Body"},"commentAnchors":{"description":"The comment anchors in a document tab, keyed by anchor ID. Only populated if the commentsViewMode parameter is set to require comments (such as `COMMENTS_VIEW_MODE_INCLUDED`). [Developer Preview](https://developers.google.com/workspace/preview).","type":"object","additionalProperties":{"$ref":"#/components/schemas/docs_v1_CommentAnchor"}},"documentStyle":{"$ref":"#/components/schemas/docs_v1_DocumentStyle"},"dropdownDefinitions":{"description":"The dropdown definitions in a document tab, keyed by dropdown definition ID.","type":"object","additionalProperties":{"$ref":"#/components/schemas/docs_v1_DropdownDefinition"}},"footers":{"description":"The footers in the document tab, keyed by footer ID.","type":"object","additionalProperties":{"$ref":"#/components/schemas/docs_v1_Footer"}},"footnotes":{"description":"The footnotes in the document tab, keyed by footnote ID.","type":"object","additionalProperties":{"$ref":"#/components/schemas/docs_v1_Footnote"}},"headers":{"description":"The headers in the document tab, keyed by header ID.","type":"object","additionalProperties":{"$ref":"#/components/schemas/docs_v1_Header"}},"inlineObjects":{"description":"The inline objects in the document tab, keyed by object ID.","type":"object","additionalProperties":{"$ref":"#/components/schemas/docs_v1_InlineObject"}},"lists":{"description":"The lists in the document tab, keyed by list ID.","type":"object","additionalProperties":{"$ref":"#/components/schemas/docs_v1_List"}},"namedRanges":{"description":"The named ranges in the document tab, keyed by name.","type":"object","additionalProperties":{"$ref":"#/components/schemas/docs_v1_NamedRanges"}},"namedStyles":{"$ref":"#/components/schemas/docs_v1_NamedStyles"},"positionedObjects":{"description":"The positioned objects in the document tab, keyed by object ID.","type":"object","additionalProperties":{"$ref":"#/components/schemas/docs_v1_PositionedObject"}},"suggestedDocumentStyleChanges":{"description":"The suggested changes to the style of the document tab, keyed by suggestion ID.","type":"object","additionalProperties":{"$ref":"#/components/schemas/docs_v1_SuggestedDocumentStyle"}},"suggestedNamedStylesChanges":{"description":"The suggested changes to the named styles of the document tab, keyed by suggestion ID.","type":"object","additionalProperties":{"$ref":"#/components/schemas/docs_v1_SuggestedNamedStyles"}}}},"docs_v1_Dropdown":{"description":"A dropdown in the document. The chip is displayed as a dropdown menu that allows users to select an option from a configurable list of options.","type":"object","properties":{"dropdownId":{"description":"The ID of this dropdown.","type":"string"},"dropdownProperties":{"$ref":"#/components/schemas/docs_v1_DropdownProperties"},"suggestedDeletionIds":{"description":"IDs for suggestions that remove this dropdown from the document. If empty, then this dropdown isn't suggested for deletion.","type":"array","items":{"type":"string"}},"suggestedDropdownPropertiesChanges":{"description":"The suggested properties changes to this dropdown, keyed by suggestion ID.","type":"object","additionalProperties":{"$ref":"#/components/schemas/docs_v1_SuggestedDropdownProperties"}},"suggestedInsertionIds":{"description":"IDs for suggestions that insert this dropdown into the document. If empty, then this dropdown isn't a suggested insertion.","type":"array","items":{"type":"string"}},"suggestedTextStyleChanges":{"description":"The suggested text style changes to this dropdown, keyed by suggestion ID.","type":"object","additionalProperties":{"$ref":"#/components/schemas/docs_v1_SuggestedTextStyle"}},"textStyle":{"$ref":"#/components/schemas/docs_v1_TextStyle"}}},"docs_v1_DropdownDefinition":{"description":"A dropdown definition in the document.","type":"object","properties":{"dropdownDefinitionId":{"description":"The ID of this dropdown definition. If you specify an ID, it must be unique among all IDs in the tab. The ID must start with `kix.` and match regex `^kix\\.[a-zA-Z0-9_-]{2,14}$` (length 6-18 chars). If you don't specify an ID, a unique one is generated.","type":"string"},"dropdownDefinitionProperties":{"$ref":"#/components/schemas/docs_v1_DropdownDefinitionProperties"},"suggestedDeletionId":{"description":"ID for suggestion that deletes this dropdown definition.","type":"string"},"suggestedDropdownDefinitionPropertiesChanges":{"description":"Suggested property changes to this definition, keyed by suggestion ID.","type":"object","additionalProperties":{"$ref":"#/components/schemas/docs_v1_SuggestedDropdownDefinitionProperties"}},"suggestedInsertionId":{"description":"ID for suggestion that inserts this dropdown definition.","type":"string"}}},"docs_v1_DropdownDefinitionProperties":{"description":"Properties of a dropdown definition.","type":"object","properties":{"options":{"description":"The list of options defined by this dropdown definition. A dropdown definition must have at least 2 options and at most 50 options.","type":"array","items":{"$ref":"#/components/schemas/docs_v1_DropdownOption"}},"title":{"description":"The title of the dropdown definition.","type":"string"}}},"docs_v1_DropdownDefinitionPropertiesSuggestionState":{"description":"A mask that indicates which of the fields on the base DropdownDefinitionProperties have been changed in this suggestion. For any field set to true, there's a new suggested value.","type":"object","properties":{"optionsSuggested":{"description":"Indicates if there was a suggested change to options.","type":"boolean"},"titleSuggested":{"description":"Indicates if there was a suggested change to title.","type":"boolean"}}},"docs_v1_DropdownOption":{"description":"An option in a Dropdown.","type":"object","properties":{"displayValue":{"description":"The display value of this dropdown option.","type":"string"},"optionId":{"description":"The ID of this dropdown option. If you specify an ID, it must be unique among all options in this dropdown definition. The ID must start with `dropdownItem.` and match regex `^dropdownItem\\.[a-zA-Z0-9_-]{2,14}$` (length 15-27 chars). If you don't specify an ID, a unique one is generated.","type":"string"},"textStyle":{"$ref":"#/components/schemas/docs_v1_TextStyle"}}},"docs_v1_DropdownProperties":{"description":"Properties specific to a dropdown.","type":"object","properties":{"displayValue":{"description":"The human-readable display text of the currently selected item. This field is populated by the server based on the dropdown definition and the selected option ID. It may differ from `DropdownOption.display_value` if the underlying option definition was modified or deleted, or during pending suggested changes.","type":"string"},"dropdownDefinitionId":{"description":"The ID of the DropdownDefinition that defines the options for this dropdown.","type":"string"},"selectedOptionId":{"description":"The ID of the selected option in this dropdown.","type":"string"}}},"docs_v1_DropdownPropertiesSuggestionState":{"description":"A mask that indicates which of the fields on the base DropdownProperties have been changed in this suggestion. For any field set to true, there's a new suggested value.","type":"object","properties":{"selectedOptionIdSuggested":{"description":"Indicates if there was a suggested change to selected_option_id.","type":"boolean"}}},"docs_v1_EmbeddedDrawingProperties":{"description":"The properties of an embedded drawing and used to differentiate the object type. An embedded drawing is one that's created and edited within a document. Note that extensive details are not supported.","type":"object"},"docs_v1_EmbeddedDrawingPropertiesSuggestionState":{"description":"A mask that indicates which of the fields on the base EmbeddedDrawingProperties have been changed in this suggestion. For any field set to true, there's a new suggested value.","type":"object"},"docs_v1_EmbeddedObject":{"description":"An embedded object in the document.","type":"object","properties":{"description":{"description":"The description of the embedded object. The `title` and `description` are both combined to display alt text.","type":"string"},"embeddedDrawingProperties":{"$ref":"#/components/schemas/docs_v1_EmbeddedDrawingProperties"},"embeddedObjectBorder":{"$ref":"#/components/schemas/docs_v1_EmbeddedObjectBorder"},"imageProperties":{"$ref":"#/components/schemas/docs_v1_ImageProperties"},"linkedContentReference":{"$ref":"#/components/schemas/docs_v1_LinkedContentReference"},"marginBottom":{"$ref":"#/components/schemas/docs_v1_Dimension"},"marginLeft":{"$ref":"#/components/schemas/docs_v1_Dimension"},"marginRight":{"$ref":"#/components/schemas/docs_v1_Dimension"},"marginTop":{"$ref":"#/components/schemas/docs_v1_Dimension"},"size":{"$ref":"#/components/schemas/docs_v1_Size"},"title":{"description":"The title of the embedded object. The `title` and `description` are both combined to display alt text.","type":"string"}}},"docs_v1_EmbeddedObjectBorder":{"description":"A border around an EmbeddedObject.","type":"object","properties":{"color":{"$ref":"#/components/schemas/docs_v1_OptionalColor"},"dashStyle":{"description":"The dash style of the border.","enum":["DASH_STYLE_UNSPECIFIED","SOLID","DOT","DASH"],"type":"string"},"propertyState":{"description":"The property state of the border property.","enum":["RENDERED","NOT_RENDERED"],"type":"string"},"width":{"$ref":"#/components/schemas/docs_v1_Dimension"}}},"docs_v1_EmbeddedObjectBorderSuggestionState":{"description":"A mask that indicates which of the fields on the base EmbeddedObjectBorder have been changed in this suggestion. For any field set to true, there's a new suggested value.","type":"object","properties":{"colorSuggested":{"description":"Indicates if there was a suggested change to color.","type":"boolean"},"dashStyleSuggested":{"description":"Indicates if there was a suggested change to dash_style.","type":"boolean"},"propertyStateSuggested":{"description":"Indicates if there was a suggested change to property_state.","type":"boolean"},"widthSuggested":{"description":"Indicates if there was a suggested change to width.","type":"boolean"}}},"docs_v1_EmbeddedObjectSuggestionState":{"description":"A mask that indicates which of the fields on the base EmbeddedObject have been changed in this suggestion. For any field set to true, there's a new suggested value.","type":"object","properties":{"descriptionSuggested":{"description":"Indicates if there was a suggested change to description.","type":"boolean"},"embeddedDrawingPropertiesSuggestionState":{"$ref":"#/components/schemas/docs_v1_EmbeddedDrawingPropertiesSuggestionState"},"embeddedObjectBorderSuggestionState":{"$ref":"#/components/schemas/docs_v1_EmbeddedObjectBorderSuggestionState"},"imagePropertiesSuggestionState":{"$ref":"#/components/schemas/docs_v1_ImagePropertiesSuggestionState"},"linkedContentReferenceSuggestionState":{"$ref":"#/components/schemas/docs_v1_LinkedContentReferenceSuggestionState"},"marginBottomSuggested":{"description":"Indicates if there was a suggested change to margin_bottom.","type":"boolean"},"marginLeftSuggested":{"description":"Indicates if there was a suggested change to margin_left.","type":"boolean"},"marginRightSuggested":{"description":"Indicates if there was a suggested change to margin_right.","type":"boolean"},"marginTopSuggested":{"description":"Indicates if there was a suggested change to margin_top.","type":"boolean"},"sizeSuggestionState":{"$ref":"#/components/schemas/docs_v1_SizeSuggestionState"},"titleSuggested":{"description":"Indicates if there was a suggested change to title.","type":"boolean"}}},"docs_v1_EndOfSegmentLocation":{"description":"Location at the end of a body, header, footer or footnote. The location is immediately before the last newline in the document segment.","type":"object","properties":{"segmentId":{"description":"The ID of the header, footer or footnote the location is in. An empty segment ID signifies the document's body.","type":"string"},"tabId":{"description":"The tab that the location is in. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document.","type":"string"}}},"docs_v1_Equation":{"description":"A ParagraphElement representing an equation.","type":"object","properties":{"suggestedDeletionIds":{"description":"The suggested deletion IDs. If empty, then there are no suggested deletions of this content.","type":"array","items":{"type":"string"}},"suggestedInsertionIds":{"description":"The suggested insertion IDs. An Equation may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion.","type":"array","items":{"type":"string"}}}},"docs_v1_Footer":{"description":"A document footer.","type":"object","properties":{"content":{"description":"The contents of the footer. The indexes for a footer's content begin at zero.","type":"array","items":{"$ref":"#/components/schemas/docs_v1_StructuralElement"}},"footerId":{"description":"The ID of the footer.","type":"string"}}},"docs_v1_Footnote":{"description":"A document footnote.","type":"object","properties":{"content":{"description":"The contents of the footnote. The indexes for a footnote's content begin at zero.","type":"array","items":{"$ref":"#/components/schemas/docs_v1_StructuralElement"}},"footnoteId":{"description":"The ID of the footnote.","type":"string"}}},"docs_v1_FootnoteReference":{"description":"A ParagraphElement representing a footnote reference. A footnote reference is the inline content rendered with a number and is used to identify the footnote.","type":"object","properties":{"footnoteId":{"description":"The ID of the footnote that contains the content of this footnote reference.","type":"string"},"footnoteNumber":{"description":"The rendered number of this footnote.","type":"string"},"suggestedDeletionIds":{"description":"The suggested deletion IDs. If empty, then there are no suggested deletions of this content.","type":"array","items":{"type":"string"}},"suggestedInsertionIds":{"description":"The suggested insertion IDs. A FootnoteReference may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion.","type":"array","items":{"type":"string"}},"suggestedTextStyleChanges":{"description":"The suggested text style changes to this FootnoteReference, keyed by suggestion ID.","type":"object","additionalProperties":{"$ref":"#/components/schemas/docs_v1_SuggestedTextStyle"}},"textStyle":{"$ref":"#/components/schemas/docs_v1_TextStyle"}}},"docs_v1_Header":{"description":"A document header.","type":"object","properties":{"content":{"description":"The contents of the header. The indexes for a header's content begin at zero.","type":"array","items":{"$ref":"#/components/schemas/docs_v1_StructuralElement"}},"headerId":{"description":"The ID of the header.","type":"string"}}},"docs_v1_HeadingLink":{"description":"A reference to a heading in this document.","type":"object","properties":{"id":{"description":"The ID of a heading in this document.","type":"string"},"tabId":{"description":"The ID of the tab containing this heading.","type":"string"}}},"docs_v1_HorizontalRule":{"description":"A ParagraphElement representing a horizontal line.","type":"object","properties":{"suggestedDeletionIds":{"description":"The suggested deletion IDs. If empty, then there are no suggested deletions of this content.","type":"array","items":{"type":"string"}},"suggestedInsertionIds":{"description":"The suggested insertion IDs. A HorizontalRule may have multiple insertion IDs if it is a nested suggested change. If empty, then this is not a suggested insertion.","type":"array","items":{"type":"string"}},"suggestedTextStyleChanges":{"description":"The suggested text style changes to this HorizontalRule, keyed by suggestion ID.","type":"object","additionalProperties":{"$ref":"#/components/schemas/docs_v1_SuggestedTextStyle"}},"textStyle":{"$ref":"#/components/schemas/docs_v1_TextStyle"}}},"docs_v1_ImageProperties":{"description":"The properties of an image.","type":"object","properties":{"angle":{"description":"The clockwise rotation angle of the image, in radians.","format":"float","type":"number"},"brightness":{"description":"The brightness effect of the image. The value should be in the interval [-1.0, 1.0], where 0 means no effect.","format":"float","type":"number"},"contentUri":{"description":"A URI to the image with a default lifetime of 30 minutes. This URI is tagged with the account of the requester. Anyone with the URI effectively accesses the image as the original requester. Access to the image may be lost if the document's sharing settings change.","type":"string"},"contrast":{"description":"The contrast effect of the image. The value should be in the interval [-1.0, 1.0], where 0 means no effect.","format":"float","type":"number"},"cropProperties":{"$ref":"#/components/schemas/docs_v1_CropProperties"},"sourceUri":{"description":"The source URI is the URI used to insert the image. The source URI can be empty.","type":"string"},"transparency":{"description":"The transparency effect of the image. The value should be in the interval [0.0, 1.0], where 0 means no effect and 1 means transparent.","format":"float","type":"number"}}},"docs_v1_ImagePropertiesSuggestionState":{"description":"A mask that indicates which of the fields on the base ImageProperties have been changed in this suggestion. For any field set to true, there's a new suggested value.","type":"object","properties":{"angleSuggested":{"description":"Indicates if there was a suggested change to angle.","type":"boolean"},"brightnessSuggested":{"description":"Indicates if there was a suggested change to brightness.","type":"boolean"},"contentUriSuggested":{"description":"Indicates if there was a suggested change to content_uri.","type":"boolean"},"contrastSuggested":{"description":"Indicates if there was a suggested change to contrast.","type":"boolean"},"cropPropertiesSuggestionState":{"$ref":"#/components/schemas/docs_v1_CropPropertiesSuggestionState"},"sourceUriSuggested":{"description":"Indicates if there was a suggested change to source_uri.","type":"boolean"},"transparencySuggested":{"description":"Indicates if there was a suggested change to transparency.","type":"boolean"}}},"docs_v1_InlineObject":{"description":"An object that appears inline with text. An InlineObject contains an EmbeddedObject such as an image.","type":"object","properties":{"inlineObjectProperties":{"$ref":"#/components/schemas/docs_v1_InlineObjectProperties"},"objectId":{"description":"The ID of this inline object. Can be used to update an object’s properties.","type":"string"},"suggestedDeletionIds":{"description":"The suggested deletion IDs. If empty, then there are no suggested deletions of this content.","type":"array","items":{"type":"string"}},"suggestedInlineObjectPropertiesChanges":{"description":"The suggested changes to the inline object properties, keyed by suggestion ID.","type":"object","additionalProperties":{"$ref":"#/components/schemas/docs_v1_SuggestedInlineObjectProperties"}},"suggestedInsertionId":{"description":"The suggested insertion ID. If empty, then this is not a suggested insertion.","type":"string"}}},"docs_v1_InlineObjectElement":{"description":"A ParagraphElement that contains an InlineObject.","type":"object","properties":{"inlineObjectId":{"description":"The ID of the InlineObject this element contains.","type":"string"},"suggestedDeletionIds":{"description":"The suggested deletion IDs. If empty, then there are no suggested deletions of this content.","type":"array","items":{"type":"string"}},"suggestedInsertionIds":{"description":"The suggested insertion IDs. An InlineObjectElement may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion.","type":"array","items":{"type":"string"}},"suggestedTextStyleChanges":{"description":"The suggested text style changes to this InlineObject, keyed by suggestion ID.","type":"object","additionalProperties":{"$ref":"#/components/schemas/docs_v1_SuggestedTextStyle"}},"textStyle":{"$ref":"#/components/schemas/docs_v1_TextStyle"}}},"docs_v1_InlineObjectProperties":{"description":"Properties of an InlineObject.","type":"object","properties":{"embeddedObject":{"$ref":"#/components/schemas/docs_v1_EmbeddedObject"}}},"docs_v1_InlineObjectPropertiesSuggestionState":{"description":"A mask that indicates which of the fields on the base InlineObjectProperties have been changed in this suggestion. For any field set to true, there's a new suggested value.","type":"object","properties":{"embeddedObjectSuggestionState":{"$ref":"#/components/schemas/docs_v1_EmbeddedObjectSuggestionState"}}},"docs_v1_InsertCommentRequest":{"description":"Inserts a CommentThread into the document. [Developer Preview](https://developers.google.com/workspace/preview).","type":"object","properties":{"assigneeEmailAddress":{"description":"Optional. The email address of the assignee of the comment. Leave empty for a non-assigned comment. May not exceed 2048 UTF-8 code units.","type":"string"},"content":{"description":"The text of the comment, as plain text. This text content will be handled similarly to comments created in the Docs editor. It will have similar behaviors for formatting, notifications, etc. This field cannot be empty, and must not exceed 2048 UTF-8 code units.","type":"string"},"range":{"$ref":"#/components/schemas/docs_v1_Range"}}},"docs_v1_InsertCommentResponse":{"description":"Response message for inserting a comment. [Developer Preview](https://developers.google.com/workspace/preview).","type":"object","properties":{"commentThread":{"$ref":"#/components/schemas/docs_v1_CommentThread"}}},"docs_v1_InsertDateRequest":{"description":"Inserts a date at the specified location.","type":"object","properties":{"dateElementProperties":{"$ref":"#/components/schemas/docs_v1_DateElementProperties"},"endOfSegmentLocation":{"$ref":"#/components/schemas/docs_v1_EndOfSegmentLocation"},"location":{"$ref":"#/components/schemas/docs_v1_Location"}}},"docs_v1_InsertDropdownRequest":{"description":"Inserts a Dropdown at the specified location.","type":"object","properties":{"dropdownDefinitionId":{"description":"Required. The DropdownDefinition ID.","type":"string"},"endOfSegmentLocation":{"$ref":"#/components/schemas/docs_v1_EndOfSegmentLocation"},"location":{"$ref":"#/components/schemas/docs_v1_Location"},"selectedOptionId":{"description":"Optional initial value for the dropdown. If this field is not specified, the new dropdown will default to selecting the first option defined in the dropdown definition. If this field is specified but does not reference a valid option in the dropdown definition, a 400 bad request error is returned.","type":"string"}}},"docs_v1_InsertDropdownResponse":{"description":"The result of inserting a Dropdown.","type":"object","properties":{"dropdown":{"$ref":"#/components/schemas/docs_v1_Dropdown"}}},"docs_v1_InsertInlineImageRequest":{"description":"Inserts an InlineObject containing an image at the given location.","type":"object","properties":{"endOfSegmentLocation":{"$ref":"#/components/schemas/docs_v1_EndOfSegmentLocation"},"location":{"$ref":"#/components/schemas/docs_v1_Location"},"objectSize":{"$ref":"#/components/schemas/docs_v1_Size"},"uri":{"description":"The image URI. The image is fetched once at insertion time and a copy is stored for display inside the document. Images must be less than 50MB in size, cannot exceed 25 megapixels, and must be in one of PNG, JPEG, or GIF format. The provided URI must be publicly accessible and at most 2 kB in length. The URI itself is saved with the image, and exposed via the ImageProperties.content_uri field.","type":"string"}}},"docs_v1_InsertInlineImageResponse":{"description":"The result of inserting an inline image.","type":"object","properties":{"objectId":{"description":"The ID of the created InlineObject.","type":"string"}}},"docs_v1_InsertInlineSheetsChartResponse":{"description":"The result of inserting an embedded Google Sheets chart.","type":"object","properties":{"objectId":{"description":"The object ID of the inserted chart.","type":"string"}}},"docs_v1_InsertPageBreakRequest":{"description":"Inserts a page break followed by a newline at the specified location.","type":"object","properties":{"endOfSegmentLocation":{"$ref":"#/components/schemas/docs_v1_EndOfSegmentLocation"},"location":{"$ref":"#/components/schemas/docs_v1_Location"}}},"docs_v1_InsertPersonRequest":{"description":"Inserts a person mention.","type":"object","properties":{"endOfSegmentLocation":{"$ref":"#/components/schemas/docs_v1_EndOfSegmentLocation"},"location":{"$ref":"#/components/schemas/docs_v1_Location"},"personProperties":{"$ref":"#/components/schemas/docs_v1_PersonProperties"}}},"docs_v1_InsertRichLinkRequest":{"description":"Inserts a RichLink at the specified location.","type":"object","properties":{"endOfSegmentLocation":{"$ref":"#/components/schemas/docs_v1_EndOfSegmentLocation"},"location":{"$ref":"#/components/schemas/docs_v1_Location"},"richLinkProperties":{"$ref":"#/components/schemas/docs_v1_RichLinkProperties"}}},"docs_v1_InsertSectionBreakRequest":{"description":"Inserts a section break at the given location. A newline character will be inserted before the section break.","type":"object","properties":{"endOfSegmentLocation":{"$ref":"#/components/schemas/docs_v1_EndOfSegmentLocation"},"location":{"$ref":"#/components/schemas/docs_v1_Location"},"sectionType":{"description":"The type of section to insert.","enum":["SECTION_TYPE_UNSPECIFIED","CONTINUOUS","NEXT_PAGE"],"type":"string"}}},"docs_v1_InsertTableColumnRequest":{"description":"Inserts an empty column into a table.","type":"object","properties":{"insertRight":{"description":"Whether to insert new column to the right of the reference cell location. - `True`: insert to the right. - `False`: insert to the left.","type":"boolean"},"tableCellLocation":{"$ref":"#/components/schemas/docs_v1_TableCellLocation"}}},"docs_v1_InsertTableRequest":{"description":"Inserts a table at the specified location. A newline character will be inserted before the inserted table.","type":"object","properties":{"columns":{"description":"The number of columns in the table.","format":"int32","type":"integer"},"endOfSegmentLocation":{"$ref":"#/components/schemas/docs_v1_EndOfSegmentLocation"},"location":{"$ref":"#/components/schemas/docs_v1_Location"},"rows":{"description":"The number of rows in the table.","format":"int32","type":"integer"}}},"docs_v1_InsertTableRowRequest":{"description":"Inserts an empty row into a table.","type":"object","properties":{"insertBelow":{"description":"Whether to insert new row below the reference cell location. - `True`: insert below the cell. - `False`: insert above the cell.","type":"boolean"},"tableCellLocation":{"$ref":"#/components/schemas/docs_v1_TableCellLocation"}}},"docs_v1_InsertTextRequest":{"description":"Inserts text at the specified location.","type":"object","properties":{"endOfSegmentLocation":{"$ref":"#/components/schemas/docs_v1_EndOfSegmentLocation"},"location":{"$ref":"#/components/schemas/docs_v1_Location"},"text":{"description":"The text to be inserted. Inserting a newline character will implicitly create a new Paragraph at that index. The paragraph style of the new paragraph will be copied from the paragraph at the current insertion index, including lists and bullets. Text styles for inserted text will be determined automatically, generally preserving the styling of neighboring text. In most cases, the text style for the inserted text will match the text immediately before the insertion index. Some control characters (U+0000-U+0008, U+000C-U+001F) and characters from the Unicode Basic Multilingual Plane Private Use Area (U+E000-U+F8FF) will be stripped out of the inserted text.","type":"string"}}},"docs_v1_Link":{"description":"A reference to another portion of a document or an external URL resource.","type":"object","properties":{"bookmark":{"$ref":"#/components/schemas/docs_v1_BookmarkLink"},"bookmarkId":{"description":"The ID of a bookmark in this document. Legacy field: Instead, set includeTabsContent to `true` and use Link.bookmark for read and write operations. This field is only returned when includeTabsContent is set to `false` in documents containing a single tab and links to a bookmark within the singular tab. Otherwise, Link.bookmark is returned. If this field is used in a write request, the bookmark is considered to be from the tab ID specified in the request. If a tab ID is not specified in the request, it is considered to be from the first tab in the document.","type":"string"},"heading":{"$ref":"#/components/schemas/docs_v1_HeadingLink"},"headingId":{"description":"The ID of a heading in this document. Legacy field: Instead, set includeTabsContent to `true` and use Link.heading for read and write operations. This field is only returned when includeTabsContent is set to `false` in documents containing a single tab and links to a heading within the singular tab. Otherwise, Link.heading is returned. If this field is used in a write request, the heading is considered to be from the tab ID specified in the request. If a tab ID is not specified in the request, it is considered to be from the first tab in the document.","type":"string"},"tabId":{"description":"The ID of a tab in this document.","type":"string"},"url":{"description":"An external URL.","type":"string"}}},"docs_v1_LinkedContentReference":{"description":"A reference to the external linked source content.","type":"object","properties":{"sheetsChartReference":{"$ref":"#/components/schemas/docs_v1_SheetsChartReference"}}},"docs_v1_LinkedContentReferenceSuggestionState":{"description":"A mask that indicates which of the fields on the base LinkedContentReference have been changed in this suggestion. For any field set to true, there's a new suggested value.","type":"object","properties":{"sheetsChartReferenceSuggestionState":{"$ref":"#/components/schemas/docs_v1_SheetsChartReferenceSuggestionState"}}},"docs_v1_List":{"description":"A List represents the list attributes for a group of paragraphs that all belong to the same list. A paragraph that's part of a list has a reference to the list's ID in its bullet.","type":"object","properties":{"listProperties":{"$ref":"#/components/schemas/docs_v1_ListProperties"},"suggestedDeletionIds":{"description":"The suggested deletion IDs. If empty, then there are no suggested deletions of this list.","type":"array","items":{"type":"string"}},"suggestedInsertionId":{"description":"The suggested insertion ID. If empty, then this is not a suggested insertion.","type":"string"},"suggestedListPropertiesChanges":{"description":"The suggested changes to the list properties, keyed by suggestion ID.","type":"object","additionalProperties":{"$ref":"#/components/schemas/docs_v1_SuggestedListProperties"}}}},"docs_v1_ListProperties":{"description":"The properties of a list that describe the look and feel of bullets belonging to paragraphs associated with a list.","type":"object","properties":{"nestingLevels":{"description":"Describes the properties of the bullets at the associated level. A list has at most 9 levels of nesting with nesting level 0 corresponding to the top-most level and nesting level 8 corresponding to the most nested level. The nesting levels are returned in ascending order with the least nested returned first.","type":"array","items":{"$ref":"#/components/schemas/docs_v1_NestingLevel"}}}},"docs_v1_ListPropertiesSuggestionState":{"description":"A mask that indicates which of the fields on the base ListProperties have been changed in this suggestion. For any field set to true, there's a new suggested value.","type":"object","properties":{"nestingLevelsSuggestionStates":{"description":"A mask that indicates which of the fields on the corresponding NestingLevel in nesting_levels have been changed in this suggestion. The nesting level suggestion states are returned in ascending order of the nesting level with the least nested returned first.","type":"array","items":{"$ref":"#/components/schemas/docs_v1_NestingLevelSuggestionState"}}}},"docs_v1_Location":{"description":"A particular location in the document.","type":"object","properties":{"index":{"description":"The zero-based index, in UTF-16 code units. The index is relative to the beginning of the segment specified by segment_id.","format":"int32","type":"integer"},"segmentId":{"description":"The ID of the header, footer or footnote the location is in. An empty segment ID signifies the document's body.","type":"string"},"tabId":{"description":"The tab that the location is in. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document.","type":"string"}}},"docs_v1_MergeTableCellsRequest":{"description":"Merges cells in a Table.","type":"object","properties":{"tableRange":{"$ref":"#/components/schemas/docs_v1_TableRange"}}},"docs_v1_NamedRange":{"description":"A collection of Ranges with the same named range ID. Named ranges allow developers to associate parts of a document with an arbitrary user-defined label so their contents can be programmatically read or edited later. A document can contain multiple named ranges with the same name, but every named range has a unique ID. A named range is created with a single Range, and content inserted inside a named range generally expands that range. However, certain document changes can cause the range to be split into multiple ranges. Named ranges are not private. All applications and collaborators that have access to the document can see its named ranges.","type":"object","properties":{"name":{"description":"The name of the named range.","type":"string"},"namedRangeId":{"description":"The ID of the named range.","type":"string"},"ranges":{"description":"The ranges that belong to this named range.","type":"array","items":{"$ref":"#/components/schemas/docs_v1_Range"}}}},"docs_v1_NamedRanges":{"description":"A collection of all the NamedRanges in the document that share a given name.","type":"object","properties":{"name":{"description":"The name that all the named ranges share.","type":"string"},"namedRanges":{"description":"The NamedRanges that share the same name.","type":"array","items":{"$ref":"#/components/schemas/docs_v1_NamedRange"}}}},"docs_v1_NamedStyle":{"description":"A named style. Paragraphs in the document can inherit their TextStyle and ParagraphStyle from this named style when they have the same named style type.","type":"object","properties":{"namedStyleType":{"description":"The type of this named style.","enum":["NAMED_STYLE_TYPE_UNSPECIFIED","NORMAL_TEXT","TITLE","SUBTITLE","HEADING_1","HEADING_2","HEADING_3","HEADING_4","HEADING_5","HEADING_6"],"type":"string"},"paragraphStyle":{"$ref":"#/components/schemas/docs_v1_ParagraphStyle"},"textStyle":{"$ref":"#/components/schemas/docs_v1_TextStyle"}}},"docs_v1_NamedStyleSuggestionState":{"description":"A suggestion state of a NamedStyle message.","type":"object","properties":{"namedStyleType":{"description":"The named style type that this suggestion state corresponds to. This field is provided as a convenience for matching the NamedStyleSuggestionState with its corresponding NamedStyle.","enum":["NAMED_STYLE_TYPE_UNSPECIFIED","NORMAL_TEXT","TITLE","SUBTITLE","HEADING_1","HEADING_2","HEADING_3","HEADING_4","HEADING_5","HEADING_6"],"type":"string"},"paragraphStyleSuggestionState":{"$ref":"#/components/schemas/docs_v1_ParagraphStyleSuggestionState"},"textStyleSuggestionState":{"$ref":"#/components/schemas/docs_v1_TextStyleSuggestionState"}}},"docs_v1_NamedStyles":{"description":"The named styles. Paragraphs in the document can inherit their TextStyle and ParagraphStyle from these named styles.","type":"object","properties":{"styles":{"description":"The named styles. There's an entry for each of the possible named style types.","type":"array","items":{"$ref":"#/components/schemas/docs_v1_NamedStyle"}}}},"docs_v1_NamedStylesSuggestionState":{"description":"The suggestion state of a NamedStyles message.","type":"object","properties":{"stylesSuggestionStates":{"description":"A mask that indicates which of the fields on the corresponding NamedStyle in styles have been changed in this suggestion. The order of these named style suggestion states matches the order of the corresponding named style within the named styles suggestion.","type":"array","items":{"$ref":"#/components/schemas/docs_v1_NamedStyleSuggestionState"}}}},"docs_v1_NestingLevel":{"description":"Contains properties describing the look and feel of a list bullet at a given level of nesting.","type":"object","properties":{"bulletAlignment":{"description":"The alignment of the bullet within the space allotted for rendering the bullet.","enum":["BULLET_ALIGNMENT_UNSPECIFIED","START","CENTER","END"],"type":"string"},"glyphFormat":{"description":"The format string used by bullets at this level of nesting. The glyph format contains one or more placeholders, and these placeholders are replaced with the appropriate values depending on the glyph_type or glyph_symbol. The placeholders follow the pattern `%[nesting_level]`. Furthermore, placeholders can have prefixes and suffixes. Thus, the glyph format follows the pattern `%[nesting_level]`. Note that the prefix and suffix are optional and can be arbitrary strings. For example, the glyph format `%0.` indicates that the rendered glyph will replace the placeholder with the corresponding glyph for nesting level 0 followed by a period as the suffix. So a list with a glyph type of UPPER_ALPHA and glyph format `%0.` at nesting level 0 will result in a list with rendered glyphs `A.` `B.` `C.` The glyph format can contain placeholders for the current nesting level as well as placeholders for parent nesting levels. For example, a list can have a glyph format of `%0.` at nesting level 0 and a glyph format of `%0.%1.` at nesting level 1. Assuming both nesting levels have DECIMAL glyph types, this would result in a list with rendered glyphs `1.` `2.` ` 2.1.` ` 2.2.` `3.` For nesting levels that are ordered, the string that replaces a placeholder in the glyph format for a particular paragraph depends on the paragraph's order within the list.","type":"string"},"glyphSymbol":{"description":"A custom glyph symbol used by bullets when paragraphs at this level of nesting is unordered. The glyph symbol replaces placeholders within the glyph_format. For example, if the glyph_symbol is the solid circle corresponding to Unicode U+25cf code point and the glyph_format is `%0`, the rendered glyph would be the solid circle.","type":"string"},"glyphType":{"description":"The type of glyph used by bullets when paragraphs at this level of nesting is ordered. The glyph type determines the type of glyph used to replace placeholders within the glyph_format when paragraphs at this level of nesting are ordered. For example, if the nesting level is 0, the glyph_format is `%0.` and the glyph type is DECIMAL, then the rendered glyph would replace the placeholder `%0` in the glyph format with a number corresponding to the list item's order within the list.","enum":["GLYPH_TYPE_UNSPECIFIED","NONE","DECIMAL","ZERO_DECIMAL","UPPER_ALPHA","ALPHA","UPPER_ROMAN","ROMAN"],"type":"string"},"indentFirstLine":{"$ref":"#/components/schemas/docs_v1_Dimension"},"indentStart":{"$ref":"#/components/schemas/docs_v1_Dimension"},"startNumber":{"description":"The number of the first list item at this nesting level. A value of 0 is treated as a value of 1 for lettered lists and Roman numeral lists. For values of both 0 and 1, lettered and Roman numeral lists will begin at `a` and `i` respectively. This value is ignored for nesting levels with unordered glyphs.","format":"int32","type":"integer"},"textStyle":{"$ref":"#/components/schemas/docs_v1_TextStyle"}}},"docs_v1_NestingLevelSuggestionState":{"description":"A mask that indicates which of the fields on the base NestingLevel have been changed in this suggestion. For any field set to true, there's a new suggested value.","type":"object","properties":{"bulletAlignmentSuggested":{"description":"Indicates if there was a suggested change to bullet_alignment.","type":"boolean"},"glyphFormatSuggested":{"description":"Indicates if there was a suggested change to glyph_format.","type":"boolean"},"glyphSymbolSuggested":{"description":"Indicates if there was a suggested change to glyph_symbol.","type":"boolean"},"glyphTypeSuggested":{"description":"Indicates if there was a suggested change to glyph_type.","type":"boolean"},"indentFirstLineSuggested":{"description":"Indicates if there was a suggested change to indent_first_line.","type":"boolean"},"indentStartSuggested":{"description":"Indicates if there was a suggested change to indent_start.","type":"boolean"},"startNumberSuggested":{"description":"Indicates if there was a suggested change to start_number.","type":"boolean"},"textStyleSuggestionState":{"$ref":"#/components/schemas/docs_v1_TextStyleSuggestionState"}}},"docs_v1_ObjectReferences":{"description":"A collection of object IDs.","type":"object","properties":{"objectIds":{"description":"The object IDs.","type":"array","items":{"type":"string"}}}},"docs_v1_OptionalColor":{"description":"A color that can either be fully opaque or fully transparent.","type":"object","properties":{"color":{"$ref":"#/components/schemas/docs_v1_Color"}}},"docs_v1_PageBreak":{"description":"A ParagraphElement representing a page break. A page break makes the subsequent text start at the top of the next page.","type":"object","properties":{"suggestedDeletionIds":{"descri
[...]
