{"openapi":"3.1.0","info":{"title":"Google Slides API","version":"v1","description":"Reads and writes Google Slides presentations."},"servers":[{"url":"https://www.googleapis.com/"}],"paths":{"/v1/presentations/{presentationId}:batchUpdate":{"post":{"operationId":"slides.presentations.batchUpdate","x-executor-toolPath":"slides.presentations.batchUpdate","x-executor-pathTemplate":"/v1/presentations/{presentationId}:batchUpdate","tags":["Google Slides API"],"description":"Applies one or more updates to the presentation. Each request is validated before being applied. If any request is not valid, then the entire request will fail and nothing will be applied. Some requests have replies to give you some information about how they are applied. Other requests do not need to return information; these each return an empty reply. The order of replies matches that of the requests. For example, suppose you call batchUpdate with four updates, and only the third one returns information. The response would have two empty replies: the reply to the third request, and another empty reply, in that order. Because other users may be editing the presentation, the presentation might not exactly reflect your changes: your changes may be altered with respect to collaborator changes. If there are no collaborators, the presentation should reflect your changes. In any case, the updates in your request are guaranteed to be applied together atomically.","servers":[{"url":"https://slides.googleapis.com/"}],"parameters":[{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"presentationId","in":"path","required":true,"description":"The presentation to apply the updates to.","schema":{"description":"The presentation to apply the updates to.","type":"string"}}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/slides_v1_BatchUpdatePresentationRequest"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/slides_v1_BatchUpdatePresentationResponse"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/presentations"]}],"x-google-scopes":["https://www.googleapis.com/auth/presentations"]}},"/v1/presentations":{"post":{"operationId":"slides.presentations.create","x-executor-toolPath":"slides.presentations.create","x-executor-pathTemplate":"/v1/presentations","tags":["Google Slides API"],"description":"Creates a blank presentation using the title given in the request. If a `presentationId` is provided, it is used as the ID of the new presentation. Otherwise, a new ID is generated. Other fields in the request, including any provided content, are ignored. Returns the created presentation.","servers":[{"url":"https://slides.googleapis.com/"}],"parameters":[{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/slides_v1_Presentation"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/slides_v1_Presentation"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/presentations"]}],"x-google-scopes":["https://www.googleapis.com/auth/presentations"]}},"/v1/presentations/{presentationId}":{"get":{"operationId":"slides.presentations.get","x-executor-toolPath":"slides.presentations.get","x-executor-pathTemplate":"/v1/presentations/{+presentationId}","tags":["Google Slides API"],"description":"Gets the latest version of the specified presentation.","servers":[{"url":"https://slides.googleapis.com/"}],"parameters":[{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"presentationId","in":"path","required":true,"description":"The ID of the presentation to retrieve.","schema":{"description":"The ID of the presentation to retrieve.","type":"string"},"allowReserved":true}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/slides_v1_Presentation"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/presentations"]}],"x-google-scopes":["https://www.googleapis.com/auth/presentations"]}},"/v1/presentations/{presentationId}/pages/{pageObjectId}":{"get":{"operationId":"slides.presentations.pages.get","x-executor-toolPath":"slides.presentations.pages.get","x-executor-pathTemplate":"/v1/presentations/{presentationId}/pages/{pageObjectId}","tags":["Google Slides API"],"description":"Gets the latest version of the specified page in the presentation.","servers":[{"url":"https://slides.googleapis.com/"}],"parameters":[{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"pageObjectId","in":"path","required":true,"description":"The object ID of the page to retrieve.","schema":{"description":"The object ID of the page to retrieve.","type":"string"}},{"name":"presentationId","in":"path","required":true,"description":"The ID of the presentation to retrieve.","schema":{"description":"The ID of the presentation to retrieve.","type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/slides_v1_Page"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/presentations"]}],"x-google-scopes":["https://www.googleapis.com/auth/presentations"]}},"/v1/presentations/{presentationId}/pages/{pageObjectId}/thumbnail":{"get":{"operationId":"slides.presentations.pages.getThumbnail","x-executor-toolPath":"slides.presentations.pages.getThumbnail","x-executor-pathTemplate":"/v1/presentations/{presentationId}/pages/{pageObjectId}/thumbnail","tags":["Google Slides API"],"description":"Generates a thumbnail of the latest version of the specified page in the presentation and returns a URL to the thumbnail image. This request counts as an [expensive read request](https://developers.google.com/workspace/slides/limits) for quota purposes.","servers":[{"url":"https://slides.googleapis.com/"}],"parameters":[{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"thumbnailProperties.mimeType","in":"query","required":false,"description":"The optional mime type of the thumbnail image. If you don't specify the mime type, the mime type defaults to PNG.","schema":{"description":"The optional mime type of the thumbnail image. If you don't specify the mime type, the mime type defaults to PNG.","enum":["PNG"],"type":"string"},"style":"form","explode":false},{"name":"presentationId","in":"path","required":true,"description":"The ID of the presentation to retrieve.","schema":{"description":"The ID of the presentation to retrieve.","type":"string"}},{"name":"thumbnailProperties.thumbnailSize","in":"query","required":false,"description":"The optional thumbnail image size. If you don't specify the size, the server chooses a default size of the image.","schema":{"description":"The optional thumbnail image size. If you don't specify the size, the server chooses a default size of the image.","enum":["THUMBNAIL_SIZE_UNSPECIFIED","LARGE","MEDIUM","SMALL","WIDTH2000_PX"],"type":"string"},"style":"form","explode":false},{"name":"pageObjectId","in":"path","required":true,"description":"The object ID of the page whose thumbnail to retrieve.","schema":{"description":"The object ID of the page whose thumbnail to retrieve.","type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/slides_v1_Thumbnail"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/presentations"]}],"x-google-scopes":["https://www.googleapis.com/auth/presentations"]}}},"components":{"schemas":{"slides_v1_UpdateLineCategoryRequest":{"description":"Updates the category of a line.","type":"object","properties":{"objectId":{"description":"The object ID of the line the update is applied to. Only a line with a category indicating it is a \"connector\" can be updated. The line may be rerouted after updating its category.","type":"string"},"lineCategory":{"description":"The line category to update to. The exact line type is determined based on the category to update to and how it's routed to connect to other page elements.","enum":["LINE_CATEGORY_UNSPECIFIED","STRAIGHT","BENT","CURVED"],"type":"string"}}},"slides_v1_Bullet":{"description":"Describes the bullet of a paragraph.","type":"object","properties":{"listId":{"description":"The ID of the list this paragraph belongs to.","type":"string"},"bulletStyle":{"$ref":"#/components/schemas/slides_v1_TextStyle"},"glyph":{"description":"The rendered bullet glyph for this paragraph.","type":"string"},"nestingLevel":{"description":"The nesting level of this paragraph in the list.","format":"int32","type":"integer"}}},"slides_v1_Presentation":{"description":"A Google Slides presentation.","type":"object","properties":{"slides":{"description":"The slides in the presentation. A slide inherits properties from a slide layout.","type":"array","items":{"$ref":"#/components/schemas/slides_v1_Page"}},"locale":{"description":"The locale of the presentation, as an IETF BCP 47 language tag.","type":"string"},"layouts":{"description":"The layouts in the presentation. A layout is a template that determines how content is arranged and styled on the slides that inherit from that layout.","type":"array","items":{"$ref":"#/components/schemas/slides_v1_Page"}},"pageSize":{"$ref":"#/components/schemas/slides_v1_Size"},"title":{"description":"The title of the presentation.","type":"string"},"masters":{"description":"The slide masters in the presentation. A slide master contains all common page elements and the common properties for a set of layouts. They serve three purposes: - Placeholder shapes on a master contain the default text styles and shape properties of all placeholder shapes on pages that use that master. - The master page properties define the common page properties inherited by its layouts. - Any other shapes on the master slide appear on all slides using that master, regardless of their layout.","type":"array","items":{"$ref":"#/components/schemas/slides_v1_Page"}},"revisionId":{"description":"Output only. The revision ID of the presentation. Can be used in update requests to assert the presentation revision hasn't changed since the last read operation. Only populated if the user has edit access to the presentation. The revision ID is not a sequential number but a nebulous string. The format of the revision ID may change over time, so it should be treated opaquely. A returned revision ID is only guaranteed to be valid for 24 hours after it has been returned and cannot be shared across users. If the revision ID is unchanged between calls, then the presentation has not changed. Conversely, a changed ID (for the same presentation and user) usually means the presentation has been updated. However, a changed ID can also be due to internal factors such as ID format changes.","type":"string"},"presentationId":{"description":"The ID of the presentation.","type":"string"},"notesMaster":{"$ref":"#/components/schemas/slides_v1_Page"}}},"slides_v1_ColorStop":{"description":"A color and position in a gradient band.","type":"object","properties":{"color":{"$ref":"#/components/schemas/slides_v1_OpaqueColor"},"alpha":{"description":"The alpha value of this color in the gradient band. Defaults to 1.0, fully opaque.","format":"float","type":"number"},"position":{"description":"The relative position of the color stop in the gradient band measured in percentage. The value should be in the interval [0.0, 1.0].","format":"float","type":"number"}}},"slides_v1_InsertTableRowsRequest":{"description":"Inserts rows into a table.","type":"object","properties":{"insertBelow":{"description":"Whether to insert new rows below the reference cell location. - `True`: insert below the cell. - `False`: insert above the cell.","type":"boolean"},"tableObjectId":{"description":"The table to insert rows into.","type":"string"},"cellLocation":{"$ref":"#/components/schemas/slides_v1_TableCellLocation"},"number":{"description":"The number of rows to be inserted. Maximum 20 per request.","format":"int32","type":"integer"}}},"slides_v1_UpdateShapePropertiesRequest":{"description":"Update the properties of a Shape.","type":"object","properties":{"shapeProperties":{"$ref":"#/components/schemas/slides_v1_ShapeProperties"},"fields":{"description":"The fields that should be updated. At least one field must be specified. The root `shapeProperties` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the shape background solid fill color, set `fields` to `\"shapeBackgroundFill.solidFill.color\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset.","format":"google-fieldmask","type":"string"},"objectId":{"description":"The object ID of the shape the updates are applied to.","type":"string"}}},"slides_v1_SpeakerSpotlight":{"description":"A PageElement kind representing a Speaker Spotlight.","type":"object","properties":{"speakerSpotlightProperties":{"$ref":"#/components/schemas/slides_v1_SpeakerSpotlightProperties"}}},"slides_v1_UpdateImagePropertiesRequest":{"description":"Update the properties of an Image.","type":"object","properties":{"objectId":{"description":"The object ID of the image the updates are applied to.","type":"string"},"fields":{"description":"The fields that should be updated. At least one field must be specified. The root `imageProperties` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the image outline color, set `fields` to `\"outline.outlineFill.solidFill.color\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset.","format":"google-fieldmask","type":"string"},"imageProperties":{"$ref":"#/components/schemas/slides_v1_ImageProperties"}}},"slides_v1_CreateShapeResponse":{"description":"The result of creating a shape.","type":"object","properties":{"objectId":{"description":"The object ID of the created shape.","type":"string"}}},"slides_v1_TableBorderCell":{"description":"The properties of each border cell.","type":"object","properties":{"tableBorderProperties":{"$ref":"#/components/schemas/slides_v1_TableBorderProperties"},"location":{"$ref":"#/components/schemas/slides_v1_TableCellLocation"}}},"slides_v1_Autofit":{"description":"The autofit properties of a Shape. This property is only set for shapes that allow text.","type":"object","properties":{"lineSpacingReduction":{"description":"The line spacing reduction applied to the shape. For shapes with autofit_type NONE or SHAPE_AUTOFIT, this value is the default value of 0. For TEXT_AUTOFIT, this value subtracted from the line_spacing gives the line spacing that's rendered in the editor. This property is read-only.","format":"float","type":"number"},"fontScale":{"description":"The font scale applied to the shape. For shapes with autofit_type NONE or SHAPE_AUTOFIT, this value is the default value of 1. For TEXT_AUTOFIT, this value multiplied by the font_size gives the font size that's rendered in the editor. This property is read-only.","format":"float","type":"number"},"autofitType":{"description":"The autofit type of the shape. If the autofit type is AUTOFIT_TYPE_UNSPECIFIED, the autofit type is inherited from a parent placeholder if it exists. The field is automatically set to NONE if a request is made that might affect text fitting within its bounding text box. In this case, the font_scale is applied to the font_size and the line_spacing_reduction is applied to the line_spacing. Both properties are also reset to default values.","enum":["AUTOFIT_TYPE_UNSPECIFIED","NONE","TEXT_AUTOFIT","SHAPE_AUTOFIT"],"type":"string"}}},"slides_v1_Image":{"description":"A PageElement kind representing an image.","type":"object","properties":{"sourceUrl":{"description":"The source URL is the URL used to insert the image. The source URL can be empty.","type":"string"},"contentUrl":{"description":"An URL to an image with a default lifetime of 30 minutes. This URL is tagged with the account of the requester. Anyone with the URL effectively accesses the image as the original requester. Access to the image may be lost if the presentation's sharing settings change.","type":"string"},"placeholder":{"$ref":"#/components/schemas/slides_v1_Placeholder"},"imageProperties":{"$ref":"#/components/schemas/slides_v1_ImageProperties"}}},"slides_v1_NestingLevel":{"description":"Contains properties describing the look and feel of a list bullet at a given level of nesting.","type":"object","properties":{"bulletStyle":{"$ref":"#/components/schemas/slides_v1_TextStyle"}}},"slides_v1_NotesProperties":{"description":"The properties of Page that are only relevant for pages with page_type NOTES.","type":"object","properties":{"speakerNotesObjectId":{"description":"The object ID of the shape on this notes page that contains the speaker notes for the corresponding slide. The actual shape may not always exist on the notes page. Inserting text using this object ID will automatically create the shape. In this case, the actual shape may have different object ID. The `GetPresentation` or `GetPage` action will always return the latest object ID.","type":"string"}}},"slides_v1_TableRange":{"description":"A table range represents a reference to a subset of a table. It's important to note that the cells specified by a table range do not necessarily form a rectangle. For example, let's say we have a 3 x 3 table where all the cells of the last row are merged together. The table looks like this: [ ] A table range with location = (0, 0), row span = 3 and column span = 2 specifies the following cells: x x [ x x x ]","type":"object","properties":{"rowSpan":{"description":"The row span of the table range.","format":"int32","type":"integer"},"columnSpan":{"description":"The column span of the table range.","format":"int32","type":"integer"},"location":{"$ref":"#/components/schemas/slides_v1_TableCellLocation"}}},"slides_v1_TableRowProperties":{"description":"Properties of each row in a table.","type":"object","properties":{"minRowHeight":{"$ref":"#/components/schemas/slides_v1_Dimension"}}},"slides_v1_DeleteParagraphBulletsRequest":{"description":"Deletes bullets from all of the paragraphs that overlap with the given text index range. The nesting level of each paragraph will be visually preserved by adding indent to the start of the corresponding paragraph.","type":"object","properties":{"objectId":{"description":"The object ID of the shape or table containing the text to delete bullets from.","type":"string"},"textRange":{"$ref":"#/components/schemas/slides_v1_Range"},"cellLocation":{"$ref":"#/components/schemas/slides_v1_TableCellLocation"}}},"slides_v1_Outline":{"description":"The outline of a PageElement. If these fields are unset, they may be inherited from a parent placeholder if it exists. If there is no parent, the fields will default to the value used for new page elements created in the Slides editor, which may depend on the page element kind.","type":"object","properties":{"outlineFill":{"$ref":"#/components/schemas/slides_v1_OutlineFill"},"weight":{"$ref":"#/components/schemas/slides_v1_Dimension"},"dashStyle":{"description":"The dash style of the outline.","enum":["DASH_STYLE_UNSPECIFIED","SOLID","DOT","DASH","DASH_DOT","LONG_DASH","LONG_DASH_DOT"],"type":"string"},"propertyState":{"description":"The outline property state. Updating the outline on a page element will implicitly update this field to `RENDERED`, unless another value is specified in the same request. To have no outline on a page element, set this field to `NOT_RENDERED`. In this case, any other outline fields set in the same request will be ignored.","enum":["RENDERED","NOT_RENDERED","INHERIT"],"type":"string"}}},"slides_v1_Placeholder":{"description":"The placeholder information that uniquely identifies a placeholder shape.","type":"object","properties":{"type":{"description":"The type of the placeholder.","enum":["NONE","BODY","CHART","CLIP_ART","CENTERED_TITLE","DIAGRAM","DATE_AND_TIME","FOOTER","HEADER","MEDIA","OBJECT","PICTURE","SLIDE_NUMBER","SUBTITLE","TABLE","TITLE","SLIDE_IMAGE"],"type":"string"},"index":{"description":"The index of the placeholder. If the same placeholder types are present in the same page, they would have different index values.","format":"int32","type":"integer"},"parentObjectId":{"description":"The object ID of this shape's parent placeholder. If unset, the parent placeholder shape does not exist, so the shape does not inherit properties from any other shape.","type":"string"}}},"slides_v1_ReplaceAllShapesWithSheetsChartResponse":{"description":"The result of replacing shapes with a Google Sheets chart.","type":"object","properties":{"occurrencesChanged":{"description":"The number of shapes replaced with charts.","format":"int32","type":"integer"}}},"slides_v1_UpdateSlidesPositionRequest":{"description":"Updates the position of slides in the presentation.","type":"object","properties":{"slideObjectIds":{"description":"The IDs of the slides in the presentation that should be moved. The slides in this list must be in existing presentation order, without duplicates.","type":"array","items":{"type":"string"}},"insertionIndex":{"description":"The index where the slides should be inserted, based on the slide arrangement before the move takes place. Must be between zero and the number of slides in the presentation, inclusive.","format":"int32","type":"integer"}}},"slides_v1_SheetsChartProperties":{"description":"The properties of the SheetsChart.","type":"object","properties":{"chartImageProperties":{"$ref":"#/components/schemas/slides_v1_ImageProperties"}}},"slides_v1_Recolor":{"description":"A recolor effect applied on an image.","type":"object","properties":{"name":{"description":"The name of the recolor effect. The name is determined from the `recolor_stops` by matching the gradient against the colors in the page's current color scheme. This property is read-only.","enum":["NONE","LIGHT1","LIGHT2","LIGHT3","LIGHT4","LIGHT5","LIGHT6","LIGHT7","LIGHT8","LIGHT9","LIGHT10","DARK1","DARK2","DARK3","DARK4","DARK5","DARK6","DARK7","DARK8","DARK9","DARK10","GRAYSCALE","NEGATIVE","SEPIA","CUSTOM"],"type":"string"},"recolorStops":{"description":"The recolor effect is represented by a gradient, which is a list of color stops. The colors in the gradient will replace the corresponding colors at the same position in the color palette and apply to the image. This property is read-only.","type":"array","items":{"$ref":"#/components/schemas/slides_v1_ColorStop"}}}},"slides_v1_BatchUpdatePresentationResponse":{"description":"Response message from a batch update.","type":"object","properties":{"presentationId":{"description":"The presentation the updates were applied to.","type":"string"},"writeControl":{"$ref":"#/components/schemas/slides_v1_WriteControl"},"replies":{"description":"The reply of the updates. This maps 1:1 with the updates, although replies to some requests may be empty.","type":"array","items":{"$ref":"#/components/schemas/slides_v1_Response"}}}},"slides_v1_PageProperties":{"description":"The properties of the Page. The page will inherit properties from the parent page. Depending on the page type the hierarchy is defined in either SlideProperties or LayoutProperties.","type":"object","properties":{"pageBackgroundFill":{"$ref":"#/components/schemas/slides_v1_PageBackgroundFill"},"colorScheme":{"$ref":"#/components/schemas/slides_v1_ColorScheme"}}},"slides_v1_DuplicateObjectResponse":{"description":"The response of duplicating an object.","type":"object","properties":{"objectId":{"description":"The ID of the new duplicate object.","type":"string"}}},"slides_v1_CreateImageResponse":{"description":"The result of creating an image.","type":"object","properties":{"objectId":{"description":"The object ID of the created image.","type":"string"}}},"slides_v1_LayoutReference":{"description":"Slide layout reference. This may reference either: - A predefined layout - One of the layouts in the presentation.","type":"object","properties":{"layoutId":{"description":"Layout ID: the object ID of one of the layouts in the presentation.","type":"string"},"predefinedLayout":{"description":"Predefined layout.","enum":["PREDEFINED_LAYOUT_UNSPECIFIED","BLANK","CAPTION_ONLY","TITLE","TITLE_AND_BODY","TITLE_AND_TWO_COLUMNS","TITLE_ONLY","SECTION_HEADER","SECTION_TITLE_AND_DESCRIPTION","ONE_COLUMN_TEXT","MAIN_POINT","BIG_NUMBER"],"type":"string"}}},"slides_v1_Table":{"description":"A PageElement kind representing a table.","type":"object","properties":{"horizontalBorderRows":{"description":"Properties of horizontal cell borders. A table's horizontal cell borders are represented as a grid. The grid has one more row than the number of rows in the table and the same number of columns as the table. For example, if the table is 3 x 3, its horizontal borders will be represented as a grid with 4 rows and 3 columns.","type":"array","items":{"$ref":"#/components/schemas/slides_v1_TableBorderRow"}},"columns":{"description":"Number of columns in the table.","format":"int32","type":"integer"},"tableColumns":{"description":"Properties of each column.","type":"array","items":{"$ref":"#/components/schemas/slides_v1_TableColumnProperties"}},"verticalBorderRows":{"description":"Properties of vertical cell borders. A table's vertical cell borders are represented as a grid. The grid has the same number of rows as the table and one more column than the number of columns in the table. For example, if the table is 3 x 3, its vertical borders will be represented as a grid with 3 rows and 4 columns.","type":"array","items":{"$ref":"#/components/schemas/slides_v1_TableBorderRow"}},"tableRows":{"description":"Properties and contents of each row. Cells that span multiple rows are contained in only one of these rows and have a row_span greater than 1.","type":"array","items":{"$ref":"#/components/schemas/slides_v1_TableRow"}},"rows":{"description":"Number of rows in the table.","format":"int32","type":"integer"}}},"slides_v1_ParagraphStyle":{"description":"Styles that apply to a whole paragraph. If this text is contained in a shape with a parent placeholder, then these paragraph styles may be inherited from the parent. Which paragraph styles are inherited depend on the nesting level of lists: * A paragraph not in a list will inherit its paragraph style from the paragraph at the 0 nesting level of the list inside the parent placeholder. * A paragraph in a list will inherit its paragraph style from the paragraph at its corresponding nesting level of the list inside the parent placeholder. Inherited paragraph styles are represented as unset fields in this message.","type":"object","properties":{"spaceAbove":{"$ref":"#/components/schemas/slides_v1_Dimension"},"indentFirstLine":{"$ref":"#/components/schemas/slides_v1_Dimension"},"lineSpacing":{"description":"The amount of space between lines, as a percentage of normal, where normal is represented as 100.0. If unset, the value is inherited from the parent.","format":"float","type":"number"},"alignment":{"description":"The text alignment for this paragraph.","enum":["ALIGNMENT_UNSPECIFIED","START","CENTER","END","JUSTIFIED"],"type":"string"},"indentEnd":{"$ref":"#/components/schemas/slides_v1_Dimension"},"spacingMode":{"description":"The spacing mode for the paragraph.","enum":["SPACING_MODE_UNSPECIFIED","NEVER_COLLAPSE","COLLAPSE_LISTS"],"type":"string"},"spaceBelow":{"$ref":"#/components/schemas/slides_v1_Dimension"},"direction":{"description":"The text direction of this paragraph. If unset, the value defaults to LEFT_TO_RIGHT since text direction is not inherited.","enum":["TEXT_DIRECTION_UNSPECIFIED","LEFT_TO_RIGHT","RIGHT_TO_LEFT"],"type":"string"},"indentStart":{"$ref":"#/components/schemas/slides_v1_Dimension"}}},"slides_v1_TableBorderFill":{"description":"The fill of the border.","type":"object","properties":{"solidFill":{"$ref":"#/components/schemas/slides_v1_SolidFill"}}},"slides_v1_ShapeBackgroundFill":{"description":"The shape background fill.","type":"object","properties":{"propertyState":{"description":"The background fill property state. Updating the fill on a shape will implicitly update this field to `RENDERED`, unless another value is specified in the same request. To have no fill on a shape, set this field to `NOT_RENDERED`. In this case, any other fill fields set in the same request will be ignored.","enum":["RENDERED","NOT_RENDERED","INHERIT"],"type":"string"},"solidFill":{"$ref":"#/components/schemas/slides_v1_SolidFill"}}},"slides_v1_TableCellLocation":{"description":"A location of a single table cell within a table.","type":"object","properties":{"rowIndex":{"description":"The 0-based row index.","format":"int32","type":"integer"},"columnIndex":{"description":"The 0-based column index.","format":"int32","type":"integer"}}},"slides_v1_CreateLineRequest":{"description":"Creates a line.","type":"object","properties":{"elementProperties":{"$ref":"#/components/schemas/slides_v1_PageElementProperties"},"objectId":{"description":"A user-supplied object ID. If you specify an ID, it must be unique among all pages and page elements in the presentation. The ID must start with an alphanumeric character or an underscore (matches regex `[a-zA-Z0-9_]`); remaining characters may include those as well as a hyphen or colon (matches regex `[a-zA-Z0-9_-:]`). The length of the ID must not be less than 5 or greater than 50. If you don't specify an ID, a unique one is generated.","type":"string"},"category":{"description":"The category of the line to be created. The exact line type created is determined based on the category and how it's routed to connect to other page elements. If you specify both a `category` and a `line_category`, the `category` takes precedence. If you do not specify a value for `category`, but specify a value for `line_category`, then the specified `line_category` value is used. If you do not specify either, then STRAIGHT is used.","enum":["LINE_CATEGORY_UNSPECIFIED","STRAIGHT","BENT","CURVED"],"type":"string"},"lineCategory":{"description":"The category of the line to be created. *Deprecated*: use `category` instead. The exact line type created is determined based on the category and how it's routed to connect to other page elements. If you specify both a `category` and a `line_category`, the `category` takes precedence.","enum":["STRAIGHT","BENT","CURVED"],"type":"string"}}},"slides_v1_Shape":{"description":"A PageElement kind representing a generic shape that doesn't have a more specific classification. For more information, see [Size and position page elements](https://developers.google.com/workspace/slides/api/guides/transform).","type":"object","properties":{"placeholder":{"$ref":"#/components/schemas/slides_v1_Placeholder"},"shapeType":{"description":"The type of the shape.","enum":["TYPE_UNSPECIFIED","TEXT_BOX","RECTANGLE","ROUND_RECTANGLE","ELLIPSE","ARC","BENT_ARROW","BENT_UP_ARROW","BEVEL","BLOCK_ARC","BRACE_PAIR","BRACKET_PAIR","CAN","CHEVRON","CHORD","CLOUD","CORNER","CUBE","CURVED_DOWN_ARROW","CURVED_LEFT_ARROW","CURVED_RIGHT_ARROW","CURVED_UP_ARROW","DECAGON","DIAGONAL_STRIPE","DIAMOND","DODECAGON","DONUT","DOUBLE_WAVE","DOWN_ARROW","DOWN_ARROW_CALLOUT","FOLDED_CORNER","FRAME","HALF_FRAME","HEART","HEPTAGON","HEXAGON","HOME_PLATE","HORIZONTAL_SCROLL","IRREGULAR_SEAL_1","IRREGULAR_SEAL_2","LEFT_ARROW","LEFT_ARROW_CALLOUT","LEFT_BRACE","LEFT_BRACKET","LEFT_RIGHT_ARROW","LEFT_RIGHT_ARROW_CALLOUT","LEFT_RIGHT_UP_ARROW","LEFT_UP_ARROW","LIGHTNING_BOLT","MATH_DIVIDE","MATH_EQUAL","MATH_MINUS","MATH_MULTIPLY","MATH_NOT_EQUAL","MATH_PLUS","MOON","NO_SMOKING","NOTCHED_RIGHT_ARROW","OCTAGON","PARALLELOGRAM","PENTAGON","PIE","PLAQUE","PLUS","QUAD_ARROW","QUAD_ARROW_CALLOUT","RIBBON","RIBBON_2","RIGHT_ARROW","RIGHT_ARROW_CALLOUT","RIGHT_BRACE","RIGHT_BRACKET","ROUND_1_RECTANGLE","ROUND_2_DIAGONAL_RECTANGLE","ROUND_2_SAME_RECTANGLE","RIGHT_TRIANGLE","SMILEY_FACE","SNIP_1_RECTANGLE","SNIP_2_DIAGONAL_RECTANGLE","SNIP_2_SAME_RECTANGLE","SNIP_ROUND_RECTANGLE","STAR_10","STAR_12","STAR_16","STAR_24","STAR_32","STAR_4","STAR_5","STAR_6","STAR_7","STAR_8","STRIPED_RIGHT_ARROW","SUN","TRAPEZOID","TRIANGLE","UP_ARROW","UP_ARROW_CALLOUT","UP_DOWN_ARROW","UTURN_ARROW","VERTICAL_SCROLL","WAVE","WEDGE_ELLIPSE_CALLOUT","WEDGE_RECTANGLE_CALLOUT","WEDGE_ROUND_RECTANGLE_CALLOUT","FLOW_CHART_ALTERNATE_PROCESS","FLOW_CHART_COLLATE","FLOW_CHART_CONNECTOR","FLOW_CHART_DECISION","FLOW_CHART_DELAY","FLOW_CHART_DISPLAY","FLOW_CHART_DOCUMENT","FLOW_CHART_EXTRACT","FLOW_CHART_INPUT_OUTPUT","FLOW_CHART_INTERNAL_STORAGE","FLOW_CHART_MAGNETIC_DISK","FLOW_CHART_MAGNETIC_DRUM","FLOW_CHART_MAGNETIC_TAPE","FLOW_CHART_MANUAL_INPUT","FLOW_CHART_MANUAL_OPERATION","FLOW_CHART_MERGE","FLOW_CHART_MULTIDOCUMENT","FLOW_CHART_OFFLINE_STORAGE","FLOW_CHART_OFFPAGE_CONNECTOR","FLOW_CHART_ONLINE_STORAGE","FLOW_CHART_OR","FLOW_CHART_PREDEFINED_PROCESS","FLOW_CHART_PREPARATION","FLOW_CHART_PROCESS","FLOW_CHART_PUNCHED_CARD","FLOW_CHART_PUNCHED_TAPE","FLOW_CHART_SORT","FLOW_CHART_SUMMING_JUNCTION","FLOW_CHART_TERMINATOR","ARROW_EAST","ARROW_NORTH_EAST","ARROW_NORTH","SPEECH","STARBURST","TEARDROP","ELLIPSE_RIBBON","ELLIPSE_RIBBON_2","CLOUD_CALLOUT","CUSTOM"],"type":"string"},"shapeProperties":{"$ref":"#/components/schemas/slides_v1_ShapeProperties"},"text":{"$ref":"#/components/schemas/slides_v1_TextContent"}}},"slides_v1_TableRow":{"description":"Properties and contents of each row in a table.","type":"object","properties":{"rowHeight":{"$ref":"#/components/schemas/slides_v1_Dimension"},"tableRowProperties":{"$ref":"#/components/schemas/slides_v1_TableRowProperties"},"tableCells":{"description":"Properties and contents of each cell. Cells that span multiple columns are represented only once with a column_span greater than 1. As a result, the length of this collection does not always match the number of columns of the entire table.","type":"array","items":{"$ref":"#/components/schemas/slides_v1_TableCell"}}}},"slides_v1_Range":{"description":"Specifies a contiguous range of an indexed collection, such as characters in text.","type":"object","properties":{"endIndex":{"description":"The optional zero-based index of the end of the collection. Required for `FIXED_RANGE` ranges.","format":"int32","type":"integer"},"startIndex":{"description":"The optional zero-based index of the beginning of the collection. Required for `FIXED_RANGE` and `FROM_START_INDEX` ranges.","format":"int32","type":"integer"},"type":{"description":"The type of range.","enum":["RANGE_TYPE_UNSPECIFIED","FIXED_RANGE","FROM_START_INDEX","ALL"],"type":"string"}}},"slides_v1_TextRun":{"description":"A TextElement kind that represents a run of text that all has the same styling.","type":"object","properties":{"content":{"description":"The text of this run.","type":"string"},"style":{"$ref":"#/components/schemas/slides_v1_TextStyle"}}},"slides_v1_Group":{"description":"A PageElement kind representing a joined collection of PageElements.","type":"object","properties":{"children":{"description":"The collection of elements in the group. The minimum size of a group is 2.","type":"array","items":{"$ref":"#/components/schemas/slides_v1_PageElement"}}}},"slides_v1_LineProperties":{"description":"The properties of the Line. When unset, these fields default to values that match the appearance of new lines created in the Slides editor.","type":"object","properties":{"startArrow":{"description":"The style of the arrow at the beginning of the line.","enum":["ARROW_STYLE_UNSPECIFIED","NONE","STEALTH_ARROW","FILL_ARROW","FILL_CIRCLE","FILL_SQUARE","FILL_DIAMOND","OPEN_ARROW","OPEN_CIRCLE","OPEN_SQUARE","OPEN_DIAMOND"],"type":"string"},"endConnection":{"$ref":"#/components/schemas/slides_v1_LineConnection"},"startConnection":{"$ref":"#/components/schemas/slides_v1_LineConnection"},"link":{"$ref":"#/components/schemas/slides_v1_Link"},"dashStyle":{"description":"The dash style of the line.","enum":["DASH_STYLE_UNSPECIFIED","SOLID","DOT","DASH","DASH_DOT","LONG_DASH","LONG_DASH_DOT"],"type":"string"},"endArrow":{"description":"The style of the arrow at the end of the line.","enum":["ARROW_STYLE_UNSPECIFIED","NONE","STEALTH_ARROW","FILL_ARROW","FILL_CIRCLE","FILL_SQUARE","FILL_DIAMOND","OPEN_ARROW","OPEN_CIRCLE","OPEN_SQUARE","OPEN_DIAMOND"],"type":"string"},"weight":{"$ref":"#/components/schemas/slides_v1_Dimension"},"lineFill":{"$ref":"#/components/schemas/slides_v1_LineFill"}}},"slides_v1_Video":{"description":"A PageElement kind representing a video.","type":"object","properties":{"videoProperties":{"$ref":"#/components/schemas/slides_v1_VideoProperties"},"source":{"description":"The video source.","enum":["SOURCE_UNSPECIFIED","YOUTUBE","DRIVE"],"type":"string"},"id":{"description":"The video source's unique identifier for this video.","type":"string"},"url":{"description":"An URL to a video. The URL is valid as long as the source video exists and sharing settings do not change.","type":"string"}}},"slides_v1_PageBackgroundFill":{"description":"The page background fill.","type":"object","properties":{"solidFill":{"$ref":"#/components/schemas/slides_v1_SolidFill"},"propertyState":{"description":"The background fill property state. Updating the fill on a page will implicitly update this field to `RENDERED`, unless another value is specified in the same request. To have no fill on a page, set this field to `NOT_RENDERED`. In this case, any other fill fields set in the same request will be ignored.","enum":["RENDERED","NOT_RENDERED","INHERIT"],"type":"string"},"stretchedPictureFill":{"$ref":"#/components/schemas/slides_v1_StretchedPictureFill"}}},"slides_v1_StretchedPictureFill":{"description":"The stretched picture fill. The page or page element is filled entirely with the specified picture. The picture is stretched to fit its container.","type":"object","properties":{"size":{"$ref":"#/components/schemas/slides_v1_Size"},"contentUrl":{"description":"Reading the content_url: An URL to a picture with a default lifetime of 30 minutes. This URL is tagged with the account of the requester. Anyone with the URL effectively accesses the picture as the original requester. Access to the picture may be lost if the presentation's sharing settings change. Writing the content_url: The picture is fetched once at insertion time and a copy is stored for display inside the presentation. Pictures must be less than 50MB in size, cannot exceed 25 megapixels, and must be in one of PNG, JPEG, or GIF format. The provided URL can be at most 2 kB in length.","type":"string"}}},"slides_v1_TextStyle":{"description":"Represents the styling that can be applied to a TextRun. If this text is contained in a shape with a parent placeholder, then these text styles may be inherited from the parent. Which text styles are inherited depend on the nesting level of lists: * A text run in a paragraph that is not in a list will inherit its text style from the the newline character in the paragraph at the 0 nesting level of the list inside the parent placeholder. * A text run in a paragraph that is in a list will inherit its text style from the newline character in the paragraph at its corresponding nesting level of the list inside the parent placeholder. Inherited text styles are represented as unset fields in this message. If text is contained in a shape without a parent placeholder, unsetting these fields will revert the style to a value matching the defaults in the Slides editor.","type":"object","properties":{"backgroundColor":{"$ref":"#/components/schemas/slides_v1_OptionalColor"},"weightedFontFamily":{"$ref":"#/components/schemas/slides_v1_WeightedFontFamily"},"fontSize":{"$ref":"#/components/schemas/slides_v1_Dimension"},"link":{"$ref":"#/components/schemas/slides_v1_Link"},"underline":{"description":"Whether or not the text is underlined.","type":"boolean"},"foregroundColor":{"$ref":"#/components/schemas/slides_v1_OptionalColor"},"strikethrough":{"description":"Whether or not the text is struck through.","type":"boolean"},"baselineOffset":{"description":"The text's vertical offset from its normal position. Text with `SUPERSCRIPT` or `SUBSCRIPT` baseline offsets is automatically rendered in a smaller font size, computed based on the `font_size` field. The `font_size` itself is not affected by changes in this field.","enum":["BASELINE_OFFSET_UNSPECIFIED","NONE","SUPERSCRIPT","SUBSCRIPT"],"type":"string"},"bold":{"description":"Whether or not the text is rendered as bold.","type":"boolean"},"fontFamily":{"description":"The font family of the text. The font family can be any font from the Font menu in Slides or from [Google Fonts] (https://fonts.google.com/). If the font name is unrecognized, the text is rendered in `Arial`. Some fonts can affect the weight of the text. If an update request specifies values for both `font_family` and `bold`, the explicitly-set `bold` value is used.","type":"string"},"smallCaps":{"description":"Whether or not the text is in small capital letters.","type":"boolean"},"italic":{"description":"Whether or not the text is italicized.","type":"boolean"}}},"slides_v1_CreateShapeRequest":{"description":"Creates a new shape.","type":"object","properties":{"shapeType":{"description":"The shape type.","enum":["TYPE_UNSPECIFIED","TEXT_BOX","RECTANGLE","ROUND_RECTANGLE","ELLIPSE","ARC","BENT_ARROW","BENT_UP_ARROW","BEVEL","BLOCK_ARC","BRACE_PAIR","BRACKET_PAIR","CAN","CHEVRON","CHORD","CLOUD","CORNER","CUBE","CURVED_DOWN_ARROW","CURVED_LEFT_ARROW","CURVED_RIGHT_ARROW","CURVED_UP_ARROW","DECAGON","DIAGONAL_STRIPE","DIAMOND","DODECAGON","DONUT","DOUBLE_WAVE","DOWN_ARROW","DOWN_ARROW_CALLOUT","FOLDED_CORNER","FRAME","HALF_FRAME","HEART","HEPTAGON","HEXAGON","HOME_PLATE","HORIZONTAL_SCROLL","IRREGULAR_SEAL_1","IRREGULAR_SEAL_2","LEFT_ARROW","LEFT_ARROW_CALLOUT","LEFT_BRACE","LEFT_BRACKET","LEFT_RIGHT_ARROW","LEFT_RIGHT_ARROW_CALLOUT","LEFT_RIGHT_UP_ARROW","LEFT_UP_ARROW","LIGHTNING_BOLT","MATH_DIVIDE","MATH_EQUAL","MATH_MINUS","MATH_MULTIPLY","MATH_NOT_EQUAL","MATH_PLUS","MOON","NO_SMOKING","NOTCHED_RIGHT_ARROW","OCTAGON","PARALLELOGRAM","PENTAGON","PIE","PLAQUE","PLUS","QUAD_ARROW","QUAD_ARROW_CALLOUT","RIBBON","RIBBON_2","RIGHT_ARROW","RIGHT_ARROW_CALLOUT","RIGHT_BRACE","RIGHT_BRACKET","ROUND_1_RECTANGLE","ROUND_2_DIAGONAL_RECTANGLE","ROUND_2_SAME_RECTANGLE","RIGHT_TRIANGLE","SMILEY_FACE","SNIP_1_RECTANGLE","SNIP_2_DIAGONAL_RECTANGLE","SNIP_2_SAME_RECTANGLE","SNIP_ROUND_RECTANGLE","STAR_10","STAR_12","STAR_16","STAR_24","STAR_32","STAR_4","STAR_5","STAR_6","STAR_7","STAR_8","STRIPED_RIGHT_ARROW","SUN","TRAPEZOID","TRIANGLE","UP_ARROW","UP_ARROW_CALLOUT","UP_DOWN_ARROW","UTURN_ARROW","VERTICAL_SCROLL","WAVE","WEDGE_ELLIPSE_CALLOUT","WEDGE_RECTANGLE_CALLOUT","WEDGE_ROUND_RECTANGLE_CALLOUT","FLOW_CHART_ALTERNATE_PROCESS","FLOW_CHART_COLLATE","FLOW_CHART_CONNECTOR","FLOW_CHART_DECISION","FLOW_CHART_DELAY","FLOW_CHART_DISPLAY","FLOW_CHART_DOCUMENT","FLOW_CHART_EXTRACT","FLOW_CHART_INPUT_OUTPUT","FLOW_CHART_INTERNAL_STORAGE","FLOW_CHART_MAGNETIC_DISK","FLOW_CHART_MAGNETIC_DRUM","FLOW_CHART_MAGNETIC_TAPE","FLOW_CHART_MANUAL_INPUT","FLOW_CHART_MANUAL_OPERATION","FLOW_CHART_MERGE","FLOW_CHART_MULTIDOCUMENT","FLOW_CHART_OFFLINE_STORAGE","FLOW_CHART_OFFPAGE_CONNECTOR","FLOW_CHART_ONLINE_STORAGE","FLOW_CHART_OR","FLOW_CHART_PREDEFINED_PROCESS","FLOW_CHART_PREPARATION","FLOW_CHART_PROCESS","FLOW_CHART_PUNCHED_CARD","FLOW_CHART_PUNCHED_TAPE","FLOW_CHART_SORT","FLOW_CHART_SUMMING_JUNCTION","FLOW_CHART_TERMINATOR","ARROW_EAST","ARROW_NORTH_EAST","ARROW_NORTH","SPEECH","STARBURST","TEARDROP","ELLIPSE_RIBBON","ELLIPSE_RIBBON_2","CLOUD_CALLOUT","CUSTOM"],"type":"string"},"objectId":{"description":"A user-supplied object ID. If you specify an ID, it must be unique among all pages and page elements in the presentation. The ID must start with an alphanumeric character or an underscore (matches regex `[a-zA-Z0-9_]`); remaining characters may include those as well as a hyphen or colon (matches regex `[a-zA-Z0-9_-:]`). The length of the ID must not be less than 5 or greater than 50. If empty, a unique identifier will be generated.","type":"string"},"elementProperties":{"$ref":"#/components/schemas/slides_v1_PageElementProperties"}}},"slides_v1_PageElement":{"description":"A visual element rendered on a page.","type":"object","properties":{"transform":{"$ref":"#/components/schemas/slides_v1_AffineTransform"},"description":{"description":"The description of the page element. Combined with title to display alt text. The field is not supported for Group elements.","type":"string"},"elementGroup":{"$ref":"#/components/schemas/slides_v1_Group"},"speakerSpotlight":{"$ref":"#/components/schemas/slides_v1_SpeakerSpotlight"},"table":{"$ref":"#/components/schemas/slides_v1_Table"},"shape":{"$ref":"#/components/schemas/slides_v1_Shape"},"title":{"description":"The title of the page element. Combined with description to display alt text. The field is not supported for Group elements.","type":"string"},"video":{"$ref":"#/components/schemas/slides_v1_Video"},"sheetsChart":{"$ref":"#/components/schemas/slides_v1_SheetsChart"},"size":{"$ref":"#/components/schemas/slides_v1_Size"},"objectId":{"description":"The object ID for this page element. Object IDs used by google.apps.slides.v1.Page and google.apps.slides.v1.PageElement share the same namespace.","type":"string"},"image":{"$ref":"#/components/schemas/slides_v1_Image"},"line":{"$ref":"#/components/schemas/slides_v1_Line"},"wordArt":{"$ref":"#/components/schemas/slides_v1_WordArt"}}},"slides_v1_CreateSheetsChartResponse":{"description":"The result of creating an embedded Google Sheets chart.","type":"object","properties":{"objectId":{"description":"The object ID of the created chart.","type":"string"}}},"slides_v1_Line":{"description":"A PageElement kind representing a non-connector line, straight connector, curved connector, or bent connector.","type":"object","properties":{"lineType":{"description":"The type of the line.","enum":["TYPE_UNSPECIFIED","STRAIGHT_CONNECTOR_1","BENT_CONNECTOR_2","BENT_CONNECTOR_3","BENT_CONNECTOR_4","BENT_CONNECTOR_5","CURVED_CONNECTOR_2","CURVED_CONNECTOR_3","CURVED_CONNECTOR_4","CURVED_CONNECTOR_5","STRAIGHT_LINE"],"type":"string"},"lineCategory":{"description":"The category of the line. It matches the `category` specified in CreateLineRequest, and can be updated with UpdateLineCategoryRequest.","enum":["LINE_CATEGORY_UNSPECIFIED","STRAIGHT","BENT","CURVED"],"type":"string"},"lineProperties":{"$ref":"#/components/schemas/slides_v1_LineProperties"}}},"slides_v1_UngroupObjectsRequest":{"description":"Ungroups objects, such as groups.","type":"object","properties":{"objectIds":{"description":"The object IDs of the objects to ungroup. Only groups that are not inside other groups can be ungrouped. All the groups should be on the same page. The group itself is deleted. The visual sizes and positions of all the children are preserved.","type":"array","items":{"type":"string"}}}},"slides_v1_CreateVideoRequest":{"description":"Creates a video. NOTE: Creating a video from Google Drive requires that the requesting app have at least one of the drive, drive.readonly, or drive.file OAuth scopes.","type":"object","properties":{"objectId":{"description":"A user-supplied object ID. If you specify an ID, it must be unique among all pages and page elements in the presentation. The ID must start with an alphanumeric character or an underscore (matches regex `[a-zA-Z0-9_]`); remaining characters may include those as well as a hyphen or colon (matches regex `[a-zA-Z0-9_-:]`). The length of the ID must not be less than 5 or greater than 50. If you don't specify an ID, a unique one is generated.","type":"string"},"source":{"description":"The video source.","enum":["SOURCE_UNSPECIFIED","YOUTUBE","DRIVE"],"type":"string"},"elementProperties":{"$ref":"#/components/schemas/slides_v1_PageElementProperties"},"id":{"description":"The video source's unique identifier for this video. e.g. For YouTube video https://www.youtube.com/watch?v=7U3axjORYZ0, the ID is 7U3axjORYZ0. For a Google Drive video https://drive.google.com/file/d/1xCgQLFTJi5_Xl8DgW_lcUYq5e-q6Hi5Q the ID is 1xCgQLFTJi5_Xl8DgW_lcUYq5e-q6Hi5Q. To access a Google Drive video file, you might need to add a resource key to the HTTP header for a subset of old files. For more information, see [Access link-shared files using resource keys](https://developers.google.com/drive/api/v3/resource-keys).","type":"string"}}},"slides_v1_GroupObjectsResponse":{"description":"The result of grouping objects.","type":"object","properties":{"objectId":{"description":"The object ID of the created group.","type":"string"}}},"slides_v1_UpdatePageElementTransformRequest":{"description":"Updates the transform of a page element. Updating the transform of a group will change the absolute transform of the page elements in that group, which can change their visual appearance. See the documentation for PageElement.transform for more details.","type":"object","properties":{"objectId":{"description":"The object ID of the page element to update.","type":"string"},"transform":{"$ref":"#/components/schemas/slides_v1_AffineTransform"},"applyMode":{"description":"The apply mode of the transform update.","enum":["APPLY_MODE_UNSPECIFIED","RELATIVE","ABSOLUTE"],"type":"string"}}},"slides_v1_SheetsChart":{"description":"A PageElement kind representing a linked chart embedded from Google Sheets.","type":"object","properties":{"sheetsChartProperties":{"$ref":"#/components/schemas/slides_v1_SheetsChartProperties"},"contentUrl":{"description":"The URL of an image of the embedded chart, with a default lifetime of 30 minutes. This URL is tagged with the account of the requester. Anyone with the URL effectively accesses the image as the original requester. Access to the image may be lost if the presentation's sharing settings change.","type":"string"},"spreadsheetId":{"description":"The ID of the Google Sheets spreadsheet that contains the source chart.","type":"string"},"chartId":{"description":"The ID of the specific chart in the Google Sheets spreadsheet that is embedded.","format":"int32","type":"integer"}}},"slides_v1_CreateVideoResponse":{"description":"The result of creating a video.","type":"object","properties":{"objectId":{"description":"The object ID of the created video.","type":"string"}}},"slides_v1_PageElementProperties":{"description":"Common properties for a page element. Note: When you initially create a PageElement, the API may modify the values of both `size` and `transform`, but the visual size will be unchanged.","type":"object","properties":{"size":{"$ref":"#/components/schemas/slides_v1_Size"},"pageObjectId":{"description":"The object ID of the page where the element is located.","type":"string"},"transform":{"$ref":"#/components/schemas/slides_v1_AffineTransform"}}},"slides_v1_TableCellBackgroundFill":{"description":"The table cell background fill.","type":"object","properties":{"propertyState":{"description":"The background fill property state. Updating the fill on a table cell will implicitly update this field to `RENDERED`, unless another value is specified in the same request. To have no fill on a table cell, set this field to `NOT_RENDERED`. In this case, any other fill fields set in the same request will be ignored.","enum":["RENDERED","NOT_RENDERED","INHERIT"],"type":"string"},"solidFill":{"$ref":"#/components/schemas/slides_v1_SolidFill"}}},"slides_v1_SolidFill":{"description":"A solid color fill. The page or page element is filled entirely with the specified color value. If any field is unset, its value may be inherited from a parent placeholder if it exists.","type":"object","properties":{"color":{"$ref":"#/components/schemas/slides_v1_OpaqueColor"},"alpha":{"description":"The fraction of this `color` that should be applied to the pixel. That is, the final pixel color is defined by the equation: pixel color = alpha * (color) + (1.0 - alpha) * (background color) This means that a value of 1.0 corresponds to a solid color, whereas a value of 0.0 corresponds to a completely transparent color.","format":"float","type":"number"}}},"slides_v1_MergeTableCellsRequest":{"description":"Merges cells in a Table.","type":"object","properties":{"tableRange":{"$ref":"#/components/schemas/slides_v1_TableRange"},"objectId":{"description":"The object ID of the table.","type":"string"}}},"slides_v1_UpdateSlidePropertiesRequest":{"description":"Updates the properties of a Slide.","type":"object","properties":{"fields":{"description":"The fields that should be updated. At least one field must be specified. The root 'slideProperties' is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update whether a slide is skipped, set `fields` to `\"isSkipped\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset.","format":"google-fieldmask","type":"string"},"objectId":{"description":"The object ID of the slide the update is applied to.","type":"string"},"slideProperties":{"$ref":"#/components/schemas/slides_v1_SlideProperties"}}},"slides_v1_UpdateTableBorderPropertiesRequest":{"description":"Updates the properties of the table borders in a Table.","type":"object","properties":{"fields":{"description":"The fields that should be updated. At least one field must be specified. The root `tableBorderProperties` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the table border solid fill color, set `fields` to `\"tableBorderFill.solidFill.color\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset.","format":"google-fieldmask","type":"string"},"objectId":{"description":"The object ID of the table.","type":"string"},"borderPosition":{"description":"The border position in the table range the updates should apply to. If a border position is not specified, the updates will apply to all borders in the table range.","enum":["ALL","BOTTOM","INNER","INNER_HORIZONTAL","INNER_VERTICAL","LEFT","OUTER","RIGHT","TOP"],"type":"string"},"tableRange":{"$ref":"#/components/schemas/slides_v1_TableRange"},"tableBorderProperties":{"$ref":"#/components/schemas/slides_v1_TableBorderProperties"}}},"slides_v1_UpdateTableColumnPropertiesRequest":{"description":"Updates the properties of a Table column.","type":"object","properties":{"tableColumnProperties":{"$ref":"#/components/schemas/slides_v1_TableColumnProperties"},"fields":{"description":"The fields that should be updated. At least one field must be specified. The root `tableColumnProperties` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the column width, set `fields` to `\"column_width\"`. If '\"column_width\"' is included in the field mask but the property is left unset, the column width will default to 406,400 EMU (32 points).","format":"google-fieldmask","type":"string"},"columnIndices":{"description":"The list of zero-based indices specifying which columns to update. If no indices are provided, all columns in the table will be updated.","type":"array","items":{"format":"int32","type":"integer"}},"objectId":{"description":"The object ID of the table.","type":"string"}}},"slides_v1_List":{"description":"A List describes the look and feel of bullets belonging to paragraphs associated with a list. A paragraph that is part of a list has an implicit reference to that list's ID.","type":"object","properties":{"listId":{"description":"The ID of the list.","type":"string"},"nestingLevel":{"description":"A map of nesting levels to the properties of bullets at the associated level. A list has at most nine levels of nesting, so the possible values for the keys of this map are 0 through 8, inclusive.","type":"object","additionalProperties":{"$ref":"#/components/schemas/slides_v1_NestingLevel"}}}},"slides_v1_TextElement":{"description":"A TextElement describes the content of a range of indices in the text content of a Shape or TableCell.","type":"object","properties":{"paragraphMarker":{"$ref":"#/components/schemas/slides_v1_ParagraphMarker"},"textRun":{"$ref":"#/components/schemas/slides_v1_TextRun"},"startIndex":{"description":"The zero-based start index of this text element, in Unicode code units.","format":"int32","type":"integer"},"endIndex":{"description":"The zero-based end index of this text element, exclusive, in Unicode code units.","format":"int32","type":"integer"},"autoText":{"$ref":"#/components/schemas/slides_v1_AutoText"}}},"slides_v1_CreateTableRequest":{"description":"Creates a new table.","type":"object","properties":{"columns":{"description":"Number of columns in the table.","format":"int32","type":"integer"},"objectId":{"description":"A user-supplied object ID. If you specify an ID, it must be unique among all pages and page elements in the presentation. The ID must start with an alphanumeric character or an underscore (matches regex `[a-zA-Z0-9_]`); remaining characters may include those as well as a hyphen or colon (matches regex `[a-zA-Z0-9_-:]`). The length of the ID must not be less than 5 or greater than 50. If you don't specify an ID, a unique one is generated.","type":"string"},"elementProperties":{"$ref":"#/components/schemas/slides_v1_PageElementProperties"},"rows":{"description":"Number of rows in the table.","format":"int32","type":"integer"}}},"slides_v1_SubstringMatchCriteria":{"description":"A criteria that matches a specific string of text in a shape or table.","type":"object","properties":{"matchCase":{"description":"Indicates whether the search should respect case: - `True`: the search is case sensitive. - `False`: the search is case insensitive.","type":"boolean"},"searchByRegex":{"description":"Optional. True if the find value should be treated as a regular expression. Any backslashes in the pattern should be escaped. - `True`: the search text is treated as a regular expressions. - `False`: the search text is treated as a substring for matching.","type":"boolean"},"text":{"description":"The text to search for in the shape or table.","type":"string"}}},"slides_v1_ShapeProperties":{"description":"The properties of a Shape. If the shape is a placeholder shape as determined by the placeholder field, then these properties may be inherited from a parent placeholder shape. Determining the rendered value of the property depends on the corresponding property_state field value. Any text autofit settings on the shape are automatically deactivated by requests that can impact how text fits in the shape.","type":"object","properties":{"shadow":{"$ref":"#/components/schemas/slides_v1_Shadow"},"outline":{"$ref":"#/components/schemas/slides_v1_Outline"},"contentAlignment":{"description":"The alignment of the content in the shape. If unspecified, the alignment is inherited from a parent placeholder if it exists. If the shape has no parent, the default alignment matches the alignment for new shapes created in the Slides editor.","enum":["CONTENT_ALIGNMENT_UNSPECIFIED","CONTENT_ALIGNMENT_UNSUPPORTED","TOP","MIDDLE","BOTTOM"],"type":"string"},"autofit":{"$ref":"#/components/schemas/slides_v1_Autofit"},"shapeBackgroundFill":{"$ref":"#/components/schemas/slides_v1_ShapeBackgroundFill"},"link":{"$ref":"#/components/schemas/slides_v1_Link"}}},"slides_v1_AutoText":{"description":"A TextElement kind that represents auto text.","type":"object","properties":{"content":{"description":"The rendered content of this auto text, if available.","type":"string"},"type":{"description":"The type of this auto text.","enum":["TYPE_UNSPECIFIED","SLIDE_NUMBER"],"type":"string"},"style":{"$ref":"#/components/schemas/slides_v1_TextStyle"}}},"slides_v1_UpdateTableRowPropertiesRequest":{"description":"Updates the properties of a Table row.","type":"object","properties":{"tableRowProperties":{"$ref":"#/components/schemas/slides_v1_TableRowProperties"},"fields":{"description":"The fields that should be updated. At least one field must be specified. The root `tableRowProperties` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the minimum row height, set `fields` to `\"min_row_height\"`. If '\"min_row_height\"' is included in the field mask but the property is left unset, the minimum row height will default to 0.","format":"google-fieldmask","type":"string"},"objectId":{"description":"The object ID of the table.","type":"string"},"rowIndices":{"description":"The list of zero-based indices specifying which rows to update. If no indices are provided, all rows in the table will be updated.","type":"array","items":{"format":"int32","type":"integer"}}}},"slides_v1_ReplaceImageRequest":{"description":"Replaces an existing image with a new image. Replacing an image removes some image effects from the existing image.","type":"object","properties":{"imageObjectId":{"description":"The ID of the existing image that will be replaced. The ID can be retrieved from the response of a get request.","type":"string"},"imageReplaceMethod":{"description":"The replacement method.","enum":["IMAGE_REPLACE_METHOD_UNSPECIFIED","CENTER_INSIDE","CENTER_CROP"],"type":"string"},"url":{"description":"The image URL. The image is fetched once at insertion time and a copy is stored for display inside the presentation. Images must be less than 50MB, cannot exceed 25 megapixels, and must be in PNG, JPEG, or GIF format. The provided URL can't surpass 2 KB in length. The URL is saved with the image, and exposed through the Image.source_url field.","type":"string"}}},"slides_v1_AffineTransform":{"description":"AffineTransform uses a 3x3 matrix with an implied last row of [ 0 0 1 ] to transform source coordinates (x,y) into destination coordinates (x', y') according to: x' x = shear_y scale_y translate_y 1 [ 1 ] After transformation, x' = scale_x * x + shear_x * y + translate_x; y' = scale_y * y + shear_y * x + translate_y; This message is therefore composed of these six matrix elements.","type":"object","properties":{"translateX":{"description":"The X coordinate translation element.","format":"double","type":"number"},"shearX":{"description":"The X coordinate shearing element.","format":"double","type":"number"},"unit":{"description":"The units for translate elements.","enum":["UNIT_UNSPECIFIED","EMU","PT"],"type":"string"},"scaleX":{"description":"The X coordinate scaling element.","format":"double","type":"number"},"scaleY":{"description":"The Y coordinate scaling element.","format":"double","type":"number"},"shearY":{"description":"The Y coordinate shearing element.","format":"double","type":"number"},"translateY":{"description":"The Y coordinate translation element.","format":"double","type":"number"}}},"slides_v1_Page":{"description":"A page in a presentation.","type":"object","properties":{"masterProperties":{"$ref":"#/components/schemas/slides_v1_MasterProperties"},"notesProperties":{"$ref":"#/components/schemas/slides_v1_NotesProperties"},"slideProperties":{"$ref":"#/components/schemas/slides_v1_SlideProperties"},"objectId":{"description":"The object ID for this page. Object IDs used by Page and PageElement share the same namespace.","type":"string"},"pageType":{"description":"The type of the page.","enum":["SLIDE","MASTER","LAYOUT","NOTES","NOTES_MASTER"],"type":"string"},"pageElements":{"description":"The page elements rendered on the page.","type":"array","items":{"$ref":"#/components/schemas/slides_v1_PageElement"}},"layoutProperties":{"$ref":"#/components/schemas/slides_v1_LayoutProperties"},"pageProperties":{"$ref":"#/components/schemas/slides_v1_PageProperties"},"revisionId":{"description":"Output only. The revision ID of the presentation. Can be used in update requests to assert the presentation revision hasn't changed since the last read operation. Only populated if the user has edit access to the presentation. The revision ID is not a sequential number but an opaque string. The format of the revision ID might change over time. A returned revision ID is only guaranteed to be valid for 24 hours after it has been returned and cannot be shared across users. If the revision ID is unchanged between calls, then the presentation has not changed. Conversely, a changed ID (for the same presentation and user) usually means the presentation has been updated. However, a changed ID can also be due to internal factors such as ID format changes.","type":"string"}}},"slides_v1_RerouteLineRequest":{"description":"Reroutes a line such that it's connected at the two closest connection sites on the connected page elements.","type":"object","properties":{"objectId":{"description":"The object ID of the line to reroute. Only a line with a category indicating it is a \"connector\" can be rerouted. The start and end connections of the line must be on different page elements.","type":"string"}}},"slides_v1_TableCellProperties":{"description":"The properties of the TableCell.","type":"object","properties":{"tableCellBackgroundFill":{"$ref":"#/components/schemas/slides_v1_TableCellBackgroundFill"},"contentAlignment":{"description":"The alignment of the content in the table cell. The default alignment matches the alignment for newly created table cells in the Slides editor.","enum":["CONTENT_ALIGNMENT_UNSPECIFIED","CONTENT_ALIGNMENT_UNSUPPORTED","TOP","MIDDLE","BOTTOM"],"type":"string"}}},"slides_v1_UpdateTableCellPropertiesRequest":{"description":"Update the properties of a TableCell.","type":"object","properties":{"tableCellProperties":{"$ref":"#/components/schemas/slides_v1_TableCellProperties"},"fields":{"description":"The fields that should be updated. At least one field must be specified. The root `tableCellProperties` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the table cell background solid fill color, set `fields` to `\"tableCellBackgroundFill.solidFill.color\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset.","format":"google-fieldmask","type":"string"},"objectId":{"description":"The object ID of the table.","type":"string"},"tableRange":{"$ref":"#/components/schemas/slides_v1_TableRange"}}},"slides_v1_DeleteTableRowRequest":{"description":"Deletes a row from a table.","type":"object","properties":{"tableObjectId":{"description":"The table to delete rows from.","type":"string"},"cellLocation":{"$ref":"#/components/schemas/slides_v1_TableCellLocation"}}},"slides_v1_LineFill":{"description":"The fill of the line.","type":"object","properties":{"solidFill":{"$ref":"#/components/schemas/slides_v1_SolidFill"}}},"slides_v1_UpdatePageElementAltTextRequest":{"description":"Updates the alt text title and/or description of a page element.","type":"object","properties":{"title":{"description":"The updated alt text title of the page element. If unset the existing value will be maintained. The title is exposed to screen readers and other accessibility interfaces. Only use human readable values related to the content of the page element.","type":"string"},"objectId":{"description":"The object ID of the page element the updates are applied to.","type":"string"},"description":{"description":"The updated alt text description of the page element. If unset the existing value will be maintained. The description is exposed to screen readers and other accessibility interfaces. Only use human readable values related to the content of the page element.","type":"string"}}},"slides_v1_UpdateTextStyleRequest":{"description":"Update the styling of text in a Shape or Table.","type":"object","properties":{"objectId":{"description":"The object ID of the shape or table with the text to be styled.","type":"string"},"textRange":{"$ref":"#/components/schemas/slides_v1_Range"},"fields":{"description":"The fields that should be updated. At least one field must be specified. The root `style` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example, to update the text style to bold, set `fields` to `\"bold\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset.","format":"google-fieldmask","type":"string"},"style":{"$ref":"#/components/schemas/slides_v1_TextStyle"},"cellLocation":{"$ref":"#/components/schemas/slides_v1_TableCellLocation"}}},"slides_v1_LineConnection":{"description":"The properties for one end of a Line connection.","type":"object","properties":{"connectedObjectId":{"description":"The object ID of the connected page element. Some page elements, such as groups, tables, and lines do not have connection sites and therefore cannot be connected to a connector line.","type":"string"},"connectionSiteIndex":{"description":"The index of the connection site on the connected page element. In most cases, it corresponds to the predefined connection site index from the ECMA-376 standard. More information on those connection sites can be found in both the description of the \"cxn\" attribute in section 20.1.9.9 and \"Annex H. Example Predefined DrawingML Shape and Text Geometries\" of \"Office Open XML File Formats - Fundamentals and Markup Language Reference\", part 1 of [ECMA-376 5th edition](https://ecma-international.org/publications-and-standards/standards/ecma-376/). The position of each connection site can also be viewed from Slides editor.","format":"int32","type":"integer"}}},"slides_v1_DeleteTextRequest":{"description":"Deletes text from a shape or a table cell.","type":"object","properties":{"cellLocation":{"$ref":"#/components/schemas/slides_v1_TableCellLocation"},"objectId":{"description":"The object ID of the shape or table from which the text will be deleted.","type":"string"},"textRange":{"$ref":"#/components/schemas/slides_v1_Range"}}},"slides_v1_CropProperties":{"description":"The crop properties of an object enclosed in a container. For example, an Image. The crop properties is represented by the offsets of four edges which define a crop rectangle. The offsets are measured in percentage from the corresponding edges of the object's original bounding rectangle towards inside, relative to the object's original dimensions. - If the offset is in the interval (0, 1), the corresponding edge of crop rectangle is positioned inside of the object's original bounding rectangle. - If the offset is negative or greater than 1, the corresponding edge of crop rectangle is positioned outside of the object's original bounding rectangle. - If the left edge of the crop rectangle is on the right side of its right edge, the object will be flipped horizontally. - If the top edge of the crop rectangle is below its bottom edge, the object will be flipped vertically. - If all offsets and rotation angle is 0, the object is not cropped. After cropping, the content in the crop rectangle will be stretched to fit its container.","type":"object","properties":{"bottomOffset":{"description":"The offset specifies the bottom edge of the crop rectangle that is located above the original bounding rectangle bottom edge, relative to the object's original height.","format":"float","type":"number"},"angle":{"description":"The rotation angle of the crop window around its center, in radians. Rotation angle is applied after the offset.","format":"float","type":"number"},"leftOffset":{"description":"The offset specifies the left edge of the crop rectangle that is located to the right of the original bounding rectangle left edge, relative to the object's original width.","format":"float","type":"number"},"topOffset":{"description":"The offset specifies the top edge of the crop rectangle that is located below the original bounding rectangle top edge, relative to the object's original height.","format":"float","type":"number"},"rightOffset":{"description":"The offset specifies the right edge of the crop rectangle that is located to the left of the original bounding rectangle right edge, relative to the object's original width.","format":"float","type":"number"}}},"slides_v1_Response":{"description":"A single response from an update.","type":"object","properties":{"createSlide":{"$ref":"#/components/schemas/slides_v1_CreateSlideResponse"},"replaceAllShapesWithSheetsChart":{"$ref":"#/components/schemas/slides_v1_ReplaceAllShapesWithSheetsChartResponse"},"replaceAllShapesWithImage":{"$ref":"#/components/schemas/slides_v1_ReplaceAllShapesWithImageResponse"},"createLine":{"$ref":"#/components/schemas/slides_v1_CreateLineResponse"},"groupObjects":{"$ref":"#/components/schemas/slides_v1_GroupObjectsResponse"},"replaceAllText":{"$ref":"#/components/schemas/slides_v1_ReplaceAllTextResponse"},"createSheetsChart":{"$ref":"#/components/schemas/slides_v1_CreateSheetsChartResponse"},"createImage":{"$ref":"#/components/schemas/slides_v1_CreateImageResponse"},"duplicateObject":{"$ref":"#/components/schemas/slides_v1_DuplicateObjectResponse"},"createShape":{"$ref":"#/components/schemas/slides_v1_CreateShapeResponse"},"createVideo":{"$ref":"#/components/schemas/slides_v1_CreateVideoResponse"},"createTable":{"$ref":"#/components/schemas/slides_v1_CreateTableResponse"}}},"slides_v1_ReplaceAllShapesWithSheetsChartRequest":{"description":"Replaces all shapes that match the given criteria with the provided Google Sheets chart. The chart will be scaled and centered to fit within the bounds of the original shape. NOTE: Replacing shapes with a chart requires at least one of the spreadsheets.readonly, spreadsheets, drive.readonly, or drive OAuth scopes.","type":"object","properties":{"containsText":{"$ref":"#/components/schemas/slides_v1_SubstringMatchCriteria"},"spreadsheetId":{"description":"The ID of the Google Sheets spreadsheet that contains the chart.","type":"string"},"linkingMode":{"description":"The mode with which the chart is linked to the source spreadsheet. When not specified, the chart will be an image that is not linked.","enum":["NOT_LINKED_IMAGE","LINKED"],"type":"string"},"pageObjectIds":{"description":"If non-empty, limits the matches to page elements only on the given pages. Returns a 400 bad request error if given the page object ID of a notes page or a notes master, or if a page with that object ID doesn't exist in the presentation.","type":"array","items":{"type":"string"}},"chartId":{"description":"The ID of the specific chart in the Google Sheets spreadsheet.","format":"int32","type":"integer"}}},"slides_v1_ColorScheme":{"description":"The palette of predefined colors for a page.","type":"object","properties":{"colors":{"description":"The ThemeColorType and corresponding concrete color pairs.","type":"array","items":{"$ref":"#/components/schemas/slides_v1_ThemeColorPair"}}}},"slides_v1_DuplicateObjectRequest":{"description":"Duplicates a slide or page element. When duplicating a slide, the duplicate slide will be created immediately following the specified slide. When duplicating a page element, the duplicate will be placed on the same page at the same position as the original.","type":"object","properties":{"objectIds":{"description":"The object being duplicated may contain other objects, for example when duplicating a slide or a group page element. This map defines how the IDs of duplicated objects are generated: the keys are the IDs of the original objects and its values are the IDs that will be assigned to the corresponding duplicate object. The ID of the source object's duplicate may be specified in this map as well, using the same value of the `object_id` field as a key and the newly desired ID as the value. All keys must correspond to existing IDs in the presentation. All values must be unique in the presentation and must start with an alphanumeric character or an underscore (matches regex `[a-zA-Z0-9_]`); remaining characters may include those as well as a hyphen or colon (matches regex `[a-zA-Z0-9_-:]`). The length of the new ID must not be less than 5 or greater than 50. If any IDs of source objects are omitted from the map, a new random ID will be assigned. If the map is empty or unset, all duplicate objects will receive a new random ID.","type":"object","additionalProperties":{"type":"string"}},"objectId":{"description":"The ID of the object to duplicate.","type":"string"}}},"slides_v1_Link":{"description":"A hypertext link.","type":"object","properties":{"url":{"description":"If set, indicates this is a link to the external web page at this URL.","type":"string"},"relativeLink":{"description":"If set, indicates this is a link to a slide in this presentation, addressed by its position.","enum":["RELATIVE_SLIDE_LINK_UNSPECIFIED","NEXT_SLIDE","PREVIOUS_SLIDE","FIRST_SLIDE","LAST_SLIDE"],"type":"string"},"pageObjectId":{"description":"If set, indicates this is a link to the specific page in this presentation with this ID. A page with this ID may not exist.","type":"string"},"slideIndex":{"description":"If set, indicates this is a link to the slide at this zero-based index in the presentation. There may not be a slide at this index.","format":"int32","type":"integer"}}},"slides_v1_ReplaceAllShapesWithImageRequest":{"description":"Replaces all shapes that match the given criteria with the provided image. The images replacing the shapes are rectangular after being inserted into the presentation and do not take on the forms of the shapes.","type":"object","properties":{"containsText":{"$ref":"#/components/schemas/slides_v1_SubstringMatchCriteria"},"imageReplaceMethod":{"description":"The image replace method. If you specify both a `replace_method` and an `image_replace_method`, the `image_replace_method` takes precedence. If you do not specify a value for `image_replace_method`, but specify a value for `replace_method`, then the specified `replace_method` value is used. If you do not specify either, then CENTER_INSIDE is used.","enum":["IMAGE_REPLACE_METHOD_UNSPECIFIED","CENTER_INSIDE","CENTER_CROP"],"type":"string"},"imageUrl":{"description":"The image URL. The image is fetched once at insertion time and a copy is stored for display inside the presentation. Images must be less than 50MB in size, cannot exceed 25 megapixels, and must be in one of PNG, JPEG, or GIF format. The provided URL can be at most 2 kB in length. The URL itself is saved with the image, and exposed via the Image.source_url field.","type":"string"},"pageObjectIds":{"description":"If non-empty, limits the matches to page elements only on the given pages. Returns a 400 bad request error if given the page object ID of a notes page or a notes master, or if a page with that object ID doesn't exist in the presentation.","type":"array","items":{"type":"string"}},"replaceMethod":{"description":"The replace method. *Deprecated*: use `image_replace_method` instead. If you specify both a `replace_method` and an `image_replace_method`, the `image_replace_method` takes precedence.","enum":["CENTER_INSIDE","CENTER_CROP"],"type":"string"}}},"slides_v1_CreateSlideResponse":{"description":"The result of creating a slide.","type":"object","properties":{"objectId":{"description":"The object ID of the created slide.","type":"string"}}},"slides_v1_ReplaceAllTextResponse":{"description":"The result of replacing text.","type":"object","properties":{"occurrencesChanged":{"description":"The number of occurrences changed by replacing all text.","format":"int32","type":"integer"}}},"slides_v1_MasterProperties":{"description":"The properties of Page that are only relevant for pages with page_type MASTER.","type":"object","properties":{"displayName":{"description":"The human-readable name of the master.","type":"string"}}},"slides_v1_WeightedFontFamily":{"description":"Represents a font family and weight used to style a TextRun.","type":"object","properties":{"weight":{"description":"The rendered weight of the text. This field can have any value that is a multiple of `100` between `100` and `900`, inclusive. This range corresponds to the numerical values described in the CSS 2.1 Specification, [section 15.6](https://www.w3.org/TR/CSS21/fonts.html#font-boldness), with non-numerical values disallowed. Weights greater than or equal to `700` are considered bold, and weights less than `700`are not bold. The default value is `400` (\"normal\").","format":"int32","type":"integer"},"fontFamily":{"description":"The font family of the text. The font family can be any font from the Font menu in Slides or from [Google Fonts] (https://fonts.google.com/). If the font name is unrecognized, the text is rendered in `Arial`.","type":"string"}}},"slides_v1_RgbColor":{"description":"An RGB color.","type":"object","properties":{"green":{"description":"The green component of the color, from 0.0 to 1.0.","format":"float","type":"number"},"blue":{"description":"The blue component of the color, from 0.0 to 1.0.","format":"float","type":"number"},"red":{"description":"The red component of the color, from 0.0 to 1.0.","format":"float","type":"number"}}},"slides_v1_ImageProperties":{"description":"The properties of the Image.","type":"object","properties":{"shadow":{"$ref":"#/components/schemas/slides_v1_Shadow"},"brightness":{"description":"The brightness effect of the image. The value should be in the interval [-1.0, 1.0], where 0 means no effect. This property is read-only.","format":"float","type":"number"},"link":{"$ref":"#/components/schemas/slides_v1_Link"},"recolor":{"$ref":"#/components/schemas/slides_v1_Recolor"},"contrast":{"description":"The contrast effect of the image. The value should be in the interval [-1.0, 1.0], where 0 means no effect. This property is read-only.","format":"float","type":"number"},"outline":{"$ref":"#/components/schemas/slides_v1_Outline"},"cropProperties":{"$ref":"#/components/schemas/slides_v1_CropProperties"},"transparency":{"description":"The transparency effect of the image. The value should be in the interval [0.0, 1.0], where 0 means no effect and 1 means completely transparent. This property is read-only.","format":"float","type":"number"}}},"slides_v1_Thumbnail":{"description":"The thumbnail of a page.","type":"object","properties":{"height":{"description":"The positive height in pixels of the thumbnail image.","format":"int32","type":"integer"},"contentUrl":{"description":"The content URL of the thumbnail image. The URL to the image has a default lifetime of 30 minutes. This URL is tagged with the account of the requester. Anyone with the URL effectively accesses the image as the original requester. Access to the image may be lost if the presentation's sharing settings change. The mime type of the thumbnail image is the same as specified in the `GetPageThumbnailRequest`.","type":"string"},"width":{"description":"The positive width in pixels of the thumbnail image.","format":"int32","type":"integer"}}},"slides_v1_BatchUpdatePresentationRequest":{"description":"Request message for PresentationsService.BatchUpdatePresentation.","type":"object","properties":{"writeControl":{"$ref":"#/components/schemas/slides_v1_WriteControl"},"requests":{"description":"A list of updates to apply to the presentation.","type":"array","items":{"$ref":"#/components/schemas/slides_v1_Request"}}}},"slides_v1_VideoProperties":{"description":"The properties of the Video.","type":"object","properties":{"outline":{"$ref":"#/components/schemas/slides_v1_Outline"},"autoPlay":{"description":"Whether to enable video autoplay when the page is displayed in present mode. Defaults to false.","type":"boolean"},"start":{"description":"The time at which to start playback, measured in seconds from the beginning of the video. If set, the start time should be before the end time. If you set this to a value that exceeds the video's length in seconds, the video will be played from the last second. If not set, the video will be played from the beginning.","format":"uint32","type":"integer"},"mute":{"description":"Whether to mute the audio during video playback. Defaults to false.","type":"boolean"},"end":{"description":"The time at which to end playback, measured in seconds from the beginning of the video. If set, the end time should be after the start time. If not set or if you set this to a value that exceeds the video's length, the video will be played until its end.","format":"uint32","type":"integer"}}},"slides_v1_CreateLineResponse":{"description":"The result of creating a line.","type":"object","properties":{"objectId":{"description":"The object ID of the created line.","type":"string"}}},"slides_v1_LayoutProperties":{"description":"The properties of Page are only relevant for pages with page_type LAYOUT.","type":"object","properties":{"name":{"description":"The name of the layout.","type":"string"},"displayName":{"description":"The human-readable name of the layout.","type":"string"},"masterObjectId":{"description":"The object ID of the master that this layout is based on.","type":"string"}}},"slides_v1_UpdateLinePropertiesRequest":{"description":"Updates the properties of a Line.","type":"object","properties":{"objectId":{"description":"The object ID of the line the update is applied to.","type":"string"},"lineProperties":{"$ref":"#/
[...]
