{"openapi":"3.1.0","info":{"title":"Google Sheets API","version":"v4","description":"Reads and writes Google Sheets."},"servers":[{"url":"https://www.googleapis.com/"}],"paths":{"/v4/spreadsheets":{"post":{"operationId":"sheets.spreadsheets.create","x-executor-toolPath":"sheets.spreadsheets.create","x-executor-pathTemplate":"/v4/spreadsheets","tags":["Google Sheets API"],"description":"Creates a spreadsheet, returning the newly created spreadsheet.","servers":[{"url":"https://sheets.googleapis.com/"}],"parameters":[{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/sheets_v4_Spreadsheet"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/sheets_v4_Spreadsheet"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/spreadsheets"]},{"googleOAuth2":["https://www.googleapis.com/auth/drive.file"]}],"x-google-scopes":["https://www.googleapis.com/auth/spreadsheets","https://www.googleapis.com/auth/drive.file"]}},"/v4/spreadsheets/{spreadsheetId}":{"get":{"operationId":"sheets.spreadsheets.get","x-executor-toolPath":"sheets.spreadsheets.get","x-executor-pathTemplate":"/v4/spreadsheets/{spreadsheetId}","tags":["Google Sheets API"],"description":"Returns the spreadsheet at the given ID. The caller must specify the spreadsheet ID. By default, data within grids is not returned. You can include grid data in one of 2 ways: * Specify a [field mask](https://developers.google.com/workspace/sheets/api/guides/field-masks) listing your desired fields using the `fields` URL parameter in HTTP * Set the includeGridData URL parameter to true. If a field mask is set, the `includeGridData` parameter is ignored For large spreadsheets, as a best practice, retrieve only the specific spreadsheet fields that you want. To retrieve only subsets of spreadsheet data, use the ranges URL parameter. Ranges are specified using [A1 notation](https://developers.google.com/workspace/sheets/api/guides/concepts#cell). You can define a single cell (for example, `A1`) or multiple cells (for example, `A1:D5`). You can also get cells from other sheets within the same spreadsheet (for example, `Sheet2!A1:C4`) or retrieve multiple ranges at once (for example, `?ranges=A1:D5&ranges=Sheet2!A1:C4`). Limiting the range returns only the portions of the spreadsheet that intersect the requested ranges.","servers":[{"url":"https://sheets.googleapis.com/"}],"parameters":[{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"includeGridData","in":"query","required":false,"description":"True if grid data should be returned. This parameter is ignored if a field mask was set in the request.","schema":{"description":"True if grid data should be returned. This parameter is ignored if a field mask was set in the request.","type":"boolean"},"style":"form","explode":false},{"name":"ranges","in":"query","required":false,"description":"The ranges to retrieve from the spreadsheet.","schema":{"type":"array","items":{"description":"The ranges to retrieve from the spreadsheet.","type":"string"}},"style":"form","explode":true},{"name":"excludeTablesInBandedRanges","in":"query","required":false,"description":"True if tables should be excluded in the banded ranges. False if not set.","schema":{"description":"True if tables should be excluded in the banded ranges. False if not set.","type":"boolean"},"style":"form","explode":false},{"name":"spreadsheetId","in":"path","required":true,"description":"The spreadsheet to request.","schema":{"description":"The spreadsheet to request.","type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/sheets_v4_Spreadsheet"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/spreadsheets"]},{"googleOAuth2":["https://www.googleapis.com/auth/drive.file"]}],"x-google-scopes":["https://www.googleapis.com/auth/spreadsheets","https://www.googleapis.com/auth/drive.file"]}},"/v4/spreadsheets/{spreadsheetId}:batchUpdate":{"post":{"operationId":"sheets.spreadsheets.batchUpdate","x-executor-toolPath":"sheets.spreadsheets.batchUpdate","x-executor-pathTemplate":"/v4/spreadsheets/{spreadsheetId}:batchUpdate","tags":["Google Sheets API"],"description":"Applies one or more updates to the spreadsheet. Each request is validated before being applied. If any request is not valid then the entire request will fail and nothing will be applied. Some requests have replies to give you some information about how they are applied. The replies will mirror the requests. For example, if you applied 4 updates and the 3rd one had a reply, then the response will have 2 empty replies, the actual reply, and another empty reply, in that order. Due to the collaborative nature of spreadsheets, it is not guaranteed that the spreadsheet will reflect exactly your changes after this completes, however it is guaranteed that the updates in the request will be applied together atomically. Your changes may be altered with respect to collaborator changes. If there are no collaborators, the spreadsheet should reflect your changes.","servers":[{"url":"https://sheets.googleapis.com/"}],"parameters":[{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"spreadsheetId","in":"path","required":true,"description":"The spreadsheet to apply the updates to.","schema":{"description":"The spreadsheet to apply the updates to.","type":"string"}}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/sheets_v4_BatchUpdateSpreadsheetRequest"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/sheets_v4_BatchUpdateSpreadsheetResponse"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/spreadsheets"]},{"googleOAuth2":["https://www.googleapis.com/auth/drive.file"]}],"x-google-scopes":["https://www.googleapis.com/auth/spreadsheets","https://www.googleapis.com/auth/drive.file"]}},"/v4/spreadsheets/{spreadsheetId}:getByDataFilter":{"post":{"operationId":"sheets.spreadsheets.getByDataFilter","x-executor-toolPath":"sheets.spreadsheets.getByDataFilter","x-executor-pathTemplate":"/v4/spreadsheets/{spreadsheetId}:getByDataFilter","tags":["Google Sheets API"],"description":"Returns the spreadsheet at the given ID. The caller must specify the spreadsheet ID. For more information, see [Read, write, and search metadata](https://developers.google.com/workspace/sheets/api/guides/metadata). This method differs from GetSpreadsheet in that it allows selecting which subsets of spreadsheet data to return by specifying a dataFilters parameter. Multiple DataFilters can be specified. Specifying one or more data filters returns the portions of the spreadsheet that intersect ranges matched by any of the filters. By default, data within grids is not returned. You can include grid data in one of two ways: * Specify a [field mask](https://developers.google.com/workspace/sheets/api/guides/field-masks) listing your desired fields using the `fields` URL parameter in HTTP. * Set the includeGridData parameter to `true`. If a field mask is set, the `includeGridData` parameter is ignored. For large spreadsheets, as a best practice, retrieve only the specific spreadsheet fields that you want.","servers":[{"url":"https://sheets.googleapis.com/"}],"parameters":[{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"spreadsheetId","in":"path","required":true,"description":"The spreadsheet to request.","schema":{"description":"The spreadsheet to request.","type":"string"}}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/sheets_v4_GetSpreadsheetByDataFilterRequest"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/sheets_v4_Spreadsheet"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/spreadsheets"]},{"googleOAuth2":["https://www.googleapis.com/auth/drive.file"]}],"x-google-scopes":["https://www.googleapis.com/auth/spreadsheets","https://www.googleapis.com/auth/drive.file"]}},"/v4/spreadsheets/{spreadsheetId}/values/{range}:append":{"post":{"operationId":"sheets.spreadsheets.values.append","x-executor-toolPath":"sheets.spreadsheets.values.append","x-executor-pathTemplate":"/v4/spreadsheets/{spreadsheetId}/values/{range}:append","tags":["Google Sheets API"],"description":"Appends values to a spreadsheet. The input range is used to search for existing data and find a \"table\" within that range. Values will be appended to the next row of the table, starting with the first column of the table. See the [guide](https://developers.google.com/workspace/sheets/api/guides/values#appending_values) and [sample code](https://developers.google.com/workspace/sheets/api/samples/writing#append_values) for specific details of how tables are detected and data is appended. The caller must specify the spreadsheet ID, range, and a valueInputOption. The `valueInputOption` only controls how the input data will be added to the sheet (column-wise or row-wise), it does not influence what cell the data starts being written to.","servers":[{"url":"https://sheets.googleapis.com/"}],"parameters":[{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"spreadsheetId","in":"path","required":true,"description":"The ID of the spreadsheet to update.","schema":{"description":"The ID of the spreadsheet to update.","type":"string"}},{"name":"insertDataOption","in":"query","required":false,"description":"How the input data should be inserted.","schema":{"description":"How the input data should be inserted.","enum":["OVERWRITE","INSERT_ROWS"],"type":"string"},"style":"form","explode":false},{"name":"valueInputOption","in":"query","required":false,"description":"How the input data should be interpreted.","schema":{"description":"How the input data should be interpreted.","enum":["INPUT_VALUE_OPTION_UNSPECIFIED","RAW","USER_ENTERED"],"type":"string"},"style":"form","explode":false},{"name":"includeValuesInResponse","in":"query","required":false,"description":"Determines if the update response should include the values of the cells that were appended. By default, responses do not include the updated values.","schema":{"description":"Determines if the update response should include the values of the cells that were appended. By default, responses do not include the updated values.","type":"boolean"},"style":"form","explode":false},{"name":"range","in":"path","required":true,"description":"The [A1 notation](https://developers.google.com/workspace/sheets/api/guides/concepts#cell) of a range to search for a logical table of data. Values are appended after the last row of the table.","schema":{"description":"The [A1 notation](https://developers.google.com/workspace/sheets/api/guides/concepts#cell) of a range to search for a logical table of data. Values are appended after the last row of the table.","type":"string"}},{"name":"responseValueRenderOption","in":"query","required":false,"description":"Determines how values in the response should be rendered. The default render option is FORMATTED_VALUE.","schema":{"description":"Determines how values in the response should be rendered. The default render option is FORMATTED_VALUE.","enum":["FORMATTED_VALUE","UNFORMATTED_VALUE","FORMULA"],"type":"string"},"style":"form","explode":false},{"name":"responseDateTimeRenderOption","in":"query","required":false,"description":"Determines how dates, times, and durations in the response should be rendered. This is ignored if response_value_render_option is FORMATTED_VALUE. The default dateTime render option is SERIAL_NUMBER.","schema":{"description":"Determines how dates, times, and durations in the response should be rendered. This is ignored if response_value_render_option is FORMATTED_VALUE. The default dateTime render option is SERIAL_NUMBER.","enum":["SERIAL_NUMBER","FORMATTED_STRING"],"type":"string"},"style":"form","explode":false}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/sheets_v4_ValueRange"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/sheets_v4_AppendValuesResponse"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/spreadsheets"]},{"googleOAuth2":["https://www.googleapis.com/auth/drive.file"]}],"x-google-scopes":["https://www.googleapis.com/auth/spreadsheets","https://www.googleapis.com/auth/drive.file"]}},"/v4/spreadsheets/{spreadsheetId}/values:batchGetByDataFilter":{"post":{"operationId":"sheets.spreadsheets.values.batchGetByDataFilter","x-executor-toolPath":"sheets.spreadsheets.values.batchGetByDataFilter","x-executor-pathTemplate":"/v4/spreadsheets/{spreadsheetId}/values:batchGetByDataFilter","tags":["Google Sheets API"],"description":"Returns one or more ranges of values that match the specified data filters. For more information, see [Read, write, and search metadata](https://developers.google.com/workspace/sheets/api/guides/metadata). The caller must specify the spreadsheet ID and one or more DataFilters. Ranges that match any of the data filters in the request will be returned.","servers":[{"url":"https://sheets.googleapis.com/"}],"parameters":[{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"spreadsheetId","in":"path","required":true,"description":"The ID of the spreadsheet to retrieve data from.","schema":{"description":"The ID of the spreadsheet to retrieve data from.","type":"string"}}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/sheets_v4_BatchGetValuesByDataFilterRequest"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/sheets_v4_BatchGetValuesByDataFilterResponse"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/spreadsheets"]},{"googleOAuth2":["https://www.googleapis.com/auth/drive.file"]}],"x-google-scopes":["https://www.googleapis.com/auth/spreadsheets","https://www.googleapis.com/auth/drive.file"]}},"/v4/spreadsheets/{spreadsheetId}/values:batchClear":{"post":{"operationId":"sheets.spreadsheets.values.batchClear","x-executor-toolPath":"sheets.spreadsheets.values.batchClear","x-executor-pathTemplate":"/v4/spreadsheets/{spreadsheetId}/values:batchClear","tags":["Google Sheets API"],"description":"Clears one or more ranges of values from a spreadsheet. The caller must specify the spreadsheet ID and one or more ranges. Only values are cleared -- all other properties of the cell (such as formatting and data validation) are kept.","servers":[{"url":"https://sheets.googleapis.com/"}],"parameters":[{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"spreadsheetId","in":"path","required":true,"description":"The ID of the spreadsheet to update.","schema":{"description":"The ID of the spreadsheet to update.","type":"string"}}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/sheets_v4_BatchClearValuesRequest"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/sheets_v4_BatchClearValuesResponse"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/spreadsheets"]},{"googleOAuth2":["https://www.googleapis.com/auth/drive.file"]}],"x-google-scopes":["https://www.googleapis.com/auth/spreadsheets","https://www.googleapis.com/auth/drive.file"]}},"/v4/spreadsheets/{spreadsheetId}/values/{range}":{"get":{"operationId":"sheets.spreadsheets.values.get","x-executor-toolPath":"sheets.spreadsheets.values.get","x-executor-pathTemplate":"/v4/spreadsheets/{spreadsheetId}/values/{range}","tags":["Google Sheets API"],"description":"Returns a range of values from a spreadsheet. The caller must specify the spreadsheet ID and a range.","servers":[{"url":"https://sheets.googleapis.com/"}],"parameters":[{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"majorDimension","in":"query","required":false,"description":"The major dimension that results should use. For example, if the spreadsheet data in Sheet1 is: `A1=1,B1=2,A2=3,B2=4`, then requesting `range=Sheet1!A1:B2?majorDimension=ROWS` returns `[[1,2],[3,4]]`, whereas requesting `range=Sheet1!A1:B2?majorDimension=COLUMNS` returns `[[1,3],[2,4]]`.","schema":{"description":"The major dimension that results should use. For example, if the spreadsheet data in Sheet1 is: `A1=1,B1=2,A2=3,B2=4`, then requesting `range=Sheet1!A1:B2?majorDimension=ROWS` returns `[[1,2],[3,4]]`, whereas requesting `range=Sheet1!A1:B2?majorDimension=COLUMNS` returns `[[1,3],[2,4]]`.","enum":["DIMENSION_UNSPECIFIED","ROWS","COLUMNS"],"type":"string"},"style":"form","explode":false},{"name":"dateTimeRenderOption","in":"query","required":false,"description":"How dates, times, and durations should be represented in the output. This is ignored if value_render_option is FORMATTED_VALUE. The default dateTime render option is SERIAL_NUMBER.","schema":{"description":"How dates, times, and durations should be represented in the output. This is ignored if value_render_option is FORMATTED_VALUE. The default dateTime render option is SERIAL_NUMBER.","enum":["SERIAL_NUMBER","FORMATTED_STRING"],"type":"string"},"style":"form","explode":false},{"name":"spreadsheetId","in":"path","required":true,"description":"The ID of the spreadsheet to retrieve data from.","schema":{"description":"The ID of the spreadsheet to retrieve data from.","type":"string"}},{"name":"valueRenderOption","in":"query","required":false,"description":"How values should be represented in the output. The default render option is FORMATTED_VALUE.","schema":{"description":"How values should be represented in the output. The default render option is FORMATTED_VALUE.","enum":["FORMATTED_VALUE","UNFORMATTED_VALUE","FORMULA"],"type":"string"},"style":"form","explode":false},{"name":"range","in":"path","required":true,"description":"The [A1 notation or R1C1 notation](https://developers.google.com/workspace/sheets/api/guides/concepts#cell) of the range to retrieve values from.","schema":{"description":"The [A1 notation or R1C1 notation](https://developers.google.com/workspace/sheets/api/guides/concepts#cell) of the range to retrieve values from.","type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/sheets_v4_ValueRange"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/spreadsheets"]},{"googleOAuth2":["https://www.googleapis.com/auth/drive.file"]}],"x-google-scopes":["https://www.googleapis.com/auth/spreadsheets","https://www.googleapis.com/auth/drive.file"]},"put":{"operationId":"sheets.spreadsheets.values.update","x-executor-toolPath":"sheets.spreadsheets.values.update","x-executor-pathTemplate":"/v4/spreadsheets/{spreadsheetId}/values/{range}","tags":["Google Sheets API"],"description":"Sets values in a range of a spreadsheet. The caller must specify the spreadsheet ID, range, and a valueInputOption.","servers":[{"url":"https://sheets.googleapis.com/"}],"parameters":[{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"responseDateTimeRenderOption","in":"query","required":false,"description":"Determines how dates, times, and durations in the response should be rendered. This is ignored if response_value_render_option is FORMATTED_VALUE. The default dateTime render option is SERIAL_NUMBER.","schema":{"description":"Determines how dates, times, and durations in the response should be rendered. This is ignored if response_value_render_option is FORMATTED_VALUE. The default dateTime render option is SERIAL_NUMBER.","enum":["SERIAL_NUMBER","FORMATTED_STRING"],"type":"string"},"style":"form","explode":false},{"name":"responseValueRenderOption","in":"query","required":false,"description":"Determines how values in the response should be rendered. The default render option is FORMATTED_VALUE.","schema":{"description":"Determines how values in the response should be rendered. The default render option is FORMATTED_VALUE.","enum":["FORMATTED_VALUE","UNFORMATTED_VALUE","FORMULA"],"type":"string"},"style":"form","explode":false},{"name":"valueInputOption","in":"query","required":false,"description":"How the input data should be interpreted.","schema":{"description":"How the input data should be interpreted.","enum":["INPUT_VALUE_OPTION_UNSPECIFIED","RAW","USER_ENTERED"],"type":"string"},"style":"form","explode":false},{"name":"includeValuesInResponse","in":"query","required":false,"description":"Determines if the update response should include the values of the cells that were updated. By default, responses do not include the updated values. If the range to write was larger than the range actually written, the response includes all values in the requested range (excluding trailing empty rows and columns).","schema":{"description":"Determines if the update response should include the values of the cells that were updated. By default, responses do not include the updated values. If the range to write was larger than the range actually written, the response includes all values in the requested range (excluding trailing empty rows and columns).","type":"boolean"},"style":"form","explode":false},{"name":"range","in":"path","required":true,"description":"The [A1 notation](https://developers.google.com/workspace/sheets/api/guides/concepts#cell) of the values to update.","schema":{"description":"The [A1 notation](https://developers.google.com/workspace/sheets/api/guides/concepts#cell) of the values to update.","type":"string"}},{"name":"spreadsheetId","in":"path","required":true,"description":"The ID of the spreadsheet to update.","schema":{"description":"The ID of the spreadsheet to update.","type":"string"}}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/sheets_v4_ValueRange"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/sheets_v4_UpdateValuesResponse"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/spreadsheets"]},{"googleOAuth2":["https://www.googleapis.com/auth/drive.file"]}],"x-google-scopes":["https://www.googleapis.com/auth/spreadsheets","https://www.googleapis.com/auth/drive.file"]}},"/v4/spreadsheets/{spreadsheetId}/values:batchGet":{"get":{"operationId":"sheets.spreadsheets.values.batchGet","x-executor-toolPath":"sheets.spreadsheets.values.batchGet","x-executor-pathTemplate":"/v4/spreadsheets/{spreadsheetId}/values:batchGet","tags":["Google Sheets API"],"description":"Returns one or more ranges of values from a spreadsheet. The caller must specify the spreadsheet ID and one or more ranges.","servers":[{"url":"https://sheets.googleapis.com/"}],"parameters":[{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"ranges","in":"query","required":false,"description":"The [A1 notation or R1C1 notation](https://developers.google.com/workspace/sheets/api/guides/concepts#cell) of the range to retrieve values from.","schema":{"type":"array","items":{"description":"The [A1 notation or R1C1 notation](https://developers.google.com/workspace/sheets/api/guides/concepts#cell) of the range to retrieve values from.","type":"string"}},"style":"form","explode":true},{"name":"dateTimeRenderOption","in":"query","required":false,"description":"How dates, times, and durations should be represented in the output. This is ignored if value_render_option is FORMATTED_VALUE. The default dateTime render option is SERIAL_NUMBER.","schema":{"description":"How dates, times, and durations should be represented in the output. This is ignored if value_render_option is FORMATTED_VALUE. The default dateTime render option is SERIAL_NUMBER.","enum":["SERIAL_NUMBER","FORMATTED_STRING"],"type":"string"},"style":"form","explode":false},{"name":"valueRenderOption","in":"query","required":false,"description":"How values should be represented in the output. The default render option is ValueRenderOption.FORMATTED_VALUE.","schema":{"description":"How values should be represented in the output. The default render option is ValueRenderOption.FORMATTED_VALUE.","enum":["FORMATTED_VALUE","UNFORMATTED_VALUE","FORMULA"],"type":"string"},"style":"form","explode":false},{"name":"majorDimension","in":"query","required":false,"description":"The major dimension that results should use. For example, if the spreadsheet data is: `A1=1,B1=2,A2=3,B2=4`, then requesting `ranges=[\"A1:B2\"],majorDimension=ROWS` returns `[[1,2],[3,4]]`, whereas requesting `ranges=[\"A1:B2\"],majorDimension=COLUMNS` returns `[[1,3],[2,4]]`.","schema":{"description":"The major dimension that results should use. For example, if the spreadsheet data is: `A1=1,B1=2,A2=3,B2=4`, then requesting `ranges=[\"A1:B2\"],majorDimension=ROWS` returns `[[1,2],[3,4]]`, whereas requesting `ranges=[\"A1:B2\"],majorDimension=COLUMNS` returns `[[1,3],[2,4]]`.","enum":["DIMENSION_UNSPECIFIED","ROWS","COLUMNS"],"type":"string"},"style":"form","explode":false},{"name":"spreadsheetId","in":"path","required":true,"description":"The ID of the spreadsheet to retrieve data from.","schema":{"description":"The ID of the spreadsheet to retrieve data from.","type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/sheets_v4_BatchGetValuesResponse"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/spreadsheets"]},{"googleOAuth2":["https://www.googleapis.com/auth/drive.file"]}],"x-google-scopes":["https://www.googleapis.com/auth/spreadsheets","https://www.googleapis.com/auth/drive.file"]}},"/v4/spreadsheets/{spreadsheetId}/values:batchUpdateByDataFilter":{"post":{"operationId":"sheets.spreadsheets.values.batchUpdateByDataFilter","x-executor-toolPath":"sheets.spreadsheets.values.batchUpdateByDataFilter","x-executor-pathTemplate":"/v4/spreadsheets/{spreadsheetId}/values:batchUpdateByDataFilter","tags":["Google Sheets API"],"description":"Sets values in one or more ranges of a spreadsheet. For more information, see [Read, write, and search metadata](https://developers.google.com/workspace/sheets/api/guides/metadata). The caller must specify the spreadsheet ID, a valueInputOption, and one or more DataFilterValueRanges.","servers":[{"url":"https://sheets.googleapis.com/"}],"parameters":[{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"spreadsheetId","in":"path","required":true,"description":"The ID of the spreadsheet to update.","schema":{"description":"The ID of the spreadsheet to update.","type":"string"}}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/sheets_v4_BatchUpdateValuesByDataFilterRequest"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/sheets_v4_BatchUpdateValuesByDataFilterResponse"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/spreadsheets"]},{"googleOAuth2":["https://www.googleapis.com/auth/drive.file"]}],"x-google-scopes":["https://www.googleapis.com/auth/spreadsheets","https://www.googleapis.com/auth/drive.file"]}},"/v4/spreadsheets/{spreadsheetId}/values:batchUpdate":{"post":{"operationId":"sheets.spreadsheets.values.batchUpdate","x-executor-toolPath":"sheets.spreadsheets.values.batchUpdate","x-executor-pathTemplate":"/v4/spreadsheets/{spreadsheetId}/values:batchUpdate","tags":["Google Sheets API"],"description":"Sets values in one or more ranges of a spreadsheet. The caller must specify the spreadsheet ID, a valueInputOption, and one or more ValueRanges.","servers":[{"url":"https://sheets.googleapis.com/"}],"parameters":[{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"spreadsheetId","in":"path","required":true,"description":"The ID of the spreadsheet to update.","schema":{"description":"The ID of the spreadsheet to update.","type":"string"}}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/sheets_v4_BatchUpdateValuesRequest"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/sheets_v4_BatchUpdateValuesResponse"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/spreadsheets"]},{"googleOAuth2":["https://www.googleapis.com/auth/drive.file"]}],"x-google-scopes":["https://www.googleapis.com/auth/spreadsheets","https://www.googleapis.com/auth/drive.file"]}},"/v4/spreadsheets/{spreadsheetId}/values:batchClearByDataFilter":{"post":{"operationId":"sheets.spreadsheets.values.batchClearByDataFilter","x-executor-toolPath":"sheets.spreadsheets.values.batchClearByDataFilter","x-executor-pathTemplate":"/v4/spreadsheets/{spreadsheetId}/values:batchClearByDataFilter","tags":["Google Sheets API"],"description":"Clears one or more ranges of values from a spreadsheet. For more information, see [Read, write, and search metadata](https://developers.google.com/workspace/sheets/api/guides/metadata). The caller must specify the spreadsheet ID and one or more DataFilters. Ranges matching any of the specified data filters will be cleared. Only values are cleared -- all other properties of the cell (such as formatting, data validation, etc.) are kept.","servers":[{"url":"https://sheets.googleapis.com/"}],"parameters":[{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"spreadsheetId","in":"path","required":true,"description":"The ID of the spreadsheet to update.","schema":{"description":"The ID of the spreadsheet to update.","type":"string"}}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/sheets_v4_BatchClearValuesByDataFilterRequest"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/sheets_v4_BatchClearValuesByDataFilterResponse"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/spreadsheets"]},{"googleOAuth2":["https://www.googleapis.com/auth/drive.file"]}],"x-google-scopes":["https://www.googleapis.com/auth/spreadsheets","https://www.googleapis.com/auth/drive.file"]}},"/v4/spreadsheets/{spreadsheetId}/values/{range}:clear":{"post":{"operationId":"sheets.spreadsheets.values.clear","x-executor-toolPath":"sheets.spreadsheets.values.clear","x-executor-pathTemplate":"/v4/spreadsheets/{spreadsheetId}/values/{range}:clear","tags":["Google Sheets API"],"description":"Clears values from a spreadsheet. The caller must specify the spreadsheet ID and range. Only values are cleared -- all other properties of the cell (such as formatting, data validation, etc..) are kept.","servers":[{"url":"https://sheets.googleapis.com/"}],"parameters":[{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"range","in":"path","required":true,"description":"The [A1 notation or R1C1 notation](https://developers.google.com/workspace/sheets/api/guides/concepts#cell) of the values to clear.","schema":{"description":"The [A1 notation or R1C1 notation](https://developers.google.com/workspace/sheets/api/guides/concepts#cell) of the values to clear.","type":"string"}},{"name":"spreadsheetId","in":"path","required":true,"description":"The ID of the spreadsheet to update.","schema":{"description":"The ID of the spreadsheet to update.","type":"string"}}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/sheets_v4_ClearValuesRequest"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/sheets_v4_ClearValuesResponse"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/spreadsheets"]},{"googleOAuth2":["https://www.googleapis.com/auth/drive.file"]}],"x-google-scopes":["https://www.googleapis.com/auth/spreadsheets","https://www.googleapis.com/auth/drive.file"]}},"/v4/spreadsheets/{spreadsheetId}/sheets/{sheetId}:copyTo":{"post":{"operationId":"sheets.spreadsheets.sheets.copyTo","x-executor-toolPath":"sheets.spreadsheets.sheets.copyTo","x-executor-pathTemplate":"/v4/spreadsheets/{spreadsheetId}/sheets/{sheetId}:copyTo","tags":["Google Sheets API"],"description":"Copies a single sheet from a spreadsheet to another spreadsheet. Returns the properties of the newly created sheet.","servers":[{"url":"https://sheets.googleapis.com/"}],"parameters":[{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"spreadsheetId","in":"path","required":true,"description":"The ID of the spreadsheet containing the sheet to copy.","schema":{"description":"The ID of the spreadsheet containing the sheet to copy.","type":"string"}},{"name":"sheetId","in":"path","required":true,"description":"The ID of the sheet to copy.","schema":{"description":"The ID of the sheet to copy.","format":"int32","type":"integer"}}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/sheets_v4_CopySheetToAnotherSpreadsheetRequest"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/sheets_v4_SheetProperties"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/spreadsheets"]},{"googleOAuth2":["https://www.googleapis.com/auth/drive.file"]}],"x-google-scopes":["https://www.googleapis.com/auth/spreadsheets","https://www.googleapis.com/auth/drive.file"]}},"/v4/spreadsheets/{spreadsheetId}/developerMetadata/{metadataId}":{"get":{"operationId":"sheets.spreadsheets.developerMetadata.get","x-executor-toolPath":"sheets.spreadsheets.developerMetadata.get","x-executor-pathTemplate":"/v4/spreadsheets/{spreadsheetId}/developerMetadata/{metadataId}","tags":["Google Sheets API"],"description":"Returns the developer metadata with the specified ID. The caller must specify the spreadsheet ID and the developer metadata's unique metadataId. For more information, see [Read, write, and search metadata](https://developers.google.com/workspace/sheets/api/guides/metadata).","servers":[{"url":"https://sheets.googleapis.com/"}],"parameters":[{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"metadataId","in":"path","required":true,"description":"The ID of the developer metadata to retrieve.","schema":{"description":"The ID of the developer metadata to retrieve.","format":"int32","type":"integer"}},{"name":"spreadsheetId","in":"path","required":true,"description":"The ID of the spreadsheet to retrieve metadata from.","schema":{"description":"The ID of the spreadsheet to retrieve metadata from.","type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/sheets_v4_DeveloperMetadata"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/spreadsheets"]},{"googleOAuth2":["https://www.googleapis.com/auth/drive.file"]}],"x-google-scopes":["https://www.googleapis.com/auth/spreadsheets","https://www.googleapis.com/auth/drive.file"]}},"/v4/spreadsheets/{spreadsheetId}/developerMetadata:search":{"post":{"operationId":"sheets.spreadsheets.developerMetadata.search","x-executor-toolPath":"sheets.spreadsheets.developerMetadata.search","x-executor-pathTemplate":"/v4/spreadsheets/{spreadsheetId}/developerMetadata:search","tags":["Google Sheets API"],"description":"Returns all developer metadata matching the specified DataFilter. For more information, see [Read, write, and search metadata](https://developers.google.com/workspace/sheets/api/guides/metadata). If the provided DataFilter represents a DeveloperMetadataLookup object, this will return all DeveloperMetadata entries selected by it. If the DataFilter represents a location in a spreadsheet, this will return all developer metadata associated with locations intersecting that region.","servers":[{"url":"https://sheets.googleapis.com/"}],"parameters":[{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"spreadsheetId","in":"path","required":true,"description":"The ID of the spreadsheet to retrieve metadata from.","schema":{"description":"The ID of the spreadsheet to retrieve metadata from.","type":"string"}}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/sheets_v4_SearchDeveloperMetadataRequest"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/sheets_v4_SearchDeveloperMetadataResponse"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/spreadsheets"]},{"googleOAuth2":["https://www.googleapis.com/auth/drive.file"]}],"x-google-scopes":["https://www.googleapis.com/auth/spreadsheets","https://www.googleapis.com/auth/drive.file"]}}},"components":{"schemas":{"sheets_v4_UpdateEmbeddedObjectPositionResponse":{"description":"The result of updating an embedded object's position.","type":"object","properties":{"position":{"$ref":"#/components/schemas/sheets_v4_EmbeddedObjectPosition"}}},"sheets_v4_BasicSeriesDataPointStyleOverride":{"description":"Style override settings for a single series data point.","type":"object","properties":{"colorStyle":{"$ref":"#/components/schemas/sheets_v4_ColorStyle"},"index":{"description":"The zero-based index of the series data point.","format":"int32","type":"integer"},"color":{"$ref":"#/components/schemas/sheets_v4_Color"},"pointStyle":{"$ref":"#/components/schemas/sheets_v4_PointStyle"}}},"sheets_v4_BooleanCondition":{"description":"A condition that can evaluate to true or false. BooleanConditions are used by conditional formatting, data validation, and the criteria in filters.","type":"object","properties":{"type":{"description":"The type of condition.","enum":["CONDITION_TYPE_UNSPECIFIED","NUMBER_GREATER","NUMBER_GREATER_THAN_EQ","NUMBER_LESS","NUMBER_LESS_THAN_EQ","NUMBER_EQ","NUMBER_NOT_EQ","NUMBER_BETWEEN","NUMBER_NOT_BETWEEN","TEXT_CONTAINS","TEXT_NOT_CONTAINS","TEXT_STARTS_WITH","TEXT_ENDS_WITH","TEXT_EQ","TEXT_IS_EMAIL","TEXT_IS_URL","DATE_EQ","DATE_BEFORE","DATE_AFTER","DATE_ON_OR_BEFORE","DATE_ON_OR_AFTER","DATE_BETWEEN","DATE_NOT_BETWEEN","DATE_IS_VALID","ONE_OF_RANGE","ONE_OF_LIST","BLANK","NOT_BLANK","CUSTOM_FORMULA","BOOLEAN","TEXT_NOT_EQ","DATE_NOT_EQ","FILTER_EXPRESSION"],"type":"string"},"values":{"description":"The values of the condition. The number of supported values depends on the condition type. Some support zero values, others one or two values, and ConditionType.ONE_OF_LIST supports an arbitrary number of values.","type":"array","items":{"$ref":"#/components/schemas/sheets_v4_ConditionValue"}}}},"sheets_v4_BasicChartSeries":{"description":"A single series of data in a chart. For example, if charting stock prices over time, multiple series may exist, one for the \"Open Price\", \"High Price\", \"Low Price\" and \"Close Price\".","type":"object","properties":{"lineStyle":{"$ref":"#/components/schemas/sheets_v4_LineStyle"},"colorStyle":{"$ref":"#/components/schemas/sheets_v4_ColorStyle"},"series":{"$ref":"#/components/schemas/sheets_v4_ChartData"},"type":{"description":"The type of this series. Valid only if the chartType is COMBO. Different types will change the way the series is visualized. Only LINE, AREA, and COLUMN are supported.","enum":["BASIC_CHART_TYPE_UNSPECIFIED","BAR","LINE","AREA","COLUMN","SCATTER","COMBO","STEPPED_AREA"],"type":"string"},"pointStyle":{"$ref":"#/components/schemas/sheets_v4_PointStyle"},"color":{"$ref":"#/components/schemas/sheets_v4_Color"},"dataLabel":{"$ref":"#/components/schemas/sheets_v4_DataLabel"},"targetAxis":{"description":"The minor axis that will specify the range of values for this series. For example, if charting stocks over time, the \"Volume\" series may want to be pinned to the right with the prices pinned to the left, because the scale of trading volume is different than the scale of prices. It is an error to specify an axis that isn't a valid minor axis for the chart's type.","enum":["BASIC_CHART_AXIS_POSITION_UNSPECIFIED","BOTTOM_AXIS","LEFT_AXIS","RIGHT_AXIS"],"type":"string"},"styleOverrides":{"description":"Style override settings for series data points.","type":"array","items":{"$ref":"#/components/schemas/sheets_v4_BasicSeriesDataPointStyleOverride"}}}},"sheets_v4_UpdateValuesByDataFilterResponse":{"description":"The response when updating a range of values by a data filter in a spreadsheet.","type":"object","properties":{"updatedRange":{"description":"The range (in [A1 notation](https://developers.google.com/workspace/sheets/api/guides/concepts#cell)) that updates were applied to.","type":"string"},"updatedCells":{"description":"The number of cells updated.","format":"int32","type":"integer"},"dataFilter":{"$ref":"#/components/schemas/sheets_v4_DataFilter"},"updatedColumns":{"description":"The number of columns where at least one cell in the column was updated.","format":"int32","type":"integer"},"updatedRows":{"description":"The number of rows where at least one cell in the row was updated.","format":"int32","type":"integer"},"updatedData":{"$ref":"#/components/schemas/sheets_v4_ValueRange"}}},"sheets_v4_ChartSpec":{"description":"The specifications of a chart.","type":"object","properties":{"titleTextPosition":{"$ref":"#/components/schemas/sheets_v4_TextPosition"},"treemapChart":{"$ref":"#/components/schemas/sheets_v4_TreemapChartSpec"},"filterSpecs":{"description":"The filters applied to the source data of the chart. Only supported for data source charts.","type":"array","items":{"$ref":"#/components/schemas/sheets_v4_FilterSpec"}},"pieChart":{"$ref":"#/components/schemas/sheets_v4_PieChartSpec"},"hiddenDimensionStrategy":{"description":"Determines how the charts will use hidden rows or columns.","enum":["CHART_HIDDEN_DIMENSION_STRATEGY_UNSPECIFIED","SKIP_HIDDEN_ROWS_AND_COLUMNS","SKIP_HIDDEN_ROWS","SKIP_HIDDEN_COLUMNS","SHOW_ALL"],"type":"string"},"sortSpecs":{"description":"The order to sort the chart data by. Only a single sort spec is supported. Only supported for data source charts.","type":"array","items":{"$ref":"#/components/schemas/sheets_v4_SortSpec"}},"orgChart":{"$ref":"#/components/schemas/sheets_v4_OrgChartSpec"},"title":{"description":"The title of the chart.","type":"string"},"titleTextFormat":{"$ref":"#/components/schemas/sheets_v4_TextFormat"},"backgroundColor":{"$ref":"#/components/schemas/sheets_v4_Color"},"candlestickChart":{"$ref":"#/components/schemas/sheets_v4_CandlestickChartSpec"},"histogramChart":{"$ref":"#/components/schemas/sheets_v4_HistogramChartSpec"},"fontName":{"description":"The name of the font to use by default for all chart text (e.g. title, axis labels, legend). If a font is specified for a specific part of the chart it will override this font name.","type":"string"},"dataSourceChartProperties":{"$ref":"#/components/schemas/sheets_v4_DataSourceChartProperties"},"bubbleChart":{"$ref":"#/components/schemas/sheets_v4_BubbleChartSpec"},"backgroundColorStyle":{"$ref":"#/components/schemas/sheets_v4_ColorStyle"},"subtitleTextPosition":{"$ref":"#/components/schemas/sheets_v4_TextPosition"},"waterfallChart":{"$ref":"#/components/schemas/sheets_v4_WaterfallChartSpec"},"maximized":{"description":"True to make a chart fill the entire space in which it's rendered with minimum padding. False to use the default padding. (Not applicable to Geo and Org charts.)","type":"boolean"},"subtitle":{"description":"The subtitle of the chart.","type":"string"},"scorecardChart":{"$ref":"#/components/schemas/sheets_v4_ScorecardChartSpec"},"subtitleTextFormat":{"$ref":"#/components/schemas/sheets_v4_TextFormat"},"basicChart":{"$ref":"#/components/schemas/sheets_v4_BasicChartSpec"},"altText":{"description":"The alternative text that describes the chart. This is often used for accessibility.","type":"string"}}},"sheets_v4_DeleteRangeRequest":{"description":"Deletes a range of cells, shifting other cells into the deleted area.","type":"object","properties":{"shiftDimension":{"description":"The dimension from which deleted cells will be replaced with. If ROWS, existing cells will be shifted upward to replace the deleted cells. If COLUMNS, existing cells will be shifted left to replace the deleted cells.","enum":["DIMENSION_UNSPECIFIED","ROWS","COLUMNS"],"type":"string"},"range":{"$ref":"#/components/schemas/sheets_v4_GridRange"}}},"sheets_v4_BubbleChartSpec":{"description":"A bubble chart.","type":"object","properties":{"groupIds":{"$ref":"#/components/schemas/sheets_v4_ChartData"},"bubbleSizes":{"$ref":"#/components/schemas/sheets_v4_ChartData"},"series":{"$ref":"#/components/schemas/sheets_v4_ChartData"},"bubbleMinRadiusSize":{"description":"The minimum radius size of the bubbles, in pixels. If specific, the field must be a positive value.","format":"int32","type":"integer"},"domain":{"$ref":"#/components/schemas/sheets_v4_ChartData"},"bubbleMaxRadiusSize":{"description":"The max radius size of the bubbles, in pixels. If specified, the field must be a positive value.","format":"int32","type":"integer"},"bubbleBorderColor":{"$ref":"#/components/schemas/sheets_v4_Color"},"legendPosition":{"description":"Where the legend of the chart should be drawn.","enum":["BUBBLE_CHART_LEGEND_POSITION_UNSPECIFIED","BOTTOM_LEGEND","LEFT_LEGEND","RIGHT_LEGEND","TOP_LEGEND","NO_LEGEND","INSIDE_LEGEND"],"type":"string"},"bubbleBorderColorStyle":{"$ref":"#/components/schemas/sheets_v4_ColorStyle"},"bubbleLabels":{"$ref":"#/components/schemas/sheets_v4_ChartData"},"bubbleOpacity":{"description":"The opacity of the bubbles between 0 and 1.0. 0 is fully transparent and 1 is fully opaque.","format":"float","type":"number"},"bubbleTextStyle":{"$ref":"#/components/schemas/sheets_v4_TextFormat"}}},"sheets_v4_CreateDeveloperMetadataResponse":{"description":"The response from creating developer metadata.","type":"object","properties":{"developerMetadata":{"$ref":"#/components/schemas/sheets_v4_DeveloperMetadata"}}},"sheets_v4_PivotGroup":{"description":"A single grouping (either row or column) in a pivot table.","type":"object","properties":{"valueBucket":{"$ref":"#/components/schemas/sheets_v4_PivotGroupSortValueBucket"},"groupLimit":{"$ref":"#/components/schemas/sheets_v4_PivotGroupLimit"},"label":{"description":"The labels to use for the row/column groups which can be customized. For example, in the following pivot table, the row label is `Region` (which could be renamed to `State`) and the column label is `Product` (which could be renamed `Item`). Pivot tables created before December 2017 do not have header labels. If you'd like to add header labels to an existing pivot table, please delete the existing pivot table and then create a new pivot table with same parameters. +--------------+---------+-------+ | SUM of Units | Product | | | Region | Pen | Paper | +--------------+---------+-------+ | New York | 345 | 98 | | Oregon | 234 | 123 | | Tennessee | 531 | 415 | +--------------+---------+-------+ | Grand Total | 1110 | 636 | +--------------+---------+-------+","type":"string"},"sortOrder":{"description":"The order the values in this group should be sorted.","enum":["SORT_ORDER_UNSPECIFIED","ASCENDING","DESCENDING"],"type":"string"},"repeatHeadings":{"description":"True if the headings in this pivot group should be repeated. This is only valid for row groupings and is ignored by columns. By default, we minimize repetition of headings by not showing higher level headings where they are the same. For example, even though the third row below corresponds to \"Q1 Mar\", \"Q1\" is not shown because it is redundant with previous rows. Setting repeat_headings to true would cause \"Q1\" to be repeated for \"Feb\" and \"Mar\". +--------------+ | Q1 | Jan | | | Feb | | | Mar | +--------+-----+ | Q1 Total | +--------------+","type":"boolean"},"valueMetadata":{"description":"Metadata about values in the grouping.","type":"array","items":{"$ref":"#/components/schemas/sheets_v4_PivotGroupValueMetadata"}},"showTotals":{"description":"True if the pivot table should include the totals for this grouping.","type":"boolean"},"groupRule":{"$ref":"#/components/schemas/sheets_v4_PivotGroupRule"},"sourceColumnOffset":{"description":"The column offset of the source range that this grouping is based on. For example, if the source was `C10:E15`, a `sourceColumnOffset` of `0` means this group refers to column `C`, whereas the offset `1` would refer to column `D`.","format":"int32","type":"integer"},"dataSourceColumnReference":{"$ref":"#/components/schemas/sheets_v4_DataSourceColumnReference"}}},"sheets_v4_DeleteDeveloperMetadataRequest":{"description":"A request to delete developer metadata.","type":"object","properties":{"dataFilter":{"$ref":"#/components/schemas/sheets_v4_DataFilter"}}},"sheets_v4_AppendValuesResponse":{"description":"The response when updating a range of values in a spreadsheet.","type":"object","properties":{"spreadsheetId":{"description":"The spreadsheet the updates were applied to.","type":"string"},"tableRange":{"description":"The range (in A1 notation) of the table that values are being appended to (before the values were appended). Empty if no table was found.","type":"string"},"updates":{"$ref":"#/components/schemas/sheets_v4_UpdateValuesResponse"}}},"sheets_v4_UpdateDimensionPropertiesRequest":{"description":"Updates properties of dimensions within the specified range.","type":"object","properties":{"fields":{"description":"The fields that should be updated. At least one field must be specified. The root `properties` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field.","format":"google-fieldmask","type":"string"},"range":{"$ref":"#/components/schemas/sheets_v4_DimensionRange"},"properties":{"$ref":"#/components/schemas/sheets_v4_DimensionProperties"},"dataSourceSheetRange":{"$ref":"#/components/schemas/sheets_v4_DataSourceSheetDimensionRange"}}},"sheets_v4_ClearValuesResponse":{"description":"The response when clearing a range of values in a spreadsheet.","type":"object","properties":{"clearedRange":{"description":"The range (in A1 notation) that was cleared. (If the request was for an unbounded range or a range larger than the bounds of the sheet, this will be the actual range that was cleared, bounded to the sheet's limits.)","type":"string"},"spreadsheetId":{"description":"The spreadsheet the updates were applied to.","type":"string"}}},"sheets_v4_Padding":{"description":"The amount of padding around the cell, in pixels. When updating padding, every field must be specified.","type":"object","properties":{"left":{"description":"The left padding of the cell.","format":"int32","type":"integer"},"bottom":{"description":"The bottom padding of the cell.","format":"int32","type":"integer"},"top":{"description":"The top padding of the cell.","for
[...]
