{"openapi":"3.1.0","info":{"title":"Google Sheets API","version":"v4","description":"Reads and writes Google Sheets."},"servers":[{"url":"https://sheets.googleapis.com/"}],"paths":{"/v4/spreadsheets":{"post":{"operationId":"sheets.spreadsheets.create","x-executor-toolPath":"sheets.spreadsheets.create","tags":["Google Sheets API"],"description":"Creates a spreadsheet, returning the newly created spreadsheet.","parameters":[{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":true,"type":"boolean"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/sheets_v4_Spreadsheet"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/sheets_v4_Spreadsheet"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/spreadsheets"]},{"googleOAuth2":["https://www.googleapis.com/auth/drive.file"]}],"x-google-scopes":["https://www.googleapis.com/auth/spreadsheets","https://www.googleapis.com/auth/drive.file"]}},"/v4/spreadsheets/{spreadsheetId}":{"get":{"operationId":"sheets.spreadsheets.get","x-executor-toolPath":"sheets.spreadsheets.get","tags":["Google Sheets API"],"description":"Returns the spreadsheet at the given ID. The caller must specify the spreadsheet ID. By default, data within grids is not returned. You can include grid data in one of 2 ways: * Specify a [field mask](https://developers.google.com/workspace/sheets/api/guides/field-masks) listing your desired fields using the `fields` URL parameter in HTTP * Set the includeGridData URL parameter to true. If a field mask is set, the `includeGridData` parameter is ignored For large spreadsheets, as a best practice, retrieve only the specific spreadsheet fields that you want. To retrieve only subsets of spreadsheet data, use the ranges URL parameter. Ranges are specified using [A1 notation](https://developers.google.com/workspace/sheets/api/guides/concepts#cell). You can define a single cell (for example, `A1`) or multiple cells (for example, `A1:D5`). You can also get cells from other sheets within the same spreadsheet (for example, `Sheet2!A1:C4`) or retrieve multiple ranges at once (for example, `?ranges=A1:D5&ranges=Sheet2!A1:C4`). Limiting the range returns only the portions of the spreadsheet that intersect the requested ranges.","parameters":[{"name":"spreadsheetId","in":"path","required":true,"description":"The spreadsheet to request.","schema":{"description":"The spreadsheet to request.","type":"string"}},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"commentsViewMode","in":"query","required":false,"description":"The comments view mode to apply to the spreadsheet. This allows viewing the spreadsheet with comments omitted or included. If one is not specified, COMMENTS_VIEW_MODE_OMITTED is used. [Developer Preview](https://developers.google.com/workspace/preview).","schema":{"description":"The comments view mode to apply to the spreadsheet. This allows viewing the spreadsheet with comments omitted or included. If one is not specified, COMMENTS_VIEW_MODE_OMITTED is used. [Developer Preview](https://developers.google.com/workspace/preview).","enum":["COMMENTS_VIEW_MODE_UNSPECIFIED","COMMENTS_VIEW_MODE_DEFAULT_FOR_CURRENT_ACCESS","COMMENTS_VIEW_MODE_OMITTED","COMMENTS_VIEW_MODE_INCLUDED"],"type":"string"},"style":"form","explode":false},{"name":"excludeTablesInBandedRanges","in":"query","required":false,"description":"True if tables should be excluded in the banded ranges. False if not set.","schema":{"description":"True if tables should be excluded in the banded ranges. False if not set.","type":"boolean"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"includeGridData","in":"query","required":false,"description":"True if grid data should be returned. This parameter is ignored if a field mask was set in the request.","schema":{"description":"True if grid data should be returned. This parameter is ignored if a field mask was set in the request.","type":"boolean"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":true,"type":"boolean"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"ranges","in":"query","required":false,"description":"The ranges to retrieve from the spreadsheet.","schema":{"type":"array","items":{"description":"The ranges to retrieve from the spreadsheet.","type":"string"}},"style":"form","explode":true},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/sheets_v4_Spreadsheet"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/spreadsheets"]},{"googleOAuth2":["https://www.googleapis.com/auth/drive.file"]}],"x-google-scopes":["https://www.googleapis.com/auth/spreadsheets","https://www.googleapis.com/auth/drive.file"]}},"/v4/spreadsheets/{spreadsheetId}/developerMetadata/{metadataId}":{"get":{"operationId":"sheets.spreadsheets.developerMetadata.get","x-executor-toolPath":"sheets.spreadsheets.developerMetadata.get","tags":["Google Sheets API"],"description":"Returns the developer metadata with the specified ID. The caller must specify the spreadsheet ID and the developer metadata's unique metadataId. For more information, see [Read, write, and search metadata](https://developers.google.com/workspace/sheets/api/guides/metadata).","parameters":[{"name":"spreadsheetId","in":"path","required":true,"description":"The ID of the spreadsheet to retrieve metadata from.","schema":{"description":"The ID of the spreadsheet to retrieve metadata from.","type":"string"}},{"name":"metadataId","in":"path","required":true,"description":"The ID of the developer metadata to retrieve.","schema":{"description":"The ID of the developer metadata to retrieve.","format":"int32","type":"integer"}},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":true,"type":"boolean"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/sheets_v4_DeveloperMetadata"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/spreadsheets"]},{"googleOAuth2":["https://www.googleapis.com/auth/drive.file"]}],"x-google-scopes":["https://www.googleapis.com/auth/spreadsheets","https://www.googleapis.com/auth/drive.file"]}},"/v4/spreadsheets/{spreadsheetId}/developerMetadata:search":{"post":{"operationId":"sheets.spreadsheets.developerMetadata.search","x-executor-toolPath":"sheets.spreadsheets.developerMetadata.search","tags":["Google Sheets API"],"description":"Returns all developer metadata matching the specified DataFilter. For more information, see [Read, write, and search metadata](https://developers.google.com/workspace/sheets/api/guides/metadata). If the provided DataFilter represents a DeveloperMetadataLookup object, this will return all DeveloperMetadata entries selected by it. If the DataFilter represents a location in a spreadsheet, this will return all developer metadata associated with locations intersecting that region.","parameters":[{"name":"spreadsheetId","in":"path","required":true,"description":"The ID of the spreadsheet to retrieve metadata from.","schema":{"description":"The ID of the spreadsheet to retrieve metadata from.","type":"string"}},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":true,"type":"boolean"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/sheets_v4_SearchDeveloperMetadataRequest"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/sheets_v4_SearchDeveloperMetadataResponse"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/spreadsheets"]},{"googleOAuth2":["https://www.googleapis.com/auth/drive.file"]}],"x-google-scopes":["https://www.googleapis.com/auth/spreadsheets","https://www.googleapis.com/auth/drive.file"]}},"/v4/spreadsheets/{spreadsheetId}/sheets/{sheetId}:copyTo":{"post":{"operationId":"sheets.spreadsheets.sheets.copyTo","x-executor-toolPath":"sheets.spreadsheets.sheets.copyTo","tags":["Google Sheets API"],"description":"Copies a single sheet from a spreadsheet to another spreadsheet. Returns the properties of the newly created sheet.","parameters":[{"name":"spreadsheetId","in":"path","required":true,"description":"The ID of the spreadsheet containing the sheet to copy.","schema":{"description":"The ID of the spreadsheet containing the sheet to copy.","type":"string"}},{"name":"sheetId","in":"path","required":true,"description":"The ID of the sheet to copy.","schema":{"description":"The ID of the sheet to copy.","format":"int32","type":"integer"}},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":true,"type":"boolean"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/sheets_v4_CopySheetToAnotherSpreadsheetRequest"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/sheets_v4_SheetProperties"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/spreadsheets"]},{"googleOAuth2":["https://www.googleapis.com/auth/drive.file"]}],"x-google-scopes":["https://www.googleapis.com/auth/spreadsheets","https://www.googleapis.com/auth/drive.file"]}},"/v4/spreadsheets/{spreadsheetId}/values/{range}":{"get":{"operationId":"sheets.spreadsheets.values.get","x-executor-toolPath":"sheets.spreadsheets.values.get","tags":["Google Sheets API"],"description":"Returns a range of values from a spreadsheet. The caller must specify the spreadsheet ID and a range.","parameters":[{"name":"spreadsheetId","in":"path","required":true,"description":"The ID of the spreadsheet to retrieve data from.","schema":{"description":"The ID of the spreadsheet to retrieve data from.","type":"string"}},{"name":"range","in":"path","required":true,"description":"The [A1 notation or R1C1 notation](https://developers.google.com/workspace/sheets/api/guides/concepts#cell) of the range to retrieve values from.","schema":{"description":"The [A1 notation or R1C1 notation](https://developers.google.com/workspace/sheets/api/guides/concepts#cell) of the range to retrieve values from.","type":"string"}},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"dateTimeRenderOption","in":"query","required":false,"description":"How dates, times, and durations should be represented in the output. This is ignored if value_render_option is FORMATTED_VALUE. The default dateTime render option is SERIAL_NUMBER.","schema":{"description":"How dates, times, and durations should be represented in the output. This is ignored if value_render_option is FORMATTED_VALUE. The default dateTime render option is SERIAL_NUMBER.","enum":["SERIAL_NUMBER","FORMATTED_STRING"],"type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"majorDimension","in":"query","required":false,"description":"The major dimension that results should use. For example, if the spreadsheet data in Sheet1 is: `A1=1,B1=2,A2=3,B2=4`, then requesting `range=Sheet1!A1:B2?majorDimension=ROWS` returns `[[1,2],[3,4]]`, whereas requesting `range=Sheet1!A1:B2?majorDimension=COLUMNS` returns `[[1,3],[2,4]]`.","schema":{"description":"The major dimension that results should use. For example, if the spreadsheet data in Sheet1 is: `A1=1,B1=2,A2=3,B2=4`, then requesting `range=Sheet1!A1:B2?majorDimension=ROWS` returns `[[1,2],[3,4]]`, whereas requesting `range=Sheet1!A1:B2?majorDimension=COLUMNS` returns `[[1,3],[2,4]]`.","enum":["DIMENSION_UNSPECIFIED","ROWS","COLUMNS"],"type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":true,"type":"boolean"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"valueRenderOption","in":"query","required":false,"description":"How values should be represented in the output. The default render option is FORMATTED_VALUE.","schema":{"description":"How values should be represented in the output. The default render option is FORMATTED_VALUE.","enum":["FORMATTED_VALUE","UNFORMATTED_VALUE","FORMULA"],"type":"string"},"style":"form","explode":false}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/sheets_v4_ValueRange"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/spreadsheets"]},{"googleOAuth2":["https://www.googleapis.com/auth/drive.file"]}],"x-google-scopes":["https://www.googleapis.com/auth/spreadsheets","https://www.googleapis.com/auth/drive.file"]},"put":{"operationId":"sheets.spreadsheets.values.update","x-executor-toolPath":"sheets.spreadsheets.values.update","tags":["Google Sheets API"],"description":"Sets values in a range of a spreadsheet. The caller must specify the spreadsheet ID, range, and a valueInputOption.","parameters":[{"name":"spreadsheetId","in":"path","required":true,"description":"The ID of the spreadsheet to update.","schema":{"description":"The ID of the spreadsheet to update.","type":"string"}},{"name":"range","in":"path","required":true,"description":"The [A1 notation](https://developers.google.com/workspace/sheets/api/guides/concepts#cell) of the values to update.","schema":{"description":"The [A1 notation](https://developers.google.com/workspace/sheets/api/guides/concepts#cell) of the values to update.","type":"string"}},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"includeValuesInResponse","in":"query","required":false,"description":"Determines if the update response should include the values of the cells that were updated. By default, responses do not include the updated values. If the range to write was larger than the range actually written, the response includes all values in the requested range (excluding trailing empty rows and columns).","schema":{"description":"Determines if the update response should include the values of the cells that were updated. By default, responses do not include the updated values. If the range to write was larger than the range actually written, the response includes all values in the requested range (excluding trailing empty rows and columns).","type":"boolean"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":true,"type":"boolean"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"responseDateTimeRenderOption","in":"query","required":false,"description":"Determines how dates, times, and durations in the response should be rendered. This is ignored if response_value_render_option is FORMATTED_VALUE. The default dateTime render option is SERIAL_NUMBER.","schema":{"description":"Determines how dates, times, and durations in the response should be rendered. This is ignored if response_value_render_option is FORMATTED_VALUE. The default dateTime render option is SERIAL_NUMBER.","enum":["SERIAL_NUMBER","FORMATTED_STRING"],"type":"string"},"style":"form","explode":false},{"name":"responseValueRenderOption","in":"query","required":false,"description":"Determines how values in the response should be rendered. The default render option is FORMATTED_VALUE.","schema":{"description":"Determines how values in the response should be rendered. The default render option is FORMATTED_VALUE.","enum":["FORMATTED_VALUE","UNFORMATTED_VALUE","FORMULA"],"type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"valueInputOption","in":"query","required":false,"description":"How the input data should be interpreted.","schema":{"description":"How the input data should be interpreted.","enum":["INPUT_VALUE_OPTION_UNSPECIFIED","RAW","USER_ENTERED"],"type":"string"},"style":"form","explode":false}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/sheets_v4_ValueRange"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/sheets_v4_UpdateValuesResponse"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/spreadsheets"]},{"googleOAuth2":["https://www.googleapis.com/auth/drive.file"]}],"x-google-scopes":["https://www.googleapis.com/auth/spreadsheets","https://www.googleapis.com/auth/drive.file"]}},"/v4/spreadsheets/{spreadsheetId}/values/{range}:append":{"post":{"operationId":"sheets.spreadsheets.values.append","x-executor-toolPath":"sheets.spreadsheets.values.append","tags":["Google Sheets API"],"description":"Appends values to a spreadsheet. The input range is used to search for existing data and find a \"table\" within that range. Values will be appended to the next row of the table, starting with the first column of the table. See the [guide](https://developers.google.com/workspace/sheets/api/guides/values#appending_values) and [sample code](https://developers.google.com/workspace/sheets/api/samples/writing#append_values) for specific details of how tables are detected and data is appended. The caller must specify the spreadsheet ID, range, and a valueInputOption. The `valueInputOption` only controls how the input data will be added to the sheet (column-wise or row-wise), it does not influence what cell the data starts being written to.","parameters":[{"name":"spreadsheetId","in":"path","required":true,"description":"The ID of the spreadsheet to update.","schema":{"description":"The ID of the spreadsheet to update.","type":"string"}},{"name":"range","in":"path","required":true,"description":"The [A1 notation](https://developers.google.com/workspace/sheets/api/guides/concepts#cell) of a range to search for a logical table of data. Values are appended after the last row of the table.","schema":{"description":"The [A1 notation](https://developers.google.com/workspace/sheets/api/guides/concepts#cell) of a range to search for a logical table of data. Values are appended after the last row of the table.","type":"string"}},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"includeValuesInResponse","in":"query","required":false,"description":"Determines if the update response should include the values of the cells that were appended. By default, responses do not include the updated values.","schema":{"description":"Determines if the update response should include the values of the cells that were appended. By default, responses do not include the updated values.","type":"boolean"},"style":"form","explode":false},{"name":"insertDataOption","in":"query","required":false,"description":"How the input data should be inserted.","schema":{"description":"How the input data should be inserted.","enum":["OVERWRITE","INSERT_ROWS"],"type":"string"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":true,"type":"boolean"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"responseDateTimeRenderOption","in":"query","required":false,"description":"Determines how dates, times, and durations in the response should be rendered. This is ignored if response_value_render_option is FORMATTED_VALUE. The default dateTime render option is SERIAL_NUMBER.","schema":{"description":"Determines how dates, times, and durations in the response should be rendered. This is ignored if response_value_render_option is FORMATTED_VALUE. The default dateTime render option is SERIAL_NUMBER.","enum":["SERIAL_NUMBER","FORMATTED_STRING"],"type":"string"},"style":"form","explode":false},{"name":"responseValueRenderOption","in":"query","required":false,"description":"Determines how values in the response should be rendered. The default render option is FORMATTED_VALUE.","schema":{"description":"Determines how values in the response should be rendered. The default render option is FORMATTED_VALUE.","enum":["FORMATTED_VALUE","UNFORMATTED_VALUE","FORMULA"],"type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"valueInputOption","in":"query","required":false,"description":"How the input data should be interpreted.","schema":{"description":"How the input data should be interpreted.","enum":["INPUT_VALUE_OPTION_UNSPECIFIED","RAW","USER_ENTERED"],"type":"string"},"style":"form","explode":false}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/sheets_v4_ValueRange"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/sheets_v4_AppendValuesResponse"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/spreadsheets"]},{"googleOAuth2":["https://www.googleapis.com/auth/drive.file"]}],"x-google-scopes":["https://www.googleapis.com/auth/spreadsheets","https://www.googleapis.com/auth/drive.file"]}},"/v4/spreadsheets/{spreadsheetId}/values/{range}:clear":{"post":{"operationId":"sheets.spreadsheets.values.clear","x-executor-toolPath":"sheets.spreadsheets.values.clear","tags":["Google Sheets API"],"description":"Clears values from a spreadsheet. The caller must specify the spreadsheet ID and range. Only values are cleared -- all other properties of the cell (such as formatting, data validation, etc..) are kept.","parameters":[{"name":"spreadsheetId","in":"path","required":true,"description":"The ID of the spreadsheet to update.","schema":{"description":"The ID of the spreadsheet to update.","type":"string"}},{"name":"range","in":"path","required":true,"description":"The [A1 notation or R1C1 notation](https://developers.google.com/workspace/sheets/api/guides/concepts#cell) of the values to clear.","schema":{"description":"The [A1 notation or R1C1 notation](https://developers.google.com/workspace/sheets/api/guides/concepts#cell) of the values to clear.","type":"string"}},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":true,"type":"boolean"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/sheets_v4_ClearValuesRequest"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/sheets_v4_ClearValuesResponse"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/spreadsheets"]},{"googleOAuth2":["https://www.googleapis.com/auth/drive.file"]}],"x-google-scopes":["https://www.googleapis.com/auth/spreadsheets","https://www.googleapis.com/auth/drive.file"]}},"/v4/spreadsheets/{spreadsheetId}/values:batchClear":{"post":{"operationId":"sheets.spreadsheets.values.batchClear","x-executor-toolPath":"sheets.spreadsheets.values.batchClear","tags":["Google Sheets API"],"description":"Clears one or more ranges of values from a spreadsheet. The caller must specify the spreadsheet ID and one or more ranges. Only values are cleared -- all other properties of the cell (such as formatting and data validation) are kept.","parameters":[{"name":"spreadsheetId","in":"path","required":true,"description":"The ID of the spreadsheet to update.","schema":{"description":"The ID of the spreadsheet to update.","type":"string"}},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":true,"type":"boolean"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/sheets_v4_BatchClearValuesRequest"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/sheets_v4_BatchClearValuesResponse"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/spreadsheets"]},{"googleOAuth2":["https://www.googleapis.com/auth/drive.file"]}],"x-google-scopes":["https://www.googleapis.com/auth/spreadsheets","https://www.googleapis.com/auth/drive.file"]}},"/v4/spreadsheets/{spreadsheetId}/values:batchClearByDataFilter":{"post":{"operationId":"sheets.spreadsheets.values.batchClearByDataFilter","x-executor-toolPath":"sheets.spreadsheets.values.batchClearByDataFilter","tags":["Google Sheets API"],"description":"Clears one or more ranges of values from a spreadsheet. For more information, see [Read, write, and search metadata](https://developers.google.com/workspace/sheets/api/guides/metadata). The caller must specify the spreadsheet ID and one or more DataFilters. Ranges matching any of the specified data filters will be cleared. Only values are cleared -- all other properties of the cell (such as formatting, data validation, etc.) are kept.","parameters":[{"name":"spreadsheetId","in":"path","required":true,"description":"The ID of the spreadsheet to update.","schema":{"description":"The ID of the spreadsheet to update.","type":"string"}},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":true,"type":"boolean"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/sheets_v4_BatchClearValuesByDataFilterRequest"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/sheets_v4_BatchClearValuesByDataFilterResponse"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/spreadsheets"]},{"googleOAuth2":["https://www.googleapis.com/auth/drive.file"]}],"x-google-scopes":["https://www.googleapis.com/auth/spreadsheets","https://www.googleapis.com/auth/drive.file"]}},"/v4/spreadsheets/{spreadsheetId}/values:batchGet":{"get":{"operationId":"sheets.spreadsheets.values.batchGet","x-executor-toolPath":"sheets.spreadsheets.values.batchGet","tags":["Google Sheets API"],"description":"Returns one or more ranges of values from a spreadsheet. The caller must specify the spreadsheet ID and one or more ranges.","parameters":[{"name":"spreadsheetId","in":"path","required":true,"description":"The ID of the spreadsheet to retrieve data from.","schema":{"description":"The ID of the spreadsheet to retrieve data from.","type":"string"}},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"dateTimeRenderOption","in":"query","required":false,"description":"How dates, times, and durations should be represented in the output. This is ignored if value_render_option is FORMATTED_VALUE. The default dateTime render option is SERIAL_NUMBER.","schema":{"description":"How dates, times, and durations should be represented in the output. This is ignored if value_render_option is FORMATTED_VALUE. The default dateTime render option is SERIAL_NUMBER.","enum":["SERIAL_NUMBER","FORMATTED_STRING"],"type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"majorDimension","in":"query","required":false,"description":"The major dimension that results should use. For example, if the spreadsheet data is: `A1=1,B1=2,A2=3,B2=4`, then requesting `ranges=[\"A1:B2\"],majorDimension=ROWS` returns `[[1,2],[3,4]]`, whereas requesting `ranges=[\"A1:B2\"],majorDimension=COLUMNS` returns `[[1,3],[2,4]]`.","schema":{"description":"The major dimension that results should use. For example, if the spreadsheet data is: `A1=1,B1=2,A2=3,B2=4`, then requesting `ranges=[\"A1:B2\"],majorDimension=ROWS` returns `[[1,2],[3,4]]`, whereas requesting `ranges=[\"A1:B2\"],majorDimension=COLUMNS` returns `[[1,3],[2,4]]`.","enum":["DIMENSION_UNSPECIFIED","ROWS","COLUMNS"],"type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":true,"type":"boolean"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"ranges","in":"query","required":false,"description":"The [A1 notation or R1C1 notation](https://developers.google.com/workspace/sheets/api/guides/concepts#cell) of the range to retrieve values from.","schema":{"type":"array","items":{"description":"The [A1 notation or R1C1 notation](https://developers.google.com/workspace/sheets/api/guides/concepts#cell) of the range to retrieve values from.","type":"string"}},"style":"form","explode":true},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"valueRenderOption","in":"query","required":false,"description":"How values should be represented in the output. The default render option is ValueRenderOption.FORMATTED_VALUE.","schema":{"description":"How values should be represented in the output. The default render option is ValueRenderOption.FORMATTED_VALUE.","enum":["FORMATTED_VALUE","UNFORMATTED_VALUE","FORMULA"],"type":"string"},"style":"form","explode":false}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/sheets_v4_BatchGetValuesResponse"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/spreadsheets"]},{"googleOAuth2":["https://www.googleapis.com/auth/drive.file"]}],"x-google-scopes":["https://www.googleapis.com/auth/spreadsheets","https://www.googleapis.com/auth/drive.file"]}},"/v4/spreadsheets/{spreadsheetId}/values:batchGetByDataFilter":{"post":{"operationId":"sheets.spreadsheets.values.batchGetByDataFilter","x-executor-toolPath":"sheets.spreadsheets.values.batchGetByDataFilter","tags":["Google Sheets API"],"description":"Returns one or more ranges of values that match the specified data filters. For more information, see [Read, write, and search metadata](https://developers.google.com/workspace/sheets/api/guides/metadata). The caller must specify the spreadsheet ID and one or more DataFilters. Ranges that match any of the data filters in the request will be returned.","parameters":[{"name":"spreadsheetId","in":"path","required":true,"description":"The ID of the spreadsheet to retrieve data from.","schema":{"description":"The ID of the spreadsheet to retrieve data from.","type":"string"}},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":true,"type":"boolean"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/sheets_v4_BatchGetValuesByDataFilterRequest"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/sheets_v4_BatchGetValuesByDataFilterResponse"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/spreadsheets"]},{"googleOAuth2":["https://www.googleapis.com/auth/drive.file"]}],"x-google-scopes":["https://www.googleapis.com/auth/spreadsheets","https://www.googleapis.com/auth/drive.file"]}},"/v4/spreadsheets/{spreadsheetId}/values:batchUpdate":{"post":{"operationId":"sheets.spreadsheets.values.batchUpdate","x-executor-toolPath":"sheets.spreadsheets.values.batchUpdate","tags":["Google Sheets API"],"description":"Sets values in one or more ranges of a spreadsheet. The caller must specify the spreadsheet ID, a valueInputOption, and one or more ValueRanges.","parameters":[{"name":"spreadsheetId","in":"path","required":true,"description":"The ID of the spreadsheet to update.","schema":{"description":"The ID of the spreadsheet to update.","type":"string"}},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":true,"type":"boolean"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/sheets_v4_BatchUpdateValuesRequest"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/sheets_v4_BatchUpdateValuesResponse"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/spreadsheets"]},{"googleOAuth2":["https://www.googleapis.com/auth/drive.file"]}],"x-google-scopes":["https://www.googleapis.com/auth/spreadsheets","https://www.googleapis.com/auth/drive.file"]}},"/v4/spreadsheets/{spreadsheetId}/values:batchUpdateByDataFilter":{"post":{"operationId":"sheets.spreadsheets.values.batchUpdateByDataFilter","x-executor-toolPath":"sheets.spreadsheets.values.batchUpdateByDataFilter","tags":["Google Sheets API"],"description":"Sets values in one or more ranges of a spreadsheet. For more information, see [Read, write, and search metadata](https://developers.google.com/workspace/sheets/api/guides/metadata). The caller must specify the spreadsheet ID, a valueInputOption, and one or more DataFilterValueRanges.","parameters":[{"name":"spreadsheetId","in":"path","required":true,"description":"The ID of the spreadsheet to update.","schema":{"description":"The ID of the spreadsheet to update.","type":"string"}},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":true,"type":"boolean"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/sheets_v4_BatchUpdateValuesByDataFilterRequest"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/sheets_v4_BatchUpdateValuesByDataFilterResponse"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/spreadsheets"]},{"googleOAuth2":["https://www.googleapis.com/auth/drive.file"]}],"x-google-scopes":["https://www.googleapis.com/auth/spreadsheets","https://www.googleapis.com/auth/drive.file"]}},"/v4/spreadsheets/{spreadsheetId}:batchUpdate":{"post":{"operationId":"sheets.spreadsheets.batchUpdate","x-executor-toolPath":"sheets.spreadsheets.batchUpdate","tags":["Google Sheets API"],"description":"Applies one or more updates to the spreadsheet. Each request is validated before being applied. If any request is not valid then the entire request will fail and nothing will be applied. Some requests have replies to give you some information about how they are applied. The replies will mirror the requests. For example, if you applied 4 updates and the 3rd one had a reply, then the response will have 2 empty replies, the actual reply, and another empty reply, in that order. Due to the collaborative nature of spreadsheets, it is not guaranteed that the spreadsheet will reflect exactly your changes after this completes, however it is guaranteed that the updates in the request will be applied together atomically. Your changes may be altered with respect to collaborator changes. If there are no collaborators, the spreadsheet should reflect your changes.","parameters":[{"name":"spreadsheetId","in":"path","required":true,"description":"The spreadsheet to apply the updates to.","schema":{"description":"The spreadsheet to apply the updates to.","type":"string"}},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":true,"type":"boolean"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/sheets_v4_BatchUpdateSpreadsheetRequest"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/sheets_v4_BatchUpdateSpreadsheetResponse"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/spreadsheets"]},{"googleOAuth2":["https://www.googleapis.com/auth/drive.file"]}],"x-google-scopes":["https://www.googleapis.com/auth/spreadsheets","https://www.googleapis.com/auth/drive.file"]}},"/v4/spreadsheets/{spreadsheetId}:getByDataFilter":{"post":{"operationId":"sheets.spreadsheets.getByDataFilter","x-executor-toolPath":"sheets.spreadsheets.getByDataFilter","tags":["Google Sheets API"],"description":"Returns the spreadsheet at the given ID. The caller must specify the spreadsheet ID. For more information, see [Read, write, and search metadata](https://developers.google.com/workspace/sheets/api/guides/metadata). This method differs from GetSpreadsheet in that it allows selecting which subsets of spreadsheet data to return by specifying a dataFilters parameter. Multiple DataFilters can be specified. Specifying one or more data filters returns the portions of the spreadsheet that intersect ranges matched by any of the filters. By default, data within grids is not returned. You can include grid data in one of two ways: * Specify a [field mask](https://developers.google.com/workspace/sheets/api/guides/field-masks) listing your desired fields using the `fields` URL parameter in HTTP. * Set the includeGridData parameter to `true`. If a field mask is set, the `includeGridData` parameter is ignored. For large spreadsheets, as a best practice, retrieve only the specific spreadsheet fields that you want.","parameters":[{"name":"spreadsheetId","in":"path","required":true,"description":"The spreadsheet to request.","schema":{"description":"The spreadsheet to request.","type":"string"}},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":true,"type":"boolean"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/sheets_v4_GetSpreadsheetByDataFilterRequest"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/sheets_v4_Spreadsheet"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/spreadsheets"]},{"googleOAuth2":["https://www.googleapis.com/auth/drive.file"]}],"x-google-scopes":["https://www.googleapis.com/auth/spreadsheets","https://www.googleapis.com/auth/drive.file"]}}},"components":{"schemas":{"sheets_v4_AddBandingRequest":{"description":"Adds a new banded range to the spreadsheet.","type":"object","properties":{"bandedRange":{"$ref":"#/components/schemas/sheets_v4_BandedRange"}}},"sheets_v4_AddBandingResponse":{"description":"The result of adding a banded range.","type":"object","properties":{"bandedRange":{"$ref":"#/components/schemas/sheets_v4_BandedRange"}}},"sheets_v4_AddChartRequest":{"description":"Adds a chart to a sheet in the spreadsheet.","type":"object","properties":{"chart":{"$ref":"#/components/schemas/sheets_v4_EmbeddedChart"}}},"sheets_v4_AddChartResponse":{"description":"The result of adding a chart to a spreadsheet.","type":"object","properties":{"chart":{"$ref":"#/components/schemas/sheets_v4_EmbeddedChart"}}},"sheets_v4_AddCommentReplyRequest":{"description":"Inserts a reply Post into a CommentThread. [Developer Preview](https://developers.google.com/workspace/preview).","type":"object","properties":{"commentId":{"description":"The ID of the CommentThread to add the reply to.","type":"string"},"post":{"$ref":"#/components/schemas/sheets_v4_Post"}}},"sheets_v4_AddCommentReplyResponse":{"description":"The result of creating a reply. [Developer Preview](https://developers.google.com/workspace/preview).","type":"object","properties":{"post":{"$ref":"#/components/schemas/sheets_v4_Post"}}},"sheets_v4_AddConditionalFormatRuleRequest":{"description":"Adds a new conditional format rule at the given index. All subsequent rules' indexes are incremented.","type":"object","properties":{"index":{"description":"The zero-based index where the rule should be inserted.","format":"int32","type":"integer"},"rule":{"$ref":"#/components/schemas/sheets_v4_ConditionalFormatRule"}}},"sheets_v4_AddDataSourceRequest":{"description":"Adds a data source. After the data source is added successfully, an associated DATA_SOURCE sheet is created and an execution is triggered to refresh the sheet to read data from the data source. The request requires an additional `bigquery.readonly` OAuth scope if you are adding a BigQuery data source.","type":"object","properties":{"dataSource":{"$ref":"#/components/schemas/sheets_v4_DataSource"}}},"sheets_v4_AddDataSourceResponse":{"description":"The result of adding a data source.","type":"object","properties":{"dataExecutionStatus":{"$ref":"#/components/schemas/sheets_v4_DataExecutionStatus"},"dataSource":{"$ref":"#/components/schemas/sheets_v4_DataSource"}}},"sheets_v4_AddDimensionGroupRequest":{"description":"Creates a group over the specified range. If the requested range is a superset of the range of an existing group G, then the depth of G is incremented and this new group G' has the depth of that group. For example, a group [C:D, depth 1] + [B:E] results in groups [B:E, depth 1] and [C:D, depth 2]. If the requested range is a subset of the range of an existing group G, then the depth of the new group G' becomes one greater than the depth of G. For example, a group [B:E, depth 1] + [C:D] results in groups [B:E, depth 1] and [C:D, depth 2]. If the requested range starts before and ends within, or starts within and ends after, the range of an existing group G, then the range of the existing group G becomes the union of the ranges, and the new group G' has depth one greater than the depth of G and range as the intersection of the ranges. For example, a group [B:D, depth 1] + [C:E] results in groups [B:E, depth 1] and [C:D, depth 2].","type":"object","properties":{"range":{"$ref":"#/components/schemas/sheets_v4_DimensionRange"}}},"sheets_v4_AddDimensionGroupResponse":{"description":"The result of adding a group.","type":"object","properties":{"dimensionGroups":{"description":"All groups of a dimension after adding a group to that dimension.","type":"array","items":{"$ref":"#/components/schemas/sheets_v4_DimensionGroup"}}}},"sheets_v4_AddFilterViewRequest":{"description":"Adds a filter view.","type":"object","properties":{"filter":{"$ref":"#/components/schemas/sheets_v4_FilterView"}}},"sheets_v4_AddFilterViewResponse":{"description":"The result of adding a filter view.","type":"object","properties":{"filter":{"$ref":"#/components/schemas/sheets_v4_FilterView"}}},"sheets_v4_AddNamedRangeRequest":{"description":"Adds a named range to the spreadsheet.","type":"object","properties":{"namedRange":{"$ref":"#/components/schemas/sheets_v4_NamedRange"}}},"sheets_v4_AddNamedRangeResponse":{"description":"The result of adding a named range.","type":"object","properties":{"namedRange":{"$ref":"#/components/schemas/sheets_v4_NamedRange"}}},"sheets_v4_AddProtectedRangeRequest":{"description":"Adds a new protected range.","type":"object","properties":{"protectedRange":{"$ref":"#/components/schemas/sheets_v4_ProtectedRange"}}},"sheets_v4_AddProtectedRangeResponse":{"description":"The result of adding a new protected range.","type":"object","properties":{"protectedRange":{"$ref":"#/components/schemas/sheets_v4_ProtectedRange"}}},"sheets_v4_AddSheetRequest":{"description":"Adds a new sheet. When a sheet is added at a given index, all subsequent sheets' indexes are incremented. To add an object sheet, use AddChartRequest instead and specify EmbeddedObjectPosition.sheetId or EmbeddedObjectPosition.newSheet.","type":"object","properties":{"properties":{"$ref":"#/components/schemas/sheets_v4_SheetProperties"}}},"sheets_v4_AddSheetResponse":{"description":"The result of adding a sheet.","type":"object","properties":{"properties":{"$ref":"#/components/schemas/sheets_v4_SheetProperties"}}},"sheets_v4_AddSlicerRequest":{"description":"Adds a slicer to a sheet in the spreadsheet.","type":"object","properties":{"slicer":{"$ref":"#/components/schemas/sheets_v4_Slicer"}}},"sheets_v4_AddSlicerResponse":{"description":"The result of adding a slicer to a spreadsheet.","type":"object","properties":{"slicer":{"$ref":"#/components/schemas/sheets_v4_Slicer"}}},"sheets_v4_AddTableRequest":{"description":"Adds a new table to the spreadsheet.","type":"object","properties":{"table":{"$ref":"#/components/schemas/sheets_v4_Table"}}},"sheets_v4_AddTableResponse":{"description":"The result of adding a table.","type":"object","properties":{"table":{"$ref":"#/components/schemas/sheets_v4_Table"}}},"sheets_v4_AppendCellsRequest":{"description":"Adds new cells after the last row with data in a sheet, inserting new rows into the sheet if necessary.","type":"object","properties":{"fields":{"description":"The fields of CellData that should be updated. At least one field must be specified. The root is the CellData; 'row.values.' should not be specified. A single `\"*\"` can be used as short-hand for listing every field.","format":"google-fieldmask","type":"string"},"rows":{"description":"The data to append.","type":"array","items":{"$ref":"#/components/schemas/sheets_v4_RowData"}},"sheetId":{"description":"The sheet ID to append the data to.","format":"int32","type":"integer"},"tableId":{"description":"The ID of the table to append data to. The data will be only appended to the table body. This field also takes precedence over the `sheet_id` field.","type":"string"}}},"sheets_v4_AppendDimensionRequest":{"description":"Appends rows or columns to the end of a sheet.","type":"object","properties":{"dimension":{"description":"Whether rows or columns should be appended.","enum":["DIMENSION_UNSPECIFIED","ROWS","COLUMNS"],"type":"string"},"length":{"description":"The number of rows or columns to append.","format":"int32","type":"integer"},"sheetId":{"description":"The sheet to append rows or columns to.","format":"int32","type":"integer"}}},"sheets_v4_AppendValuesResponse":{"description":"The response when updating a range of values in a spreadsheet.","type":"object","properties":{"spreadsheetId":{"description":"The spreadsheet the updates were applied to.","type":"string"},"tableRange":{"description":"The range (in A1 notation) of the table that values are being appended to (before the values were appended). Empty if no table was found.","type":"string"},"updates":{"$ref":"#/components/schemas/sheets_v4_UpdateValuesResponse"}}},"sheets_v4_AutoFillRequest":{"description":"Fills in more data based on existing data.","type":"object","properties":{"range":{"$ref":"#/components/schemas/sheets_v4_GridRange"},"sourceAndDestination":{"$ref":"#/components/schemas/sheets_v4_SourceAndDestination"},"useAlternateSeries":{"description":"True if we should generate data with the \"alternate\" series. This differs based on the type and amount of source data.","type":"boolean"}}},"sheets_v4_AutoResizeDimensionsRequest":{"description":"Automatically resizes one or more dimensions based on the contents of the cells in that dimension.","type":"object","properties":{"dataSourceSheetDimensions":{"$ref":"#/components/schemas/sheets_v4_DataSourceSheetDimensionRange"},"dimensions":{"$ref":"#/components/schemas/sheets_v4_DimensionRange"}}},"sheets_v4_BandedRange":{"description":"A banded (alternating colors) range in a sheet.","type":"object","properties":{"bandedRangeId":{"description":"The ID of the banded range. If unset, refer to banded_range_reference.","format":"int32","type":"integer"},"bandedRangeReference":{"description":"Output only. The reference of the banded range, used to identify the ID that is not supported by the banded_range_id.","readOnly":true,"type":"string"},"columnProperties":{"$ref":"#/components/schemas/sheets_v4_BandingProperties"},"range":{"$ref":"#/components/schemas/sheets_v4_GridRange"},"rowProperties":{"$ref":"#/components/schemas/sheets_v4_BandingProperties"}}},"sheets_v4_BandingProperties":{"description":"Properties referring a single dimension (either row or column). If both BandedRange.row_properties and BandedRange.column_properties are set, the fill colors are applied to cells according to the following rules: * header_color and footer_color take priority over band colors. * first_band_color takes priority over second_band_color. * row_properties takes priority over column_properties. For example, the first row color takes priority over the first column color, but the first column color takes priority over the second row color. Similarly, the row header takes priority over the column header in the top left cell, but the column header takes priority over the first row color if the row header is not set.","type":"object","properties":{"firstBandColor":{"$ref":"#/components/schemas/sheets_v4_Color"},"firstBandColorStyle":{"$ref":"#/components/schemas/sheets_v4_ColorStyle"},"footerColor":{"$ref":"#/components/schemas/sheets_v4_Color"},"footerColorStyle":{"$ref":"#/components/schemas/sheets_v4_ColorStyle"},"headerColor":{"$ref":"#/components/schemas/sheets_v4_Color"},"headerColorStyle":{"$ref":"#/components/schemas/sheets_v4_ColorStyle"},"secondBandColor":{"$ref":"#/components/schemas/sheets_v4_Color"},"secondBandColorStyle":{"$ref":"#/components/schemas/sheets_v4_ColorStyle"}}},"sheets_v4_BaselineValueFormat":{"description":"Formatting options for baseline value.","type":"object","properties":{"comparisonType":{"description":"The comparison type of key value with baseline value.","enum":["COMPARISON_TYPE_UNDEFINED","ABSOLUTE_DIFFERENCE","PERCENTAGE_DIFFERENCE"],"type":"string"},"description":{"description":"Description which is appended after the baseline value. This field is optional.","type":"string"},"negativeColor":{"$ref":"#/components/schemas/sheets_v4_Color"},"negativeColorStyle":{"$ref":"#/components/schemas/sheets_v4_ColorStyle"},"position":{"$ref":"#/components/schemas/sheets_v4_TextPosition"},"positiveColor":{"$ref":"#/components/schemas/sheets_v4_Color"},"positiveColorStyle":{"$ref":"#/components/schemas/sheets_v4_ColorStyle"},"textFormat":{"$ref":"#/components/schemas/sheets_v4_TextFormat"}}},"sheets_v4_BasicChartAxis":{"description":"An axis of the chart. A chart may not have more than one axis per axis position.","type":"object","properties":{"format":{"$ref":"#/components/schemas/sheets_v4_TextFormat"},"position":{"description":"The position of this axis.","enum":["BASIC_CHART_AXIS_POSITION_UNSPECIFIED","BOTTOM_AXIS","LEFT_AXIS","RIGHT_AXIS"],"type":"string"},"title":{"description":"The title of this axis. If set, this overrides any title inferred from headers of the data.","type":"string"},"titleTextPosition":{"$ref":"#/components/schemas/sheets_v4_TextPosition"},"viewWindowOptions":{"$ref":"#/components/schemas/sheets_v4_ChartAxisViewWindowOptions"}}},"sheets_v4_BasicChartDomain":{"description":"The domain of a chart. For example, if charting stock prices over time, this would be the date.","type":"object","properties":{"domain":{"$ref":"#/components/schemas/sheets_v4_ChartData"},"reversed":{"description":"True to reverse the order of the domain values (horizontal axis).","type":"boolean"}}},"sheets_v4_BasicChartSeries":{"description":"A single series of data in a chart. For example, if charting stock prices over time, multiple series may exist, one for the \"Open Price\", \"High Price\", \"Low Price\" and \"Close Price\".","type":"object","properties":{"color":{"$ref":"#/components/schemas/sheets_v4_Color"},"colorStyle":{"$ref":"#/components/schemas/sheets_v4_ColorStyle"},"dataLabel":{"$ref":"#/components/schemas/sheets_v4_DataLabel"},"lineStyle":{"$ref":"#/components/schemas/sheets_v4_LineStyle"},"pointStyle":{"$ref":"#/components/schemas/sheets_v4_PointStyle"},"series":{"$ref":"#/components/schemas/sheets_v4_ChartData"},"styleOverrides":{"description":"Style override settings for series data points.","type":"array","items":{"$ref":"#/components/schemas/sheets_v4_BasicSeriesDataPointStyleOverride"}},"targetAxis":{"description":"The minor axis that will specify the range of values for this series. For example, if charting stocks over time, the \"Volume\" series may want to be pinned to the right with the prices pinned to the left, because the scale of trading volume is different than the scale of prices. It is an error to specify an axis that isn't a valid minor axis for the chart's type.","enum":["BASIC_CHART_AXIS_POSITION_UNSPECIFIED","BOTTOM_AXIS","LEFT_AXIS","RIGHT_AXIS"],"type":"string"},"type":{"description":"The type of this series. Valid only if the chartType is COMBO. Different types will change the way the series is visualized. Only LINE, AREA, and COLUMN are supported.","enum":["BASIC_CHART_TYPE_UNSPECIFIED","BAR","LINE","AREA","COLUMN","SCATTER","COMBO","STEPPED_AREA"],"type":"string"}}},"sheets_v4_BasicChartSpec":{"description":"The specification for a basic chart. See BasicChartType for the list of charts this supports.","type":"object","properties":{"axis":{"description":"The axis on the chart.","type":"array","items":{"$ref":"#/components/schemas/sheets_v4_BasicChartAxis"}},"chartType":{"description":"The type of the chart.","enum":["BASIC_CHART_TYPE_UNSPECIFIED","BAR","LINE","AREA","COLUMN","SCATTER","COMBO","STEPPED_AREA"],"type":"string"},"compareMode":{"description":"The behavior of tooltips and data highlighting when hovering on data and chart area.","enum":["BASIC_CHART_COMPARE_MODE_UNSPECIFIED","DATUM","CATEGORY"],"type":"string"},"domains":{"description":"The domain of data this is charting. Only a single domain is supported.","type":"array","items":{"$ref":"#/components/schemas/sheets_v4_BasicChartDomain"}},"headerCount":{"description":"The number of rows or columns in the data that are \"headers\". If not set, Google Sheets will guess how many rows are headers based on the data. (Note that BasicChartAxis.title may override the axis title inferred 
[...]
