{"openapi":"3.1.0","info":{"title":"Google Docs API","version":"v1","description":"Reads and writes Google Docs documents."},"servers":[{"url":"https://www.googleapis.com/"}],"paths":{"/v1/documents":{"post":{"operationId":"docs.documents.create","x-executor-toolPath":"docs.documents.create","x-executor-pathTemplate":"/v1/documents","tags":["Google Docs API"],"description":"Creates a blank document using the title given in the request. Other fields in the request, including any provided content, are ignored. Returns the created document.","servers":[{"url":"https://docs.googleapis.com/"}],"parameters":[{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/docs_v1_Document"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/docs_v1_Document"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/documents"]}],"x-google-scopes":["https://www.googleapis.com/auth/documents"]}},"/v1/documents/{documentId}:batchUpdate":{"post":{"operationId":"docs.documents.batchUpdate","x-executor-toolPath":"docs.documents.batchUpdate","x-executor-pathTemplate":"/v1/documents/{documentId}:batchUpdate","tags":["Google Docs API"],"description":"Applies one or more updates to the document. Each request is validated before being applied. If any request is not valid, then the entire request will fail and nothing will be applied. Some requests have replies to give you some information about how they are applied. Other requests do not need to return information; these each return an empty reply. The order of replies matches that of the requests. For example, suppose you call batchUpdate with four updates, and only the third one returns information. The response would have two empty replies, the reply to the third request, and another empty reply, in that order. Because other users may be editing the document, the document might not exactly reflect your changes: your changes may be altered with respect to collaborator changes. If there are no collaborators, the document should reflect your changes. In any case, the updates in your request are guaranteed to be applied together atomically.","servers":[{"url":"https://docs.googleapis.com/"}],"parameters":[{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"documentId","in":"path","required":true,"description":"The ID of the document to update.","schema":{"description":"The ID of the document to update.","type":"string"}}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/docs_v1_BatchUpdateDocumentRequest"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/docs_v1_BatchUpdateDocumentResponse"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/documents"]}],"x-google-scopes":["https://www.googleapis.com/auth/documents"]}},"/v1/documents/{documentId}":{"get":{"operationId":"docs.documents.get","x-executor-toolPath":"docs.documents.get","x-executor-pathTemplate":"/v1/documents/{documentId}","tags":["Google Docs API"],"description":"Gets the latest version of the specified document.","servers":[{"url":"https://docs.googleapis.com/"}],"parameters":[{"name":"upload_protocol","in":"query","required":false,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","schema":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"key","in":"query","required":false,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","schema":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","type":"string"},"style":"form","explode":false},{"name":"callback","in":"query","required":false,"description":"JSONP","schema":{"description":"JSONP","type":"string"},"style":"form","explode":false},{"name":"access_token","in":"query","required":false,"description":"OAuth access token.","schema":{"description":"OAuth access token.","type":"string"},"style":"form","explode":false},{"name":"oauth_token","in":"query","required":false,"description":"OAuth 2.0 token for the current user.","schema":{"description":"OAuth 2.0 token for the current user.","type":"string"},"style":"form","explode":false},{"name":"quotaUser","in":"query","required":false,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","schema":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","type":"string"},"style":"form","explode":false},{"name":"$.xgafv","in":"query","required":false,"description":"V1 error format.","schema":{"description":"V1 error format.","enum":["1","2"],"type":"string"},"style":"form","explode":false},{"name":"prettyPrint","in":"query","required":false,"description":"Returns response with indentations and line breaks.","schema":{"description":"Returns response with indentations and line breaks.","default":"true","type":"boolean"},"style":"form","explode":false},{"name":"uploadType","in":"query","required":false,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","schema":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","type":"string"},"style":"form","explode":false},{"name":"alt","in":"query","required":false,"description":"Data format for response.","schema":{"description":"Data format for response.","default":"json","enum":["json","media","proto"],"type":"string"},"style":"form","explode":false},{"name":"fields","in":"query","required":false,"description":"Selector specifying which fields to include in a partial response.","schema":{"description":"Selector specifying which fields to include in a partial response.","type":"string"},"style":"form","explode":false},{"name":"suggestionsViewMode","in":"query","required":false,"description":"The suggestions view mode to apply to the document. This allows viewing the document with all suggestions inline, accepted or rejected. If one is not specified, DEFAULT_FOR_CURRENT_ACCESS is used.","schema":{"description":"The suggestions view mode to apply to the document. This allows viewing the document with all suggestions inline, accepted or rejected. If one is not specified, DEFAULT_FOR_CURRENT_ACCESS is used.","enum":["DEFAULT_FOR_CURRENT_ACCESS","SUGGESTIONS_INLINE","PREVIEW_SUGGESTIONS_ACCEPTED","PREVIEW_WITHOUT_SUGGESTIONS"],"type":"string"},"style":"form","explode":false},{"name":"documentId","in":"path","required":true,"description":"The ID of the document to retrieve.","schema":{"description":"The ID of the document to retrieve.","type":"string"}},{"name":"includeTabsContent","in":"query","required":false,"description":"Whether to populate the Document.tabs field instead of the text content fields like `body` and `documentStyle` on Document. - When `True`: Document content populates in the Document.tabs field instead of the text content fields in Document. - When `False`: The content of the document's first tab populates the content fields in Document excluding Document.tabs. If a document has only one tab, then that tab is used to populate the document content. Document.tabs will be empty.","schema":{"description":"Whether to populate the Document.tabs field instead of the text content fields like `body` and `documentStyle` on Document. - When `True`: Document content populates in the Document.tabs field instead of the text content fields in Document. - When `False`: The content of the document's first tab populates the content fields in Document excluding Document.tabs. If a document has only one tab, then that tab is used to populate the document content. Document.tabs will be empty.","type":"boolean"},"style":"form","explode":false}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/docs_v1_Document"}}}}},"security":[{"googleOAuth2":["https://www.googleapis.com/auth/documents"]}],"x-google-scopes":["https://www.googleapis.com/auth/documents"]}}},"components":{"schemas":{"docs_v1_SuggestedTextStyle":{"description":"A suggested change to a TextStyle.","type":"object","properties":{"textStyleSuggestionState":{"$ref":"#/components/schemas/docs_v1_TextStyleSuggestionState"},"textStyle":{"$ref":"#/components/schemas/docs_v1_TextStyle"}}},"docs_v1_TableStyle":{"description":"Styles that apply to a table.","type":"object","properties":{"tableColumnProperties":{"description":"The properties of each column. Note that in Docs, tables contain rows and rows contain cells, similar to HTML. So the properties for a row can be found on the row's table_row_style.","type":"array","items":{"$ref":"#/components/schemas/docs_v1_TableColumnProperties"}}}},"docs_v1_EmbeddedObjectBorder":{"description":"A border around an EmbeddedObject.","type":"object","properties":{"propertyState":{"description":"The property state of the border property.","enum":["RENDERED","NOT_RENDERED"],"type":"string"},"color":{"$ref":"#/components/schemas/docs_v1_OptionalColor"},"width":{"$ref":"#/components/schemas/docs_v1_Dimension"},"dashStyle":{"description":"The dash style of the border.","enum":["DASH_STYLE_UNSPECIFIED","SOLID","DOT","DASH"],"type":"string"}}},"docs_v1_EmbeddedDrawingProperties":{"description":"The properties of an embedded drawing and used to differentiate the object type. An embedded drawing is one that's created and edited within a document. Note that extensive details are not supported.","type":"object"},"docs_v1_DocumentTab":{"description":"A tab with document contents.","type":"object","properties":{"namedStyles":{"$ref":"#/components/schemas/docs_v1_NamedStyles"},"suggestedDocumentStyleChanges":{"description":"The suggested changes to the style of the document tab, keyed by suggestion ID.","type":"object","additionalProperties":{"$ref":"#/components/schemas/docs_v1_SuggestedDocumentStyle"}},"namedRanges":{"description":"The named ranges in the document tab, keyed by name.","type":"object","additionalProperties":{"$ref":"#/components/schemas/docs_v1_NamedRanges"}},"positionedObjects":{"description":"The positioned objects in the document tab, keyed by object ID.","type":"object","additionalProperties":{"$ref":"#/components/schemas/docs_v1_PositionedObject"}},"lists":{"description":"The lists in the document tab, keyed by list ID.","type":"object","additionalProperties":{"$ref":"#/components/schemas/docs_v1_List"}},"documentStyle":{"$ref":"#/components/schemas/docs_v1_DocumentStyle"},"inlineObjects":{"description":"The inline objects in the document tab, keyed by object ID.","type":"object","additionalProperties":{"$ref":"#/components/schemas/docs_v1_InlineObject"}},"body":{"$ref":"#/components/schemas/docs_v1_Body"},"headers":{"description":"The headers in the document tab, keyed by header ID.","type":"object","additionalProperties":{"$ref":"#/components/schemas/docs_v1_Header"}},"suggestedNamedStylesChanges":{"description":"The suggested changes to the named styles of the document tab, keyed by suggestion ID.","type":"object","additionalProperties":{"$ref":"#/components/schemas/docs_v1_SuggestedNamedStyles"}},"footers":{"description":"The footers in the document tab, keyed by footer ID.","type":"object","additionalProperties":{"$ref":"#/components/schemas/docs_v1_Footer"}},"footnotes":{"description":"The footnotes in the document tab, keyed by footnote ID.","type":"object","additionalProperties":{"$ref":"#/components/schemas/docs_v1_Footnote"}}}},"docs_v1_SuggestedDateElementProperties":{"description":"A suggested change to a DateElementProperties.","type":"object","properties":{"dateElementProperties":{"$ref":"#/components/schemas/docs_v1_DateElementProperties"},"dateElementPropertiesSuggestionState":{"$ref":"#/components/schemas/docs_v1_DateElementPropertiesSuggestionState"}}},"docs_v1_UpdateTableCellStyleRequest":{"description":"Updates the style of a range of table cells.","type":"object","properties":{"fields":{"description":"The fields that should be updated. At least one field must be specified. The root `tableCellStyle` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the table cell background color, set `fields` to `\"backgroundColor\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset.","format":"google-fieldmask","type":"string"},"tableStartLocation":{"$ref":"#/components/schemas/docs_v1_Location"},"tableCellStyle":{"$ref":"#/components/schemas/docs_v1_TableCellStyle"},"tableRange":{"$ref":"#/components/schemas/docs_v1_TableRange"}}},"docs_v1_CreateFooterRequest":{"description":"Creates a Footer. The new footer is applied to the SectionStyle at the location of the SectionBreak if specified, otherwise it is applied to the DocumentStyle. If a footer of the specified type already exists, a 400 bad request error is returned.","type":"object","properties":{"type":{"description":"The type of footer to create.","enum":["HEADER_FOOTER_TYPE_UNSPECIFIED","DEFAULT"],"type":"string"},"sectionBreakLocation":{"$ref":"#/components/schemas/docs_v1_Location"}}},"docs_v1_InsertPersonRequest":{"description":"Inserts a person mention.","type":"object","properties":{"personProperties":{"$ref":"#/components/schemas/docs_v1_PersonProperties"},"endOfSegmentLocation":{"$ref":"#/components/schemas/docs_v1_EndOfSegmentLocation"},"location":{"$ref":"#/components/schemas/docs_v1_Location"}}},"docs_v1_CreateNamedRangeRequest":{"description":"Creates a NamedRange referencing the given range.","type":"object","properties":{"name":{"description":"The name of the NamedRange. Names do not need to be unique. Names must be at least 1 character and no more than 256 characters, measured in UTF-16 code units.","type":"string"},"range":{"$ref":"#/components/schemas/docs_v1_Range"}}},"docs_v1_Shading":{"description":"The shading of a paragraph.","type":"object","properties":{"backgroundColor":{"$ref":"#/components/schemas/docs_v1_OptionalColor"}}},"docs_v1_Request":{"description":"A single update to apply to a document.","type":"object","properties":{"deleteContentRange":{"$ref":"#/components/schemas/docs_v1_DeleteContentRangeRequest"},"createFooter":{"$ref":"#/components/schemas/docs_v1_CreateFooterRequest"},"deletePositionedObject":{"$ref":"#/components/schemas/docs_v1_DeletePositionedObjectRequest"},"updateDocumentStyle":{"$ref":"#/components/schemas/docs_v1_UpdateDocumentStyleRequest"},"deleteTab":{"$ref":"#/components/schemas/docs_v1_DeleteTabRequest"},"insertPageBreak":{"$ref":"#/components/schemas/docs_v1_InsertPageBreakRequest"},"pinTableHeaderRows":{"$ref":"#/components/schemas/docs_v1_PinTableHeaderRowsRequest"},"unmergeTableCells":{"$ref":"#/components/schemas/docs_v1_UnmergeTableCellsRequest"},"createFootnote":{"$ref":"#/components/schemas/docs_v1_CreateFootnoteRequest"},"updateParagraphStyle":{"$ref":"#/components/schemas/docs_v1_UpdateParagraphStyleRequest"},"insertTableRow":{"$ref":"#/components/schemas/docs_v1_InsertTableRowRequest"},"updateTableRowStyle":{"$ref":"#/components/schemas/docs_v1_UpdateTableRowStyleRequest"},"deleteFooter":{"$ref":"#/components/schemas/docs_v1_DeleteFooterRequest"},"replaceNamedRangeContent":{"$ref":"#/components/schemas/docs_v1_ReplaceNamedRangeContentRequest"},"insertInlineImage":{"$ref":"#/components/schemas/docs_v1_InsertInlineImageRequest"},"createHeader":{"$ref":"#/components/schemas/docs_v1_CreateHeaderRequest"},"mergeTableCells":{"$ref":"#/components/schemas/docs_v1_MergeTableCellsRequest"},"deleteHeader":{"$ref":"#/components/schemas/docs_v1_DeleteHeaderRequest"},"insertTable":{"$ref":"#/components/schemas/docs_v1_InsertTableRequest"},"updateSectionStyle":{"$ref":"#/components/schemas/docs_v1_UpdateSectionStyleRequest"},"updateTextStyle":{"$ref":"#/components/schemas/docs_v1_UpdateTextStyleRequest"},"deleteTableRow":{"$ref":"#/components/schemas/docs_v1_DeleteTableRowRequest"},"insertDate":{"$ref":"#/components/schemas/docs_v1_InsertDateRequest"},"updateTableCellStyle":{"$ref":"#/components/schemas/docs_v1_UpdateTableCellStyleRequest"},"updateNamedStyle":{"$ref":"#/components/schemas/docs_v1_UpdateNamedStyleRequest"},"updateDocumentTabProperties":{"$ref":"#/components/schemas/docs_v1_UpdateDocumentTabPropertiesRequest"},"replaceAllText":{"$ref":"#/components/schemas/docs_v1_ReplaceAllTextRequest"},"insertRichLink":{"$ref":"#/components/schemas/docs_v1_InsertRichLinkRequest"},"insertText":{"$ref":"#/components/schemas/docs_v1_InsertTextRequest"},"deleteTableColumn":{"$ref":"#/components/schemas/docs_v1_DeleteTableColumnRequest"},"insertSectionBreak":{"$ref":"#/components/schemas/docs_v1_InsertSectionBreakRequest"},"insertTableColumn":{"$ref":"#/components/schemas/docs_v1_InsertTableColumnRequest"},"createParagraphBullets":{"$ref":"#/components/schemas/docs_v1_CreateParagraphBulletsRequest"},"updateTableColumnProperties":{"$ref":"#/components/schemas/docs_v1_UpdateTableColumnPropertiesRequest"},"insertPerson":{"$ref":"#/components/schemas/docs_v1_InsertPersonRequest"},"deleteNamedRange":{"$ref":"#/components/schemas/docs_v1_DeleteNamedRangeRequest"},"replaceImage":{"$ref":"#/components/schemas/docs_v1_ReplaceImageRequest"},"createNamedRange":{"$ref":"#/components/schemas/docs_v1_CreateNamedRangeRequest"},"addDocumentTab":{"$ref":"#/components/schemas/docs_v1_AddDocumentTabRequest"},"deleteParagraphBullets":{"$ref":"#/components/schemas/docs_v1_DeleteParagraphBulletsRequest"}}},"docs_v1_Table":{"description":"A StructuralElement representing a table.","type":"object","properties":{"tableRows":{"description":"The contents and style of each row.","type":"array","items":{"$ref":"#/components/schemas/docs_v1_TableRow"}},"suggestedDeletionIds":{"description":"The suggested deletion IDs. If empty, then there are no suggested deletions of this content.","type":"array","items":{"type":"string"}},"suggestedInsertionIds":{"description":"The suggested insertion IDs. A Table may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion.","type":"array","items":{"type":"string"}},"rows":{"description":"Number of rows in the table.","format":"int32","type":"integer"},"tableStyle":{"$ref":"#/components/schemas/docs_v1_TableStyle"},"columns":{"description":"Number of columns in the table. It's possible for a table to be non-rectangular, so some rows may have a different number of cells.","format":"int32","type":"integer"}}},"docs_v1_CreateFooterResponse":{"description":"The result of creating a footer.","type":"object","properties":{"footerId":{"description":"The ID of the created footer.","type":"string"}}},"docs_v1_NamedRange":{"description":"A collection of Ranges with the same named range ID. Named ranges allow developers to associate parts of a document with an arbitrary user-defined label so their contents can be programmatically read or edited later. A document can contain multiple named ranges with the same name, but every named range has a unique ID. A named range is created with a single Range, and content inserted inside a named range generally expands that range. However, certain document changes can cause the range to be split into multiple ranges. Named ranges are not private. All applications and collaborators that have access to the document can see its named ranges.","type":"object","properties":{"ranges":{"description":"The ranges that belong to this named range.","type":"array","items":{"$ref":"#/components/schemas/docs_v1_Range"}},"namedRangeId":{"description":"The ID of the named range.","type":"string"},"name":{"description":"The name of the named range.","type":"string"}}},"docs_v1_EmbeddedObjectBorderSuggestionState":{"description":"A mask that indicates which of the fields on the base EmbeddedObjectBorder have been changed in this suggestion. For any field set to true, there's a new suggested value.","type":"object","properties":{"colorSuggested":{"description":"Indicates if there was a suggested change to color.","type":"boolean"},"dashStyleSuggested":{"description":"Indicates if there was a suggested change to dash_style.","type":"boolean"},"propertyStateSuggested":{"description":"Indicates if there was a suggested change to property_state.","type":"boolean"},"widthSuggested":{"description":"Indicates if there was a suggested change to width.","type":"boolean"}}},"docs_v1_ListProperties":{"description":"The properties of a list that describe the look and feel of bullets belonging to paragraphs associated with a list.","type":"object","properties":{"nestingLevels":{"description":"Describes the properties of the bullets at the associated level. A list has at most 9 levels of nesting with nesting level 0 corresponding to the top-most level and nesting level 8 corresponding to the most nested level. The nesting levels are returned in ascending order with the least nested returned first.","type":"array","items":{"$ref":"#/components/schemas/docs_v1_NestingLevel"}}}},"docs_v1_TableCellBorder":{"description":"A border around a table cell. Table cell borders cannot be transparent. To hide a table cell border, make its width 0.","type":"object","properties":{"dashStyle":{"description":"The dash style of the border.","enum":["DASH_STYLE_UNSPECIFIED","SOLID","DOT","DASH"],"type":"string"},"width":{"$ref":"#/components/schemas/docs_v1_Dimension"},"color":{"$ref":"#/components/schemas/docs_v1_OptionalColor"}}},"docs_v1_InlineObject":{"description":"An object that appears inline with text. An InlineObject contains an EmbeddedObject such as an image.","type":"object","properties":{"objectId":{"description":"The ID of this inline object. Can be used to update an object’s properties.","type":"string"},"suggestedInsertionId":{"description":"The suggested insertion ID. If empty, then this is not a suggested insertion.","type":"string"},"suggestedDeletionIds":{"description":"The suggested deletion IDs. If empty, then there are no suggested deletions of this content.","type":"array","items":{"type":"string"}},"inlineObjectProperties":{"$ref":"#/components/schemas/docs_v1_InlineObjectProperties"},"suggestedInlineObjectPropertiesChanges":{"description":"The suggested changes to the inline object properties, keyed by suggestion ID.","type":"object","additionalProperties":{"$ref":"#/components/schemas/docs_v1_SuggestedInlineObjectProperties"}}}},"docs_v1_DateElement":{"description":"A date instance mentioned in a document.","type":"object","properties":{"dateId":{"description":"Output only. The unique ID of this date.","readOnly":true,"type":"string"},"suggestedDeletionIds":{"description":"IDs for suggestions that remove this date from the document. A DateElement might have multiple deletion IDs if, for example, multiple users suggest deleting it. If empty, then this date isn't suggested for deletion.","type":"array","items":{"type":"string"}},"suggestedTextStyleChanges":{"description":"The suggested text style changes to this DateElement, keyed by suggestion ID.","type":"object","additionalProperties":{"$ref":"#/components/schemas/docs_v1_SuggestedTextStyle"}},"dateElementProperties":{"$ref":"#/components/schemas/docs_v1_DateElementProperties"},"suggestedDateElementPropertiesChanges":{"description":"The suggested changes to the date element properties, keyed by suggestion ID.","type":"object","additionalProperties":{"$ref":"#/components/schemas/docs_v1_SuggestedDateElementProperties"}},"textStyle":{"$ref":"#/components/schemas/docs_v1_TextStyle"},"suggestedInsertionIds":{"description":"IDs for suggestions that insert this date into the document. A DateElement might have multiple insertion IDs if it's a nested suggested change (a suggestion within a suggestion made by a different user, for example). If empty, then this date isn't a suggested insertion.","type":"array","items":{"type":"string"}}}},"docs_v1_SheetsChartReferenceSuggestionState":{"description":"A mask that indicates which of the fields on the base SheetsChartReference have been changed in this suggestion. For any field set to true, there's a new suggested value.","type":"object","properties":{"chartIdSuggested":{"description":"Indicates if there was a suggested change to chart_id.","type":"boolean"},"spreadsheetIdSuggested":{"description":"Indicates if there was a suggested change to spreadsheet_id.","type":"boolean"}}},"docs_v1_CreateFootnoteRequest":{"description":"Creates a Footnote segment and inserts a new FootnoteReference to it at the given location. The new Footnote segment will contain a space followed by a newline character.","type":"object","properties":{"endOfSegmentLocation":{"$ref":"#/components/schemas/docs_v1_EndOfSegmentLocation"},"location":{"$ref":"#/components/schemas/docs_v1_Location"}}},"docs_v1_DocumentStyleSuggestionState":{"description":"A mask that indicates which of the fields on the base DocumentStyle have been changed in this suggestion. For any field set to true, there's a new suggested value.","type":"object","properties":{"useEvenPageHeaderFooterSuggested":{"description":"Indicates if there was a suggested change to use_even_page_header_footer.","type":"boolean"},"firstPageHeaderIdSuggested":{"description":"Indicates if there was a suggested change to first_page_header_id.","type":"boolean"},"firstPageFooterIdSuggested":{"description":"Indicates if there was a suggested change to first_page_footer_id.","type":"boolean"},"defaultHeaderIdSuggested":{"description":"Indicates if there was a suggested change to default_header_id.","type":"boolean"},"useFirstPageHeaderFooterSuggested":{"description":"Indicates if there was a suggested change to use_first_page_header_footer.","type":"boolean"},"flipPageOrientationSuggested":{"description":"Optional. Indicates if there was a suggested change to flip_page_orientation.","type":"boolean"},"pageNumberStartSuggested":{"description":"Indicates if there was a suggested change to page_number_start.","type":"boolean"},"marginRightSuggested":{"description":"Indicates if there was a suggested change to margin_right.","type":"boolean"},"marginLeftSuggested":{"description":"Indicates if there was a suggested change to margin_left.","type":"boolean"},"marginFooterSuggested":{"description":"Indicates if there was a suggested change to margin_footer.","type":"boolean"},"evenPageFooterIdSuggested":{"description":"Indicates if there was a suggested change to even_page_footer_id.","type":"boolean"},"backgroundSuggestionState":{"$ref":"#/components/schemas/docs_v1_BackgroundSuggestionState"},"marginBottomSuggested":{"description":"Indicates if there was a suggested change to margin_bottom.","type":"boolean"},"marginHeaderSuggested":{"description":"Indicates if there was a suggested change to margin_header.","type":"boolean"},"defaultFooterIdSuggested":{"description":"Indicates if there was a suggested change to default_footer_id.","type":"boolean"},"useCustomHeaderFooterMarginsSuggested":{"description":"Indicates if there was a suggested change to use_custom_header_footer_margins.","type":"boolean"},"evenPageHeaderIdSuggested":{"description":"Indicates if there was a suggested change to even_page_header_id.","type":"boolean"},"marginTopSuggested":{"description":"Indicates if there was a suggested change to margin_top.","type":"boolean"},"pageSizeSuggestionState":{"$ref":"#/components/schemas/docs_v1_SizeSuggestionState"}}},"docs_v1_SectionStyle":{"description":"The styling that applies to a section.","type":"object","properties":{"marginBottom":{"$ref":"#/components/schemas/docs_v1_Dimension"},"firstPageFooterId":{"description":"The ID of the footer used only for the first page of the section. If use_first_page_header_footer is true, this value is used for the footer on the first page of the section. If it's false, the footer on the first page of the section uses the default_footer_id. If unset, the value inherits from the previous SectionBreak's SectionStyle. If the value is unset in the first SectionBreak, it inherits from DocumentStyle's first_page_footer_id. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only.","type":"string"},"marginLeft":{"$ref":"#/components/schemas/docs_v1_Dimension"},"marginHeader":{"$ref":"#/components/schemas/docs_v1_Dimension"},"contentDirection":{"description":"The content direction of this section. If unset, the value defaults to LEFT_TO_RIGHT. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error.","enum":["CONTENT_DIRECTION_UNSPECIFIED","LEFT_TO_RIGHT","RIGHT_TO_LEFT"],"type":"string"},"columnProperties":{"description":"The section's columns properties. If empty, the section contains one column with the default properties in the Docs editor. A section can be updated to have no more than 3 columns. When updating this property, setting a concrete value is required. Unsetting this property will result in a 400 bad request error.","type":"array","items":{"$ref":"#/components/schemas/docs_v1_SectionColumnProperties"}},"evenPageHeaderId":{"description":"The ID of the header used only for even pages. If the value of DocumentStyle's use_even_page_header_footer is true, this value is used for the headers on even pages in the section. If it is false, the headers on even pages use the default_header_id. If unset, the value inherits from the previous SectionBreak's SectionStyle. If the value is unset in the first SectionBreak, it inherits from DocumentStyle's even_page_header_id. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only.","type":"string"},"marginFooter":{"$ref":"#/components/schemas/docs_v1_Dimension"},"columnSeparatorStyle":{"description":"The style of column separators. This style can be set even when there's one column in the section. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error.","enum":["COLUMN_SEPARATOR_STYLE_UNSPECIFIED","NONE","BETWEEN_EACH_COLUMN"],"type":"string"},"useFirstPageHeaderFooter":{"description":"Indicates whether to use the first page header / footer IDs for the first page of the section. If unset, it inherits from DocumentStyle's use_first_page_header_footer for the first section. If the value is unset for subsequent sectors, it should be interpreted as false. If DocumentMode is PAGELESS, this property will not be rendered. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error.","type":"boolean"},"marginRight":{"$ref":"#/components/schemas/docs_v1_Dimension"},"evenPageFooterId":{"description":"The ID of the footer used only for even pages. If the value of DocumentStyle's use_even_page_header_footer is true, this value is used for the footers on even pages in the section. If it is false, the footers on even pages use the default_footer_id. If unset, the value inherits from the previous SectionBreak's SectionStyle. If the value is unset in the first SectionBreak, it inherits from DocumentStyle's even_page_footer_id. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only.","type":"string"},"marginTop":{"$ref":"#/components/schemas/docs_v1_Dimension"},"sectionType":{"description":"Output only. The type of section.","enum":["SECTION_TYPE_UNSPECIFIED","CONTINUOUS","NEXT_PAGE"],"type":"string"},"flipPageOrientation":{"description":"Optional. Indicates whether to flip the dimensions of DocumentStyle's page_size for this section, which allows changing the page orientation between portrait and landscape. If unset, the value inherits from DocumentStyle's flip_page_orientation. If DocumentMode is PAGELESS, this property will not be rendered. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error.","type":"boolean"},"pageNumberStart":{"description":"The page number from which to start counting the number of pages for this section. If unset, page numbering continues from the previous section. If the value is unset in the first SectionBreak, refer to DocumentStyle's page_number_start. If DocumentMode is PAGELESS, this property will not be rendered. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error.","format":"int32","type":"integer"},"defaultHeaderId":{"description":"The ID of the default header. If unset, the value inherits from the previous SectionBreak's SectionStyle. If the value is unset in the first SectionBreak, it inherits from DocumentStyle's default_header_id. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only.","type":"string"},"defaultFooterId":{"description":"The ID of the default footer. If unset, the value inherits from the previous SectionBreak's SectionStyle. If the value is unset in the first SectionBreak, it inherits from DocumentStyle's default_footer_id. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only.","type":"string"},"firstPageHeaderId":{"description":"The ID of the header used only for the first page of the section. If use_first_page_header_footer is true, this value is used for the header on the first page of the section. If it's false, the header on the first page of the section uses the default_header_id. If unset, the value inherits from the previous SectionBreak's SectionStyle. If the value is unset in the first SectionBreak, it inherits from DocumentStyle's first_page_header_id. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only.","type":"string"}}},"docs_v1_TextRun":{"description":"A ParagraphElement that represents a run of text that all has the same styling.","type":"object","properties":{"textStyle":{"$ref":"#/components/schemas/docs_v1_TextStyle"},"suggestedTextStyleChanges":{"description":"The suggested text style changes to this run, keyed by suggestion ID.","type":"object","additionalProperties":{"$ref":"#/components/schemas/docs_v1_SuggestedTextStyle"}},"suggestedInsertionIds":{"description":"The suggested insertion IDs. A TextRun may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion.","type":"array","items":{"type":"string"}},"content":{"description":"The text of this run. Any non-text elements in the run are replaced with the Unicode character U+E907.","type":"string"},"suggestedDeletionIds":{"description":"The suggested deletion IDs. If empty, then there are no suggested deletions of this content.","type":"array","items":{"type":"string"}}}},"docs_v1_ParagraphElement":{"description":"A ParagraphElement describes content within a Paragraph.","type":"object","properties":{"inlineObjectElement":{"$ref":"#/components/schemas/docs_v1_InlineObjectElement"},"richLink":{"$ref":"#/components/schemas/docs_v1_RichLink"},"horizontalRule":{"$ref":"#/components/schemas/docs_v1_HorizontalRule"},"person":{"$ref":"#/components/schemas/docs_v1_Person"},"pageBreak":{"$ref":"#/components/schemas/docs_v1_PageBreak"},"startIndex":{"description":"The zero-based start index of this paragraph element, in UTF-16 code units.","format":"int32","type":"integer"},"dateElement":{"$ref":"#/components/schemas/docs_v1_DateElement"},"textRun":{"$ref":"#/components/schemas/docs_v1_TextRun"},"endIndex":{"description":"The zero-base end index of this paragraph element, exclusive, in UTF-16 code units.","format":"int32","type":"integer"},"autoText":{"$ref":"#/components/schemas/docs_v1_AutoText"},"footnoteReference":{"$ref":"#/components/schemas/docs_v1_FootnoteReference"},"equation":{"$ref":"#/components/schemas/docs_v1_Equation"},"columnBreak":{"$ref":"#/components/schemas/docs_v1_ColumnBreak"}}},"docs_v1_UpdateTableColumnPropertiesRequest":{"description":"Updates the TableColumnProperties of columns in a table.","type":"object","properties":{"tableColumnProperties":{"$ref":"#/components/schemas/docs_v1_TableColumnProperties"},"fields":{"description":"The fields that should be updated. At least one field must be specified. The root `tableColumnProperties` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the column width, set `fields` to `\"width\"`.","format":"google-fieldmask","type":"string"},"columnIndices":{"description":"The list of zero-based column indices whose property should be updated. If no indices are specified, all columns will be updated.","type":"array","items":{"format":"int32","type":"integer"}},"tableStartLocation":{"$ref":"#/components/schemas/docs_v1_Location"}}},"docs_v1_DeleteFooterRequest":{"description":"Deletes a Footer from the document.","type":"object","properties":{"footerId":{"description":"The id of the footer to delete. If this footer is defined on DocumentStyle, the reference to this footer is removed, resulting in no footer of that type for the first section of the document. If this footer is defined on a SectionStyle, the reference to this footer is removed and the footer of that type is now continued from the previous section.","type":"string"},"tabId":{"description":"The tab that contains the footer to delete. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document.","type":"string"}}},"docs_v1_ImageProperties":{"description":"The properties of an image.","type":"object","properties":{"angle":{"description":"The clockwise rotation angle of the image, in radians.","format":"float","type":"number"},"transparency":{"description":"The transparency effect of the image. The value should be in the interval [0.0, 1.0], where 0 means no effect and 1 means transparent.","format":"float","type":"number"},"sourceUri":{"description":"The source URI is the URI used to insert the image. The source URI can be empty.","type":"string"},"contrast":{"description":"The contrast effect of the image. The value should be in the interval [-1.0, 1.0], where 0 means no effect.","format":"float","type":"number"},"contentUri":{"description":"A URI to the image with a default lifetime of 30 minutes. This URI is tagged with the account of the requester. Anyone with the URI effectively accesses the image as the original requester. Access to the image may be lost if the document's sharing settings change.","type":"string"},"brightness":{"description":"The brightness effect of the image. The value should be in the interval [-1.0, 1.0], where 0 means no effect.","format":"float","type":"number"},"cropProperties":{"$ref":"#/components/schemas/docs_v1_CropProperties"}}},"docs_v1_Person":{"description":"A person or email address mentioned in a document. These mentions behave as a single, immutable element containing the person's name or email address.","type":"object","properties":{"suggestedTextStyleChanges":{"description":"The suggested text style changes to this Person, keyed by suggestion ID.","type":"object","additionalProperties":{"$ref":"#/components/schemas/docs_v1_SuggestedTextStyle"}},"personProperties":{"$ref":"#/components/schemas/docs_v1_PersonProperties"},"suggestedInsertionIds":{"description":"IDs for suggestions that insert this person link into the document. A Person might have multiple insertion IDs if it's a nested suggested change (a suggestion within a suggestion made by a different user, for example). If empty, then this person link isn't a suggested insertion.","type":"array","items":{"type":"string"}},"textStyle":{"$ref":"#/components/schemas/docs_v1_TextStyle"},"suggestedDeletionIds":{"description":"IDs for suggestions that remove this person link from the document. A Person might have multiple deletion IDs if, for example, multiple users suggest deleting it. If empty, then this person link isn't suggested for deletion.","type":"array","items":{"type":"string"}},"personId":{"description":"Output only. The unique ID of this link.","readOnly":true,"type":"string"}}},"docs_v1_PositionedObjectPositioningSuggestionState":{"description":"A mask that indicates which of the fields on the base PositionedObjectPositioning have been changed in this suggestion. For any field set to true, there's a new suggested value.","type":"object","properties":{"leftOffsetSuggested":{"description":"Indicates if there was a suggested change to left_offset.","type":"boolean"},"layoutSuggested":{"description":"Indicates if there was a suggested change to layout.","type":"boolean"},"topOffsetSuggested":{"description":"Indicates if there was a suggested change to top_offset.","type":"boolean"}}},"docs_v1_SuggestedPositionedObjectProperties":{"description":"A suggested change to PositionedObjectProperties.","type":"object","properties":{"positionedObjectPropertiesSuggestionState":{"$ref":"#/components/schemas/docs_v1_PositionedObjectPropertiesSuggestionState"},"positionedObjectProperties":{"$ref":"#/components/schemas/docs_v1_PositionedObjectProperties"}}},"docs_v1_InsertPageBreakRequest":{"description":"Inserts a page break followed by a newline at the specified location.","type":"object","properties":{"location":{"$ref":"#/components/schemas/docs_v1_Location"},"endOfSegmentLocation":{"$ref":"#/components/schemas/docs_v1_EndOfSegmentLocation"}}},"docs_v1_Equation":{"description":"A ParagraphElement representing an equation.","type":"object","properties":{"suggestedInsertionIds":{"description":"The suggested insertion IDs. An Equation may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion.","type":"array","items":{"type":"string"}},"suggestedDeletionIds":{"description":"The suggested deletion IDs. If empty, then there are no suggested deletions of this content.","type":"array","items":{"type":"string"}}}},"docs_v1_InsertInlineImageResponse":{"description":"The result of inserting an inline image.","type":"object","properties":{"objectId":{"description":"The ID of the created InlineObject.","type":"string"}}},"docs_v1_RgbColor":{"description":"An RGB color.","type":"object","properties":{"green":{"description":"The green component of the color, from 0.0 to 1.0.","format":"float","type":"number"},"red":{"description":"The red component of the color, from 0.0 to 1.0.","format":"float","type":"number"},"blue":{"description":"The blue component of the color, from 0.0 to 1.0.","format":"float","type":"number"}}},"docs_v1_Tab":{"description":"A tab in a document.","type":"object","properties":{"documentTab":{"$ref":"#/components/schemas/docs_v1_DocumentTab"},"childTabs":{"description":"The child tabs nested within this tab.","type":"array","items":{"$ref":"#/components/schemas/docs_v1_Tab"}},"tabProperties":{"$ref":"#/components/schemas/docs_v1_TabProperties"}}},"docs_v1_InsertTableColumnRequest":{"description":"Inserts an empty column into a table.","type":"object","properties":{"insertRight":{"description":"Whether to insert new column to the right of the reference cell location. - `True`: insert to the right. - `False`: insert to the left.","type":"boolean"},"tableCellLocation":{"$ref":"#/components/schemas/docs_v1_TableCellLocation"}}},"docs_v1_DeleteTabRequest":{"description":"Deletes a tab. If the tab has child tabs, they are deleted as well.","type":"object","properties":{"tabId":{"description":"The ID of the tab to delete.","type":"string"}}},"docs_v1_BackgroundSuggestionState":{"description":"A mask that indicates which of the fields on the base Background have been changed in this suggestion. For any field set to true, the Backgound has a new suggested value.","type":"object","properties":{"backgroundColorSuggested":{"description":"Indicates whether the current background color has been modified in this suggestion.","type":"boolean"}}},"docs_v1_DeletePositionedObjectRequest":{"description":"Deletes a PositionedObject from the document.","type":"object","properties":{"tabId":{"description":"The tab that the positioned object to delete is in. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document.","type":"string"},"objectId":{"description":"The ID of the positioned object to delete.","type":"string"}}},"docs_v1_UnmergeTableCellsRequest":{"description":"Unmerges cells in a Table.","type":"object","properties":{"tableRange":{"$ref":"#/components/schemas/docs_v1_TableRange"}}},"docs_v1_ParagraphStyleSuggestionState":{"description":"A mask that indicates which of the fields on the base ParagraphStyle have been changed in this suggestion. For any field set to true, there's a new suggested value.","type":"object","properties":{"indentFirstLineSuggested":{"description":"Indicates if there was a suggested change to indent_first_line.","type":"boolean"},"spaceAboveSuggested":{"description":"Indicates if there was a suggested change to space_above.","type":"boolean"},"headingIdSuggested":{"description":"Indicates if there was a suggested change to heading_id.","type":"boolean"},"avoidWidowAndOrphanSuggested":{"description":"Indicates if there was a suggested change to avoid_widow_and_orphan.","type":"boolean"},"lineSpacingSuggested":{"description":"Indicates if there was a suggested change to line_spacing.","type":"boolean"},"spacingModeSuggested":{"description":"Indicates if there was a suggested change to spacing_mode.","type":"boolean"},"directionSuggested":{"description":"Indicates if there was a suggested change to direction.","type":"boolean"},"spaceBelowSuggested":{"description":"Indicates if there was a suggested change to space_below.","type":"boolean"},"borderBetweenSuggested":{"description":"Indicates if there was a suggested change to border_between.","type":"boolean"},"keepLinesTogetherSuggested":{"description":"Indicates if there was a suggested change to keep_lines_together.","type":"boolean"},"borderRightSuggested":{"description":"Indicates if there was a suggested change to border_right.","type":"boolean"},"pageBreakBeforeSuggested":{"description":"Indicates if there was a suggested change to page_break_before.","type":"boolean"},"borderLeftSuggested":{"description":"Indicates if there was a suggested change to border_left.","type":"boolean"},"namedStyleTypeSuggested":{"description":"Indicates if there was a suggested change to named_style_type.","type":"boolean"},"alignmentSuggested":{"description":"Indicates if there was a suggested change to alignment.","type":"boolean"},"indentEndSuggested":{"description":"Indicates if there was a suggested change to indent_end.","type":"boolean"},"indentStartSuggested":{"description":"Indicates if there was a suggested change to indent_start.","type":"boolean"},"keepWithNextSuggested":{"description":"Indicates if there was a suggested change to keep_with_next.","type":"boolean"},"borderTopSuggested":{"description":"Indicates if there was a suggested change to border_top.","type":"boolean"},"shadingSuggestionState":{"$ref":"#/components/schemas/docs_v1_ShadingSuggestionState"},"borderBottomSuggested":{"description":"Indicates if there was a suggested change to border_bottom.","type":"boolean"}}},"docs_v1_UpdateSectionStyleRequest":{"description":"Updates the SectionStyle.","type":"object","properties":{"sectionStyle":{"$ref":"#/components/schemas/docs_v1_SectionStyle"},"range":{"$ref":"#/components/schemas/docs_v1_Range"},"fields":{"description":"The fields that should be updated. At least one field must be specified. The root `section_style` is implied and must not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the left margin, set `fields` to `\"margin_left\"`.","format":"google-fieldmask","type":"string"}}},"docs_v1_ParagraphStyle":{"description":"Styles that apply to a whole paragraph. Inherited paragraph styles are represented as unset fields in this message. A paragraph style's parent depends on where the paragraph style is defined: * The ParagraphStyle on a Paragraph inherits from the paragraph's corresponding named style type. * The ParagraphStyle on a named style inherits from the normal text named style. * The ParagraphStyle of the normal text named style inherits from the default paragraph style in the Docs editor. * The ParagraphStyle on a Paragraph element that's contained in a table may inherit its paragraph style from the table style. If the paragraph style does not inherit from a parent, unsetting fields will revert the style to a value matching the defaults in the Docs editor.","type":"object","properties":{"indentFirstLine":{"$ref":"#/components/schemas/docs_v1_Dimension"},"pageBreakBefore":{"description":"Whether the current paragraph should always start at the beginning of a page. If unset, the value is inherited from the parent. Attempting to update page_break_before for paragraphs in unsupported regions, including Table, Header, Footer and Footnote, can result in an invalid document state that returns a 400 bad request error.","type":"boolean"},"borderRight":{"$ref":"#/components/schemas/docs_v1_ParagraphBorder"},"shading":{"$ref":"#/components/schemas/docs_v1_Shading"},"borderBetween":{"$ref":"#/components/schemas/docs_v1_ParagraphBorder"},"spaceAbove":{"$ref":"#/components/schemas/docs_v1_Dimension"},"indentStart":{"$ref":"#/components/schemas/docs_v1_Dimension"},"avoidWidowAndOrphan":{"description":"Whether to avoid widows and orphans for the paragraph. If unset, the value is inherited from the parent.","type":"boolean"},"direction":{"description":"The text direction of this paragraph. If unset, the value defaults to LEFT_TO_RIGHT since paragraph direction is not inherited.","enum":["CONTENT_DIRECTION_UNSPECIFIED","LEFT_TO_RIGHT","RIGHT_TO_LEFT"],"type":"string"},"namedStyleType":{"description":"The named style type of the paragraph. Since updating the named style type affects other properties within ParagraphStyle, the named style type is applied before the other properties are updated.","enum":["NAMED_STYLE_TYPE_UNSPECIFIED","NORMAL_TEXT","TITLE","SUBTITLE","HEADING_1","HEADING_2","HEADING_3","HEADING_4","HEADING_5","HEADING_6"],"type":"string"},"alignment":{"description":"The text alignment for this paragraph.","enum":["ALIGNMENT_UNSPECIFIED","START","CENTER","END","JUSTIFIED"],"type":"string"},"spaceBelow":{"$ref":"#/components/schemas/docs_v1_Dimension"},"lineSpacing":{"description":"The amount of space between lines, as a percentage of normal, where normal is represented as 100.0. If unset, the value is inherited from the parent.","format":"float","type":"number"},"headingId":{"description":"The heading ID of the paragraph. If empty, then this paragraph is not a heading. This property is read-only.","type":"string"},"borderLeft":{"$ref":"#/components/schemas/docs_v1_ParagraphBorder"},"indentEnd":{"$ref":"#/components/schemas/docs_v1_Dimension"},"borderBottom":{"$ref":"#/components/schemas/docs_v1_ParagraphBorder"},"borderTop":{"$ref":"#/components/schemas/docs_v1_ParagraphBorder"},"keepLinesTogether":{"description":"Whether all lines of the paragraph should be laid out on the same page or column if possible. If unset, the value is inherited from the parent.","type":"boolean"},"tabStops":{"description":"A list of the tab stops for this paragraph. The list of tab stops is not inherited. This property is read-only.","type":"array","items":{"$ref":"#/components/schemas/docs_v1_TabStop"}},"keepWithNext":{"description":"Whether at least a part of this paragraph should be laid out on the same page or column as the next paragraph if possible. If unset, the value is inherited from the parent.","type":"boolean"},"spacingMode":{"description":"The spacing mode for the paragraph.","enum":["SPACING_MODE_UNSPECIFIED","NEVER_COLLAPSE","COLLAPSE_LISTS"],"type":"string"}}},"docs_v1_Footnote":{"description":"A document footnote.","type":"object","properties":{"footnoteId":{"description":"The ID of the footnote.","type":"string"},"content":{"description":"The contents of the footnote. The indexes for a footnote's content begin at zero.","type":"array","items":{"$ref":"#/components/schemas/docs_v1_StructuralElement"}}}},"docs_v1_InsertTableRowRequest":{"description":"Inserts an empty row into a table.","type":"object","properties":{"insertBelow":{"description":"Whether to insert new row below the reference cell location. - `True`: insert below the cell. - `False`: insert above the cell.","type":"boolean"},"tableCellLocation":{"$ref":"#/components/schemas/docs_v1_TableCellLocation"}}},"docs_v1_Header":{"description":"A document header.","type":"object","properties":{"headerId":{"description":"The ID of the header.","type":"string"},"content":{"description":"The contents of the header. The indexes for a header's content begin at zero.","type":"array","items":{"$ref":"#/components/schemas/docs_v1_StructuralElement"}}}},"docs_v1_DateElementPropertiesSuggestionState":{"description":"A mask that indicates which of the fields on the base DateElementProperties have been changed in this suggestion. For any field set to true, there's a new suggested value.","type":"object","properties":{"dateFormatSuggested":{"description":"Indicates if there was a suggested change to date_format.","type":"boolean"},"timeFormatSuggested":{"description":"Indicates if there was a suggested change to time_format.","type":"boolean"},"timestampSuggested":{"description":"Indicates if there was a suggested change to timestamp.","type":"boolean"},"timeZoneIdSuggested":{"description":"Indicates if there was a suggested change to time_zone_id.","type":"boolean"},"localeSuggested":{"description":"Indicates if there was a suggested change to locale.","type":"boolean"}}},"docs_v1_NamedStylesSuggestionState":{"description":"The suggestion state of a NamedStyles message.","type":"object","properties":{"stylesSuggestionStates":{"description":"A mask that indicates which of the fields on the corresponding NamedStyle in styles have been changed in this suggestion. The order of these named style suggestion states matches the order of the corresponding named style within the named styles suggestion.","type":"array","items":{"$ref":"#/components/schemas/docs_v1_NamedStyleSuggestionState"}}}},"docs_v1_Bullet":{"description":"Describes the bullet of a paragraph.","type":"object","properties":{"nestingLevel":{"description":"The nesting level of this paragraph in the list.","format":"int32","type":"integer"},"textStyle":{"$ref":"#/components/schemas/docs_v1_TextStyle"},"listId":{"description":"The ID of the list this paragraph belongs to.","type":"string"}}},"docs_v1_SuggestedNamedStyles":{"description":"A suggested change to the NamedStyles.","type":"object","properties":{"namedStylesSuggestionState":{"$ref":"#/components/schemas/docs_v1_NamedStylesSuggestionState"},"namedStyles":{"$ref":"#/components/schemas/docs_v1_NamedStyles"}}},"docs_v1_PositionedObjectProperties":{"description":"Properties of a PositionedObject.","type":"object","properties":{"positioning":{"$ref":"#/components/schemas/docs_v1_PositionedObjectPositioning"},"embeddedObject":{"$ref":"#/components/schemas/docs_v1_EmbeddedObject"}}},"docs_v1_ObjectReferences":{"description":"A collection of object IDs.","type":"object","properties":{"objectIds":{"description":"The object IDs.","type":"array","items":{"type":"string"}}}},"docs_v1_ListPropertiesSuggestionState":{"description":"A mask that indicates which of the fields on the base ListProperties have been changed in this suggestion. For any field set to true, there's a new suggested value.","type":"object","properties":{"nestingLevelsSuggestionStates":{"description":"A mask that indicates which of the fields on the corresponding NestingLevel in nesting_levels have been changed in this suggestion. The nesting level suggestion states are returned in ascending order of the nesting level with the least nested returned first.","type":"array","items":{"$ref":"#/components/schemas/docs_v1_NestingLevelSuggestionState"}}}},"docs_v1_SuggestedTableCellStyle":{"description":"A suggested change to a TableCellStyle.","type":"object","properties":{"tableCellStyle":{"$ref":"#/components/schemas/docs_v1_TableCellStyle"},"tableCellStyleSuggestionState":{"$ref":"#/components/schemas/docs_v1_TableCellStyleSuggestionState"}}},"docs_v1_ReplaceAllTextResponse":{"description":"The result of replacing text.","type":"object","properties":{"occurrencesChanged":{"description":"The number of occurrences changed by replacing all text.","format":"int32","type":"integer"}}},"docs_v1_CreateParagraphBulletsRequest":{"description":"Creates bullets for all of the paragraphs that overlap with the given range. The nesting level of each paragraph will be determined by counting leading tabs in front of each paragraph. To avoid excess space between the bullet and the corresponding paragraph, these leading tabs are removed by this request. This may change the indices of parts of the text. If the paragraph immediately before paragraphs being updated is in a list with a matching preset, the paragraphs being updated are added to that preceding list.","type":"object","properties":{"bulletPreset":{"description":"The kinds of bullet glyphs to be used.","enum":["BULLET_GLYPH_PRESET_UNSPECIFIED","BULLET_DISC_CIRCLE_SQUARE","BULLET_DIAMONDX_ARROW3D_SQUARE","BULLET_CHECKBOX","BULLET_ARROW_DIAMOND_DISC","BULLET_STAR_CIRCLE_SQUARE","BULLET_ARROW3D_CIRCLE_SQUARE","BULLET_LEFTTRIANGLE_DIAMOND_DISC","BULLET_DIAMONDX_HOLLOWDIAMOND_SQUARE","BULLET_DIAMOND_CIRCLE_SQUARE","NUMBERED_DECIMAL_ALPHA_ROMAN","NUMBERED_DECIMAL_ALPHA_ROMAN_PARENS","NUMBERED_DECIMAL_NESTED","NUMBERED_UPPERALPHA_ALPHA_ROMAN","NUMBERED_UPPERROMAN_UPPERALPHA_DECIMAL","NUMBERED_ZERODECIMAL_ALPHA_ROMAN"],"type":"string"},"range":{"$ref":"#/components/schemas/docs_v1_Range"}}},"docs_v1_SuggestedListProperties":{"description":"A suggested change to ListProperties.","type":"object","properties":{"listProperties":{"$ref":"#/components/schemas/docs_v1_ListProperties"},"listPropertiesSuggestionState":{"$ref":"#/components/schemas/docs_v1_ListPropertiesSuggestionState"}}},"docs_v1_InlineObjectProperties":{"description":"Properties of an InlineObject.","type":"object","properties":{"embeddedObject":{"$ref":"#/components/schemas/docs_v1_EmbeddedObject"}}},"docs_v1_SheetsChartReference":{"description":"A reference to a linked chart embedded from Google Sheets.","type":"object","properties":{"spreadsheetId":{"description":"The ID of the Google Sheets spreadsheet that contains the source chart.","type":"string"},"chartId":{"description":"The ID of the specific chart in the Google Sheets spreadsheet that's embedded.","format":"int32","type":"integer"}}},"docs_v1_DateElementProperties":{"description":"Properties of a DateElement.","type":"object","properties":{"locale":{"description":"The language code of the DateElement. For example, `en`. If unset, the default locale is `en`. Limited to the following locales: `af`, `am`, `ar`, `as`, `az`, `be`, `bg`, `bn`, `ca`, `cs`, `da`, `de`, `el`, `en`, `en-CA`, `en-GB`, `es`, `es-419`, `et`, `eu`, `fa`, `fi`, `fil`, `fr`, `fr-CA`, `gl`, `gu`, `hi`, `hr`, `hu`, `hy`, `id`, `is`, `it`, `iw`, `ja`, `ka`, `kk`, `km`, `kn`, `ko`, `lo`, `lt`, `lv`, `mk`, `ml`, `mn`, `mr`, `ms`, `ne`, `nl`, `no`, `or`, `pa`, `pl`, `pt-BR`, `pt-PT`, `ro`, `ru`, `si`, `sk`, `sl`, `sq`, `sr`, `sv`, `sw`, `ta`, `te`, `th`, `tr`, `uk`, `ur`, `uz`, `vi`, `zh-CN`, `zh-HK`, `zh-TW`, `zu`, `cy`, `my`.","type":"string"},"timestamp":{"description":"The point in time to represent, in seconds and nanoseconds since Unix epoch: January 1, 1970 at midnight UTC. Timestamp is expected to be in UTC. If time_zone_id is set, the timestamp is adjusted according to the time zone. For example, a timestamp of `18000` with a date format of `DATE_FORMAT_ISO8601` and time format of `TIME_FORMAT_HOUR_MINUTE` would be displayed as `1970-01-01 5:00 AM`. A timestamp of `18000` with date format of `DATE_FORMAT_ISO8601`, time format of `TIME_FORMAT_HOUR_MINUTE`, and time zone set to `America/New_York` will instead be `1970-01-01 12:00 AM`.","format":"google-datetime","type":"string"},"timeFormat":{"description":"Determines how the time part of the DateElement will be displayed in the document. If unset, the default value is TIME_FORMAT_DISABLED, indicating no time should be shown.","enum":["TIME_FORMAT_UNSPECIFIED","TIME_FORMAT_DISABLED","TIME_FORMAT_HOUR_MINUTE","TIME_FORMAT_HOUR_MINUTE_TIMEZONE"],"type":"string"},"timeZoneId":{"description":"The time zone of the DateElement, as defined by the Unicode Common Locale Data Repository (CLDR) project. For example, `America/New_York`. If unset, the default time zone is `etc/UTC`.","type":"string"},"dateFormat":{"description":"Determines how the date part of the DateElement will be displayed in the document. If unset, the default value is DATE_FORMAT_MONTH_DAY_YEAR_ABBREVIATED, indicating the DateElement will be formatted as `MMM d, y` in `en`, or locale specific equivalent.","enum":["DATE_FORMAT_UNSPECIFIED","DATE_FORMAT_CUSTOM","DATE_FORMAT_MONTH_DAY_ABBREVIATED","DATE_FORMAT_MONTH_DAY_FULL","DATE_FORMAT_MONTH_DAY_YEAR_ABBREVIATED","DATE_FORMAT_ISO8601"],"type":"string"},"displayText":{"description":"Output only. Indicates how the DateElement is displayed in the document.","type":"string"}}},"docs_v1_EmbeddedDrawingPropertiesSuggestionState":{"description":"A mask that indicates which of the fields on the base EmbeddedDrawingProperties have been changed in this suggestion. For any field set to true, there's a new suggested value.","type":"object"},"docs_v1_CreateHeaderResponse":{"description":"The result of creating a header.","type":"object","properties":{"headerId":{"description":"The ID of the created header.","type":"string"}}},"docs_v1_TableRow":{"description":"The contents and style of a row in a Table.","type":"object","properties":{"suggestedDeletionIds":{"description":"The suggested deletion IDs. If empty, then there are no suggested deletions of this content.","type":"array","items":{"type":"string"}},"endIndex":{"description":"The zero-based end index of this row, exclusive, in UTF-16 code units.","format":"int32","type":"integer"},"tableRowStyle":{"$ref":"#/components/schemas/docs_v1_TableRowStyle"},"startIndex":{"description":"The zero-based start index of this row, in UTF-16 code units.","format":"int32","type":"integer"},"suggestedInsertionIds":{"description":"The suggested insertion IDs. A TableRow may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion.","type":"array","items":{"type":"string"}},"suggestedTableRowStyleChanges":{"description":"The suggested style changes to this row, keyed by suggestion ID.","type":"object","additionalProperties":{"$ref":"#/components/schemas/docs_v1_SuggestedTableRowStyle"}},"tableCells":{"description":"The contents and style of each cell in this row. It's possible for a table to be non-rectangular, so some rows may have a different number of cells than other rows in the same table.","type":"array","items":{"$ref":"#/components/schemas/docs_v1_TableCell"}}}},"docs_v1_DeleteNamedRangeRequest":{"description":"Deletes a NamedRange.","type":"object","properties":{"name":{"description":"The name of the range(s) to delete. All named ranges with the given name will be deleted.","type":"string"},"tabsCriteria":{"$ref":"#/components/schemas/docs_v1_TabsCriteria"},"namedRangeId":{"description":"The ID of the named range to delete.","type":"string"}}},"docs_v1_AddDocumentTabRequest":{"description":"Adds a document tab. When a tab is added at a given index, all subsequent tabs' indexes are incremented.","type":"object","properties":{"tabProperties":{"$ref":"#/components/schemas/docs_v1_TabProperties"}}},"docs_v1_SuggestedParagraphStyle":{"description":"A suggested change to a ParagraphStyle.","type":"object","properties":{"paragraphStyleSuggestionState":{"$ref":"#/components/schemas/docs_v1_ParagraphStyleSuggestionState"},"paragraphStyle":{"$ref":"#/components/schemas/docs_v1_ParagraphStyle"}}},"docs_v1_ReplaceAllTextRequest":{"description":"Replaces all instances of text matching a criteria with replace text.","type":"object","properties":{"replaceText":{"description":"The text that will replace the matched text.","type":"string"},"tabsCriteria":{"$ref":"#/components/schemas/docs_v1_TabsCriteria"},"containsText":{"$ref":"#/components/schemas/docs_v1_SubstringMatchCriteria"}}},"docs_v1_SuggestedDocumentStyle":{"description":"A suggested change to the DocumentStyle.","type":"object","properties":{"documentStyle":{"$ref":"#/components/schemas/docs_v1_DocumentStyle"},"documentStyleSuggestionState":{"$ref":"#/components/schemas/docs_v1_DocumentStyleSuggestionState"}}},"docs_v1_TableCellStyle":{"description":"The style of a TableCell. Inherited table cell styles are represented as unset fields in this message. A table cell style can inherit from the table's style.","type":"object","properties":{"borderLeft":{"$ref":"#/components/schemas/docs_v1_TableCellBorder"},"rowSpan":{"description":"The row span of the cell. This property is read-only.","format":"int32","type":"integer"},"paddingTop":{"$ref":"#/components/schemas/docs_v1_Dimension"},"backgroundColor":{"$ref":"#/components/schemas/docs_v1_OptionalColor"},"borderTop":{"$ref":"#/components/schemas/docs_v1_TableCellBorder"},"borderBottom":{"$ref":"#/components/schemas/docs_v1_TableCellBorder"},"contentAlignment":{"description":"The alignment of the content in the table cell. The default alignment matches the alignment for newly created table cells in the Docs editor.","enum":["CONTENT_ALIGNMENT_UNSPECIFIED","CONTENT_ALIGNMENT_UNSUPPORTED","TOP","MIDDLE","BOTTOM"],"type":"string"},"paddingLeft":{"$ref":"#/components/schemas/docs_v1_Dimension"},"columnSpan":{"description":"The column span of the cell. This property is read-only.","format":"int32","type":"integer"},"borderRight":{"$ref":"#/components/schemas/docs_v1_TableCellBorder"},"paddingBottom":{"$ref":"#/components/schemas/docs_v1_Dimension"},"paddingRight":{"$ref":"#/components/schemas/docs_v1_Dimension"}}},"docs_v1_InsertRichLinkRequest":{"description":"Inserts a RichLink at the specified location.","type":"object","properties":{"richLinkProperties":{"$ref":"#/components/schemas/docs_v1_RichLinkProperties"},"location":{"$ref":"#/components/schemas/docs_v1_Location"},"endOfSegmentLocation":{"$ref":"#/components/schemas/docs_v1_EndOfSegmentLocation"}}},"docs_v1_RichLink":{"description":"A link to a Google resource (such as a file in Drive, a YouTube video, or a Calendar event).","type":"object","properties":{"suggestedTextStyleChanges":{"description":"The suggested text style changes to this RichLink, keyed by suggestion ID.","type":"object","additionalProperties":{"$ref":"#/components/schemas/docs_v1_SuggestedTextStyle"}},"richLinkProperties":{"$ref":"#/components/schemas/docs_v1_RichLinkProperties"},"suggestedDeletionIds":{"description":"IDs for suggestions that remove this link from the document. A RichLink might have multiple deletion IDs if, for example, multiple users suggest deleting it. If empty, then this person link isn't suggested for deletion.","type":"array","items":{"type":"string"}},"textStyle":{"$ref":"#/components/schemas/docs_v1_TextStyle"},"richLinkId":{"description":"Output only. The ID of this link.","readOnly":true,"type":"string"},"suggestedInsertionIds":{"description":"IDs for suggestions that insert this link into the document. A RichLink might have multiple insertion IDs if it's a nested suggested change (a suggestion within a suggestion made by a different user, for example). If empty, then this person link isn't a suggested insertion.","type":"array","items":{"type":"string"}}}},"docs_v1_TableCellLocation":{"description":"Location of a single cell within a table.","type":"object","properties":{"rowIndex":{"description":"The zero-based row index. For example, the second row in the table has a row index of 1.","format":"int32","type":"integer"},"tableStartLocation":{"$ref":"#/components/schemas/docs_v1_Location"},"columnIndex":{"description":"The zero-based column index. For example, the second column in the table has a column index of 1.","format":"int32","type":"integer"}}},"docs_v1_Document":{"description":"A Google Docs document.","type":"object","properties":{"suggestedDocumentStyleChanges":{"description":"Output only. The suggested changes to the style of the document, keyed by suggestion ID. Legacy field: Instead, use Document.tabs.documentTab.suggestedDocumentStyleChanges, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.","type":"object","additionalProperties":{"$ref":"#/components/schemas/docs_v1_SuggestedDocumentStyle"}},"tabs":{"description":"Tabs that are part of a document. Tabs can contain child tabs, a tab nested within another tab. Child tabs are represented by the Tab.childTabs field.","type":"array","items":{"$ref":"#/components/schemas/docs_v1_Tab"}},"footnotes":{"description":"Output only. The footnotes in the document, keyed by footnote ID. Legacy field: Instead, use Document.tabs.documentTab.footnotes, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.","type":"object","additionalProperties":{"$ref":"#/components/schemas/docs_v1_Footnote"}},"lists":{"description":"Output only. The lists in the document, keyed by list ID. Legacy field: Instead, use Document.tabs.documentTab.lists, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.","type":"object","additionalProperties":{"$ref":"#/components/schemas/docs_v1_List"}},"footers":{"description":"Output only. The footers in the document, keyed by footer ID. Legacy field: Instead, use Document.tabs.documentTab.footers, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.","type":"object","additionalProperties":{"$ref":"#/components/schemas/docs_v1_Footer"}},"inlineObjects":{"description":"Output only. The inline objects in the document, keyed by object ID. Legacy field: Instead, use Document.tabs.documentTab.inlineObjects, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.","type":"object","additionalProperties":{"$ref":"#/components/schemas/docs_v1_InlineObject"}},"headers":{"description":"Output only. The headers in the document, keyed by header ID. Legacy field: Instead, use Document.tabs.documentTab.headers, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.","type":"object","additionalProperties":{"$ref":"#/components/schemas/docs_v1_Header"}},"title":{"description":"The title of the document.","type":"string"},"namedRanges":{"description":"Output only. The named ranges in the document, keyed by name. Legacy field: Instead, use Document.tabs.documentTab.namedRanges, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.","type":"object","additionalProperties":{"$ref":"#/components/schemas/docs_v1_NamedRanges"}},"suggestionsViewMode":{"description":"Output only. The suggestions view mode applied to the document. Note: When editing a document, changes must be based on a document with SUGGESTIONS_INLINE.","enum":["DEFAULT_FOR_CURRENT_ACCESS","SUGGESTIONS_INLINE","PREVIEW_SUGGESTIONS_ACCEPTED","PREVIEW_WITHOUT_SUGGESTIONS"],"type":"string"},"documentStyle":{"$ref":"#/components/schemas/docs_v1_DocumentStyle"},"documentId":{"description":"Output only. The ID of the document.","type":"string"},"body":{"$ref":"#/components/schemas/docs_v1_Body"},"namedStyles":{"$ref":"#/components/schemas/docs_v1_NamedStyles"},"positionedObjects":{"description":"Output only. The positioned objects in the document, keyed by object ID. Legacy field: Instead, use Document.tabs.documentTab.positionedObjects, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.","type":"object","additionalProperties":{"$ref":"#/components/schemas/docs_v1_PositionedObject"}},"revisionId":{"description":"Output only. The revision ID of the document. Can be used in update requests to specify which revision of a document to apply updates to and how the request should behave if the document has been edited since that revision. Only populated if the user has edit access to the document. The revision ID is not a sequential number but an opaque string. The format of the revision ID might change over time. A returned revision ID is only guaranteed to be valid for 24 hours after it has been returned and cannot be shared across users. If the revision ID is unchanged between calls, then the document has not changed. Conversely, a changed ID (for the same document and user) usually means the document has been updated. However, a changed ID can also be due to internal factors such as ID format changes.","type":"string"},"suggestedNamedStylesChanges":{"description":"Output only. The suggested changes to the named styles of the document, keyed by suggestion ID. Legacy field: Instead, use Document.tabs.documentTab.suggestedNamedStylesChanges, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.","type":"object","additionalProperties":{"$ref":"#/components/schemas/docs_v1_SuggestedNamedStyles"}}}},"docs_v1_SectionColumnProperties":{"description":"Properties that apply to a section's column.","type":"object","properties":{"paddingEnd":{"$ref":"#/components/schemas/docs_v1_Dimension"},"width":{"$ref":"#/components/schemas/docs_v1_Dimension"}}},"docs_v1_ReplaceNamedRangeContentRequest":{"description":"Replaces the contents of the specified NamedRange or NamedRanges with the given replacement content. Note that an individual NamedRange may consist of multiple discontinuous ranges. In this case, only the content in the first range will be replaced. The other ranges and their content will be deleted. In cases where replacing or deleting any ranges would result in an invalid document structure, a 400 bad request error is returned.","type":"object","properties":{"text":{"description":"Replaces the content of the specified named range(s) with the given text.","type":"string"},"namedRangeId":{"description":"The ID of the named range whose content will be replaced. If there is no named range with the given ID a 400 bad request error is returned.","type":"string"},"tabsCriteria":{"$ref":"#/components/schemas/docs_v1_TabsCriteria"},"namedRangeName":{"description":"The name of the NamedRanges whose content will be replaced. If there are multiple named ranges with the given name, then the content of each one will be replaced. If there are no named ranges with the given name, then the request will be a no-op.","type":"string"}}},"docs_v1_TableRowStyle":{"description":"Styles that apply to a table row.","type":"object","properties":{"preventOverflow":{"description":"Whether the row cannot overflow across page or column boundaries.","type":"boolean"},"minRowHeight":{"$ref":"#/components/schemas/docs_v1_Dimension"},"tableHeader":{"description":"Whether the row is a table header.","type":"boolean"}}},"docs_v1_ParagraphBorder":{"description":"A border around a paragraph.","type":"object","properties":{"color":{"$ref":"#/components/schemas/docs_v1_OptionalColor"},"dashStyle":{"description":"The dash style of the border.","enum":["DASH_STYLE_UNSPECIFIED","SOLID","DOT","DASH"],"type":"string"},"padding":{"$ref":"#/components/schemas/docs_v1_Dimension"},"width":{"$ref":"#/components/schemas/docs_v1_Dimension"}}},"docs_v1_WeightedFontFamily":{"description":"Represents a font family and weight of text.","type":"object","properties":{"weight":{"description":"The weight of the font. This field can have any value that's a multiple of `100` between `100` and `900`, inclusive. This range corresponds to the numerical values described in the CSS 2.1 Specification, [section 15.6](https://www.w3.org/TR/CSS21/fonts.html#font-boldness), with non-numerical values disallowed. The default value is `400` (\"normal\"). The font weight makes up just one component of the rendered font weight. A combination of the `weight` and the text style's resolved `bold` value determine the rendered weight, after accounting for inheritance: * If the text is bold and the weight is less than `400`, the rendered weight is 400. * If the text is bold and the weight is greater than or equal to `400` but is less than `700`, the rendered weight is `700`. * If the weight is greater than or equal to `700`, the rendered weight is equal to the weight. * If the text is not bold, the rendered weight is equal to the weight.","format":"int32","type":"integer"},"fontFamily":{"description":"The font family of the text. The font family can be any font from the Font menu in Docs or from [Google Fonts] (https://fonts.google.com/). If the font name is unrecognized, the text is rendered in `Arial`.","type":"string"}}},"docs_v1_InsertTableRequest":{"description":"Inserts a table at the specified location. A newline character will be inserted before the inserted table.","type":"object","properties":{"rows":{"description":"The number of rows in the table.","format":"int32","type":"integer"},"endOfSegmentLocation":{"$ref":"#/components/schemas/docs_v1_EndOfSegmentLocation"},"columns":{"description":"The number of columns in the table.","format":"int32","type":"integer"},"location":{"$ref":"#/components/schemas/docs_v1_Location"}}},"docs_v1_Link":{"description":"A reference to another portion of a document or an external URL resource.","type":"object","properties":{"tabId":{"description":"The ID of a tab in this document.","type":"string"},"url":{"description":"An external URL.","type":"string"},"headingId":{"description":"The ID of a heading in this document. Legacy field: Instead, set includeTabsContent to `true` and use Link.heading for read and write operations. This field is only returned when includeTabsContent is set to `false` in documents containing a single tab and links to a heading within the singular tab. Otherwise, Link.heading is returned. If this field is used in a write request, the heading is considered to be from the tab ID specified in the request. If a tab ID is not specified in the request, it is considered to be from the first tab in the document.","type":"string"},"heading":{"$ref":"#/components/schemas/docs_v1_HeadingLink"},"bookmarkId":{"description":"The ID of a bookmark in this document. Legacy field: Instead, set includeTabsContent to `true` and use Link.bookmark for read and write operations. This field is only returned when includeTabsContent is set to `false` in documents containing a single tab and links to a bookmark within the singular tab. Otherwise, Link.bookmark is returned. If this field is used in a write request, the bookmark is considered to be from the tab ID specified in the request. If a tab ID is not specified in the request, it is considered to be from the first tab in the document.","type":"string"},"bookmark":{"$ref":"#/components/schemas/docs_v1_BookmarkLink"}}},"docs_v1_MergeTableCellsRequest":{"description":"Merges cells in a Table.","type":"object","properties":{"tableRange":{"$ref":"#/components/schemas/docs_v1_TableRange"}}},"docs_v1_CreateFootnoteResponse":{"description":"The result of creating a footnote.","type":"object","properties":{"footnoteId":{"description":"The ID of the created footnote.","type":"string"}}},"docs_v1_SuggestedInlineObjectProperties":{"description":"A suggested change to InlineObjectProperties.","type":"object","properties":{"inlineObjectProperties":{"$ref":"#/components/schemas/docs_v1_InlineObjectProperties"},"inlineObjectPropertiesSuggestionState":{"$ref":"#/components/schemas/docs_v1_InlineObjectPropertiesSuggestionState"}}},"docs_v1_TableRange":{"description":"A table range represents a reference to a subset of a table. It's important to note that the cells specified by a table range do not necessarily form a rectangle. For example, let's say we have a 3 x 3 table where all the cells of the last row are merged together. The table looks like this: [ ] A table range with table cell location = (table_start_location, row = 0, column = 0), row span = 3 and column span = 2 specifies the following cells: x x [ x x x ]","type":"object","properties":{"tableCellLocation":{"$ref":"#/components/schemas/docs_v1_TableCellLocation"},"columnSpan":{"description":"The column span of the table range.","format":"int32","type":"integer"},"rowSpan":{"description":"The row span of the table range.","format":"int32","type":"integer"}}},"docs_v1_AutoText":{"description":"A ParagraphElement representing a spot in the text that's dynamically replaced with content that can change over time, like a page number.","type":"object","properties":{"suggestedTextStyleChanges":{"description":"The suggested text style changes to this AutoText, keyed by suggestion ID.","type":"object","additionalProperties":{"$ref":"#/components/schemas/docs_v1_SuggestedTextStyle"}},"suggestedDeletionIds":{"description":"The suggested deletion IDs. If empty, then there are no suggested deletions of this content.","type":"array","items":{"type":"string"}},"textStyle":{"$ref":"#/components/schemas/docs_v1_TextStyle"},"suggestedInsertionIds":{"description":"The suggested insertion IDs. An AutoText may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion.","type":"array","items":{"type":"string"}},"type":{"description":"The type of this auto text.","enum":["TYPE_UNSPECIFIED","PAGE_NUMBER","PAGE_COUNT"],"type":"string"}}},"docs_v1_CropPropertiesSuggestionState":{"description":"A mask that indicates which of the fields on the base CropProperties have been changed in this suggestion. For any field set to true, there's a new suggested value.","type":"object","properties":{"angleSuggested":{"description":"Indicates if there was a suggested change to angle.","type":"boolean"},"offsetLeftSuggested":{"description":"Indicates if there was a suggested change to offset_left.","type":"boolean"},"offsetBottomSuggested":{"description":"Indicates if there was a suggested change to offset_bottom.","type":"boolean"},"offsetTopSuggested":{"description":"Indicates if there was a suggested change to offset_top.","type":"boolean"},"offsetRightSuggested":{"description":"Indicates if there was a suggested change to offset_right.","type":"boolean"}}},"docs_v1_PositionedObjectPropertiesSuggestionState":{"description":"A mask that indicates which of the fields on the base PositionedObjectProperties have been changed in this suggestion. For any field set to true, there's a new suggested value.","type":"object","properties":{"embeddedObjectSuggestionState":{"$ref":"#/components/schemas/docs_v1_EmbeddedObjectSuggestionState"},"positioningSuggestionState":{"$ref":"#/components/schemas/docs_v1_PositionedObjectPositioningSuggestionState"}}},"docs_v1_DeleteHeaderRequest":{"description":"Deletes a Header from the document.","type":"object","properties":{"tabId":{"description":"The tab containing the header to delete. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document.","type":"string"},"headerId":{"description":"The id of the header to delete. If this header is defined on DocumentStyle, the reference to this header is removed, resulting in no header of that type for the first section of the document. If this header is defined on a SectionStyle, the reference to this header is removed and the header of that type is now continued from the previous section.","type":"string"}}},"docs_v1_UpdateParagraphStyleRequest":{"description":"Update the styling of all paragraphs that overlap with the given range.","type":"object","properties":{"paragraphStyle":{"$ref":"#/components/schemas/docs_v1_ParagraphStyle"},"fields":{"description":"The fields that should be updated. At least one field must be specified. The root `paragraph_style` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example, to update the paragraph style's alignment property, set `fields` to `\"alignment\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset.","format":"google-fieldmask","type":"string"},"range":{"$ref":"#/components/schemas/docs_v1_Range"}}},"docs_v1_Footer":{"description":"A document footer.","type":"object","properties":{"content":{"description":"The contents of the footer. The indexes for a footer's content begin at zero.","type":"array","items":{"$ref":"#/components/schemas/docs_v1_StructuralElement"}},"footerId":{"description":"The ID of the footer.","type":"string"}}},"docs_v1_BatchUpdateDocumentResponse":{"description":"Response message from a BatchUpdateDocument request.","type":"object","properties":{"documentId":{"description":"The ID of the document to which the updates were applied to.","type":"string"},"writeControl":{"$ref":"#/components/schemas/docs_v1_WriteControl"},"replies":{"description":"The reply of the updates. This maps 1:1 with the updates, although replies to some requests may be empty.","type":"array","items":{"$ref":"#/components/schemas/docs_v1_Response"}}}},"docs_v1_TextStyleSuggestionState":{"description":"A mask that indicates which of the fields on the base TextStyle have been changed in this suggestion. For any field set to true, there's a new suggested value.","type":"object","properties":{"italicSuggested":{"description":"Indicates if there was a suggested change to italic.","type":"boolean"},"weightedFontFamilySuggested":{"description":"Indicates if there was a suggested change to weighted_font_family.","type":"boolean"},"underlineSuggested":{"description":"Indicates if there was a suggested change to underline.","type":"boolean"},"baselineOffsetSuggested":{"description":"Indicates if there was a suggested change to baseline_offset.","type":"boolean"},"smallCapsSuggested":{"description":"Indicates if there was a suggested change to small_caps.","type":"boolean"},"boldSuggested":{"description":"Indicates if there was a suggested change to bold.","type":"boolean"},"fontSizeSuggested":{"description":"Indicates if there was a suggested change to font_size.","type":"boolean"},"backgroundColorSuggested":{"description":"Indicates if there was a suggested change to background_color.","type":"boolean"},"foregroundColorSuggested":{"description":"Indicates if there was a suggested change to foreground_color.","type":"boolean"},"strikethroughSuggested":{"description":"Indicates if there was a suggested change to strikethrough.","type":"boolean"},"linkSuggested":{"description":"Indicates if there was a suggested change to link.","type":"boolean"}}},"docs_v1_SectionBreak":{"description":"A StructuralElement representing a section break. A section is a range of content that has the same SectionStyle. A section break represents the start of a new section, and the section style applies to the section after the section break. The document body always begins with a section break.","type":"object","properties":{"suggestedDeletionIds":{"description":"The suggested deletion IDs. If empty, then there are no suggested deletions of this content.","type":"array","items":{"type":"string"}},"suggestedInsertionIds":{"description":"The suggested insertion IDs. A SectionBreak may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion.","type":"array","items":{"type":"string"}},"sectionStyle":{"$ref":"#/components/schemas/docs_v1_SectionStyle"}}},"docs_v1_UpdateTextStyleRequest":{"description":"Update the styling of text.","type":"object","properties":{"fields":{"description":"The fields that should be updated. At least one field must be specified. The root `text_style` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example, to update the text style to bold, set `fields` to `\"bold\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset.","format":"google-fieldmask","type":"string"},"textStyle":{"$ref":"#/components/schemas/docs_v1_TextStyle"},"range":{"$ref":"#/components/schemas/docs_v1_Range"}}},"docs_v1_InsertDateRequest":{"description":"Inserts a date at the specified location.","type":"object","properties":{"endOfSegmentLocation":{"$ref":"#/components/schemas/docs_v1_EndOfSegmentLocation"},"dateElementProperties":{"$ref":"#/components/schemas/docs_v1_DateElementProperties"},"location":{"$ref":"#/components/schemas/docs_v1_Location"}}},"docs_v1_DocumentStyle":{"description":"The style of the document.","type":"object","properties":{"background":{"$ref":"#/components/schemas/docs_v1_Background"},"marginLeft":{"$ref":"#/components/schemas/docs_v1_Dimension"},"useFirstPageHeaderFooter":{"description":"Indicates whether to use the first page header / footer IDs for the first page. If DocumentMode is PAGELESS, this property will not be rendered.","type":"boolean"},"marginTop":{"$ref":"#/components/schemas/docs_v1_Dimension"},"firstPageFooterId":{"description":"The ID of the footer used only for the first page. If not set then a unique footer for the first page does not exist. The value of use_first_page_header_footer determines whether to use the default_footer_id or this value for the footer on the first page. If not set, there's no first page footer. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only.","type":"string"},"evenPageFooterId":{"description":"The ID of the footer used only for even pages. The value of use_even_page_header_footer determines whether to use the default_footer_id or this value for the footer on even pages. If not set, there's no even page footer. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only.","type":"string"},"useCustomHeaderFooterMargins":{"description":"Indicates whether DocumentStyle margin_header, SectionStyle margin_header and DocumentStyle margin_footer, SectionStyle margin_footer are respected. When false, the default values in the Docs editor for header and footer margin is used. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only.","type":"boolean"},"firstPageHeaderId":{"description":"The ID of the header used only for the first page. If not set then a unique header for the first page does not exist. The value of use_first_page_header_footer determines whether to use the default_header_id or this value for the header on the first page. If not set, there's no first page header. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only.","type":"string"},"documentFormat":{"$ref":"#/components/schemas/docs_v1_DocumentFormat"},"pageNumberStart":{"description":"The page number from which to start counting the number of pages. If DocumentMode is PAGELESS, this property will not be rendered.","format":"int32","type":"integer"},"flipPageOrientation":{"description":"Optional. Indicates whether to flip the dimensions of the page_size, which allows changing the page orientation between portrait and landscape. If DocumentMode is PAGELESS, this property will not be rendered.","type":"boolean"},"pageSize":{"$ref":"#/components/schemas/docs_v1_Size"},"defaultFooterId":{"description":"The ID of the default footer. If not set, there's no default footer. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only.","type":"string"},"marginBottom":{"$ref":"#/components/schemas/docs_v1_Dimension"},"defaultHeaderId":{"description":"The ID of the default header. If not set, there's no default header. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only.","type":"string"},"evenPageHeaderId":{"description":"The ID of the header used only for even pages. The value of use_even_page_he
[...]
